.card {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  /* display: flex; */
  word-wrap: break-word;
  flex-wrap: wrap;
}
