header {
  background-color: aqua;
}
nav {
  background-color: #ff0095;
  float: left;
}
main {
  background-color: rgb(212, 255, 0);
  float: right;
}
.clear {
  clear: both;
}
footer {
  background-color: rgb(0, 255, 140);
}

.box2 {
  padding: 100px;
  width: 34%;
}
.box1 {
  padding: 50px;
}
* {
  text-align: center;
}
