$light-orange: #F7B787;
$orange: #EE7214;
$orange-white :#F9E8D9;
$green: #527853;
$gray: #7f848c;
$black: black;

.bg-orange {
    background-color: $orange;
}
.bg-light-orange {
    background-color: $light-orange;
}
.bg-green {
    background-color: $green;
}

.text-orange-white {
    color: $orange-white;
}
.text-orange {
    color: $orange;
}
.text-green {
    color: $green;
}
.text-gray {
    color: $gray;
}
.text-black{
    color: $black;
}

.mx-25 {
    margin-left: 20px;
    margin-right: 20px;
}
.mx-40 {
    margin-right: 40px;
    margin-left: 40px;
}
.mx-100 {
    margin-right: 100px;
    margin-left: 100px;
}
.mt-50 {
    margin-top: 50px;
}
.my-25 {
    margin-top: 25px;
    margin-bottom: 25px;
}
.py-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.height-50 {
    height: 50px;
}
.height-100 {
    height: 100%;
}

.no-x-overflow {
    overflow-x: hidden;
}
.no-y-overflow {
    overflow-y: hidden;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.text-bold {
    font-weight: 700;
}

@mixin perde {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
@mixin box-shadow {
    box-shadow: 0 0 26px #527853
}

@mixin slide-right-left {
    @keyframes slide-right-left {
        0% { transform: translateX(-100%); }
        25% { transform: translateX(-75%); }
        50% { transform: translateX(-50%); }
        75% { transform: translateX(-25%); }
        100% { transform: translateX(0%); }
    }
}

@mixin slide-left-right {
    @keyframes slide-left-right {
        0% { transform: translateX(0%); }
        25% { transform: translateX(-25%); }
        50% { transform: translateX(-50%); }
        75% { transform: translateX(-75%); }
        100% { transform: translateX(-100%); }
    }
}

.daktilo {
    .wrapper {
        height: 20vh;
        display: grid;
        place-items: center;
      }
    .typing-demo {
        width: 22ch;
        animation: typing 5s steps(22) infinite, blink .5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
        font-size: 2em;
    }
    @keyframes typing {
        from {
            width: 0
        }
    }
    @keyframes blink {
        50% {
            border-color: transparent
        }
    }
}

.slide-response {
    .slide-item {
        height: 100%;
        min-height: 510px;
        img {
            width: 100%;
            height: 100%;
            min-height: 510px;
            object-fit: cover;
        }
        .card-img-overlay {
            @include perde;
            .btn {
                transition: ease-in-out 220ms;
                cursor: pointer;
                &:hover {
                    background-color: $green;
                    box-shadow: 0 0 26px #527853;
                }
            }
        }
        @media screen and (max-width: 768px) {
            height: 510px;
            width: 250px;
            .card-img-overlay {
                .card-header {
                    display: none;
                }
                .card-body {
                    p {
                        display: none;
                    }
                }
                .card-footer {
                    display: none;
                }
            }
        }
    }
}