@import 'custom.scss';

.home {
    order: 1;
}

.product {
    #box {
        height: 625px;
        width: 0%;
        left: auto;
        display: block;
        max-width: 100%;
        background: #FFF;
        animation: openBox 1s cubic-bezier(.74, .06, .4, .92) forwards;
        order: 2;
        position: relative;
    
        .product-img {
            display: none;
        }
    
        .product-disc {
            display: none;
        }
    
        &:hover {
            .product-img {
                left: auto;
                opacity: 0;
                animation: fadeImg 1s ease-in-out forwards;
                animation-delay: 1s;
                position: relative;
                display: block;
                width: 80%;
            }
        
            .product-disc {
                width: 0px;
                height: 430px;
                background: #A9B388;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 0px;
                top: 50px;
                animation: showDisc 1s cubic-bezier(.74, .06, .4, .92) forwards;
        
                .product-content {
                    width: 80%;
                    height: 80%;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    animation: fadeContent 1s ease-in-out forwards;
                    animation-delay: 1s;
                    opacity: 0;
        
                    .product-about {
                        width: 100%;
        
                        h1 {
                            font-size: 32px;
                            font-family: 'Poppins';
        
                        }

                        span {
                            font-size: 14px;
                            letter-spacing: 2px;
                            text-transform: uppercase;
                            display: flex;
                            opacity: 0.5;
                        }

                        p {
                            margin-top: 35px;
                            font-size: 14px;
                            font-family: 'Poppins';
                        }
                    }

                    .product-buttons {
                        width: 500px;
                        height: 100px;
                        bottom: 50px;
                        right: -50px;
                        position: absolute;
                
                        .btn {
                            width: 240px;
                            height: 70px;
                            transition: ease-in-out 220ms;
                            cursor: pointer;
                        }
                
                        .buy {
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            @include perde;
                            animation: fadeBuy 1s cubic-bezier(.74, .06, .4, .92) forwards;
                            animation-delay: 1s;
                
                            &:hover {
                                @include box-shadow;
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        @include perde;
        background-image: none;
        
        #box {
            display: flex;
            flex-direction: column;
            left: 0;
            min-height: 700px;
            height: 100%;
            background: none;

            .product-img {
                img {
                    display: none;
                }
            }
            #product-disc {
                min-width: 250px !important;
                min-height: 600px !important;
                height: 100%;
                margin: 10px;
                position: relative;
                left: 0;
                animation: showDiscMobile 1s cubic-bezier(.74, .06, .4, .92) forwards;
                .product-content {
                    display: flex;
                    flex-direction: column;
                    .product-buttons {
                        width: 250px;
                        bottom: 0;
                        right: 200px;
                        #btn {
                            width: 100px;
                            height: 50px;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

.detail {
    .container {
        display: flex;
        justify-content: center;
        .row {
            display: flex;
            justify-content: center;
            .img-container {
                img{
                    min-width: 200px;
                }
            }
        }
    }
}

@keyframes openBox {
  0% {
    width: 0px;
    left: 15%;
  }
  100% {
    width: 900px;
    left: 15%;
  }
}

@keyframes fadeImg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showDiscMobile {
    0% {
        width: 0px;
        left: 0;
    }
    100% {
        width: 100%;
        left: -50px;
    }
}

@keyframes showDisc {
  0% {
    width: 0px;
    left: 0px;
  }
  100% {
    width: 500px;
    left: 300px;
  }
}

@keyframes fadeContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeBuy {
  0% {
    opacity: 0;
    bottom: -25px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}
