* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  color: #b35845;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

h1 {
  font-size: 7.5rem;
  font-weight: 700;
  line-height: 7.5rem;
  letter-spacing: -0.25rem;
  text-align: left;
  vertical-align: top;
  color: #b35845;
}

h4 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
}

.bg-shape-1 {
  top: 0;
  left: 0;
  height: 100%;
  width: 40%;
  background-color: #a49a99;
  z-index: -1;
}

.bg-shape-2 {
  top: 0;
  right: 0;
  height: 100%;
  width: 60%;
  background-color: #252525;
  z-index: -1;
}

.width-100 {
  width: 100%;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.text-color {
  color: #b35845;
}

.text-center {
  text-align: center;
}

@keyframes wavy-motion {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 40.313rem;
  }
}
@keyframes animate-img-circle {
  0% {
    top: -1.25rem;
    left: -1.25rem;
  }
  50% {
    top: -1.25rem;
    left: 1.25rem;
    border-color: #b35845;
  }
  100% {
    top: -1.25rem;
    left: -1.25rem;
  }
}
@keyframes animate-img-circle-2 {
  0% {
    top: -4.375rem;
  }
  100% {
    top: 0.625rem;
    border-color: #b35845;
  }
}
@keyframes coming-link {
  0% {
    transform: translateY(0);
    color: #de4c4c;
  }
  50% {
    transform: translateY(-10px);
    color: #6ede4c;
  }
  100% {
    transform: translateY(0);
    color: #4c53de;
  }
}
@keyframes buttonHover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes animation-review {
  0% {
    box-shadow: 0 0 10px 0 rgba(255, 191, 71, 0.8);
  }
  50% {
    box-shadow: 0 0 20px 10px rgba(255, 191, 71, 0.6);
  }
  100% {
    box-shadow: 0 0 10px 0 rgba(255, 191, 71, 0.8);
  }
}
header {
  padding-top: 3.75rem;
}
header .container {
  max-width: 75rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}
header .container a {
  filter: hue-rotate(195deg);
}
header .container a img, header .container a .cards-container .card .last-img, .cards-container .card header .container a .last-img, header .container a .cards-container .card .first-img, .cards-container .card header .container a .first-img {
  width: 6.125rem;
  height: 3.5rem;
}

.coming {
  max-width: 75rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}
.coming .coming-holder .coming-text {
  width: 60%;
}
.coming .coming-holder .coming-text h1 {
  padding: 6.25rem 0 1.25rem 0;
}
.coming .coming-holder .coming-text .wave-image {
  background-image: url(../assets/wavy-shape.png);
  height: 1.25rem;
  background-size: 40.313rem 1.25rem;
  animation: wavy-motion 15s linear infinite;
  margin: 1.563rem 0;
  filter: hue-rotate(185deg);
}
.coming .coming-holder .coming-text .subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 0.938rem;
  color: #ffb078;
  letter-spacing: 0.2rem;
}
.coming .coming-holder .coming-text .coming-form {
  margin-top: 3.75rem;
}
.coming .coming-holder .coming-text .coming-form .arrow {
  width: 2.125rem;
  height: 3.125rem;
  filter: hue-rotate(185deg);
  transition: transform 0.5s ease;
}
.coming .coming-holder .coming-text .coming-form .arrow:hover {
  transform: translateX(20px);
}
.coming .coming-holder .coming-text .coming-form input {
  font-family: "Poppins", sans-serif;
  padding: 1.25rem 1.5rem;
  flex-grow: 1;
  margin: 0 1rem;
  outline: none;
  border: 0.063rem solid #b35845;
  border-radius: 0.625rem;
  box-shadow: 0 0 1.875rem 0.438rem #b35845;
  transition: 0.5s ease;
}
.coming .coming-holder .coming-text .coming-form input::placeholder {
  color: #b35845;
}
.coming .coming-holder .coming-text .coming-form button {
  padding: 1.563rem 1.5rem;
  border-radius: 0.625rem;
  color: #fff;
  background-color: #b35845;
  font-weight: 600;
  letter-spacing: 0.25rem;
  cursor: pointer;
  border: none;
}
.coming .coming-holder .coming-text .coming-form button:hover {
  animation: buttonHover 1s infinite;
  background-color: #b33c24;
}
.coming .coming-holder .coming-image {
  width: 30%;
}
.coming .coming-holder .coming-image .img-box {
  margin-bottom: 2rem;
}
.coming .coming-holder .coming-image .img-box img, .coming .coming-holder .coming-image .img-box .cards-container .card .last-img, .cards-container .card .coming .coming-holder .coming-image .img-box .last-img, .coming .coming-holder .coming-image .img-box .cards-container .card .first-img, .cards-container .card .coming .coming-holder .coming-image .img-box .first-img {
  max-width: 100%;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 0 1.875rem 0.438rem #4b4b4b;
  transition: all 0.5s ease;
}
.coming .coming-holder .coming-image .img-box img:hover, .coming .coming-holder .coming-image .img-box .cards-container .card .last-img:hover, .cards-container .card .coming .coming-holder .coming-image .img-box .last-img:hover, .coming .coming-holder .coming-image .img-box .cards-container .card .first-img:hover, .cards-container .card .coming .coming-holder .coming-image .img-box .first-img:hover {
  transform: scale(1.6) rotate(360deg);
  border: 2px solid #ffffff;
  background-color: #ff0000;
}
.coming .coming-holder .coming-image .img-box::before {
  content: "";
  position: absolute;
  top: -2.813rem;
  left: -1.875rem;
  width: 21.875rem;
  height: 21.875rem;
  border-radius: 50%;
  border: 0.188rem solid #fafafa;
  z-index: 0;
  pointer-events: none;
  user-select: none;
  animation: animate-img-circle 8s linear infinite;
}
.coming .coming-holder .coming-image .img-box::after {
  content: "";
  position: absolute;
  right: -41.25rem;
  top: 0;
  width: 50rem;
  height: 50rem;
  border: 0.063rem solid #fff;
  border-radius: 50%;
  pointer-events: none;
  user-select: none;
  z-index: 0;
  animation: animate-img-circle-2 3s linear infinite alternate;
}
.coming .coming-holder .coming-image div .subtitle {
  font-weight: 500;
  line-height: 1.875rem;
  letter-spacing: 0.313rem;
  margin-bottom: 1.5rem;
}
.coming .coming-holder .coming-image div .body {
  line-height: 1.875rem;
  margin-bottom: 1.5rem;
}
.coming .coming-holder .coming-image div .coming-links a {
  padding: 0.5rem 0;
  text-decoration: none;
  transition: color 0.5s ease;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.313rem;
  animation: coming-link 1s infinite;
}
.coming .coming-holder .coming-image div .coming-links a:hover {
  color: #b33c24;
}

.cards-container {
  padding-top: 6rem;
  gap: 2rem;
}
.cards-container .card {
  padding: 2rem 1rem 1rem 1rem;
  background-color: transparent;
  border: 3px solid #b33c24;
  border-radius: 0.5rem;
}
.cards-container .card img, .cards-container .card .last-img, .cards-container .card .first-img {
  width: 200px;
  top: 20px;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}
.cards-container .card img:hover, .cards-container .card .last-img:hover, .cards-container .card .first-img:hover {
  transform: scale(5) translate(0, -50%);
  z-index: 2;
}
.cards-container .card .first-img:hover {
  transform: scale(5) translate(20%, -50%);
}
.cards-container .card .last-img:hover {
  transform: scale(5) translate(-20%, -50%);
}
.cards-container .card .buttons {
  gap: 1rem;
  margin-top: 3.5rem;
}
.cards-container .card .buttons a {
  position: relative;
  background-color: #b35845;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  transition: all 0.5s ease;
}
.cards-container .card .buttons a:hover {
  background-color: #b33c24;
  animation: buttonHover 1s infinite;
}
.cards-container .card .buttons a h5 {
  font-size: 1rem;
  color: white;
}
.cards-container .card .buttons a .circle {
  width: 1rem;
  height: 1rem;
  position: absolute;
  border-radius: 50%;
  top: -0.25rem;
  right: -0.25rem;
  animation: animation-review 0.5s infinite ease-in-out;
  background-color: rgb(255, 191, 71);
  z-index: 2;
}

/*# sourceMappingURL=style.css.map */
