@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 113vh;
  background: linear-gradient(to right, #e5fff9 40%, #b8e4da 40%);
  overflow-x: hidden;
}

.container {
  width: 76%;
  margin: auto;
}

.flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.jc-sbetween {
  justify-content: space-between;
}

.ai-center {
  align-items: center;
}

header {
  padding-top: 60px;
}
header img {
  width: 98px;
  height: 56px;
}

.left h1 {
  font-size: 120px;
  font-weight: 700;
  line-height: 120px;
  color: #0c7f86;
  letter-spacing: -4px;
  padding-top: 100px;
  padding-bottom: 20px;
}
.left .wavy-shape {
  background-image: url("https://demo.cocobasic.com/seppo-html/demo-5/images/wavy-shape.png");
  height: 20px;
  margin: 25px 0;
  background-size: 644px 20px;
  background-repeat: repeat-x;
  animation: wavy-shape-animation 15s linear infinite;
}
.left .coming-soon {
  font-size: 32px;
  font-weight: 700;
  line-height: 35px;
  color: #0c7f86;
  letter-spacing: 30px;
  padding-top: 15px;
}
.left .last-div {
  margin-top: 60px;
}
.left .last-div img {
  width: 34px;
  height: 50px;
  margin-top: 5px;
}
.left .last-div input {
  font-size: 18px;
  padding: 20px 24px;
  margin: 0 16px;
  outline: none;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 7px rgba(12, 127, 134, 0.2509803922);
  width: 450px;
  transition: 0.5s ease;
}
.left .last-div input::-moz-placeholder {
  font-size: 18px;
  color: #0c7f86;
}
.left .last-div input::placeholder {
  font-size: 18px;
  color: #0c7f86;
}
.left .last-div input:focus {
  border-color: #0c7f86;
  box-shadow: none;
}
.left .last-div button {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: #fff;
  letter-spacing: 4px;
  padding: 25px 24px;
  border: none;
  border-radius: 10px;
  background-color: #0c7f86;
  transition: 0.5s ease;
}
.left .last-div button:hover {
  cursor: pointer;
  background-color: #084b4f;
}

@keyframes wavy-shape-animation {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 645px;
  }
}
.right {
  position: relative;
}
.right .img-circle {
  width: 345.6px;
  height: 345.6px;
  position: absolute;
  top: 0;
  right: 0;
  border: 3px solid #fafafa;
  border-radius: 50%;
  animation: img-circle-animation 8s linear infinite;
}
.right img {
  border-radius: 50%;
  width: 345.6px;
  height: 345.6px;
  margin-bottom: 32px;
}
.right img:hover {
  filter: grayscale(20%);
}
.right h4 {
  font-size: 32px;
  font-weight: 600;
  line-height: 30px;
  color: #084b4f;
  letter-spacing: 0;
}
.right .web-developer, .right .summary {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #084b4f;
  letter-spacing: 5px;
  margin-bottom: 20px;
}
.right .summary {
  width: 345.6px;
  height: 165px;
  margin-bottom: 24px;
  letter-spacing: 0;
}
.right .socials {
  width: 345.6px;
  height: 58px;
  margin-bottom: 20px;
}
.right .socials a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  color: #084b4f;
  letter-spacing: 5px;
}

@keyframes img-circle-animation {
  0% {
    top: -20px;
    left: -20px;
  }
  50% {
    top: -20px;
    left: 20px;
    border-color: #0c7f86;
  }
  100% {
    top: -20px;
    left: -20px;
  }
}
.body-circle {
  width: 800px;
  height: 800px;
  position: absolute;
  top: 0;
  right: -210px;
  border: 1px solid #fff;
  border-radius: 50%;
  animation: body-circle-animation 3s linear infinite alternate;
  pointer-events: none;
}

@keyframes body-circle-animation {
  from {
    top: 0;
  }
  to {
    top: 70px;
    border-color: #0c7f86;
  }
}
main h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 120px;
  color: #0c7f86;
  letter-spacing: 0;
  padding-bottom: 20px;
  text-align: center;
}
main .container {
  flex-wrap: wrap;
  gap: 2rem;
}
main .flex-item img {
  max-width: 30rem;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 8px;
}
main .flex-item img:hover {
  cursor: pointer;
  transform: scale(1.02);
  filter: grayscale(50%);
  transition: 0.3s linear;
  box-shadow: 1px 3px 3px #0c7f86;
}

@media (max-width: 1250px) {
  body {
    background: linear-gradient(to top, #e5fff9 5%, #b8e4da 50%);
    background-repeat: no-repeat;
  }
  .left h1 {
    font-size: 90px;
    line-height: 110px;
  }
  section > div {
    flex-direction: column;
  }
  .right .img-circle {
    visibility: hidden;
  }
  .body-circle {
    visibility: hidden;
  }
  .left .last-div {
    justify-content: flex-start;
    margin-bottom: 30px;
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 992px) {
  .left .last-div img {
    width: 16px;
    height: 32px;
  }
  .left .last-div input {
    font-size: 16px;
    width: 360px;
  }
  .left .last-div input::-moz-placeholder {
    font-size: 16px;
  }
  .left .last-div input::placeholder {
    font-size: 16px;
  }
  .left .last-div button {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .left {
    text-align: center;
  }
  .left h1 {
    font-size: 60px;
    letter-spacing: 4px;
  }
  .left .coming-soon {
    font-size: 22px;
    line-height: 19px;
    letter-spacing: 4px;
  }
  .right img {
    max-width: 300px;
    max-height: 300px;
  }
  main h2 {
    font-size: 32px;
  }
  main .flex-item img {
    max-width: 22rem;
  }
}
@media (max-width: 680px) {
  .container {
    width: 90%;
  }
  .left .last-div {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  .left .last-div img {
    visibility: hidden;
  }
  .left .last-div input {
    width: none;
    margin-bottom: 30px;
  }
}/*# sourceMappingURL=style.css.map */