.home {
  text-decoration: none;
  height: 11px;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.homeLink1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
}
.frameIcon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-5xs) 0 0;
}
.casual {
  text-decoration: none;
  flex: 1;
  position: relative;
  color: var(--color-black);
  display: inline-block;
  min-width: 48px;
}
.homeLink {
  width: 123px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.filters1 {
  margin: 0;
  height: 27px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  min-width: 57px;
}
.frameIcon1 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frameContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0 0;
}
.filterTitle,
.filterTitleWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.filterTitle {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.filterTitleWrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
}
.toggleDividers {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-gray-200);
  box-sizing: border-box;
}
.filterToggles {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
}
.tShirts {
  height: 11px;
  position: relative;
  display: inline-block;
  min-width: 52px;
}
.categoryItems {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.frameIcon2 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  min-height: 16px;
}
.categoryList {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.shorts {
  height: 11px;
  position: relative;
  display: inline-block;
  min-width: 45px;
}
.shortsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.frameIcon3 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  min-height: 16px;
}
.categoryList1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.shirts {
  height: 11px;
  position: relative;
  display: inline-block;
  min-width: 39px;
}
.shirtsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.frameIcon4 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  min-height: 16px;
}
.categoryList2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.hoodie {
  height: 11px;
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.hoodieWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.frameIcon5 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  min-height: 16px;
}
.categoryList3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.jeans {
  height: 11px;
  position: relative;
  display: inline-block;
  min-width: 41px;
}
.jeansWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.frameIcon6 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  min-height: 16px;
}
.categoryList4,
.categoryListParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.categoryListParent {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
}
.filterTogglesChild {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-gray-200);
  box-sizing: border-box;
}
.filterToggles1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
}
.price {
  margin: 0;
  height: 27px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  min-width: 48px;
}
.frameIcon7 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.frameFrame,
.priceFilter {
  display: flex;
  align-items: flex-start;
}
.frameFrame {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
}
.priceFilter {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameChild {
  align-self: stretch;
  height: 20px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.emptySelection,
.emptySelection1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  white-space: nowrap;
}
.emptySelection {
  min-width: 27px;
}
.emptySelection1 {
  width: 36px;
  text-align: center;
}
.emptySelectionParent,
.frameDiv,
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.emptySelectionParent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameDiv,
.frameParent {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-13xl) 0 var(--padding-18xl);
}
.frameParent {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
  gap: var(--gap-9xs);
  font-size: var(--text-sm-medium-size);
}
.filterTogglesItem {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-gray-200);
  box-sizing: border-box;
}
.filterToggles2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
}
.colors {
  margin: 0;
  height: 27px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  min-width: 62px;
}
.frameIcon8 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.colorDropdown,
.frameWrapper1 {
  display: flex;
  align-items: flex-start;
}
.frameWrapper1 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
}
.colorDropdown {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.colorPaletteChild,
.swatches,
.swatches1 {
  height: 37px;
  width: 37px;
  position: relative;
}
.swatches {
  border-radius: 50%;
  background-color: var(--color-red);
  border: 0 solid var(--color-gray-400);
  box-sizing: border-box;
}
.swatches1 {
  background-color: var(--color-gold);
}
.swatches1,
.swatches2,
.swatches3 {
  border-radius: 50%;
  border: 0 solid var(--color-gray-400);
  box-sizing: border-box;
}
.swatches2 {
  height: 37px;
  width: 37px;
  position: relative;
  background-color: var(--color-darkorange);
}
.swatches3 {
  background-color: var(--color-deepskyblue);
}
.colorPaletteItem,
.swatches3 {
  height: 37px;
  width: 37px;
  position: relative;
}
.swatches4,
.swatches5 {
  border: 0 solid var(--color-gray-400);
  box-sizing: border-box;
}
.swatches4 {
  height: 37px;
  width: 37px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-blueviolet);
}
.swatches5 {
  background-color: var(--color-deeppink);
}
.swatches5,
.swatches6,
.swatches7 {
  height: 37px;
  width: 37px;
  position: relative;
  border-radius: 50%;
}
.swatches6 {
  background-color: var(--white);
  border: 0 solid var(--color-gray-400);
  box-sizing: border-box;
}
.swatches7 {
  background-color: var(--color-black);
}
.colorDropdownParent,
.colorPalette {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.colorPalette {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px 14.5px;
}
.colorDropdownParent {
  height: 141px;
  flex-direction: column;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.filterTogglesInner {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-gray-200);
  box-sizing: border-box;
}
.filterToggles3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
}
.size {
  margin: 0;
  height: 27px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  min-width: 38px;
}
.frameIcon9 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.sizeTitle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.xxSmall {
  position: relative;
  display: inline-block;
  min-width: 58px;
}
.sizeValues {
  border-radius: var(--br-43xl);
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lgi);
}
.xSmall {
  position: relative;
  display: inline-block;
  min-width: 48px;
}
.sizeValues1 {
  border-radius: var(--br-43xl);
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.small {
  position: relative;
  display: inline-block;
  min-width: 34px;
}
.sizeValues2 {
  border-radius: var(--br-43xl);
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.medium {
  position: relative;
  display: inline-block;
  min-width: 50px;
}
.sizeValues3 {
  border-radius: var(--br-43xl);
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.large {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 36px;
}
.sizeValues4 {
  border-radius: var(--br-43xl);
  background-color: var(--color-black);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  color: var(--white);
}
.xLarge {
  position: relative;
  display: inline-block;
  min-width: 49px;
}
.sizeValues5 {
  border-radius: var(--br-43xl);
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.xxLarge {
  position: relative;
  display: inline-block;
  min-width: 58px;
}
.sizeValues6 {
  border-radius: var(--br-43xl);
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.xLarge1 {
  position: relative;
  display: inline-block;
  min-width: 57px;
}
.sizeValues7 {
  border-radius: var(--br-43xl);
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.xLarge2 {
  position: relative;
  display: inline-block;
  min-width: 58px;
}
.sizeValues8 {
  border-radius: var(--br-43xl);
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.sizeOptions {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-25xl) 0 0;
  gap: var(--gap-5xs);
  font-size: var(--text-sm-medium-size);
  color: var(--color-gray-300);
}
.sizeDropdown,
.sizeFilter,
.sizeOptions {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sizeDropdown {
  flex-direction: column;
  gap: var(--gap-xl);
}
.sizeFilter {
  flex-direction: row;
  padding: 0 0 var(--padding-9xs);
}
.lineDiv {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-gray-200);
  box-sizing: border-box;
}
.filterToggles4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
}
.dressStyle1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 103px;
}
.frameIcon10 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.dressStyle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.casual1 {
  height: 11px;
  position: relative;
  display: inline-block;
  min-width: 48px;
}
.frameIcon11 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.styleNames {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.formal {
  height: 11px;
  position: relative;
  display: inline-block;
  min-width: 49px;
}
.frameIcon12 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.styleNames1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.party {
  height: 11px;
  position: relative;
  display: inline-block;
  min-width: 36px;
}
.frameIcon13 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.styleNames2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.gym {
  height: 11px;
  position: relative;
  display: inline-block;
  min-width: 33px;
}
.frameIcon14 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.dressStyles,
.styleNames3 {
  align-self: stretch;
  gap: var(--gap-xl);
}
.styleNames3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.dressStyles {
  flex-direction: column;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
}
.dressStyleOptions,
.dressStyles,
.styleFilter {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dressStyleOptions {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xl);
}
.styleFilter {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-9xs);
}
.applyFilter {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 72px;
}
.filterButton {
  align-self: stretch;
  border-radius: var(--br-43xl);
  background-color: var(--color-black);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-mini-5) var(--padding-xl);
  white-space: nowrap;
  font-size: var(--text-sm-medium-size);
  color: var(--white);
}
.breadcrumbs,
.filters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.filters {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-gray-200);
  overflow: hidden;
  padding: var(--padding-xl) var(--padding-4xl) var(--padding-10xl);
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.breadcrumbs {
  height: 1266px;
  width: 295px;
  gap: var(--gap-5xl);
}
.casual2 {
  margin: 0;
  height: 43px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  min-width: 101px;
}
.showing110Of {
  align-self: stretch;
  height: 11px;
  position: relative;
  display: inline-block;
}
.productCount1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
  box-sizing: border-box;
  min-width: 136px;
}
.mostPopular {
  font-weight: 500;
  color: var(--color-black);
}
.sortByMostContainer {
  align-self: stretch;
  height: 12px;
  position: relative;
  display: inline-block;
}
.sortDropdown {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.frameIcon15 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.productCount,
.sortDropdownParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.sortDropdownParent {
  width: 175px;
  gap: var(--gap-9xs);
}
.productCount {
  align-self: stretch;
  gap: var(--gap-xs);
}
.casualParent,
.sort {
  display: flex;
  max-width: 100%;
}
.sort {
  width: 396px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-4xs);
  box-sizing: border-box;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
}
.casualParent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.productContainersIcon {
  width: 295px;
  height: 298px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.gradientGraphicTShirt {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.starsIcon,
.starsIcon1,
.starsIcon2 {
  height: 18.5px;
  width: 18.5px;
  position: relative;
  min-height: 19px;
}
.ratingStarsChild {
  height: 16.7px;
  width: 8.8px;
  position: relative;
}
.ratingStars {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs-3);
  flex-shrink: 0;
}
.span {
  color: var(--color-gray-300);
}
.productInfo {
  position: relative;
  display: inline-block;
  min-width: 33px;
  flex-shrink: 0;
}
.productRatings {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  font-size: var(--text-sm-medium-size);
}
.productContainer {
  position: relative;
  font-size: var(--font-size-5xl);
  display: inline-block;
  min-width: 54px;
  white-space: nowrap;
}
.productDetails,
.productItems {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.productItems {
  gap: var(--gap-base);
}
.productItemsChild {
  width: 295px;
  height: 298px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.poloWithTipping {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.frameChild1,
.frameInner,
.frameItem,
.starIcon {
  height: 18.5px;
  width: 18.5px;
  position: relative;
  min-height: 19px;
}
.frameChild2 {
  height: 16.7px;
  width: 8.8px;
  position: relative;
}
.starParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs-3);
}
.span1 {
  color: var(--color-gray-300);
}
.div {
  position: relative;
  display: inline-block;
  min-width: 33px;
}
.frameGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  font-size: var(--text-sm-medium-size);
}
.b {
  position: relative;
  font-size: var(--font-size-5xl);
  display: inline-block;
  min-width: 56px;
  white-space: nowrap;
}
.poloWithTippingDetailsParent,
.productItems1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.poloWithTippingDetailsParent {
  width: 231px;
  gap: var(--gap-5xs);
}
.productItems1 {
  gap: var(--gap-base);
}
.productsRowChild {
  width: 295px;
  height: 298px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.blackStripedTShirt {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.frameChild3,
.frameChild4,
.frameChild5,
.frameChild6,
.frameChild7 {
  height: 18.5px;
  width: 18.5px;
  position: relative;
  min-height: 19px;
}
.starGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs-3);
  flex-shrink: 0;
}
.span2 {
  color: var(--color-gray-300);
}
.div1 {
  position: relative;
  display: inline-block;
  min-width: 34px;
  flex-shrink: 0;
}
.frameParent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  font-size: var(--text-sm-medium-size);
}
.imageContainer {
  min-width: 55px;
  white-space: nowrap;
}
.imageContainer,
.productName,
.ratingValue {
  position: relative;
  display: inline-block;
}
.productName {
  text-decoration: line-through;
  color: var(--color-gray-100);
  min-width: 55px;
  white-space: nowrap;
}
.ratingValue {
  font-weight: 500;
  min-width: 32px;
}
.ratingStars1 {
  border-radius: var(--br-43xl);
  background-color: var(--color-tomato-200);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-smi);
}
.imageContainerParent,
.productRating,
.ratingStars1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.productRating {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  font-size: var(--font-size-xs);
  color: var(--color-tomato-100);
}
.imageContainerParent {
  flex-direction: row;
  gap: var(--gap-3xs);
  font-size: var(--font-size-5xl);
}
.blackStripedTShirtParent {
  display: flex;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.blackStripedTShirtParent,
.productList1,
.productListing,
.productsRow {
  align-items: flex-start;
  justify-content: flex-start;
}
.productsRow {
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
}
.productList1,
.productListing {
  align-self: stretch;
}
.productList1 {
  display: grid;
  flex-direction: row;
  gap: var(--gap-xl);
  grid-template-columns: repeat(3, minmax(221px, 1fr));
  font-size: var(--font-size-xl);
}
.productListing {
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
  max-width: 100%;
}
.image8Icon {
  position: absolute;
  width: calc(100% - 27px);
  top: -51px;
  right: 13px;
  left: 14px;
  max-width: 100%;
  overflow: hidden;
  height: 402px;
  object-fit: cover;
}
.productImage {
  align-self: stretch;
  height: 298px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-200);
  overflow: hidden;
  flex-shrink: 0;
}
.eans,
.it,
.kinny {
  text-transform: lowercase;
}
.skinnyFitJeansContainer {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  white-space: nowrap;
}
.ratingStarsIcon,
.ratingStarsIcon1,
.ratingStarsIcon2 {
  height: 18.5px;
  width: 18.5px;
  position: relative;
  min-height: 19px;
}
.ratingRowChild {
  height: 16.7px;
  width: 8.8px;
  position: relative;
}
.ratingRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs-3);
  flex-shrink: 0;
}
.span3 {
  color: var(--color-gray-300);
}
.emptyRating {
  position: relative;
  display: inline-block;
  min-width: 33px;
  flex-shrink: 0;
}
.ratingContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  font-size: var(--text-sm-medium-size);
}
.emptyRating1,
.emptyRating2 {
  flex: 1;
  position: relative;
  white-space: nowrap;
}
.emptyRating2 {
  text-decoration: line-through;
  color: var(--color-gray-100);
}
.emptyRating3 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 31px;
}
.ratingRow1 {
  border-radius: var(--br-43xl);
  background-color: var(--color-tomato-200);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-smi);
}
.ratingPlaceholder,
.ratingRow1,
.ratingSeparatorContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ratingPlaceholder {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  font-size: var(--font-size-xs);
  color: var(--color-tomato-100);
}
.ratingSeparatorContainer {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-3xs);
  font-size: var(--font-size-5xl);
}
.productDetails1,
.skinnyFitJeansParent {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.productDetails1 {
  width: 295px;
  gap: var(--gap-base);
}
.productDetailsChild {
  width: 295px;
  height: 298px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.heckered,
.hirt {
  text-transform: lowercase;
}
.checkeredShirt {
  margin: 0;
  height: 27px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.frameChild10,
.frameChild11,
.frameChild8,
.frameChild9 {
  height: 18.5px;
  width: 18.5px;
  position: relative;
  min-height: 19px;
}
.frameChild12 {
  height: 16.7px;
  width: 8.8px;
  position: relative;
}
.starContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs-3);
}
.span4 {
  color: var(--color-gray-300);
}
.div2 {
  position: relative;
  display: inline-block;
  min-width: 33px;
}
.frameParent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  font-size: var(--text-sm-medium-size);
}
.b1 {
  position: relative;
  font-size: var(--font-size-5xl);
  display: inline-block;
  min-width: 56px;
  white-space: nowrap;
}
.checkeredShirtParent,
.productDetails2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.productDetails2 {
  gap: var(--gap-base);
}
.productDetailsItem {
  width: 295px;
  height: 298px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.ourage,
.raphic,
.shirt {
  text-transform: lowercase;
}
.courageGraphicTShirtContainer {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.frameChild13,
.frameChild14,
.frameChild15,
.frameChild16 {
  height: 18.5px;
  width: 18.5px;
  position: relative;
  min-height: 19px;
}
.starParent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs-3);
  flex-shrink: 0;
}
.span5 {
  color: var(--color-gray-300);
}
.div3 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.frameParent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  font-size: var(--text-sm-medium-size);
}
.b2 {
  position: relative;
  font-size: var(--font-size-5xl);
  display: inline-block;
  min-width: 54px;
  white-space: nowrap;
}
.courageGraphicTShirtParent,
.productDetails3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.productDetails3 {
  gap: var(--gap-base);
}
.productDetailsInner {
  width: 295px;
  height: 298px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.ermuda,
.horts,
.it1,
.oose {
  text-transform: lowercase;
}
.looseFitBermudaContainer {
  margin: 0;
  height: 27px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.frameChild17,
.frameChild18,
.frameChild19 {
  height: 18.5px;
  width: 18.5px;
  position: relative;
  min-height: 19px;
}
.starParent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs-3);
}
.span6 {
  color: var(--color-gray-300);
}
.div4 {
  position: relative;
  display: inline-block;
  min-width: 34px;
}
.frameParent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  font-size: var(--text-sm-medium-size);
}
.b3 {
  width: 47px;
  position: relative;
  font-size: var(--font-size-5xl);
  display: inline-block;
  white-space: nowrap;
}
.looseFitBermudaShortsParent {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.looseFitBermudaShortsParent,
.productCard,
.productDetails4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.productDetails4 {
  flex-direction: column;
  gap: var(--gap-base);
}
.productCard {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 36px 18.5px;
  min-height: 852px;
  font-size: var(--font-size-xl);
}
.separator {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-gray-200);
  box-sizing: border-box;
}
.previousButtonContainer {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.nextButtonContainer,
.pageNumberList,
.previousButtonContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pageNumberList {
  width: 292px;
  flex-direction: row;
  gap: var(--gap-11xs);
}
.nextButtonContainer {
  width: 86px;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.paginationControls {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.pagination,
.productListingParent {
  align-self: stretch;
  flex-direction: column;
}
.pagination {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.productListingParent {
  gap: var(--gap-15xl);
  max-width: 100%;
}
.breadcrumbsAndFilters,
.productList,
.productListingParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.productList {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-27xl) 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 315px);
  font-size: var(--font-size-13xl);
  color: var(--color-black);
}
.breadcrumbsAndFilters {
  width: 1241px;
  flex-direction: row;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-satoshi);
}
@media screen and (max-width: 1200px) {
  .filters {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .productList {
    padding-top: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .sizeOptions {
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
  .breadcrumbs {
    display: none;
  }
  .casual2 {
    font-size: var(--font-size-7xl);
  }
  .productList {
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .casualParent {
    flex-wrap: wrap;
  }
  .productList1 {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(221px, 383px));
  }
  .paginationControls {
    flex-wrap: wrap;
  }
  .productList {
    padding-top: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .colors,
  .dressStyle1,
  .filters1,
  .price,
  .size {
    font-size: var(--font-size-base);
  }
  .casual2 {
    font-size: var(--font-size-lgi);
  }
  .productCount {
    flex-wrap: wrap;
  }
  .gradientGraphicTShirt {
    font-size: var(--font-size-base);
  }
  .productContainer {
    font-size: var(--font-size-lgi);
  }
  .poloWithTipping {
    font-size: var(--font-size-base);
  }
  .b {
    font-size: var(--font-size-lgi);
  }
  .blackStripedTShirt {
    font-size: var(--font-size-base);
  }
  .imageContainer,
  .productName {
    font-size: var(--font-size-lgi);
  }
  .productList1 {
    grid-template-columns: minmax(221px, 1fr);
  }
  .skinnyFitJeansContainer {
    font-size: var(--font-size-base);
  }
  .emptyRating1,
  .emptyRating2 {
    font-size: var(--font-size-lgi);
  }
  .checkeredShirt {
    font-size: var(--font-size-base);
  }
  .b1 {
    font-size: var(--font-size-lgi);
  }
  .courageGraphicTShirtContainer {
    font-size: var(--font-size-base);
  }
  .b2 {
    font-size: var(--font-size-lgi);
  }
  .looseFitBermudaContainer {
    font-size: var(--font-size-base);
  }
  .b3 {
    font-size: var(--font-size-lgi);
  }
  .productListingParent {
    gap: var(--gap-mid);
  }
}
