.signUpNow {
  text-decoration: underline;
  font-weight: 500;
}
.signUpAndContainer {
  width: 351px;
  position: relative;
  display: inline-block;
  max-width: calc(100% - 40px);
}
.frameIcon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.signUpAndGet20OffToYouParent {
  align-self: stretch;
  background-color: var(--color-black);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-4xs) var(--padding-81xl) var(--padding-4xs)
    var(--padding-525xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  font-size: var(--text-sm-medium-size);
  color: var(--white);
}
.shop,
.shopco {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.shopco {
  height: 22px;
  width: 160px;
  font-size: var(--font-size-13xl);
  font-weight: 700;
  font-family: var(--font-integral-cf);
  display: flex;
  align-items: center;
}
.shop {
  display: inline-block;
  min-width: 37px;
}
.frameIcon1 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.shopLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.brands,
.newArrivals,
.onSale {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 56px;
}
.brands,
.newArrivals {
  min-width: 87px;
}
.brands {
  min-width: 49px;
}
.navLinks {
  width: 321px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frameIcon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.searchForProducts {
  text-decoration: none;
  flex: 1;
  position: relative;
  color: inherit;
}
.searchContainer {
  flex: 1;
  border-radius: var(--br-43xl);
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-355xl) var(--padding-xs)
    var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xs);
  min-width: 175px;
  max-width: 100%;
  color: var(--color-gray-100);
}
.frameIcon3,
.frameIcon4 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.icons {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.icons,
.navbar,
.navbarWrapper {
  display: flex;
  flex-direction: row;
}
.navbar {
  width: 1240px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  max-width: 100%;
}
.navbarWrapper {
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.frameChild,
.lineWrapper,
.navbarWrapper {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.frameChild {
  width: 1241px;
  position: relative;
  border-top: 1px solid var(--color-gray-200);
}
.lineWrapper {
  height: 1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.home {
  height: 11px;
  position: relative;
  display: inline-block;
  min-width: 43px;
}
.homeWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
}
.frameIcon5 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-5xs) 0 0;
}
.cart1 {
  position: relative;
  color: var(--color-black);
  display: inline-block;
  min-width: 31px;
}
.homeCartLinks,
.homeCartLinksWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.homeCartLinks {
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.homeCartLinksWrapper {
  width: 306px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  color: var(--color-gray-300);
}
.yourCart {
  margin: 0;
  width: 259px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.yourCartWrapper {
  width: 459px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-21xl);
  font-family: var(--font-integral-cf);
}
.frameParent {
  align-self: stretch;
  gap: 23.8px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-satoshi);
}
.cart,
.frameParent,
.newsletterContainerParent {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.newsletterContainerParent {
  align-self: stretch;
}
.cart {
  width: 1440px;
  background-color: var(--white);
  overflow: hidden;
  gap: var(--gap-61xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 975px) {
  .shopco {
    font-size: var(--font-size-7xl);
  }
  .yourCart {
    font-size: var(--font-size-13xl);
  }
}
@media screen and (max-width: 725px) {
  .signUpAndGet20OffToYouParent {
    padding-left: var(--padding-253xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
  }
  .searchContainer {
    padding-right: var(--padding-168xl);
    box-sizing: border-box;
  }
  .navbar {
    gap: var(--gap-xl);
  }
  .cart {
    gap: var(--gap-21xl);
  }
}
@media screen and (max-width: 450px) {
  .signUpAndGet20OffToYouParent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .shopco {
    font-size: var(--font-size-lgi);
  }
  .searchContainer {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .yourCart {
    font-size: var(--font-size-5xl);
  }
  .cart {
    gap: var(--gap-xl);
  }
}
