$main-color:#B8E4DA;
$second-color: #E5FFF9;
$header-color: #0C7F86;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    background: linear-gradient(to right, #E5FFF9 40%, #B8E4DA 30% 100%,);
    font-family: "Poppins", sans-serif; 
   }
.container {
    width: 75%;
    margin: 0 auto;
    padding: 0 24px;
  }
.header{
    padding-top:60px;
    img{
        width: 98px;
        height: 56px;
    }
}
.content{
    .left-content{
        width: 70%;
        padding-top: 100px;
        h1{
            font-size: 120px;
            color: $header-color;
            line-height: 125px; 
        }
        .wave-image {
            background-image: url('../img/wavy-shape.png');
            width: 100%;
            height: 20px;
            // background-size: 645px 20px;
            // background-repeat: repeat-x;
            // animation: wavy-motion 15s linear infinite;
            // animation-duration: 15s;
            // animation-timing-function: linear;
            // animation-delay: 0s;
            // animation-iteration-count: infinite;
            // animation-direction: normal;
            // animation-fill-mode: none;
            // animation-play-state: running;
            // animation-name: wavy-motion;
            // animation-timeline: auto;
            // animation-range-start: normal;
            // animation-range-end: normal;
            // margin: 25px 0;
        }


    }
    .right-content{

    }
    .test{
        background-image: url('../img/wavy-shape.png');
        width: 100%;
        height: 20px;
    }

}
// @keyframes wavy-motion {
//     from {
//         background-position-x: 0%;
//     }
//     to {
//         background-position-x: 645px;
//     }
// }
