$primary: #C69749;
$secondary: #EEEEEE;
$dark: #222831;
$light: #393E46;
$component-active-colorr: $primary;
$navbar-light-active-color: $primary;
$navbar-light-hover-color: $secondary;
$navbar-light-icon-color: $secondary;
$navbar-light-toggler-border-color: $secondary;
$accordion-bg: $light;
$accordion-color: $secondary;
$accordion-border-color:$light;