@import '../../app/globals.sass'

.productDetail
    height: auto

.productPic
    height: 550px


.imgContainerPrd
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
    border: none !important
    border-radius: 20px
    img
        object-fit: cover
        