@import '../../app/globals.sass'

.productDtl
    margin-top: 15px
    background-color: $light
    color: $danger
    html.dark &
        background-color: $danger
        color: $light

.productDetail
    height: auto

.productPic
    height: 550px

.ratingShw
    margin-left: 5px
    color: $primary
    html.dark &
        color: $light

.discountPrice
    margin-left: 5px
    color: $primary
    html.dark &
        color: $light

.addBtn
    margin: 20px
    background-color: $danger
    color: $light
    html.dark &
        background-color: $light
        color: $danger

.imgContainerPrd
    display: flex
    align-items: center
    justify-content: center
    border-radius: 15px
    overflow: hidden
    border: none !important
    img
        object-fit: cover

.biggerImg
      border-radius: 25px

@media (max-width:480px)
    .reviewsSCTN
        margin-top: 150px
