* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poetsen One", sans-serif;
}
.container {
  max-width: 600px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}
.row {
  display: flex;
  gap: 15px;
}
.btn {
  flex: 1;
  height: 180px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 120px;
  font-weight: 900;
  color: blue;
  background-color: white;
  border: 1px solid rgb(202, 202, 202);
}
.vibration {
  animation: vibration 0.5s linear;
  animation-iteration-count: 3;
}
.resetBtn {
  cursor: pointer;
  border: 0;
  background-color: blue;
  color: white;
  width: max-content;
  padding: 10px 25px;
  font-size: 24px;
  border-radius: 10px;
}
.bottom-content {
  display: flex;
  font-size: 36px;
  justify-content: space-between;
  color: red;
}
@keyframes vibration {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(5px);
  }
  40% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}
