@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Outfit", sans-serif;
  text-decoration: none;
  list-style-type: none;
}
body {
  margin: 0;
}
.grid {
  display: grid;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-center {
  justify-content: center;
}

.mt-30 {
  margin-top: 2rem;
}

.mb-30 {
  margin-bottom: 2rem;
}

.mt-10 {
  margin-top: 10px;
}
.pt-30 {
  padding-top: 2rem;
}

.pb-30 {
  padding-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.bg-orange {
  background-color: #feb91f;
}

.color-orange {
  color: #feb91f;
}

.p-1 {
  padding: 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.btn {
  padding: 0.7rem 2rem;
  border-radius: 15px;
}
