@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Outfit", sans-serif;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-center {
  justify-content: center;
}

.mt-30 {
  margin-top: 2rem;
}

.mb-30 {
  margin-bottom: 2rem;
}

.mt-10 {
  margin-top: 10px;
}
.pt-30 {
  padding-top: 2rem;
}

.pb-30 {
  padding-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.bg-orange {
  background-color: #feb91f;
}

.color-orange {
  color: #feb91f;
}

.p-1 {
  padding: 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.btn {
  padding: 0.7rem 2rem;
  border-radius: 15px;
}

/* !--------Navbar------------ */

.header {
  background: #233f92;
  font-family: "Outfit", sans-serif;
}
.header .header-top {
  background: #233f92;
  display: grid;
  grid-template-columns: 1.1fr 2fr 1.3fr;
  color: #fff;
  gap: 10rem;
  padding: 0.5rem;
}

.header .header-top .orders h4 {
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  font-weight: 200;
}

.header .header-top .sale {
  font-size: 12px;
  display: flex;
}
.header .header-top .sale i {
  font-size: 16px;
}

.header .header-top .sale span {
  font-size: 14px;
  font-weight: 600;
}

.header .header-top-links {
  display: flex;
  grid-template-columns: repeat(5, 20px);
  color: #fff;
  gap: 0.5rem;
}

.header .header-top-links a {
  color: #fff;
}

/* ?navbar */
.navbar {
  background-color: rgba(255, 255, 255, 1);
  font-family: "Outfit", sans-serif;
}

.navbar .navbar-top-wrapper {
  border-bottom: 1px solid #ccc;
}

.navbar .navbar-top {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 3rem;
  padding: 1rem;
  position: relative;
}

.navbar .navbar-top .logo img {
  width: 150px;
}

.navbar .navbar-top .search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 8px;
  width: 480px;
  border-radius: 50px;
  padding: 0;
  background-color: #f8f8f8;
  position: relative;
}

.navbar .navbar-top .search-bar select {
  border: none;
  background-color: transparent;
  font-size: 16px;
  padding: 0rem 1rem;
}

.navbar .navbar-top .search-bar span {
  padding: 0px 5px;
  color: #ccc;
}

.navbar .navbar-top .search-bar input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  background-color: transparent;
  outline: none;
}

.navbar .navbar-top .search-bar i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
}
.navbar .navbar-top .other-icon select {
  width: 100px;
  text-align: center;
  border: none;
  background-color: transparent;
}

.navbar .navbar-top .other-icon .navbar-top-icons {
  gap: 1rem;
  color: black;
  font-size: 1.2rem;
}

.navbar .navbar-top .other-icon .navbar-top-icons a {
  color: black;
  position: relative;
}

.navbar .navbar-top .other-icon .navbar-top-icons a > span {
  position: absolute;
  top: -13px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 14px;
}

.navbar .navbar-bottom {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.navbar .navbar-bottom .navbar-item {
  gap: 2rem;
  padding: 0.5rem 0rem;
}

.navbar .navbar-bottom .navbar-item a {
  color: black;
}

.navbar .navbar-bottom .navbar-item a:hover {
  color: #feb91f;
  transition: 0.2s ease;
}

.navbar .navbar-bottom .contact-area {
  width: 100%;
}

.navbar .navbar-bottom .contact-area .icon {
  font-size: 30px;
}

.navbar .navbar-bottom {
  position: relative;
}

.navbar .navbar-bottom .home-dropdown {
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  top: 40px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  left: -10px;
}

.navbar .navbar-bottom .home-dropdown .img {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 3rem;
  padding: 3rem;
}

.navbar .navbar-bottom #dropdown:hover .home-dropdown {
  opacity: 1;
  transition: 1s ease;
  visibility: visible;
}

/* Hero */
.hero {
  background-image: url("assets/img/bg.png");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero .hero-content {
  grid-template-columns: 2fr 2fr;
  padding: 1rem;
  position: relative;
  top: 200px;
}

.hero .hero-content .left-hero-content {
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  width: 400px;
  height: max-content;
  border-radius: 10px;
  line-height: 100px;
}

.hero .hero-content .left-hero-content select {
  width: 80%;
  padding: 1rem 1rem;
  background-color: #f8f8f8;
  border-color: #ccc;
  color: #ccc;
  border-radius: 10px;
}

.hero .hero-content .left-hero-content a {
  background-color: #feb91f;
  color: #000;
}

.hero .hero-content .left-hero-content a:hover {
  background-color: #000;
  color: #feb91f;
  transition: 0.2s ease;
}

.hero .hero-content .right-hero-content {
  top: 40%;
  position: relative;
  color: #fff;
}

.hero .hero-content .right-hero-content h2 {
  font-size: 40px;
}

.hero .hero-content .right-hero-content h4 {
  font-size: 35px;
}

.hero .hero-content .right-hero-content p {
  font-size: 20px;
}

.hero .hero-content .right-hero-content .right-hero-btn-wrapper {
  margin-top: 30px;
}

.hero .hero-content .right-hero-content a {
  background-color: #fff;
  margin-top: 30px;
  color: #000;
}

.hero .hero-content .right-hero-content a:hover {
  background-color: #feb91f;
  color: #fff;
  transition: 0.2s ease;
}

/* Categories */

.categories-slider {
  grid-template-columns: 1fr 4fr;
  gap: 2rem;
}

.categories-slider .categories-content {
  color: #fff;
}

.categories-slider .categories-content h3 {
  font-size: 40px;
}

.categories-slider .categories-content p {
  font-size: 20px;
}

.categories-slider .categories-content .categories-slider-arrow {
  gap: 2rem;
}

.categories-slider .categories-content .categories-slider-arrow i {
  width: 40px;
  height: 40px;
  background-color: #f1f1f1;
  border-radius: 50%;
  color: #000;
}

.categories-slider .categories-content .categories-slider-arrow i:hover {
  background-color: #fff;
  transition: 0.2s ease;
  cursor: pointer;
}

.categories-slider .categories-card {
  gap: 1rem;
  text-align: center;
}

.categories-slider .categories-card img {
  width: 100%;
  border-radius: 15px;
}

/*!-----------Section Fav İtems-------------*/
.favori-items .fav-items-content {
  gap: 1rem;
  font-size: 25px;
}

.favori-items .fav-card-items {
  grid-template-columns: repeat(4, 300px);
}

.favori-items .fav-card-items .fav-card-item {
  border: 1px solid #ccc;
  padding: 1rem;
  position: relative;
}

.favori-items .fav-card-items .fav-card-item img {
  width: 100%;
}

.favori-items .fav-card-items .fav-card-item .fav-card-content h4 {
  font-weight: 300;
}

.favori-items .fav-card-items .fav-card-item .fav-card-stars {
  gap: 0.2rem;
  font-size: 13px;
}

.favori-items .fav-card-items .fav-card-item .fav-card-icon {
  position: absolute;
  flex-direction: column;
  top: 10px;
  right: 15px;
  gap: 2rem;
}

.favori-items .fav-card-items .fav-card-item .fav-card-icon i {
  font-size: 17px;
  background-color: #f1f1f1;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
}

.favori-items .fav-card-items .fav-card-item .fav-card-icon i:hover {
  background-color: #feb91f;
}

.favori-items .fav-card-items .fav-card-item:hover .fav-card-icon i {
  visibility: visible;
  opacity: 1;
  transition: 0.5s ease;
  transform: rotateY(1turn);
  cursor: pointer;
}

.favori-items .fav-card-items .fav-card-item .fav-card-price span:first-child {
  font-size: 18px;
  color: #233f92;
}

.favori-items .fav-card-items .fav-card-item .fav-card-price span:last-child {
  font-size: 12px;
  color: #ccc;
  text-decoration: line-through;
}

.favori-items .fav-card-items .fav-card-item .fav-card-sales {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 12px;
  color: #fff;
  background-color: crimson;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

.favori-items .fav-card-items .fav-card-item .btn-card-item {
  position: relative;
  bottom: -10px;
  font-size: 12px;
  background-color: #feb91f;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
}
.favori-items .fav-card-items .fav-card-item .btn-card-item a {
  color: #000;
}

.favori-items .fav-card-items .fav-card-item:hover .btn-card-item {
  visibility: visible;
  opacity: 1;
  transition: 0.5s ease;
  cursor: pointer;
}

.favori-items .fav-card-items .fav-card-item .hot {
  position: absolute;
  top: 50px;
  left: 15px;
  font-size: 12px;
  color: #fff;
  background-color: #feb91f;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}
