$primary: #222831;
$secondary: #31363F;
$success: #76ABAE;
$info: #EEEEEE;
$carousel-indicator-active-bg: $secondary;
$carousel-control-color: $success;
$accordion-icon-color: $info;
$accordion-icon-active-color: $success;