*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "bt_overrides.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "custom.scss";
.min-h{
    min-height: 150px;
}
.card{
    &:hover{
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
}