@media only screen and (max-width: 768px){
    .w-400{
        width: 300px;
    }
    .w-200{
        width: 150px;
    }
    .image-container {
        width: 300px !important;
       
    }
    .sm-image-container {
        width: 150px !important;
    }
}