@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Roboto:wght@400;500;700;900&display=swap');
$primary:#EBE19A;
$bg-gradiant:linear-gradient(0deg, rgba(0,0,0,0.966) 0%, rgb(16, 24, 24) 100%);
$white:#ffffff;
$white-50:rgba(255, 255, 255, 0.5);