#root {
    width: 100%;
  }
  
  * {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center; /* Kartları yatay olarak ortalar */
  }
  
  .movie-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    background-color: #fff;
    color: black;
    margin: 16px; /* Kartlar arasına dikey boşluk ekler */
  }
  
  .movie-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .movie-card h3 {
    margin: 8px 0;
  }
  
  .movie-card p {
    margin: 4px 0;
  }
  
  .movie-card button {
    margin-top: 8px;
    margin-right: 4px;
  }
  
  .formMovie {
    display: flex;
    justify-content: center;
  }
  
  .form {
    display: flex;
    gap: 10px;
  }
  