* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body{
    
}
.container{
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.bg-dark-blue{
  background: #006d77;
  color: #fff;
}
.bg-blue{
  color: #bee1e6;
}
.bg-2{
  color: #fff3ea;
}
.bg-image-1{
  color: #ebecf4;
}
.bg-image-2{
  color: #cbd1e5;
}
.bg-black{
  color: #101828;
}
