.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
/* ecem kılıç */
.main-header {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  gap: 100px;
  padding: 20px;
}
.header-logo .logo {
  padding: 20px;
  align-items: center;
}
.header-logo .logo img {
  max-width: 100px;
}
.header-nav .main-menu {
  padding: 20px;
}
.header-nav .main-menu .menu-list {
  list-style: none;
  display: flex;
  position: relative;
}
.header-nav .main-menu .menu-list .menu-list-item {
  margin-right: 50px;
}
.dropdown-list {
  display: none;
  position: absolute;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #fff;
  margin-top: 5px;
}
.dropdown-list li{
  margin-bottom: 5px;
}
.menu-list-item:hover {
  .dropdown-list {
      display: block;
  }
}
.header-button .hdr-btn {
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #f2f4f7;
  border-radius: 50px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 22px 32px;
  white-space: nowrap;
}
.header-button .hdr-btn:hover {
  background-color: #101828;
}
.header-button .hdr-btn a:hover {
  color: white;
  background-color: #101828;
}
@media screen and (max-width: 1440px) and (min-width: 1200px) {
  .header-button {
      display: none;
  }
}
@media screen and (max-width: 1200px) {
  .header-nav {
      display: none;
  }
}

.digital-marketing {
  width: 100%;
  background-image: url("https://agon-nextjs-13.vercel.app/_next/static/media/pattern-6.8b501f61.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
}
.digital-marketing-inside {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  padding: 50px 0;
}
@media screen and (max-width: 990px) {
  .digital-marketing-inside {
      grid-template-columns: 1fr;
  }
  .digital-marketing-images, .banner-imgs {
      display: none;
  }
  .header-button {
      display: none;
  }
}
.tag {
  font-size: 14px;
  line-height: 14px;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 14px 28px;
  display: inline-block;
}
.digital-marketing-content-h1 {
  font-size: 64px;
  line-height: 72px;
  letter-spacing: 0;
  margin-top: 30px;
}
.digital-marketing-content-p {
  font-size: 24px;
  line-height: 32px;
  color: #667085;
}
.digital-marketing-content .buttons .how-it-works {
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  margin-left: 20px;
}
.digital-marketing-content .buttons .get-start {
  box-sizing: border-box;
  border-radius: 4px;
  border-color: none;
  color: #fff;
  background-color: #101828;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 20px;
}
.digital-marketing-content .buttons .get-start:hover {
  background-color: #fff;
  color: black;
  border-color: none;
}
.digital-marketing-content .row {
  display: flex;
}
.digital-marketing-content .row .data {
  margin: 30px 30px 30px 0;
}
.data-p {
  color: #667085;
  font-size: 14px;
  line-height: 19px;
}
.digital-marketing-images {
  display: block;
  max-width: 100%;
}
.digital-marketing-images .banner-imgs {
  padding: 20px 0 0;
  position: relative;
  width: 100%;
  float: right;
}
.digital-marketing-images .banner-imgs .block-1 img{
  box-sizing: border-box;
  border-radius: 10px;
  max-width: 220px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  animation: moveRightLeft 2s linear infinite alternate;
}
.digital-marketing-images .banner-imgs .block-2 img{
  box-sizing: border-box;
  border-radius: 10px;
  max-width: 155px;
  position: absolute;
  top: 0;
  right: -75px;
  z-index: 2;
  animation: moveUpDown 2s linear infinite alternate;
}
.digital-marketing-images .img-responsive{
  box-sizing: border-box;
  left: 75px;
  border-radius: 10px;
  max-width: 525px;
  animation: moveUpDown 2s linear infinite alternate;
}
@keyframes moveUpDown {
  0% {
      transform: translateY(-20px);
  }
  100% {
      transform: translateY(0);
  }
}
@keyframes moveRightLeft {
  0% {
      transform: translateX(-20px);
  }
  100% {
      transform: translateX(0);
  }
}
.companies h2 {
  text-align: center;
  padding: 50px;
}
.partners {
  display: flex;
  justify-content: center;
}
.list-partners {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  list-style: none;
  vertical-align: baseline;
}
.list-partners li {
  border: 1px solid #fff;
  padding: 10px;
}
.list-partners li:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.list-partners .item-logo img{
  max-width: 200px;
}
.fresh-ideas {
  margin-bottom: 130px;
}
.fresh-ideas-1 {
  display: flex;
  margin-top: 50px;
  gap: 50px;
}
.fresh-ideas-images {
  position: relative;
}
.fresh-ideas-images img {
  max-width: 610px;
  box-sizing: border-box;
  border-radius: 10px;
}
.fresh-ideas-images .block-chart img {
  max-width: 270px;
  box-sizing: border-box;
  border-radius: 10px;
  position: absolute;
  z-index: 2;
  margin-top: -75px;
  margin-left: 500px;
}
.fresh-ideas-content .tag {
  margin-bottom: 50px;
}
.inner-item {
  display: flex;
  margin: 20px 0;
  gap: 20px;
}
.fresh-ideas-content .inner-item img {
  max-width: 64px;
}
@media screen and (max-width: 990px) {
  .fresh-ideas-1 {
      flex-direction: column;
  }
  .fresh-ideas-images .block-chart img {
      margin-top: -200px;
      margin-left: 340px;
  }
  .list-partners {
      grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 770px) {
  .list-partners {
      grid-template-columns: repeat(2, 1fr);
  }
}
/* ecem kılıç */

/* Şevval start */
.padding-top-225px {
  padding-top: 225px;
}


.container .content{
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  margin-bottom: 5rem;
}

.discover-wrapper {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  
}
.box-with-img {
  width: 636px;
  height: 455px;
  border-radius: 15px;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 50px;
  display: flex;
  text-align: center;
  flex-direction: column;
  transition: transform 0.3s ease;
  position: relative;
}

.box-right {
  background-color: #bee1ea;
}

.box-left {
  background-color: #fff3ea;
}

.img-cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.box-with-img:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.img-box {
  width: 80%;
  height: 442px;
  position: absolute;
  bottom: -140px;
  border-radius: 20px
}

.img-box-color1 {
  background-color: #ebecf4;
}

.img-box-color2 {
  background-color: #cbd1e5;
}

.img-box img {
  width: 80%;
  height: 80%;
  margin: 50px;
}
.build-wrapper {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  
}
.build-cards{
  width: 100%;
}

.cards-icon {
  display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 30px;
}

.icon-content{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #e4e7ec;
}

.icon-text {
  /* margin-left: 15px; */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 30px;
}

.icon-text h4 {
  margin-bottom: 15px;
}

.img-content {
  width: 100%;
  height: 68px;
  display: flex;
}

.big-picture{
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 250px;
}

.big-picture-content {
  width: 62%;
  height: 1000px;
  position: relative;
}

.img-box-7 {
  background-image: url('img/sec-7.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px;
  position: relative;
  padding: 20px;
  display: flex;
}

.header-span {
  background-color: #bee1e6;
  width: 210px;
  height: 42px;
  display: inline-block;
  padding: 15px 10px;
  border-radius: 25px;
  text-align: center;
}
.header-title{
  font-size: 46px;
}
.big-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 2px dotted #006d77;
  width: 85%;
  padding-top: 15px;
}

.leaf-content {
  width: 100%;
  margin: 15px;
  padding-bottom: 15px;
}

.img-box-7 .img-box {
  width: 60%;
  max-height: 80%;
  position: absolute;
  bottom: -20px;
  right: -20px;
  padding: 10px;
}


#section-a-right {
  background: url("assets/img/sec-7.png") no-repeat center center/contain;
  height: 620px;
  margin-top: 50px;
}
#section-a-right img {
  width: 300px;
  margin: 480px -14px 0 437px;
  border-radius: 20px;
}

#section-a .column-gap {
  gap: 5px;
}

#section-a .row {
  justify-content: flex-start;
}

#section-a i {
  color: rgba(0, 109, 119, 1);
}

#section-a .paragraph {
  padding-bottom: 40px;
  border-bottom: 3px dotted rgba(0, 109, 119, 1);
}
.boxs {
  width: 60%;
  height: 455px;
  border-radius: 15px;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 50px;
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  transition: transform 0.3s ease;
  position: relative;
  margin-left: 0%;
  gap: 1.5rem;
}
.boxs .col-6 .box-cross {
  width: 100%;
  height: 455px;
  border-radius: 16px;
  padding: 55px 50px 0;
  text-align: center;
}
@media screen and (max-width: 990px) {
  .boxs{
    flex-direction: column;
  }
}
.box-cross {
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  background-color: #fff3ea;
  color: #475467;
}
.text-heading-cross {
  color: #101828;
  font-family: Chivo, sans-serif;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 28px;
  line-height: 32px;
}
.text-body-flexible {
  font-size: 14px;
  line-height: 19px;
  font-family: Noto Sans, sans-serif;
  font-weight: 400;
}
.boxs .col-6 .box-flexible {
  width: 100%;
  height: 455px;
  border-radius: 16px;
  padding: 55px 50px 0;
  text-align: center;
}
.box-flexible {
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  background-color: #bee1e6;
  color: #475467;
}
.text-heading-flexible {
  color: #101828;
  font-family: Chivo, sans-serif;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 28px;
  line-height: 32px;
}
.text-body-flexible {
  font-size: 14px;
  line-height: 19px;
  font-family: Noto Sans, sans-serif;
  font-weight: 400;
}
.boxs .box-image-inner {
  border-radius: 16px;
  padding: 23px 19px;
  margin-top: 30px;
}
img {
  max-width: 100%;
}
/* Şevval end */

/* happy-customers */
.happy-customers{
  margin-top: 120px;
}
.happy-customers-content{
  background-color: #f2f4f7;
  padding: 80px;
}
.happy-customers-card h5{
  font-size: 22px;
  line-height: 24px;
}
.happy-customers-title{
  padding: 0 12px;
  font-size: 3rem;
  /* text-align: center; */
  width: 60%;
  margin: 0 auto;
}
.happy-customers-title h3{
  margin-top: 30px;
}
.happy-customers-title p{
  margin-top: 20px;
  font-size: 1.5rem;
}
.happy-customers-cards{
  margin-top: 70px;
  /* display: grid; */
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.happy-customers-card{
  background-color: white;
  padding: 53px 48px;
  border-radius: 16px;
}
.happy-customers-card:hover{
  transform: translateY(-3px);
  transition: all .25s cubic-bezier(.02,.01,.47,1);
}
.happy-customers-card h5{
  max-width: 275px;
}
.happy-customers-card-text{
  margin-top: 20px;
  height: 84px;
  overflow: hidden;
}
.customers-card-img-user{
  display: flex;
  margin-top: 32px;
}
.customers-card-img img{
  width: 80px;
  border-radius: 4px;
}
.customers-card-user{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.customers-card-img-user p{
  font-size: 0.85rem;
}
/* happy-customers */
/* best-plan */
.best-plan{
  margin-top: 70px;
}
.best-plan-title{
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 3rem;
  line-height: 64px;
  /* text-align: center; */
}
.best-plan-content-slider{
  /* margin-top: 30px; */
  /* display: flex;
  align-items: center; */
  justify-content: center;
}
.slider-item{
  margin: 0 20px;
  width: 65px;
  height: 30px;
  background-color: black;
  border-radius: 20px;
  /* display: flex; */
  /* align-items: center; */
  cursor: pointer;
}
.slider-inside-item{
  margin-left: 5px;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 100%;
}
.best-plan-content-boxs{
  margin-top: 70px;
  /* display: grid; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.best-plan-box{
  background-color: white;
  padding: 40px 32px;
  border: 1px solid #d0d5dd;
  border-radius: 16px;
}
.best-plan-box:hover{
  background-color: #006d77;
  transform: translateY(-3px);
  transition: all .25s cubic-bezier(.02,.01,.47,1);
}
.best-plan-box:hover *{
  color: white;
}
.best-plan-box:hover i{
  color: #E29578;
}
.best-plan-box:hover .best-plan-box-button{
  background-color: transparent;
  border: 1px solid #fff;
}
.best-plan-box-price{
  padding-bottom: 20px;
}
.box-price-dark{
  font-size: 2.2rem;
  font-weight: 700;
}
.box-price-light, .box-packet-info-text{
  color:#98a2b3;
}
.best-plan-box-packet-info{
  margin-bottom: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #d0d5dd;
}
.box-packet-name{
  margin-bottom: 15px;
}
.box-packet-info-text{
  font-size: 0.8rem;
}
.best-plan-box-packet-detail{
  padding-bottom: 30px;
}
.box-packet-detail-item{
  margin-bottom: 12px;
  font-size: 0.9rem;
}
.box-packet-detail-item i{
  padding-right: 6px;
  font-size: 1.25rem;
  color: #006d77;
}
.best-plan-box-button{
  background-color: black;
  padding: 12px 22px;
  border-radius: 6px;
  text-align: center;
}
.best-plan-box-button a{
  color: white;
  font-size: 1.1rem;
}
/* best-plan */
/* newsletter */
.newsletter{
  margin-bottom: 100px;
}
.newsletter .container{
  margin-top: 100px;
}
.newsletter-genel{
  width: 80%;
  margin: 0 auto;
  border-radius: 18px;
  padding: 60px;
}
.newsletter-content{
  /* display: flex; */
  gap: 40px;
}
.newsletter-content-left{
  padding: 0 12px;
  flex: 5;
}
.newsletter-content-left p, .newsletter-content-left span{
  color: #667085
}
.newsletter-content-left h4{
  font-size: 2.75rem;
  margin: 10px 0;
  line-height: 44px;
}
.newsletter-content-left form{
  padding: 12px;
  margin-top: 30px;
  background-color: white;
  /* display: flex;
  text-align: center; */
  border-radius: 55px;
}
.newsletter-content-left input{
  width: 90%;
  padding: 15px;
  min-height: 50px;
  border: none;
}
.newsletter-content-left button{
  background-image: url("https://agon-nextjs-13.vercel.app/_next/static/media/btn-send.793d82ba.svg");
  background-position: -30px -20px;
  background-repeat: no-repeat;
  height: 57px;
  width: 72px;
  border: none;
  background-color: white;
}
.newsletter-content-left a{
  color: #006d77;
}
.newsletter-content-right{
  flex: 7;
  position: relative;
}
.newsletter-chart{
  z-index: 2;
  bottom: -45px;
  left: 10px;
  max-width: 215px;
  position: absolute;
  animation: hero-thumb-animation 2s linear infinite alternate;
}
.newsletter-chart img{
  max-width: 100%;
  border-radius: 16px;
}
.newsletter-img{
  max-width: 332px;
  position: absolute;
  bottom: -100px;
  right: 0;
  border-radius: 20px;
}
@keyframes hero-thumb-animation{
  0%{
      transform: translateY(-20px);
  }
  100%{
      transform: translateY(0px);
  }
}
/* newsletter */
/* footer */
.footer{
  margin-top: 50px;
}
.footer-top{
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e4e7ec;
  /* display: flex; */
  font-weight: 700;
}
.footer-top-logo{
  flex: 1;
}
.footer-top-create-account{
  flex: 2;
  text-align: right;
}
.footer-started-span{
  margin-right: 30px;
}
.create-account-btn{
  padding: 18px 20px;
  background-color: #101828;
  color: white;
  border-radius: 4px;
}
.footer-center{
  /* display: grid; */
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 10px;
}
.footer-center-element{
  padding: 0 12px;
}
.footer-center p, .footer-center a, .footer-bottom span, .footer-bottom a{
  color: #667085;
}
.footer-center-content{
  margin-top: 20px; 
}
.footer-center-title{
  font-size: 1.25rem;
}
.footer-list-item{
  margin-bottom: 8px;
}
.footer-list-item a:hover{
  color: #006d77;
  transition-duration: .2s;
  padding-left: 3px;
}
.footer-bottom{
  /* margin-top: 20px; */ /*mt-20*/
  padding: 30px 0;
  border-top: 1px solid #e4e7ec;
  /* display: flex;*/ /*main.css .flex kullanıldı*/
}
.footer-bottom-item{
  width: 50%;
}
.footer-bottom-policy{
  /* display: flex; */ /* main.css .flex kullanıldı*/
  gap: 30px;
}
.footer-bottom-social{
  text-align: end;
  font-size: 1.75rem;
  color: #006d77;
}
/* footer */
@media screen and (max-width: 1200px) {
  .best-plan-content-boxs{
      grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 990px) {
  .img-cards {
    flex-direction: column;
    gap: 150px;
  }
  .big-picture .container{
    flex-direction: column;
  }
  .happy-customers-title{
      font-size: 2.5rem;
  }
  .happy-customers-cards{
      grid-template-columns: 1fr;
  }
  .newsletter-genel{
      padding: 60px 20px;
  }
  .newsletter-content{
      flex-direction: column;
  }
  .newsletter-content-right{
      text-align: center;
  }
  .newsletter-img{
      position: relative;
      bottom: 0;
      margin: 0 auto;
      max-width: 250px;
      max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .best-plan-content-boxs{
      grid-template-columns: 1fr;
  }
  .footer-top-create-account{
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 10px;
  }
}
@media screen and (max-width: 500px) {
  .happy-customers-content{
      padding: 20px;
  }
  .happy-customers-title{
      font-size: 2rem;
      margin: 0;
      width: 100%;
  }
  .happy-customers-card{
      text-align: center;
  }
  .customers-card-img-user{
      flex-direction: column;
      gap: 20px;
      text-align: center;
  }
  .customers-card-user{
      margin: 0;
  }
  .newsletter-genel{
      padding: 40px 10px;
      width: 100%;
  }
  .newsletter-content-left input {
      padding: 5px;
  }
  .footer-top{
      flex-direction: column;
      align-items: center;
      gap: 20px;
  }
  .footer-bottom{
      flex-direction: column;
      align-items: center;
  }
  .footer-bottom-policy{
      flex-direction: column;
  }
}
/* main.css */
::selection{
  background: #006d77;
  color: #fff;
}
a{
  text-decoration: none;
}
@media screen and (min-width: 1400px) {
  .container{
      width: 1320px;
  }
}
/* main.css */