@import "variables";
@import "utilities";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");

.main-header {
    background: url("../image/hero_2.jpg.webp") no-repeat top center/cover;
    height: 100vh;
    *{
        z-index: 3;
    }
    .container{
        height: 100%;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: 0.3)
    }
    &-nav {
        flex-direction: column;
        row-gap: 2rem;
        padding: 2rem;
        position: absolute;
        top: 0;
        width: 100%;
        h1 {
            a{
                color: $color-white;
            }
        }
        ul{
            column-gap: 0;
            a{
                color: $color-white;
                padding: 1rem 2rem;
                border-radius: 5px;
                &:hover{
                    background-color: $color-danger;
                }
            }
        }

    }
    &-content{
        height: 100%;
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
        color: $color-white;
        h2{
            font-size: 3.5rem;
            margin: 15rem 0 0 0;
        }
        p{
            font-size: 1.8rem;
            margin: 1rem;
        }
        &-search{
            background: $color-light;
            border-radius: 5px;
            padding: 2rem;
            width: 100%;
            input, select{
                width: 100%;
                padding: 15px;
                border: none;
                border-radius: 5px;
                margin: 0 0 15px 0;
            }
            div {
                position: relative;
                i{
                    position: absolute;
                    z-index: 5;
                    top: 35px;
                    right: 10px;
                    color: $color-black;
                }
            }
            button {
                display: block;
                width: 100%;
            }
        }
        .trending-search{
            width: 100%;
            margin: 10px;
            flex-wrap: wrap;
            align-items: flex-start;
            row-gap: 10px;
            h4{
                font-weight: 400;
            }
        }
    }
}
.featured-ads{
    border: 1px solid rgb(0, 0, 0);
    padding: 2rem;
    background-color: $color-lowBlack;
}

@media (min-width: 450px) {
    .main-header{
        .container{
            position: relative;
        }
        &-nav{
            flex-direction: row;
            justify-content: space-between;
            ul{
                margin: 0 3rem 0 auto;
            }
        }
        &-content{
            &-search{
                display: flex;
                column-gap: 20px;
                align-items: center;
                button{
                    display: inline-block;
                    width: auto;
                }
                input, select{
                    margin: 0;
                }
                &>*:not(button) {
                    flex: 1;
                }
            }
            .trending-search{
                justify-content: flex-start;
            }
        }
        
    }

}