* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

nav {
    background-color: #4C01E0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

ul,
ol {
    list-style: none;
}

li {
    color: red;
}

a {
    text-decoration: none;
}

/* Flex */
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Position */
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* Text */
.text-center {
    text-align: center;
}

.wrap {
    flex-wrap: wrap;
}

.bold {
    font-weight: bold;
}

/* Border */
.circle-border {
    border-radius: 50%;
}

.border-none {
    border: none;
}

/* cursor */

.pointer {
    cursor: pointer;
}