@import "global";

$naboo-blue: #7bd3ea;
$primary: #ffe81f;
$cored: #ac5040;

body {
  @include backgroundimg(cover, center, 100vh);
  background-image: url("/Ogrenciler/Yaren/Odevler/Odev1/images/stars_starry_sky_black_184789_1400x1050.jpg");
}
.hero-area {
  .col {
    img {
      width: 50px;
      height: 100px;
    }
  }
}

.links {
  top: 50%;
}

.tours {
  img {
    @include cardimgsize(100%, 100%, cover);
  }
}

.carousel-item img {
  height: 400px;
  object-fit: cover;
}

.bgg {
  @include backgroundimg(cover, center, 80vh);
  width: 100%;
  h1,
  p {
    text-shadow: 2px 2px 2px $naboo-blue;
  }
}
//Naboo
.main {
  @extend .bgg;
  background-image: url("/Ogrenciler/Yaren/Odevler/Odev1/images/theed.jpg");
}

.hovered-img {
  p {
    bottom: 50%;
    left: 15px;
    color: black;

    display: none;
  }
  &:hover {
    .card {
      background: rgba(0, 0, 0, 0.5);
      opacity: 0.2;
    }
    p {
      display: block;
    }
  }
}
.services {
  .card {
    &:hover {
      background-color: $primary;
    }
  }
}

.hovered-photos {
  .overlay {
    top: 0;
    bottom: 0;
    left: 12px;
    right: 12px;
    opacity: 0;
    transition: 0.5s ease;

    .caption {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &:hover {
    transform: translateY(-30px);
    .overlay {
      opacity: 0.8;
    }
    a {
      color: black !important;
      text-shadow: 2px 2px 2px rgb(82, 82, 82);
      font-weight: 700;
    }
  }
}
.customers {
  .customer {
    max-width: 800px;
    img {
      width: 100px;
    }
  }
}

//Coruscant
.mainc {
  @extend .bgg;
  background-image: url("/Ogrenciler/Yaren/Odevler/Odev1/images/CoruscantBG-SWcom\ \(1\).jpg");
}

//Tatoinee
.maint {
  @extend .bgg;
  background-image: url("/Ogrenciler/Yaren/Odevler/Odev1/images/tatoineebanner.jpg");
}

.about {
  @extend .bgg;
  background-image: url("/Ogrenciler/Yaren/Odevler/Odev1/images/Illustration3.png");
}
