@import "./global.scss";

.hero-section{
    .container{
        .hero-info{
            .get-started{
                padding: 10px 30px;
            }
        }
    }
}
.imagine-features-section{
    margin: 8rem 0;
    .feature-info{
        margin-bottom: 8rem;
    }
    .feature-cards{
        gap: 30px;
        .card{
            border: none;
            background-color: #f1f1f1;
            padding: 40px 15px 15px;
            margin: 0 0 64px;
            .card-icon{
                .icon-wrap{
                    width: 80px;
                    height: 80px;
                    position: relative;
                    border-radius: 50%;
                    display: inline-block;
                    background-color: $primary-bg-color;
                    box-shadow: 0 4px 20px -5px rgba(66, 133, 244, 0.4);
                    i{
                        font-size: 1.5rem;
                        position: absolute;
                        top: 50%;
                        color: #fff !important;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
            .card-body{
                .card-text{
                    color: $primary-text-color;
                }
            }
            &:hover{
                background-color: $primary-bg-color;
                color: #fff;
                .icon-wrap{
                    background-color: #fff;
                    i{
                        color: $primary-bg-color;
                    }
                }
            }
        }
    }
}
.feature-big{
    .container{
        .feature-big-part{
            padding: 5em 0;
            .feature-big-info{
                h2{
                    font-size: 40px;
                    font-weight: 700;
                    margin-bottom: 30px;
                }
                p{
                    color: $primary-text-color;
                }
                .author-box{
                    box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.1);
                    border-radius: 4px;
                    padding: 20px;
                    border: 1px solid #eee;
                    border-left: 10px solid #4285f4;
                    img{
                        max-width: 50px;
                        height: 50px;
                    }
                    blockquote{
                        font-style: italic;
                        color: $primary-text-color;
                    }
                }
            }
        }
    }
}
.about-us{
    padding: 5em 0;
    color: $primary-text-color;
    .section-title{
        color: #000;
        font-size: 40px;
        font-weight: 700;
    }
    img{
        width: 540px;
    }
    .ul-check{
        li{
            i{
                color: #8bc34a;
                margin-right: 1rem;
            }
        }
    }
    .learn-btn{
        border-width: 2px;
        background: #4285f4;
        border-color: #4285f4;
        color: #fff;
        box-shadow: 0 4px 20px -5px rgba(66, 133, 244, 0.4);
        font-size: 16px;
        border-radius: 30px;
        padding: 10px 30px;
    }
}