.hero-text{
    a{
        background-color: rgb(212, 255, 212);
        &:hover{
            transition: all .2s ease-in-out;
            transform: scale(1.1);}}}
.products-area{
    .cards{
        .card{
            &:hover{
                cursor: pointer;
                transform: scale(1.02);
                transition: all 0.5s;
                box-shadow: 0px 10px 30px 0px rgba(98, 71, 234, 0.1);
            }
            .fa-heart{
                &:hover{
                    color: red;
                    transition: .3s ease;
                }
            }
            .fa-star{font-size: 12px;}
        }
    }
}
.footer{
    .footer-content{
        .list{
            li:hover{
                color: orangered;
                transition: all .2s ease;
            }
        }
    }
}
.product-detail-area{
    .content{
        .add-basket:hover{
            background-color: green;
            transition: all .3s ease-in-out;
        }
    }
}
