*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{font-family: "Montserrat", sans-serif;}
img{object-fit: cover;}
a{text-decoration: none; cursor: pointer;}
i{cursor: pointer;}
ul li{list-style: none;cursor: pointer;}
.bg-1{background-color: rgb(255, 161, 208);}
.bg-2{background-color: rgb(170, 177, 248);}
.bg-3{background-color: rgb(124, 68, 255);}
.bg-4{background-color: orange;}
.star-color{color: #ffc000;}