*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;;
}
img{object-fit: cover;}
a{text-decoration: none; cursor: pointer;}
ul li{cursor: pointer;}