h1 {
  font-size: 3.5rem;
}
.active {
    color: #5a8ff4;
}
.container {
  .btn-color {
    background-color: #4285f4;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 5px 15px rgba(37, 109, 226, 0.4);
    }
  }
}
