@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  font-family: "Nunito";
  text-decoration: none !important;
}
body {
  overflow-x: hidden;
}
.navbar {
  div {
    .navbar-collapse {
      .navbar-nav {
        .nav-item {
          .nav-link {
            color: black;
            &:hover {
              color: #5a8ff4;
            }
          }
        }
      }
    }
  }
}
.content {
  margin-bottom: 4em;
  .text {
    padding: 30px;
    &:hover {
      background: rgb(13, 110, 253);
    }
  }
  .icon-wrap {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    i {
      font-size: 25px;
    }
  }
}
.btn-color {
  background-color: #4285f4;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(37, 109, 226, 0.4);
  }
}
.author-box {
  box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid #eee;
  border-left: 10px solid #4285f4;
  img {
    max-width: 50px;
  }
  p {
    max-width: 350px;
  }
}
.about-us {
  img {
    max-width: 550px;
  }
}
.my-card {
  .text {
    border-radius: 4px;
  }
  &:hover {
    color: white !important;
    transition: 0.3s all ease;
    transform: translateY(-10px);
    .text {
      background-color: #0d6efd !important;
      p {
        color: #c7d5fa !important;
      }
    }
    .icon-wrap {
      box-shadow: 0 5px 15px rgba(37, 109, 226, 0.4);
      background-color: white !important;
      .icon {
        color: #0d6efd !important;
      }
    }
  }
}

.testimonials {
  img {
    width: 100px;
  }
  .carousel-inner {
    max-width: 800px;
  }
}

.our-team {
  .bio-img {
    &:hover {
      .social-icons {
        display: block !important;
      }
    }
  }
}
.card-text {
  font-size: 12px;
  letter-spacing: 1.1px;
  font-weight: 700;
}

.contact {
  background: linear-gradient(to right, #4286f4 0%, #42e2f4 100%);
}
.bg-image .overlay {
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  .bg-image.overlay:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
  }
}
