* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
      Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  .container{
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 5px;
  }
  .bg-dark-blue{
    background-color: #006d77;
    color: #fff;
  }
  .bg-blue{
    background-color: #bee1e6;
  }
  .bg-2{
    background-color: #fff3ea;
  }
  .bg-image-1{
    background-color: #ebecf4;
  }
  .bg-image-2{
    background-color: #cbd1e5;
  }
  .bg-black{
    background-color: #101828;
  }
  .mt-40 {
    margin-top: 40px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .hr {
    border-bottom: 1px solid #ccc;
  }
  @media screen and (max-width: 768px) {
    img {
        max-width: 100%;
        height: auto;
    }
}