.digital-marketing {
    width: 100%;
    background-image: url("https://agon-nextjs-13.vercel.app/_next/static/media/pattern-6.8b501f61.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
}
.digital-marketing-inside {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    padding: 50px 0;
}
@media screen and (max-width: 990px) {
    .digital-marketing-inside {
        grid-template-columns: 2fr;
    }
    .digital-marketing-images {
        display: none;
    }
}
.digital-marketing-content .tag {
    font-size: 14px;
    line-height: 14px;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 14px 28px;
    display: inline-block;
}
.digital-marketing-content-h1 {
    font-size: 64px;
    line-height: 72px;
    letter-spacing: 0;
    margin-top: 30px;
}
.digital-marketing-content-p {
    font-size: 24px;
    line-height: 32px;
    color: #667085;
}
.digital-marketing-content .buttons .how-it-works {
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    margin-left: 20px;
}
.digital-marketing-content .buttons .get-start {
    box-sizing: border-box;
    border-radius: 4px;
    border-color: none;
    color: #fff;
    background-color: #101828;
    font-size: 18px;
    line-height: 22px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 20px;
}
.digital-marketing-content .buttons .get-start:hover {
    background-color: #fff;
    color: black;
    border-color: none;
}
.digital-marketing-content .row {
    display: flex;
}
.digital-marketing-content .row .data {
    margin: 30px 30px 30px 0;
}
.data-p {
    color: #667085;
    font-size: 14px;
    line-height: 19px;
}
.digital-marketing-images {
    display: block;
    max-width: 100%;
}
.digital-marketing-images .banner-imgs {
    padding: 20px 0 0;
    position: relative;
    width: 100%;
    float: right;
}
.digital-marketing-images .banner-imgs .block-1 img{
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 220px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    animation: moveRightLeft 2s linear infinite alternate;
}
.digital-marketing-images .banner-imgs .block-2 img{
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 155px;
    position: absolute;
    top: 0;
    right: -75px;
    z-index: 2;
    animation: moveUpDown 2s linear infinite alternate;
}
.digital-marketing-images .img-responsive{
    box-sizing: border-box;
    left: 75px;
    border-radius: 10px;
    max-width: 525px;
    animation: moveUpDown 2s linear infinite alternate;
}
@keyframes moveUpDown {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes moveRightLeft {
    0% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0);
    }
}

/* :root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
} */