.main-preloader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f0f0f0;
  height: 100%;
  z-index: 999;
}

.loader {
  width: 150px;
  height: 150px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #0b0909;
  border-left: 10px solid #0b0909;
  border-radius: 50%;
  animation: loaderSpin 1s ease infinite;
}

@keyframes loaderSpin {
  to {
    transform: rotate(360deg);
  }
}