/* FILEPATH: /c:/Users/MONSTER/Documents/GitHub/TurkcellFrontend2024/Ogrenciler/Muhammed Saka/ödev 6/style.css */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  
}

html {
  font-size: 10px;
}

body {
  font-family: "Outfit", sans-serif;
  line-height: 1.6;
  font-size: 1.6rem;
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
  display: block;
  cursor: pointer;
  font-size: 15px;
}

a:hover {
  color: rgba(255, 185, 31, 1) !important;
}

.bg-red {
  background-color: #d43811;
}
.color-black {
  color: #202020;
}
.color-white {
  color: #fff;
}

.indirim {
  position: relative;
  left: 10px;
  top: 10px;
  padding: 5px 28px;
  width: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

ul, li {
  list-style: none;
  cursor: pointer;
  font-size: 30px;
}

img {
  width: 100%;
  border-radius: 5px;
}

.container {
  width: 1260px;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-gap {
  column-gap: 20px;
}

.card {
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.card-body {
  padding: 40px 20px;
}

.card:hover {
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.1) !important;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

button {
  cursor: pointer;
}

.grid {
  display: grid;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.product-image {
  height: 11rem;
  width: 11rem;
}

.product-card {
  grid-template-columns: 12rem 12rem;
}

.product-content {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.cart-button {
  background-color: #ffb91f;
  outline: none;
  border: none;
  border-radius: 2rem;
  width: 7rem;
  font-weight: bold;
  padding: 0.2rem 0.5rem;
  font-size: 12px;
  margin-top: 1rem;
}

.cart-button:hover {
  background-color: black;
  color: #ffb91f;
}

.product-name:hover {
  color: #ffb91f;
}

.product-price {
  color: #233f92;
  font-weight: bold;
  font-size: 18px;
}

.fiyat {
  display: grid;
  grid-template-columns: 80px 80px;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
}

.products {
  grid-template-columns: repeat(auto-fit, minmax(22rem, 30rem));
}

.part {
  display: block;
  color: #202020;
  width: 230px;
  height: 50px;
  padding: 14px 5px 14px 5px;
  border: 1px solid #cbcbcb;
  border-radius: 0.2rem;
}

.part:hover {
  background-color: #ffb91f;
}

.parts {
  margin-top: 3rem;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fill, minmax(50px, 220px));
  gap: 1.5rem;
}

.product-header {
  margin-bottom: 3rem;
}

.btn {
  padding: 8px 25px;
  text-align: center;
  cursor: pointer;
  border-radius: 50px;
  display: inline-block;
  font-size: 1.7rem;
  border: none;
  color: #fff;
  background: rgba(255, 185, 31, 1);
  font-family: inherit;
}

.btn-outline-gray {
  background: gray;
  color: black;
}

.btn:hover {
  background: black;
  color: #fff;
}

.active {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.section {
  font-size: 4rem;
  margin: 0 0 30px 0;
}

.title {
  font-size: 3rem;
  margin-bottom: 15px;
}

.subTitle {
  font-size: 1.8rem;
  margin: 15px 0;
}

.paragraph {
  color: rgb(219, 226, 251);
  margin-bottom: 15px;
}

.box-shadow {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.content {
  width: 65%;
  margin: 0 auto;
  padding: 50px;
}

.p-100 {
  padding: 100px 0;
}

.text-center {
  text-align: center;
}

.star i {
  color: rgba(255, 185, 31, 1);
  margin: 10px 0;
}

.price {
  color: rgb(35, 63, 146);
  font-weight: bold;
  font-size: 20px;
}

.title-font {
  font-size: 36px;
  font-weight: 700;
}

#categories {
  background: rgba(255, 185, 31, 1);
}

#categories .container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  padding: 20px;
}

#categories h2 {
  margin: 0;
}

#categories .container div .row {
  justify-content: flex-start;
}

#categories .container div a {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px 10px 0 0;
  height: 42px;
}

#categories .container div i {
  font-size: 20px;
}

#categories .container a:hover {
  color: #fff !important;
}

#bestsellers .row h2:first-child {
  color: rgba(255, 185, 31, 1);
}

#bestsellers #bestseller-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#bestsellers #bestseller-items .card {
  margin: 0;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#bestsellers #bestseller-items .card-body {
  padding: 20px;
}

/*enes*/

*{
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}
a{
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
  display: block;
}
h3{
  font-size: 32px;
}
h4{
  font-size: 14px;
}
button{
  cursor: pointer;
}
ul, li {
  list-style: none;
  cursor: pointer;
  font-size: 30px;
}
.align-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.grid{
  display: grid;
}
.padding-10{
  padding-top: 10px;
  padding-bottom: 10px;
}
.padding-20{
  padding-top: 20px;
  padding-bottom: 20px;
}
.padding-40{
  padding-top: 40px;
}
.text-center{
  text-align: center;
}

.section-shop{
  width: 900;
  height: 520px;
}
.container-shop{
  width: 1240px;
  height: 520px;
  margin-left: auto;
  margin-right: auto;
}
.title-shop{
width: 1240px;
height: 100px;
font-weight: bold;
font-size: 35px;
}
.list-categories-shop ul{
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(4,auto);
}
.list-categories-shop ul li{
  width: 230px;
  height: 70px;
  padding: 0 10px 20px;
}
.list-categories-shop li h4{
  border: 1px solid #908f8f;
  border-radius: 5px;
  padding: 15px 5px;
}
.list-categories-shop h4:hover {
  background-color: #fcc631;
}
.genuine-part-background-section{
  width: 1920px;
  height: 298px;
  margin-bottom: 40px;
}
.genuine-part-background-section {
  position: relative;
}
.overlay {
  position: relative;
}
.genuine-part-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  text-align: left-center;   
}
.genuine-part-content h2{
  width: 1230px;
  height: 190px;
  font-size: 75px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  color: #FFB91F;
}
.writing{
  font-size: 20px;
}
.writing span {
  color: #FFB91F; 
}
.section-from{
  width: 1260px;
  height: 720px;
  margin-left: auto;
  margin-right: auto;
}
.title-from-container{
  width: 1260px;
  height: 80px;
  
}
.title-from h3{
  width: 1230px;
  height: 40px;
  display: grid;
  place-content: center;
}
.img-container{
  width: 640px;
  height: 370px;
  grid-area: img;
}
.entry-container{
  width: 640px;
  height: 235px;
  margin-top: 0;
  grid-area: container;
}
.entry-content{
  width: 640px;
  height: 236px;
  padding: 25px 30px 30px;
  display: flex;
  justify-content: left-center;
  border: 1px solid #b6b4b4;
}
.entry-meta{
  width: 580px;
  height: 22px;
  margin: 0 0 11px;
}
span {
  margin-right: 7px;
  color: rgba(0, 0, 0, 0.5);
}
.entry-meta a{
  color: black;
  font-size: 15px;
  margin-right: 7px;
}
a:hover{
  color: #FFB91F;
}
.entry-title-container{
  margin-top: 12px;
}
.entry-title{
  width: 425px;
  height: 25px;
  color: #202020;
  font: 20px Outfit;
  font-weight: bold;
}
.excerpt{
  width: 580px;
  height: 65px;
  margin-top: 12px;
}
.entry-meta-bottom a{
  text-align: center;
  padding: 10px 40px;
}
.button-readmore{
  display: inline-block;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 30px;
  background-color: orange; 
  color: white; 
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}
.button-readmore:hover {
  background-color: black; 
  color: orange; 
}

/*  hhj*/

.entry-container-right-up {
  width: 640px;
  height: 235px;
  grid-area: right-up;  
}
.entry-content-right-up{
  width: 640px;
  height: 236px;
  padding: 25px 30px 30px;
  display: flex;
  justify-content: left-center;
  border: 1px solid #c8c5c5;
  display: block;
}
.entry-meta-right-up{
  width: 580px;
  height: 22px;
  margin: 0 0 11px;
}
.entry-meta-right-up a{
  color: black;
  font-size: 15px;
  margin-right: 7px;   
 
}
.entry-meta-right-up a:hover{
  color: #FFB91F;
}
.What-Is-Car-Suspansion{
  width: 640;
  height: 38px;
}
.What-Is-Car-Suspansion a{
  font-size: 22px;
  color: #202020;
  font-weight: bold;
}
.What-Is-Car-Suspansion a:hover{
 color: #FFB91F;
}
.entry-title-right-up{
  width: 640px;
  height: 40px;
  font-size: 16px;
}
.entry-meta-right-up {
  text-align: left;
 
}
.button-readmore-right-up{
  display: inline-block;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 30px;
  background-color: orange; 
  color: white; 
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}
.button-readmore-right-up:hover{
  background-color: black; 
  color: orange; 
}
.entry-meta-button-right-up a{
  text-align: center;
  padding: 10px 40px;
  color: #000000;
  font-weight: bold;
  font-size: 15px;
}
/*dehofdesp*/
.entry-container-right-middle{
  width: 640px;
  height: 235px;
  grid-area: right-middle;
}
.entry-content-right-middle{
  width: 640px;
  height: 236px;
  padding: 25px 30px 30px;
  display: flex;
  justify-content: left-center;
  border: 1px solid #c8c5c5;
  display: block;
}
.entry-meta-right-middle a{
  color: black;
  font-size: 15px;
  margin-right: 7px;   
 
}
.entry-meta-right-middle a:hover{
  color: #FFB91F;
}
.What-Does-A-Car-Servise-Include {
  width: 640px;
  height: 40px;
  padding-top: 10px;
}
.What-Does-A-Car-Servise-Include a:hover{
  color: #FFB91F;
}
.What-Does-A-Car-Servise-Include a{
  font-size: 22px;
  color: #202020;
  font-weight: bold;
}
.entry-title-right-middle{
  width: 640px;
  height: 35px;
  margin-top: 10px;
}
.entry-meta-button-right-middle a{
  text-align: center;
  padding: 10px 40px;
  color: #000000;
  font-weight: bold;
  font-size: 15px; 
}
.button-readmore-right-middle{
  display: inline-block;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 30px;
  background-color: orange; 
  color: white; 
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}
.button-readmore-right-middle:hover{
  background-color: black; 
  color: orange; 
}
/*sdakg*/
.entry-container-right-bottom{
  width: 640px;
  height: 235px;
  grid-area: right-bottom;
}
.entry-content-right-bottom{
  width: 640px;
  height: 236px;
  padding: 25px 30px 30px;
  display: flex;
  justify-content: left-center;
  border: 1px solid #c8c5c5;
  display: block;
}
.entry-meta-right-bottom a{
  color: black;
  font-size: 15px;
  margin-right: 7px;   
 
}
.entry-meta-right-bottom a:hover{
  color: #FFB91F;
}
.Wiper-Blade-Size-Guide a{
  font-size: 22px;
  color: #202020;
  font-weight: bold;
}
.Wiper-Blade-Size-Guide a:hover{
  color: #FFB91F;
}
.Wiper-Blade-Size-Guide{
  width: 640px;
  height: 40px;
  padding-top: 10px;
}
.entry-title-right-bottom{
  width: 640px;
  height: 35px;
  margin-top: 10px;
}
.entry-meta-button-right-bottom a{
  text-align: center;
  padding: 10px 40px;
  color: #000000;
  font-weight: bold;
  font-size: 15px; 
}
.button-readmore-right-bottom{
  display: inline-block;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 30px;
  background-color: orange; 
  color: white; 
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}
.button-readmore-right-bottom:hover{
  background-color: black; 
  color: orange; 
}
.grid-section {
  display: grid;
  grid-template-areas: 
      "img right-up"
      "img right-middle"
      "container  right-bottom";
}

/* sükriye */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


body{
  font-family: "Outfit", sans-serif;
  line-height: 1.6;
  font-size: 1.6rem;
  color: #fff;
}

a:hover{
  color: rgba(255,185,31,1) !important;
}

img{
  width: 100%;
  border-radius: 5px;
}
.container{
  /* width: 1260px; */
  margin: 0 auto;
}
.row{
  display: flex;
  align-items: center;
  justify-content: center;
}
.column-gap{
  column-gap: 20px;
}
.card{
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
  margin: 20px;
}
.card-body{
  padding: 40px 20px;
}
.card:hover{
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.1) !important;
}
/* .btn{
  padding: 8px 25px;
  text-align: center;
  cursor: pointer;
  border-radius: 50px;
  display: inline-block;
  font-size: 1.7rem;
  border: none;
  color: #fff;
  background: rgba(255,185,31,1);
  font-family: inherit;
}

.btn-outline-gray{
  background: gray;
  color: black;
}

.btn:hover{
  background: black;
  color: #fff;
} */

.active{
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background-color: rgba(255,255,255, .1);
}
.title{
  font-size: 3rem;
  margin-bottom: 15px;
}
.title span{
  color: rgba(255,185,31,1);
}
.subTitle{
  font-size: 1.8rem;
  margin: 15px 0;
}
.paragraph{
  color: rgb(219, 226, 251);
  margin-bottom: 15px;
}
.box-shadow{
  box-shadow: 0 0 15px rgba(255, 255, 255, .2);
}
.content{
  width: 65%;
  margin: 0 auto;
  padding: 50px;
}
.p-100{
  padding: 100px 0;
}
.text-center{
  text-align: center;
}
.star i{
  color: rgba(255,185,31,1);
  margin: 10px 0;
}
.price{
  color:rgb(35, 63, 146);
  font-weight: bold;
  font-size: 20px;
}
.border-right{
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 26px;
}
.border-y{
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


/* brands */
#brands #brands-content{
  display: grid;
  grid-template-columns: repeat(6,1fr);
}

/* footer */
#black {background: black; color: #fff;}
#yellow{background: rgba(255,185,31,1); padding: 40px;}
#yellow .row { justify-content: space-between; }

#yellow .row div:nth-child(2) { 
  border: 1px solid rgba(0,0,0,0.5); 
  padding: 5px; 
  border-radius: 50px;
}

#yellow input{ 
  padding: 15px 39px; 
  background-color: transparent; 
  border: none;
  border-radius: 50px;
}

#black .container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
#black a, #black p{opacity: 0.7; color: #fff;}

#black li{margin: 10px 0;}
#black-bottom{
  border-top: 1px solid rgba(255,185,31,1);
  padding: 30px;
  justify-content: space-between;
  border-color: rgba(24, 24, 24, 1);
  background:black;
}
#black-bottom a{ 
  color: #fff;
  border-color: rgba(24, 24, 24, 1);
}  

/*şükriye*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
}
html{
    font-size: 10px;
}
body{
    font-family: "Outfit", sans-serif;
    line-height: 1.6;
    font-size: 1.6rem;
    color: #fff;
}
#main-header{
    background-color: #233f91;
    color: #fff;
    width: 100%;
    font-size: 15px;
    letter-spacing: 0.4px;
    font-family: 'Outfit';

}

.header-top > .container{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    flex: 1 0 auto;
    border-width: 0 0 1px;
    border-style: solid;
}

a{
    color: #000;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
a:hover{
    color: rgba(255,185,31,1) !important;
}
ul{
    list-style-type: none;
}
img{
    width: 100%;
    border-radius: 5px;
}
.container{
    /* width: 1260px; */
    margin: 0 auto;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.column-gap{
    column-gap: 20px;
}
.card{
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
    margin: 20px;
}
.card-body{
    padding: 40px 20px;
}
.card:hover{
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.1) !important;
}
.btn{
    padding: 8px 25px;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    display: inline-block;
    font-size: 1.7rem;
    border: none;
    color: #fff;
    background: rgba(255,185,31,1);
    font-family: inherit;
}

.btn-outline-gray{
    background: gray;
    color: black;
}

.btn:hover{
    background: black;
    color: #fff;
}

.active{
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    background-color: rgba(255,255,255, .1);
}
.title{
    font-size: 3rem;
    margin-bottom: 15px;
}
.title span{
    color: rgba(255,185,31,1);
}
.subTitle{
    font-size: 1.8rem;
    margin: 15px 0;
}
.paragraph{
    color: rgb(219, 226, 251);
    margin-bottom: 15px;
}
.box-shadow{
    box-shadow: 0 0 15px rgba(255, 255, 255, .2);
}
.content{
    width: 65%;
    margin: 0 auto;
    padding: 50px;
}
.p-100{
    padding: 100px 0;
}
.text-center{
    text-align: center;
}
.star i{
    color: rgba(255,185,31,1);
    margin: 10px 0;
}
.price{
    color:rgb(35, 63, 146);
    font-weight: bold;
    font-size: 20px;
}
.border-right{
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 26px;
}
.border-y{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


/* brands */
#brands #brands-content{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

/* footer */
#black {background: black; color: #fff;}
#yellow{background: rgba(255,185,31,1); padding: 40px;}
#yellow .row { justify-content: space-between; }

#yellow .row div:nth-child(2) { 
    border: 1px solid rgba(0,0,0,0.5); 
    padding: 5px; 
    border-radius: 50px;
}

#yellow input{ 
    padding: 15px 39px; 
    background-color: transparent; 
    border: none;
    border-radius: 50px;
}

#black .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
#black a, #black p{opacity: 0.7; color: #fff;}

#black li{margin: 10px 0;}
#black-bottom{
    border-top: 1px solid rgba(255,185,31,1);
    padding: 30px;
    justify-content: space-between;
    border-color: rgba(24, 24, 24, 1);
    background:black;
}
#black-bottom a{ 
    color: #fff;
    border-color: rgba(24, 24, 24, 1);
}  