$bgColor: red;
$x150: 150px;
$x100: 100px;

//box yapma mixin i
@mixin boxMixin($color, $width, $height){
    background-color: $color;
    width: $width;
    height: $height;
}

.container{
    display: flex;
    &:hover{
        background-color: rgb(186, 182, 182);
    }
    .box1 {
        @include boxMixin($bgColor, $x150 , $x100)
    }
    .box2{
        @include boxMixin(orange, $x100*4, $x150*2)
    }
    .box3{
        @extend .box1;
        width: $x100 * 2;
    }
    .box4 {
        @include boxMixin(green, $x100, $x100);
        &.deneme{ //arada bosluk olmadıgında her ikisi icin de gecerli oluyor eger bosluk varsa 
            //altındaki class anlamına geliyor.
            background-color: blue;
        }
    }
}
