$navbar-light-active-color: #bd98b9;
$secondary: #c3c3c3;
$danger: #bd98b9;
$danger-subtle: #9263a2;
$primary: #d4e5e5;
$primary-subtle: #d4e5e5;
$warning: #fdedf0;
$info: #ebf3f7;
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 6.3;
