@import "./global.scss";

.hero-section {
  .container {
    .hero-info {
      .get-started {
        padding: 10px 30px;
      }
    }
  }
}
.imagine-features-section {
  .feature-info {
    margin-bottom: 8rem;
  }
  .feature-cards {
    gap: 30px;
    .card {
      border: none;
      background-color: #f1f1f1;
      padding: 40px 15px 15px;
      margin: 0 0 64px;
      .card-icon {
        .icon-wrap {
          width: 80px;
          height: 80px;
          position: relative;
          border-radius: 50%;
          display: inline-block;
          background-color: $primary-bg-color;
          box-shadow: 0 4px 20px -5px rgba(66, 133, 244, 0.4);
          i {
            font-size: 1.5rem;
            position: absolute;
            top: 50%;
            color: #fff !important;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      .card-body {
        .card-text {
          color: $primary-text-color;
        }
      }
      &:hover {
        background-color: $primary-bg-color;
        color: #fff;
        transform: translateY(-10px);
        transition: .3s all ease;
        .card-icon{
          .icon-wrap{
            background-color: #fff ;
            i{
              color: $primary-bg-color !important;
            }
          }
        }
        .card-body {
          .card-text {
            color: #fff;
          }
          a{
            color: #fff;
          }
        }
      }
    }
  }
}
.feature-big {
  .container {
    .feature-big-part {
      margin-bottom: 10rem;
      .feature-big-info {
        h2 {
          font-size: 40px;
          font-weight: 700;
          margin-bottom: 30px;
        }
        p {
          color: $primary-text-color;
        }
        .author-box {
          box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          padding: 20px;
          border: 1px solid #eee;
          border-left: 10px solid #4285f4;
          img {
            max-width: 50px;
            height: 50px;
          }
          blockquote {
            font-style: italic;
            color: $primary-text-color;
          }
        }
      }
    }
  }
}
.about-us {
  color: $primary-text-color;
  .section-title {
    @include font(40px, #000, 700);
  }
  img {
    width: 540px;
  }
  .ul-check {
    li {
      i {
        color: #8bc34a;
        margin-right: 1rem;
      }
    }
  }
  .learn-btn {
    border-width: 2px;
    background: #4285f4;
    border-color: #4285f4;
    color: #fff;
    box-shadow: 0 4px 20px -5px rgba(66, 133, 244, 0.4);
    font-size: 16px;
    border-radius: 30px;
    padding: 10px 30px;
  }
}

.our-team-section {
  .container {
    .row {
      .col-7 {
        .section-title {
          @include font(40px, #000, 700);
        }
        p {
          @include font(20px, $primary-text-color, 300);
        }
      }
      .card {
        border: none;
        
        &:hover {
            .card-img{
                overflow: hidden;
                img{
                    transform: scale(1.1);
                    
                    transition: .3s all ease-in-out;
                    position: relative;
                }
            }
            .social{
                z-index: 2;
                padding: 20px 0;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: 0.3s all ease;
                background: #4285f4;
            }
        }
        .card-img {
            .social{
                a{
                    color: #fff;
                    padding: 5px;
                }

            }
        }
        .card-body {
          padding: 0;
          .sub-title {
            @include font(12px, $primary-bg-color, 700);
            letter-spacing: 2px;
          }
          .card-text {
            @include font(16px, $primary-text-color, 400);
          }
        }
      }
    }
  }
}
.testimonials{
    .section-title{
        @include font(40px, #000, 700);
    }
    .carousel {
        //padding: 0 180px;
        .carousel-indicators{
            
            button{
                background-color: #dee2e6;
                width: 10px;
                height: 10px;
                border-radius: 50%;
            }
            button.active{
              background-color: $primary-bg-color;
          }
        }
        .carousel-inner{
            .carousel-item{
                img{
                    max-width: 100px;
                    border-radius: 50%;
                    margin: 0 auto;
                }
                i{
                    color: $primary-text-color;
                }
            }
        }
    }
}
.blog-posts{
  .section-title{
    @include font(40px, #000, 700);
  }
  .card{
    border: none;
    img{
      margin-bottom: 30px;
    }
    .card-body{
      padding: 0;
      .card-title{
        font-size: 30px;
      }
      .meta{
        color: #b3b3b3;
        font-size: 14px
      }
      .card-text{
        @include font(16px, $primary-text-color, 400);
        line-height: 1.7;
      }
    }
  }
}
.contact{
  background-image: url(https://preview.colorlib.com/theme/imagine/images/hero_1.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  &::before{
    z-index: 0;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .7;
    background:linear-gradient(to right, #4286f4 0%, #42e2f4 100%);
  }
  .section-title{
    position: relative;
    z-index: 1;
    @include font(40px, #fff, 700);
  }
  form{
    position: relative;
    z-index: 1;
    label{
      margin-bottom: 0.5rem;
    }
    .form-group{
      margin-bottom: 1rem;
    }
    .form-control{
      height: 43px ;
    }
    textarea.form-control{
      height: auto;
    }
    .btn.btn-primary{
      border-width: 2px;
      background: $primary-bg-color;
      border-color: $primary-bg-color;
      color: #fff;
      position: relative;
      transition: .3s all ease;
      box-shadow: 0 4px 20px -5px rgba(66, 133, 244, 0.4);
      font-size: 16px;
      border-radius: 30px;
      padding: 10px 30px
    }
  }
}

.footer{
  p{
    color:$primary-text-color;
  }
}