.blackBox-container {
    background-color: #000000;
    border-radius: 20px;
    padding: 36px, 64px, 36px, 64px;
    min-height: 180px;

    h2 {
        font-family: "Integral CF", sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 45px;
    }

    .subscribe-button {
        border-radius: 62px;
        padding: 12px, 16px, 12px, 16px;
        height: 46px;
        font-family: 'Satoshi', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 21.6px;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 32px;
        line-height: 35px;
    }
}