.cartList-container {
    h2 {
        font-family: 'Integral CF', sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 57.6px;
    }

    .left,
    .right {
        .inner-div {
            border: 1px solid #0000001A;
            border-radius: 20px;
            padding: 20px, 24px, 20px, 24px;
        }
    }

    .left {
        .image {
            border-radius: 8.66px;
        }

        .title {
            font-family: 'Integral CF', sans-serif;
            font-weight: 700;
            font-size: auto;
            line-height: 27px;
            width: 85%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .trash-icon:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }

    .right {
        .order-summary {
            font-family: 'Integral CF', sans-serif;
            font-weight: 700;
            font-size: 24px;
            line-height: 32.4px;
        }

        .delivery-fee {
            border-bottom: 1px solid #0000001A;
        }

        .button-row1 {
            height: 48px;
        }

        .button-row2 {
            height: 60px;
        }

        .button {
            border-radius: 62px;
            padding: 12px, 16px, 12px, 16px;
            border: none;
            outline: none;
        }
    }
}