.form-container {
    background-color: $info;
    min-height: 100vh;

    .logo {
        font-family: "Integral CF", sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 38.4px;
    }

    input:focus,
    select:focus {
        box-shadow: none !important;
        border-color: black !important;
    }

    .p:hover {
        cursor: pointer;
    }
}