.happyCustomers-container {
    h2 {
        font-family: 'Integral CF', sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 57.6px;
        color: #000000;
    }
}

@media (max-width: 768px) {
    .happyCustomerCard {
        h2 {
            font-size: 32px;
            line-height: 36px;
        }
    }
}