.header-container {
    min-height: 38px;
    background-color: #000000;

    .container {
        color: #FFFFFF;
        position: relative;
    }

    p {
        position: absolute;
        top: 9px;
        font-family: 'Satoshi', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 18.9px;

        span {
            font-weight: 500;
            border-bottom: 1.5px solid white;
        }
    }

    .x-mark {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 9px;
        right: 0;
    }
}

@media (max-width: 768px) {
    .header-container {
        p {
            font-size: 12px;
            line-height: 16.2px;
        }
    }
}