.productDetails-container {
    .container {
        border-top: 1px solid #0000001A;
        margin-bottom: 80px;

        .left {
            display: flex;

            .image {
                border-radius: 20px;
                background-color: #F0EEED;
                object-fit: contain;
            }

            .first-image {
                border: 2px solid black;
            }
        }

        .right {
            h2 {
                font-family: 'Integral CF', sans-serif;
                font-weight: 700;
                font-size: 40px;
                line-height: 48px;
            }

            .price,
            .oldPrice {
                font-family: 'Satoshi', sans-serif;
                font-weight: 700;
                font-size: 24px;
                line-height: 32.4px;
            }

            .oldPrice {
                color: #00000066;
            }

            .discount {
                width: 50px;
                height: 32px;
                background-color: #FF33331A;
                color: #FF3333;
                border-radius: 62px;
                padding: 6px, 14px, 6px, 14px;
                font-family: 'Satoshi', sans-serif;
                font-weight: 500;
                font-size: 12px;
                line-height: 16.2px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .product-content {
                font-family: 'Satoshi', sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                border-bottom: 1px solid #0000001A;
            }

            .colors,
            .sizes {
                border-bottom: 1px solid #0000001A;
            }

            .buttons {

                .btn,
                .minus-plus-btn {
                    height: 52px;
                    border-radius: 62px;
                }

                .minus-plus-btn {
                    background-color: #F0F0F0;

                    .small-btn {
                        outline: none;
                        border: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {

    .productDetails-container {
        .container {
            .left {
                flex-direction: column-reverse;
            }
        }
    }
}