
.navbar {
  font-size: 1.1rem;
  min-height: 10vh;
  
}

.navbar-list {
  gap: 2rem;
}
.navbar > i {
  font-size: 2rem;
}
.navbar-list > :hover {
  color: #006d77;
}
.navbar-btn {
  background-color: rgb(242, 244, 247);
  padding: 1.5rem 2rem;
  font-size: 18px;
  transition: all 0.2s;
}
.navbar-btn:hover {
  background-color: black;
  color: white;
  transform: translateY(-5px);
}

/* HERO SECTION */
.hero-section {
  grid-template-columns: 1fr 1fr;
  padding: 5rem;
  min-height: 110vh;
  overflow: hidden;
}
.hero-section-btn {
  padding: 0.7rem 1.4rem;
  font-size: 14px;
  font-weight: 400;
}
.hero-section-desc {
  font-size: 1.2rem;
  color: #667085;
}

.hero-section-getstarted > p > i {
  font-size: 1.5rem;
  color: #006d77;
  padding: 10px;
}
.hero-section-getstarted > p {
  font-size: 1.2rem;
  color: rgb(16, 24, 40);
}
.hero-section-getstarted > button {
  padding: 22px 26px 22px 32px;
  font-size: 18px;
  background-color: #101828;
  border-radius: 4px;
  border: none;
}
.hero-section-list-item {
  font-size: 28px;
}
.hero-section-list-item-span {
  font-size: 15px;
  margin-top: 10px;
  color: #667085;
}
.hero-section-images {
  max-width: 60%;
  position: relative;
}

@keyframes moveFirstImg {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes moveSecondImg {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes moveThirdImg {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(0px);
  }
}

.hero-section-images > .hero-section-firstimg {
  position: absolute;
  width: 500px;
  top: 0;
  left: 0;
  animation: moveFirstImg 5s infinite;
}

.hero-section-images > .hero-section-secondimg {
  position: absolute;
  width: 150px;
  top: -50px;
  right: -100px;
  border-radius: 20px;
  animation: moveSecondImg 5s infinite;
}

.hero-section-images > .hero-section-thirdimg {
  position: absolute;
  width: 220px;
  top: 300px;
  border-radius: 20px;
  animation: moveThirdImg 5s infinite;
}

/* BELOW HERO SECTION */
.below-hero-container {
  height: 70vh;
  margin-top: 5rem;
  border-bottom: 1px solid gray;
}
.below-hero-container-heading {
  font-size: 35px;
}
.list-partners {
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
}
.list-partners > li > a > img {
  max-width: 250px;
  transition: all 0.4s;
}
.list-partners > li > a > img:hover {
  transform: translateY(-5px);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}
/* Fresh Ideas */
.fresh-ideas {
  grid-template-columns: 1fr 1fr;
  margin-top: 5rem;
}
.fresh-img-responsive {
  width: 80%;
  border-radius: 20px;
  height: auto;
}
@media screen and (max-width: 1200px) {
  .fresh-img-responsive {
    width: 100%;
  }
}
.fresh-img-2 {
  bottom: -20px;
  right: 50px;
  width: 250px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}
.fresh-ideas-desc {
  font-size: 24px;
  margin: 30px 0px;
}
.fresh-ideas-list-title {
  font-size: 28px;
}
.fresh-ideas-list-desc {
  font-size: 18px;
  margin-top: 5px;
}
/* POWERFUL FEATURES */
.powerful-features-cards {
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
  min-height: 100vh;
}

.cross-platform {
  width: 600px;
  height: 400px;
  padding: 30px;
  background-color: #fff3ea;
  position: relative;
  border-radius: 20px;
  transition: all 0.5s;
}
.cross-platform:hover {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.cross-platform > h2 {
  font-size: 35px;
}

.cross-platform > p {
  font-size: 14px;
  color: #667085;
}

.cross-platform > div {
  position: relative;
  border-radius: 30px;
}

.cross-platform > div > img {
  position: absolute;
  top: 50px;
  width: 90%;
  border-radius: 30px;
}

/* HAPPY CUSTOMERS */

.card {
  border: 1px solid #d0d5dd;
  border-radius: 16px;
  animation: fadeIn;
  width: 290px;
}
.card:hover {
  transform: translateY(-3px);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  background-color: #006d77;
  color: #ffffff;
}
.card-green {
  background-color: #006d77;
  color: #ffffff;
}
.card-green .btn-card-styled {
  background-color: #006d77;
  color: #ffffff;
}
.card-green ul li {
  color: #ffffff;
}
.card-green ul li i {
  color: #da840c;
}
.card:hover ul li {
  color: #ffffff;
}
.card:hover ul li i {
  color: #da840c;
}
.card:hover .btn-card-styled {
  background-color: #006d77;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.btn-card-styled {
  border: 1px solid #ffffff;
  background-color: #101828;
  color: #ffffff;
  border-radius: 6px;
  padding: 12px 22px;
}
.btn-card-styled:hover {
  transform: translateY(-2px);
  transition: 0.2s;
}
.list-gray li i {
  color: #006d77;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 33px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #006d77;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #071d2f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #006d77;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.newsletter .container {
  border-radius: 20px;
  padding: 52px 74px;
  margin-bottom: 10rem;
}

.newsletter-content h2 {
  font-size: 42px;
  line-height: 44px;
}
.newsletter-form input {
  padding: 30px;
  width: 350px;
  border: none;
}
.newsletter-form button {
  left: 300px;
  top: 15px;
  color: #ffffff;
  border: none;
}
.newsletter-img {
  width: 450px;
}
.stats-card {
  z-index: 1;
}
.stats-card img {
  border-radius: 20px;
  margin-top: 100px;
  margin-left: 100px;
  width: 50%;
  animation: float 3s ease-in-out infinite;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
.image-container > img {
  border-radius: 20px;
  margin-left: 200px;
  width: 70%;
}

.footer .footer-sections {
  border-top: 1px solid #cdcecf;
  border-bottom: 1px solid #cdcecf;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px 0px;
}

.footer-bottom {
  text-decoration: none;
}

.footer-btn {
  align-items: flex-start;
  border: 1px solid transparent;
  background-color: #101828;
  color: #ffffff;
  border-radius: 4px;
  padding: 12px 22px;
}
.footer-btn:hover {
  border: 1px solid #101828;
  background-color: #ffffff;
  color: #101828;
}
.font-color-light-gray {
  color: #98a2b3;
}
.footer-section p:hover {
  color: #006d77;
  transition-duration: 0.2s;
  padding-left: 3px;
}
.footer-bottom-right .footer-socials img:hover {
  opacity: 0.8;
  transition-duration: 0.2s;
}
@media (max-width: 576px) {
  .stats-card img {
    margin-top: 100px;
    margin-left: 3px !important;
    width: 50%;
  }

  .image-container > img {
    margin-left: 60px !important;
    width: 70%;
  }

  .happy-customers-cards {
    grid-template-rows: repeat(4, 500px);
    grid-template-columns: repeat(1, 200px);
    gap: 20px;
  }
  .happy-customers {
    padding-left: 25px;
    width: 500px;
  }
  .happy-customers-section {
    width: 500px;
    margin: auto;
  }
  .happy-customers-title h2 {
    font-size: 30px;
  }
  .happy-customers {
    padding: 10px;
  }

  .cross-platform {
    width: 400px;
    height: 300px;
  }
  .cross-platform > div > img {
    top: 70px;
    width: 70% !important;
  }
  .px-150 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .newsletter .container {
    padding: 20px;
    margin-bottom: 10rem;
  }
  .footer .footer-sections {
    grid-template-columns: 1fr;
  }
  .big-picture-right-side img {
    height: 400px;
  }
}
.built-for-you-section {
  flex-direction: column;
  align-items: center;
}

.built-for-you-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.built-for-you-title p {
  margin-top: 30px;
  font-size: 24px;
}

.built-for-you-cards {
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 100px;
}

.built-info {
  align-items: flex-start;
  gap: 20px;
  border-bottom: 2px solid #e4e7ec;
}

.built-info h3 {
  font-size: 28px;
}
.built-info p {
  line-height: 30px;
}

.built-info img {
  height: 64px;
}

.big-picture-section .container {
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 600px);
  gap: 50px;
}
.big-picture-btn {
  padding: 14px 28px;
  color: #006d77;
  margin-bottom: 30px;
}

.big-picture-left-side-texts {
  border-bottom: 1px dashed #006d77;
}
.big-picture-left-side-texts p {
  margin-bottom: 50px;
  font-size: 24px;
}
.big-picture-left-side-bottom {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
  font-size: 18px;
}
.big-picture-right-side img {
  height: 700px;
  border-radius: 20px;
}
.block-image img {
  height: 330px;
  position: absolute;
  bottom: -100px;
  right: 0px;
}

.happy-customers-section {
  background-color: #f2f4f7;
  border-radius: 50px;
  margin-top: 200px;
  padding: 80px;
  text-align: center;
}
.happy-customers-title p {
  margin-top: 20px;
  font-size: 24px;
}

.happy-customers-cards {
  grid-template-columns: repeat(2, 544px);
  grid-template-rows: repeat(2, 346px);
  justify-content: center;
  padding: 50px;
  gap: 30px;
}
.happy-customers {
  background-color: #fff;
  border-radius: 20px;
  padding: 50px;
  transition: transform 0.5s ease-in-out;
}
.happy-customers:hover {
  transform: translateY(-5px);
}
.happy-customers-text {
  text-align: left;
}
.happy-customers h4 {
  font-size: 22px;
  font-family: Chivo;
}
.happy-customers p {
  margin-top: 20px;
  line-height: 30px;
}
.happy-customer-person {
  margin-top: 32px;
}
.happy-customer-person-text {
  text-align: left;
  padding: 15px;
}
.happy-customer-person-text p {
  color: #101828;
  font-size: 14px;
}
.happy-customer-person-text h4 {
  font-size: 16px;
}
.happy-customer-person img {
  height: 80px;
}

@media screen and (max-width: 992px) {
  .stats-card img {
    margin-top: 100px;
    margin-left: 50px;
    width: 50%;
  }

  .image-container > img {
    margin-left: 100px;
    width: 70%;
  }

  .newsletter {
    padding: 20px;
    margin-bottom: 10rem !important;
  }
  .hero-section {
    grid-template-columns: 1fr;
  }
  .fresh-ideas {
    grid-template-columns: 1fr;
  }
  .navbar-list {
    display: none !important;
  }
  .powerful-features-cards {
    flex-direction: column;
    gap: 10rem;
    margin-bottom: 200px;
  }
  .powerful-features-cards > div > div > img {
    width: 400px;
  }
  .hero-section-images {
    display: none;
  }
  .list-partners > li > a > img {
    max-width: 150px;
  }
  .fresh-ideas-imgs {
    display: none;
  }
  .big-picture-imgs {
    display: none;
  }
  .footer .footer-sections {
    grid-template-columns: repeat(2, 1fr);
  }

  .newsletter-form button {
    margin-right: -300px;
  }

  .card {
    margin: 30px 30px;
  }
  .cards {
    justify-content: center !important;
  }

  .built-for-you-title h2 {
    font-size: 46px;
  }
  .built-info-right-section {
    padding-bottom: 50px;
  }
  .built-for-you-cards {
    grid-template-columns: repeat(1, 1fr) !important;
    align-items: center;
    gap: 30px;
    font-size: 20px;
  }
  .big-picture-section .container {
    grid-template-columns: 1fr;
    grid-template-rows: 500px;
    padding: 100px;
  }
  .big-picture-right-side img {
    height: 350px;
    margin-top: 500px;
  }
  .block-image img {
    height: 200px;
    position: absolute;
    bottom: -100px;
  }

  .happy-customers-cards {
    grid-template-rows: repeat(4, 288px);
    grid-template-columns: repeat(1, 616px);
    gap: 20px;
  }
  .happy-customers-section {
    width: 720px;
    margin: auto;
  }
  .happy-customers-title h2 {
    font-size: 46px;
  }
  .happy-customers {
    padding: 25px;
    margin: 10px;
    width: 600px;
  }
}
