@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Notos Sans", sans-serif;
  list-style-type: none;
}
.font-noto {
  font-family: "Noto Sans", sans-serif;
}
.font-chivo {
  font-family: "Chivo", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.description-utils {
  color: #475467;
}
.title {
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  color: #101828;
}
.btn {
  border-radius: 50px;
  border: none;
}
.bg-green {
  background-color: #bee1e6;
}
.bg-dark-green {
  background-color: #006d77;
}
.font-color-black {
  color: #101828;
}
.grid {
  display: grid;
}
.text-white {
  color: #fff;
}

.flex {
  display: flex;
}
.text-center {
  text-align: center;
}
.align-center {
  align-items: center;
}
.grid {
  display: grid;
}
.flex-between {
  justify-content: space-between;
}

.flex-center {
  justify-content: center;
}

.flex-start {
  justify-content: flex-start;
}

.flex-col {
  flex-direction: column;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.mb-10 {
  margin-bottom: 10px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-70 {
  margin-top: 70px;
}
.mt-80 {
  margin-top: 80px;
}
.mx-75 {
  padding-left: 75px;
  padding-right: 75px;
}
.px-150 {
  padding-left: 150px;
  padding-right: 150px;
}
.fs-35 {
  font-size: 35px;
  line-height: 38px;
}
.fs-22 {
  font-size: 22px;
  line-height: 25px;
}
.fs-18 {
  font-size: 18px;
  line-height: 22px;
}
.fs-14 {
  font-size: 14px;
  line-height: 24px;
}
.fw-700 {
  font-weight: 700;
}
.font-bold {
  font-weight: 700;
}
.fw-400 {
  font-weight: 400;
}
.font-color-gray {
  color: #98a2b3;
}
.mb-20 {
  margin-bottom: 20px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-20 {
  padding-bottom: 20px;
}
.text-left {
  text-align: left;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.m-1 {
  margin: 1rem;
}
.gap-1 {
  gap: 1rem;
}
.img-50 {
  width: 50%;
}

.flex-wrap {
  flex-wrap: wrap;
}
.cursor-pointer {
  cursor: pointer;
}
