@import "./global.scss";

.grey-smalltext{
    @include fontMixin(16px, #696969);
}
.c-margin{
    @include marginMixin(80px, 0, 80px, 0);
}
.mb-40 {
    margin-bottom: 40px;
}
.mt-40 {
    margin-top: 40px;
}
.beagebg{
    background: #fffcfa;
}
.navbar-media{
    display: none;
}
.navbar{
    z-index: 500;
    padding: 40px 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    .navbar-btn{
        a:link, a:visited {
        @include paddingMixin(16px, 48px, 16px, 48px);
        background: linear-gradient(to right, #ff5195, #ffb84b);
        display: inline-block;
        color: white;
        }  
    }
}
.navbar-menu{
    margin-left: 100px;
    margin-right: -100px;
    .navbar-item{
        li{
            display: inline-block;
            position: relative;
            margin-top: 20px;
            a{
                @include fontMixin(20px, black);
                font-weight: bolder;
                padding: 40px 40px;
                text-align: center;
            }
            &:hover{
                background-color: #fd4372;
                .dropdown{
                    display: block;
                    background: linear-gradient(to right, #ff5195, #ffb84b);
                    color: white;
                }
            }    
        }
            .dropdown{
                width: auto;
                position: absolute;
                display: none;
                z-index: 999;
                li{
                    display: block;
                    a{
                       padding-right:100px;
                       text-align: left;
                    }
                }
            }
        }
        
    }
/* GROW PART */
.grow-part{
    overflow: hidden;
    position: relative;
    height: 100vh; 
    .banner-bg{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        display: flex;
        z-index: -1;
        &-right{
            width: 100%;
            img{
                width: 100%;
                height: 90%;
            }
        }
        &-left{
            width: 100%;
            img{
                width: 100%;
                height: 90%;
            }
        }
        
    }
    .banner-area{
        height: 100%;
        .container{
            height: 100%;
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .banner-text{
                
                h2{
                    @include fontMixin(60px,black);
                    font-weight: bolder;
                }
                a:link, a:visited {
                    @include paddingMixin(16px, 48px, 16px, 48px);
                    background: linear-gradient(to right, #ff5195, #ffb84b);
                    display: inline-block;
                    color: white;
                }   
            }
            .banner-img{     
                position: relative;
                .img{
                    width: 100%;
                    height: 100%;
                    vertical-align: middle;
                }
                .banner-ani-1{
                        top: 100px;
                        right: 200px;
                        animation: yankayankart 15s linear infinite;
                        position: absolute;
                }
                .banner-ani-img2{
                    top:10px;
                    right: 20px;
                    position: absolute;
                    animation: videocard 5s linear infinite;
                }
                .banner-ani-img3{
                    top: 50px;
                    left: 220px;
                    animation: kadınresmi 5s linear infinite;
                    position: absolute;

                }
                
            }
            
        }
    } 
}
@keyframes yankayankart{
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateX(-40px);
    }
    50%{
        transform: translateY(-40px);
    }
    75%{
        transform: translateX(-40px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes kadınresmi{
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(40px);
    }
    50%{
        transform: translateY(100px);
    }
    75%{
        transform: translateY(40px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes videocard{
    0%{
        transform: translateY(-20px) translateX(0px);
    }
    50%{
        transform: translateY(0px) translateX(-20px);
    }
    100%{
        transform: translateY(-20px) translateX(0px);
    }
}


/* OMNİCHANEL - ALLİNONE PART */

.omnichannel{
    padding-left: 8rem;
    padding-right: 8rem;
    display: flex;
    justify-content: center;
    .omnic-body{
        @include hizalamaMixin(flex, row, center, start);
        gap: 60px;
        .omnic-text{
            .omnic-header{
                border-bottom: 1px solid #ecf0f3;
                h2{
                    @include fontMixin(36px, black);
                }
                p{
                    line-height: 1.5;
                }
            }
            .omnic-list{
                @include hizalamaMixin(flex, row, none, start);
                line-height: 2.5;
                .omnic-list-1{
                    ul{
                        li i{
                            color: #fd4372;
                            margin-right: 15px;
                        }
                    }
                }
            } 
            a:link, a:visited {
                @include paddingMixin(16px, 48px, 16px, 48px);
                background: linear-gradient(to right, #ff5195, #ffb84b);
                display: inline-block;
                color: white;
            }   
        }
        .omnic-img img{
            height: auto;
            vertical-align: middle;
        }
    }
}    

@media (max-width: 992px){
    .navbar-media{
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .logo{
            margin-left: 10px;
            margin-top: 5px;
        }
        .navbar-media-menu{
            i{
                font-size: 30px;
                margin-right: 10px;

            }
        }

    }
    .navbar{
        display: none;
    }
    .grow-part{
        background: #f9f2ff;
        .banner-bg{
            display: none;
        }
        .banner-area{
            .container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                .banner-text{
                    margin-left: 40px;
                    margin-right: 40px;
                    padding: 0;

                }
            }
            .banner-img{
                .banner-ani-1{
                    display: none;
                }
                .banner-ani-img2{
                    display: none;
                }
                .banner-ani-img3{
                    display: none;
                }
            }
        }
    }
    .omnichannel{
        .omnic-body{
            display:flex;
            flex-direction:column-reverse;
            justify-content: center;
            align-items: center;
            margin-left: 40px ;
            margin-right: 40px;
        }
    }
}
@media (max-width: 575px){
    .grow-part{
        .banner-area{
            .banner-img{
                img{
                    width: 90%;
                }
            }
            
        }
    }
    .omnichannel{
        width: 100%;
        padding: 0 ;
        
        .omnic-body{
            .omnic-img{
                img{
                    width: 90%;
                }
            }
            .omnic-text{
                .omnic-list{
                    display:flex;
                    flex-direction:column;
                    justify-content: center;
                }
                
            }
        }
    }
    
}
.retail-pos-section, .retail-stores-section{
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 8rem;

    .retail-pos-content {
        @include hizalamaMixin(flex, row, space-evenly, center);
        gap: 20px;
        .retail-pos-info {
            width: 50%;

            .info-header {
                margin-bottom: 3rem;
                max-width: 100%;
                margin-left: 0;
                text-align: left;
                padding-bottom: 3rem;
                border-bottom: 1px solid #ecf0f3;

                h2 {
                    margin-bottom: 1rem;
                }
                p{
                    line-height: 1.5;
                }
            }

            .info-wrapper {

                .wrapper-list {
                    display: flex;
                    margin: 0 0 3rem;

                    li {
                        padding: 10px 0;
                        margin-right: 2rem;
                        i {
                            color: #fd4372;
                            margin-right: 10px;
                        }
                    }
                }

                a {
                    padding: 16px 46px;
                    margin-bottom: 6px;
                    background: linear-gradient(to right, #ff5195, #ffb84b);
                    border-radius: 4px;
                    transition: all 0.3s ease;

                    span {
                        @include fontMixin(16px, #fff);
                        font-weight: 700;
                    }
                }
            }
        }

        .retail-pos-image {
            .image-box {
                text-align: center;

                img {
                    max-width: 100%;
                    object-fit: cover;
                    margin: 0 auto;
                }
            }
        }
    }
}
.service-section{

    background: #fffef9;
    padding: 6rem 0 8rem 8rem;
    .section-header{
        text-align: center;
        p{
            margin-top: 1rem;
            line-height: 1.5;
        }
    }
    .section-wrapper{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 200px);
        text-align: center;
        align-items: center;
        gap: 30px;
        margin-top: 5rem;
        .wrapper-item{
            &:hover{
                transform: translateY(-6px);
                transition: all .3s ease-in-out;
                box-shadow:  4px 4px 4px rgba(58, 58, 58, 0.1);;
            }
            line-height: 1.5;
            .wrapper-item-inner{
                padding: 50px 30px;
                box-shadow: 0 4px 4px rgba(58, 58, 58, 0.1);
                border-radius: 4px;
                .inner-subtitle{
                    h6{
                        font-size: 18px;
                    }
                    margin-top: 1rem;
                }
            }
        }
    }
}
@media screen and (max-width: 1200px){
    .service-section{
        .section-wrapper{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
        }
    }
}
@media screen and (max-width: 992px) {
    
    .retail-pos-section, .retail-stores-section{
        .retail-pos-content{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            width: 100%;
            .retail-pos-info{
                width: 80% !important;
            }
            .retail-pos-image{
                margin-top: 3rem;
                margin-bottom: 2rem;
            }
        }
    }
    .service-section{
        .section-wrapper{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 300px);
        }
    }
}
@media screen and (max-width: 768px){
    .service-section{
        .container{
            width: 80%;
            margin: 0 auto;
        }
    }
}
@media screen and (max-width: 576px){
    .retail-pos-section, .retail-stores-section{
        padding-left: 2rem;
        padding-bottom: 0;
        
        .retail-pos-content{
            .retail-pos-image{
                margin: 0 auto;
                object-fit: cover;
                margin-top: 3rem;
            }
            .retail-pos-info{
                width: 100% !important;
                .info-wrapper{
                    .wrapper-list{
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
           
        }
    }
    .service-section{
        padding-left: 1rem ;
        .section-wrapper{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(8, 300px);
        }
    }
    .extend-section{
        padding-left: 0 !important;
        .extend-text ul{
            gap:0 !important;
        }
    }
    .perfect-section{
        padding-left: 1rem !important;     
        .perfect-header{
            h1{
                text-align: center;
            }
        }
    }
    .powers-section{
        padding-left: 1rem !important;
        .powers-header{
            h1{
                text-align: center;
            }
        }
    }
    .logo-page{
        padding-left: 1.5rem !important;
    }
    .footer{
        padding-left: 2rem;
        .container{
            .footer-app{
                padding-bottom: 2rem !important;
                justify-content: center  ;
                .app-grup{
                    display: flex;
                    flex-direction: column !important ;
                    margin-top: 1rem !important;
                }
            }
            .footer-top{
                flex-direction: column;
                gap: 2rem ;
            }
        }
        hr{
            margin-left: 0 !important;
        }
    }
}
@mixin backgroundMixin($background, $br, $width, $height) {
    background: $background;
    border-radius: $br;
    width: $width;
    height: $height;
  }
  .extend-section {
    padding-left: 8rem;
    
    .container {
      .extend {
        @include hizalamaMixin(flex, row, start, center);
        .extend-text {
          flex: 1;
          @include paddingMixin(5rem, 0, 5rem, 5rem);
          h1 {
            font-size: 36px;
          }
          p {
            max-width: 450px;
            margin-top: 2rem;
            font-weight: 100;
          }
          hr {
            margin-top: 2rem;
            font-weight: 100;
          }
          ul {
            padding-top: 3rem;
            display: flex;
            flex-wrap: wrap;
            color: #696969;
            gap: 3rem;
            line-height: 3rem;
            font-size: 16px;
          }
          button {
            margin-top: 3rem;
            padding: 16px 46px;
            background: linear-gradient(to right, #ff5195, #ffb84b);
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            border-radius: 5px;
            border-style: none;
            cursor: pointer;
            &:hover {
              transition: all 0.3s ease;
            }
          }
        }
        .extend-img {
          flex: 1;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .perfect-section {
    padding-left: 8rem;
    .container {
      .perfect-software {
        @include hizalamaMixin(flex, column, center, center);
        .perfect-header {
          @include hizalamaMixin(flex, column, center, center);
          padding-top: 5rem;
          h1 {
            font-size: 36px;
          }
          p {
            padding-top: 2rem;
            max-width: 600px;
            text-align: center;
          }
        }
        .perfect-cards {
          @include hizalamaMixin(flex, row, center, center);
          gap: 3rem;
          .card {
            @include hizalamaMixin(flex, column, start, center);
            text-align: center;
            max-width: 450px;
            max-height: 375px;
            padding: 70px 40px;
            gap: 2rem;
            &:hover {
              box-shadow: 0px 5px 0px 5px rgba(223, 222, 222, 0.1);
            }
  
            .background-img-upload {
              @include hizalamaMixin(flex, none, center, center);
              @include backgroundMixin(
                linear-gradient(to top, #f9769d, #bb6df7),
                50%,
                80px,
                80px
              );
            }
            .background-img-customize {
              @include hizalamaMixin(flex, none, center, center);
              @include backgroundMixin(
                linear-gradient(to top, #fd77b4, #ffbae7),
                50%,
                80px,
                80px
              );
            }
            .background-img-connect {
              @include hizalamaMixin(flex, none, center, center);
              @include backgroundMixin(
                linear-gradient(to top, #d17fff, #9982ff),
                50%,
                80px,
                80px
              );
            }
          }
        }
      }
    }
  }
  .powers-section {
        background-color: #fffef6;
        padding-left: 8rem;
    .container {
      .powers-pos {
        
        padding-bottom: 5rem;
        .powers-header {
          @include hizalamaMixin(flex, column, start, center);
          padding-top: 6rem;
          h1 {
            font-size: 36px;
            margin-bottom: 2rem;
          }
          p {
            max-width: 650px;
            text-align: center;
          }
        }
        .powers-cards {
          @include hizalamaMixin(flex, row, center, start);
          gap: 2rem;
          margin-top: 5rem;
          .power-card {
            background-color: #fff;
            width: 400px;
            height: 360px;
            padding: 30px 10px;
            hr {
              border: 1px solid #fff5f3;
            }
            .power-card-header {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              margin-bottom: 3rem;
              .profile-img {
                img {
                  border-radius: 50%;
                }
              }
            }
            .power-card-text {
              padding-top: 2rem;
              padding-bottom: 2rem;
            }
            .card-raiting {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
          }
        }
      }
    }
  }
  .logo-page {
    padding-left: 8rem;
    .container {
      .sponsor-logo {
        @include hizalamaMixin(flex, row, center, start);
        gap: 7rem;
        padding-top: 75px;
        padding-bottom: 95px;
        img {
          &:hover {
            cursor: pointer;
            filter: grayscale(100%);
          }
        }
      }
    }
  }
  .footer {
    background-image: url("../images/app-footer-bg.jpg");
    color: #fff;
    .container {
      .footer-app {
        @include hizalamaMixin(flex, row, space-around, center);
        padding-top: 5rem;
        padding-bottom: 5rem;
        .app-header {
          line-height: 40px;
        }
        .app-grup {
          display: flex;
          flex-direction: row;
          gap: 1rem;
        }
        .app-button {
          padding: 5px 5px;
          display: flex;
          flex-direction: row;
          width: 230px;
          height: 70px;
          background-color: #fff;
          color: #000;
          text-align: start;
          gap: 10px;
          line-height: 25px;
          cursor: pointer;
          span {
            color: #c961fa;
            font-weight: 700;
          }
        }
      }
    }
    hr {
      margin-top: 2rem;
  
      font-weight: 100;
      margin-left: 100px;
    }
    .footer-top {
      @include hizalamaMixin(flex, row, center, space-around);
      gap: 10rem;
      padding-top: 5rem;
      padding-bottom: 5rem;
      .top-content {
        h3 {
          padding-bottom: 2rem;
        }
        li {
          cursor: pointer;
        }
        line-height: 2rem;
      }
    }
  }
  @media screen and (max-width: 992px) {
    .extend-section {
      .container {
        .extend {
          flex-wrap: wrap;
          .extend-text {
            flex: 100%;
          }
          .extend-img {
            flex: 100%;
            text-align: center;
            img {
              width: 70%;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .perfect-section {
      .container {
        .perfect-software {
          .perfect-cards {
            flex-wrap: wrap;
          }
        }
      }
    }
    .powers-section {
      .container {
        .powers-pos {
          .powers-cards {
            flex-wrap: wrap;
          }
        }
      }
    }
    .logo-page {
      .container {
        .sponsor-logo {
          flex-wrap: wrap;
        }
      }
    }
    .footer {
      .container {
        .footer-app {
          flex-wrap: wrap;
        }
      }
    }
    .footer {
      .container {
        .footer-top {
          flex-wrap: wrap;
        }
      }
    }
  }
  @media screen and (max-width: 992px) {
    .perfect-section {
      .container {
        .perfect-software {
          .perfect-cards {
            flex-direction: column;
          }
        }
      }
    }
    .powers-section {
      .container {
        .powers-pos {
          .powers-cards {
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }
    .footer {
      .container {
        .footer-top {
          flex-wrap: wrap;
        }
      }
    }
  }
  