@import "./global.scss";

.grey-smalltext{
    @include fontMixin(16px, #696969);
}
.c-margin{
    @include marginMixin(80px, 0, 80px, 0);
}
.mb-40 {
    margin-bottom: 40px;
}
.mt-40 {
    margin-top: 40px;
}
.beagebg{
    background: #fffcfa;
}
.navbar-media{
    display: none;
}
.navbar{
    z-index: 500;
    padding: 40px 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    .navbar-btn{
        a:link, a:visited {
        @include paddingMixin(16px, 48px, 16px, 48px);
        background: linear-gradient(to right, #ff5195, #ffb84b);
        display: inline-block;
        color: white;
        }  
    }
}
.navbar-menu{
    margin-left: 200px;
    margin-right: -200px;
    .navbar-item{
        li{
            display: inline-block;
            position: relative;
            margin-top: 20px;
            a{
                @include fontMixin(20px, black);
                font-weight: bolder;
                padding: 40px 40px;
                text-align: center;
            }
            &:hover{
                background-color: #fd4372;
                .dropdown{
                    display: block;
                    background: linear-gradient(to right, #ff5195, #ffb84b);
                    color: white;
                }
            }    
        }
            .dropdown{
                width: auto;
                position: absolute;
                display: none;
                z-index: 999;
                li{
                    display: block;
                    a{
                       padding-right:100px;
                       text-align: left;
                    }
                }
            }
        }
        
    }
/* GROW PART */
.grow-part{
    position: relative;
    height: 100vh; 
    .banner-bg{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        display: flex;
        z-index: -1;
        &-right{
            width: 100%;
            img{
                width: 100%;
                height: 90%;
            }
        }
        &-left{
            width: 100%;
            img{
                width: 100%;
                height: 90%;
            }
        }
        
    }
    .banner-area{
        height: 100%;
        .container{
            height: 100%;
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .banner-text{
                padding-right: 300px;
                margin-left: 260px;
                h2{
                    @include fontMixin(60px,black);
                    font-weight: bolder;
                }
                a:link, a:visited {
                    @include paddingMixin(16px, 48px, 16px, 48px);
                    background: linear-gradient(to right, #ff5195, #ffb84b);
                    display: inline-block;
                    color: white;
                }   
            }
            .banner-img{     
                position: relative;
                .img{
                    width: 100%;
                    height: 100%;
                    vertical-align: middle;
                }
                .banner-ani-1{
                        top: 100px;
                        right: 200px;
                        animation: yankayankart 15s linear infinite;
                        position: absolute;
                }
                .banner-ani-img2{
                    top:10px;
                    right: 20px;
                    position: absolute;
                    animation: videocard 5s linear infinite;
                }
                .banner-ani-img3{
                    top: 50px;
                    left: 220px;
                    animation: kadınresmi 5s linear infinite;
                    position: absolute;

                }
                
            }
            
        }
    } 
}
@keyframes yankayankart{
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateX(-40px);
    }
    50%{
        transform: translateY(-40px);
    }
    75%{
        transform: translateX(-40px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes kadınresmi{
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(40px);
    }
    50%{
        transform: translateY(100px);
    }
    75%{
        transform: translateY(40px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes videocard{
    0%{
        transform: translateY(-20px) translateX(0px);
    }
    50%{
        transform: translateY(0px) translateX(-20px);
    }
    100%{
        transform: translateY(-20px) translateX(0px);
    }
}


/* OMNİCHANEL - ALLİNONE PART */

.omnichannel{
    display: flex;
    justify-content: center;
    .omnic-body{
        @include hizalamaMixin(flex, row, center, start);
        gap: 60px;
        .omnic-text{
            .omnic-header{
                border-bottom: 1px solid #ecf0f3;
                h2{
                    @include fontMixin(36px, black);
                }
                p{
                    line-height: 1.5;
                }
            }
            .omnic-list{
                @include hizalamaMixin(flex, row, space-evenly, start);
                line-height: 2.5;
                .omnic-list-1{
                    ul{
                        li i{
                            color: #fd4372;
                            margin-right: 15px;
                        }
                    }
                }
            } 
            a:link, a:visited {
                @include paddingMixin(16px, 48px, 16px, 48px);
                background: linear-gradient(to right, #ff5195, #ffb84b);
                display: inline-block;
                color: white;
            }   
        }
        .omnic-img img{
            height: auto;
            vertical-align: middle;
        }
    }
}    

@media (max-width: 992px){
    .navbar-media{
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .logo{
            margin-left: 10px;
            margin-top: 5px;
        }
        .navbar-media-menu{
            i{
                font-size: 30px;
                margin-right: 10px;

            }
        }

    }
    .navbar{
        display: none;
    }
    .grow-part{
        background: #f9f2ff;
        .banner-bg{
            display: none;
        }
        .banner-area{
            .container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                .banner-text{
                    margin-left: 40px;
                    margin-right: 40px;
                    padding: 0;

                }
            }
            .banner-img{
                .banner-ani-1{
                    display: none;
                }
                .banner-ani-img2{
                    display: none;
                }
                .banner-ani-img3{
                    display: none;
                }
            }
        }
    }
    .omnichannel{
        .omnic-body{
            display:flex;
            flex-direction:column-reverse;
            justify-content: center;
            align-items: center;
            margin-left: 40px ;
            margin-right: 40px;
        }
    }
}
@media (max-width: 575px){
    .omnichannel{
        .omnic-body{
            .omnic-list{
                display:flex;
                flex-direction:column;
                justify-content: center;
            }
        }
    }
}