* {
  font-family: "Poppins", sans-serif;
}
.landing {
  padding-top: 10rem;
}
a {
  color: black;
  text-decoration: none;
}
.social-icons a:hover {
  color: orangered;
}
.landing-title {
  font-size: 6rem;
}
.landingImage {
  background-image: url("./assets/IMG_2126.JPG");
  animation: morph 3s ease-in-out infinite;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 35rem;
  width: 35rem;
  transition: all 1s ease-in-out;
}
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}
.tech {
  transition: 0.3s all ease-in-out;
}
.tech:hover {
  cursor: pointer;
  transform: translateY(-5px);
}
