.brands-section {
  background-color: black;
  width: 100%;
  height: 122px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brands-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brands-section img {
  max-height: 100px;
  opacity: 0.9;
}
