.top-selling-section {
  padding: 40px 0;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}

.card {
  border: none;
  overflow: hidden;
  border-radius: 20px;
  background-color: #f0eeed;
}

.card-title {
  font-size: 20px;
  font-weight: 700;
}

.rating {
  font-size: 16px;
  color: #ffc107;
}

.old-price {
  text-decoration: line-through;
  color: #999;
}

.price {
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
}

.discount {
  color: #ff4d4f;
  font-weight: bold;
}

.view-all-btn {
  border: 1px solid #000;
  border-radius: 31px;
  padding: 16px 54px;
  font-size: 16px;
  font-weight: 700;
}
