.active-first {
  background-color: #181d31;
  color: crimson;
  transition: 0.3s ease-in-out all;
}

.army-font {
  font-family: 'ARMY RUST', sans-serif;
}

.army-font-text {
  font-family: 'Allerta Stencil', sans-serif;
}

.top-80 {
  top: 80%;
}
