@import "./global.scss";

* {
  $border-radius-pill: 100rem;
}
.communicate {
  .container {
    .row {
      .col-lg-5 {
        padding-left: 5rem;
        align-items: center;
      }
    }
  }
}

.about-us {
  li {
    border: none;
  }
}

.testimonials {
  img {
    width: 100px;
  }
  .carousel-inner {
    max-width: 800px;
  }
  .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}

.our-team {
  .img-hover {
    &:hover {
      .social-media {
        display: block !important;
      }
    }
  }
}

.blog-section {
  .container {
    .row {
      .col {
        img {
          max-width: 100%;
        }
        h2 {
          a {
            text-decoration: none;
          }
        }
        .information {
          color: #b3b3b3;
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}
.contact-us {
  background-image: url(../images/bgimg.jpg);
  &::before {
    content: "";
    background: linear-gradient(to right, #4286f4 0%, #42e2f4 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
  }
}
