@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
* {
  font-family: "Nanum Gothic", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$blueColor: #0974fb;
$grayColor: #e9ecef;
$blackColor: #333333;
$whiteColor: #fff;
$brad5: 5px;
.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url("../images/hero_2.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 650px;
  color: $whiteColor;
  padding-top: 1.5rem;
  .logo {
    font-weight: 900;
    font-size: 20px;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    .title {
      font-size: 32px;
    }
    .title-content {
      font-size: 19px;
      line-height: 30px;
    }
    .label-area {
      background: rgba(255, 255, 255, 0.8);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      border-radius: $brad5;
      margin-bottom: 20px;
      & input,
      select {
        min-width: 305px;
        height: 55px;
        border: none;
        border-radius: $brad5;
        font-size: 1rem;
        padding: 6px 12px;
        margin-bottom: 20px;
      }
      & button {
        background-color: $blueColor;
        color: $whiteColor;
        height: 45px;
        min-width: 305px;
        border: none;
        border-radius: $brad5;
        font-size: 1rem;
        padding: 6px 12px;
      }
    }
  }
  & button {
    padding: 5px 10px;
    border-radius: $brad5;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.2);
    color: $whiteColor;
    border: 1px solid $whiteColor;
    font-size: 0.8rem;
  }
}
#featured-ads {
  margin-top: 50px;
  min-height: 650px;
  h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .card {
    box-shadow: -3px 3px 24px -5px rgba(0, 0, 0, 0.57);
    border-radius: $brad5;
    img {
      width: 100%;
    }
    .card-content {
      padding: 20px;
      & button {
        background-color: $grayColor;
        border-radius: 50px;
        padding: 8px 20px;
        font-size: 11px;
        font-weight: 600;
        margin-bottom: 20px;
        border: none;
      }
      .own-new {
        color: $blueColor;
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: 500;
      }
    }
  }
}
