#main-header {
  background-image: linear-gradient(to bottom, #4a00e0, #8e2de2);
  height: 100vh;
}
#main-header-nav {
  justify-content: space-between;
  height: 70px;
  align-items: center;
}
#main-nav-links {
  justify-content: flex-end;
  align-items: center;
}
#main-nav-links li {
  padding: 8px 20px;
  font-weight: bold;
}
#main-header a:last-child {
  height: 45px;
}
.main-header-content-left .title {
  font-size: 50px;
  line-height: 1.2;
  margin-bottom: 19px;
}
.main-header-content-left .text {
  margin-bottom: 47px;
}
.main-header-content-right img {
  height: 70vh;
}
/*  */
.subcribe-area {
  align-self: center;
  position: relative;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  flex: 1;
  background-color: rgb(3, 32, 84);
}
#userssay {
  background: rgb(81, 4, 224);
}
.fa-solid {
  color: yellow;
  font-size: 15px;
  margin-left: 5px;
}
.tax-calculator {
  background-color: rgb(0, 19, 51);
}
.row {
  text-align: center;
}
/* latest transaction */
#latest-transaction {
  background-color: #032054;
}
.table {
  background-color: rgb(0, 19, 51);
  width: 100%;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
}
thead {
  text-transform: uppercase;
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
tbody{
   text-align: center;
}
td:nth-child(1){
  text-align: left;
}
th:nth-child(1){
  text-align: left;
}
th, td {
  border-bottom: 1px solid rgb(209, 204, 204);
  padding-left: 10px;
  }
