@import "global.scss";

@mixin borRadius($value) {
  border-radius: $value;
}

@mixin padding($topBottom, $rightLeft) {
  padding: $topBottom $rightLeft;
}

@mixin widthHeight($width, $height) {
  width: $width;
  height: $height;
}

@mixin backgroundElement($width, $height, $left, $right, $bgColor) {
  @include widthHeight($width, $height);
  position: absolute;
  top: 0;
  z-index: -1;
  left: $left;
  right: $right;
  background-color: $bgColor;
}

@mixin textStyle($color, $size, $ftWeight, $lineHeight, $letterSpacing) {
  color: $color;
  font-size: $size;
  font-weight: $ftWeight;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

@mixin imgboxCircle(
  $width,
  $height,
  $borderRadius,
  $border,
  $top,
  $left,
  $right,
  $z_index,
  $animation
) {
  content: "";
  @include widthHeight($width, $height);
  @include borRadius($borderRadius);
  position: absolute;
  pointer-events: none;
  user-select: none;
  border: $border;
  top: $top;
  left: $left;
  right: $right;
  z-index: $z_index;
  animation: $animation;
}

.headerLogo {
  @include widthHeight(100px, 60px);
  display: block;
  animation: animation-headerLogo 3s infinite;
}

.leftArea h1 {
  padding-top: 100px;
  padding-bottom: 20px;
}

.waveImage {
  @include widthHeight(100%, 20px);
  background-size: 645px 20px;
  background-repeat: repeat-x;
  margin: 25px 0px;
  background-image: url("https://demo.cocobasic.com/seppo-html/demo-5/images/wavy-shape.png");
  animation: animation-dalga 15s linear infinite;
}

.leftArea .subtitle {
  @include textStyle($primaryColor, 32px, 700, 35px, 30px);
  padding-top: 15px;
}

.aboutForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 60px;
}

.arrow {
  @include widthHeight(34px, 50px);
  transition: all 1.5s ease;
  background-size: cover;
  background-image: url("https://demo.cocobasic.com/seppo-html/demo-5/images/arrow.png");
  animation: animation-arrow ease-in-out 2s infinite;
}

.aboutForm input {
  @include padding(20px, 24px);
  @include borRadius(10px);
  font-family: $mainFont;
  font-size: 18px;
  flex-grow: 1;
  margin: 0px 16px;
  outline: none;
  border: 1px solid $white;
  background-color: $white;
  box-shadow: rgba(12, 127, 134, 0.25) 0px 0px 30px 7px;
  transition: all 0.5s ease 0s;
  &:hover {
    border-color: $primaryColor;
    box-shadow: none;
  }
}

.btn-filled {
  @include padding(25px, 24px);
  @include borRadius(10px);
  @include textStyle($white, 16px, 600, 19px, 4px);
  font-family: $mainFont;
  background-color: $primaryColor;
  text-transform: uppercase;
  border: none;
  transition: all 0.5s ease 0s;
  cursor: pointer;
  &:hover {
    background-color: $secondaryColor;
  }
}

.img-box {
  position: relative;
  margin-bottom: 32px;
  &::before {
    @include imgboxCircle(
      350px,
      350px,
      50%,
      3px solid $white,
      -45px,
      -30px,
      null,
      2,
      animation-circle 8s linear infinite
    );
  }
  &::after {
    @include imgboxCircle(
      700px,
      700px,
      50%,
      1px solid $white,
      0,
      null,
      -350px,
      0,
      animation-circle-2 3s linear infinite alternate
    );
  }
  img {
    @include borRadius(50%);
    max-width: 100%;
    z-index: 1;
  }
}

.bg1 {
  @include backgroundElement(43%, 100%, 0, null, rgb(229, 255, 249));
}

.bg2 {
  @include backgroundElement(57%, 100%, null, 0, rgb(184, 228, 218));
}

.aboutMe {
  padding: 10px;
  h4 {
    color: $secondaryColor;
    letter-spacing: 2px;
  }
}

.aboutMe {
  .subtitle {
    @include textStyle(null, 16px, 400, 30px, 1px);
    margin-bottom: 24px;
    padding-top: 0px;
  }
  .body {
    line-height: 30px;
    margin-bottom: 24px;
  }
}

.socialMedia {
  padding-bottom: 20px;
  justify-content: space-around;
}

.socialMedia a {
  color: $secondaryColor;
  padding: 8px 8px 0px 0px;
  transition: color 0.5s ease 0s;
  &:hover {
    color: $primaryColor;
  }
}

.card {
  margin: 20px 15px;
  h3 {
    margin-top: 15px;
  }
  img {
    @include widthHeight(100%, 300px);
    @include borRadius(10px);
    opacity: 0.85;
    object-fit: cover;
    object-position: 8% 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
    &:hover {
      transition: all 1s ease;
      opacity: 1;
    }
  }
}

.myProject {
  padding: 150px 0 50px;
}

@keyframes animation-headerLogo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animation-dalga {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 645px;
  }
}

@keyframes animation-circle {
  0% {
    top: -20px;
    left: -20px;
  }

  50% {
    top: -20px;
    left: 20px;
    border-color: $primaryColor;
  }
  100% {
    top: -20px;
    left: -20px;
  }
}

@keyframes animation-circle-2 {
  0% {
    top: -70px;
  }

  100% {
    top: 10px;
    border-color: $primaryColor;
  }
}

@keyframes animation-arrow {
  0%,
  100% {
    transform: scale(1.1);
    filter: brightness(0.8);
  }
  50% {
    transform: scale(1.2);
    filter: brightness(1.2);
  }
}

@media screen and (max-width: 768px) {
  .col-9 {
    width: 100%;
    h1 {
      font-size: 90px;
      line-height: 110px;
      padding-top: 30px;
    }
  }
  .col-3 {
    margin-top: 30px;
    width: 100%;
    .img-box {
      display: flex;
      justify-content: center;
    }
    img {
      max-width: 70%;
    }
  }
  // .col-3 .img-box::before,
  .col-3 .img-box::after {
    display: none;
  }
}
