@import "./variables";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: $main-text-color;
    font-family: $main-font;
    font-size: $main-font-size;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
