// Colors
$main-body-color: #084b4f;
$main-text-color: #0c7f86;
$background-color-left: #e5fff9;
$background-color-right: #b8e4da;

// Fonts
$main-font: "Poppins", sans-serif;
$main-font-size: 1rem;
$main-font-weight: 400;
$main-line-height: 1.5;
