* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid {
  display: grid;
}
.flex {
  display: flex;
}
.card {
  box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: none;
  p {
    margin-bottom: 1rem;
  }
}
.card2 {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-bottom: 30px;
  color: #4d4d4d;
  width: 540px;
  height: 180px;
}
@media (max-width: 1200px) {
  .card2 {
    width: 460px;
  }
}
.font-family {
  font-family: "Nanum Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.star-rating {
  width: 15px !important;
  height: 15px !important;
}
.card-h-font {
  color: #2f89fc;
  text-decoration: none;
  font-size: 20px;
  font-weight: 350;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.card-p-font {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
  color: #4d4d4d;
  font-weight: 250;
  font-size: 15px;
}
.card-button {
  font-size: 13px;
  line-height: 1.7;
  padding: 5px 20px;
  background: #e9ecef;
  border-radius: 30px;
  margin-bottom: 20px;
  color: #000;
  border: none;
}
.bg-color-gray {
  background-color: #f8f9fa;
}

.big-headers {
  margin-bottom: 2.5rem;
  text-align: center;
  h1 {
    color: #2f89fc;
    font-weight: 500;
    line-height: 1.2;
    font-size: 2rem;
    margin: 10px 0;
  }
  p {
    margin: 5px 0;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  .line {
    border-top: 3.5px solid #2f89fc;
    width: 90px;
    margin: auto;
    margin-top: 3px;
  }
}
//BURADAN AŞAĞISINI EKLEDİK

body {
  font-family: "Nanum Gothic", sans-serif;
}

.primary-bg-color {
  background-color: #2f89fc;
}
.primary-text-color {
  color: #2f89fc;
}
//margin mixin i
@mixin marginMixin($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

//padding mixi i
@mixin paddingMixin($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

@mixin fontMixin($size, $color) {
  font-size: $size;
  color: $color;
}

//hizalama mixin i
@mixin hizalamaMixin($display, $direction, $justify, $align) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
  cursor: pointer;
}

.colorw {
  color: white;
}

.gap-30 {
  gap: 30px;
}

.mt-20 {
  margin-top: 20px;
}
