#header {
    padding: 10px 0;
}
#header .main-header{
    justify-content: space-between;
}
#header .main-header ul{
    column-gap: 15px;
}
#header .main-header a{
    font-size: 2rem;
    margin: 1.8rem;
}

.trusted-companies-list img{
    width: 233px;
    height: 81px;
    max-width: 100%; 
    padding: 15px;
    line-height: 40px;

}
.trusted-companies-list li{
    width: 200px;
    margin: 40px 0 0 0;
}

/* FRESH START */
.freshideas-right .supTitle{
    margin: 10px 0;
}
.freshideas-left{
    background-image: url("https://agon-nextjs-13.vercel.app/assets/imgs/page/homepage2/img-2.png") ;
    background-size: 700px;
    margin-right: 50px;
}
.freshideas-left img{
    width: 250px;
    margin:  540px 0 0 400px;
}
.freshideas-column-icon img{
    width: 64px;
    height: 64px;
    margin-right: 15px;
}
.freshideas-column{
    margin: 30px 0;
    width: 100%;
} 

/* DİSCOVER */

.discover-img img{
    height: 398px;
    width: 498px;
    margin-top: 30px;
    position: relative;
    margin-bottom: -150px;
}
.discover-left{
    background-color: #fff3ea ;
    margin-left: 35px; 
    border-radius: 16px;
}
.discover-right{
    background-color: #bee1e6 ;
   margin-left: 35px;
    border-radius: 16px;
}
.card-discover h3,p{
    margin-top: 20px;
}
.card-discover:hover{
    margin-top: -20px;
    transition: all .7s ease 0s;
}

/* built */
#built > .row > div{
    margin: 20px 0;
}

/* section-a */
#section-a-right{
    background: url("images/img-built.png") no-repeat center center/contain;
    height: 620px;
}
#section-a-right img{
    width: 200px;
    margin: 480px 0 0 400px;
}
#section-a #section-a-left > .row .col-2{
    padding: 20px 5px;
}
#section-a .column-gap{
    gap: 5px;
}
#section-a .row{
    justify-content: flex-start;
}
#section-a i{
    color: rgba(0 ,109, 119,1);
}
#section-a .paragraph{
    padding-bottom: 40px;
    border-bottom: 3px dotted rgba(0 ,109, 119,1);
}

/* our-happy-customers */
#our-happy-customers{
    background-color: #f2f4f7;
}
#our-happy-customers #customers .row {
    justify-content: flex-start;
}
#our-happy-customers #customers .row img{
    width: 50px;
}

@media (max-width:992px){
    .container {
        width: 960px;
        margin: 0 auto;
    }
    .col-2{
        flex: 100%;
    }
    .col-3,.col-4{
        flex: 50%;
    }
    .freshideas, .discover-table{
        display: flex;
        flex-wrap: wrap;
    }
    .freshideas-left img{
        margin: 100px 0 0 100px;
    } 
    .discover-left{
        margin-bottom: 200px;
    }
    .trusted-companies-list li{
        display: flex;
        flex-wrap: wrap;
        width: 150px;
        margin: 30px 0 0 0;
    } 
}

@media (max-width:576px){
    .container {
        width: 540px;
        margin: 0 auto;
    }
    .trusted-companies-list li{
        display: flex;
        flex-wrap: wrap;
        width: 80px;
        margin: 0;
    }
    .col-2,.col-3,.col-4{
        flex: 100%;
    }
    .freshideas-left img{
       max-width: 100%;
    }
    .freshideas{
        flex-direction: column;
    }
    .card-discover{
        padding: 10px 40px;
        flex: 100%;
        margin-bottom: 20px;
    }
    .discover-img img{
        height: 348px;
        width: 416px;
        margin-bottom: -10px;
    }
 }