@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
}

$colorWhite: #fff;
$colorBlue: #4285f4;
$colorBlack: #000000;
$colorGray: #95a5a6;
$cardColor: #f1f1f1;
