
#main-header {
    background-color: #4c02e0;
    color: white;
    font-family: sans-serif;
    height: 70px;
}
#main-header .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 20px;
}

#main-header .main-nav-row {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.main-nav-row a {
    color: white;
}