@import url("https://fonts.googleapis.com/css2?family=Jersey+25&family=Nanum+Gothic:wght@400;700;800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&display=swap");

@mixin buttonMixin($width, $height) {
    width: $width;
    min-height: $height;
    border-radius: 30px;
    border: none;
    background-color: #f9e100;
}
@mixin background-img($url, $width, $height) {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url($url);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

* {
    font-family: "Sora";
}

.bgimage {
    @include background-img("../images/hero.webp", 100%, 700px);
    width: 100%;
    min-height: 700px;
}

.li-item:not(:first-child) {
    border-left: 1px solid rgb(26, 29, 35, 0.1);
    padding-left: 16px;
}

.li-item:not(:last-child) {
    border-right: 1px solid rgb(26, 29, 35, 0.1);
    padding-right: 16px;
}

.products {
    .container {
        .food-card {
            background-color: #f2f2f2;
            padding: 24px 16px;
            border-radius: 8px;
            height: 386px;
            width: 400px;
        }
    }
}

.products-img {
    width: 100%;
    min-height: 200px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("https://wallpapercave.com/wp/wp6557335.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    .products {
        .container {
            .class {
                .food-card {
                    padding: 10px 0;
                }
            }
        }
    }

    .details {
        .container {
            #img-items {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
