.todo {
  display: flex;
  align-items: center;
  background-color: #f5edee;
  border: 3px groove black;
  border-radius: 21px;
  box-shadow: -14px 11px 4px 0px rgba(0, 0, 0, 0.75);
  margin: 50px;
  padding: 20px;
  width: 300px;
}

.todo-section {
  background-color: #f5edee;
}

.todo-content {
  background-color: #f5edee;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
small {
  display: block;
  background-color: #f5edee;
  color: #888;
  font-size: 0.8rem;
}
.todo-section input {
  background-color: #f5edee;
  padding: 8px 5px;
  margin-bottom: 8px;
  font-size: 1rem;
  font-weight: bold;
}

.todo-actions {
  display: flex;
  padding-bottom: 45px;
  padding-left: 40px;
  background-color: #f5edee;
}

.io-ios-remove-circle,
.fa-check,
.fa-edit {
  background-color: #f5edee;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 0.5rem;
  color: black;
}

.io-ios-remove-circle:hover,
.fa-check:hover,
.fa-edit:hover {
  color: #c097e5;
  transition: 0.5s;
}
