.todo {
    display: flex;
    align-items: center;
    background-color: floralwhite;
    border: 2px solid brown;
    margin: 50px;
    padding: 20px;
    width: 300px;
 
}
.todo-content{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    
}
small{
    color: #888;
    font-size: 0.8rem;
    margin-top: 1rem;
}
.todo-actions{
    display: flex;
    flex-direction: row;
}
/* .io-ios-remove-circle{
    margin-right: 12px;
    font-size: 1.5rem;
    margin-left: 1rem;
} */
.io-ios-remove-circle, .fa-check, .fa-edit {
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 0.5rem;
  color: brown;
}