body {
  background-color: #000000;
  font-family: "Tajawal", sans-serif;

}
.home {
  height: 90vh;
  position: relative;
}
.sideBar {
  background: #3b3b3f;
  width: 12rem;
  height: 108vh;
  position: absolute;
  top: -60px;
  right: 0;
  z-index: -10;
}
.sliderBar {
  height: 5rem;
}
