@keyframes wavy-motion {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 40.313rem;
    }
}
@keyframes animate-img-circle {
    0% {
        top: -1.25rem;
        left: -1.25rem;
    }
    50% {
        top: -1.25rem;
        left: 1.25rem;
        border-color: $main-text-color;
    }
    100% {
        top: -1.25rem;
        left: -1.25rem;
    }
}
@keyframes animate-img-circle-2 {
    0% {
        top: -4.375rem;
    }
    100% {
        top: 0.625rem;
        border-color: $main-text-color;
    }
}
@keyframes coming-link {
    0% {
        transform: translateY(0);
        color: #de4c4c;
    }
    50% {
        transform: translateY(-10px);
        color: #6ede4c;
    }
    100% {
        transform: translateY(0);
        color: #4c53de;
    }
}
@keyframes buttonHover {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes animation-review {
    0% {
        box-shadow: 0 0 10px 0 rgba(255, 191, 71, 0.8);
    }
    50% {
        box-shadow: 0 0 20px 10px rgba(255, 191, 71, 0.6);
    }
    100% {
        box-shadow: 0 0 10px 0 rgba(255, 191, 71, 0.8);
    }
}
