// Colors
$main-text-color: #b35845;
$main-hover-color: #b33c24;
$background-color-left: #a49a99;
$background-color-right: #252525;

// Fonts
$main-font: "Poppins", sans-serif;
$main-font-size: 1rem;
$main-font-weight: 100;
$main-line-height: 1;
