$x100: 100px;
$x80: 80px;
$x60: 60px;
$x30: 30px;
$x20: 30px;
// colors
$primary: #3089fc;
$colorGrey: #e9ecef;
$colorBlack: #000;
$colorStar: #f89d13;
$colorStarGray: #6c757d;
$colorWhite: #f8f9fa;
$footerPrimary: #3333;
$footerSecondary: #737373;
$colorGraySecondary: #4D4D4D;

//Font Size
$fontExtraSmall: 0.7rem;
$fontSizeSmall: 0.8rem;
$defaultSize: 1rem;
$fontSizeMedium: 1.2rem;
$fontSizeLarge: 1.5rem;
$fontSizeExtraLarge: 2rem;
$fontSizeExtraExtraLarge: 3rem;
