.container {
    display: flex;
  }
  .container:hover {
    background-color: rgb(139, 139, 139);
  }
  .container .box1, .container .box3 {
    background-color: red;
    width: 150px;
    height: 100px;
  }
  .container .box2 {
    background-color: blue;
    width: 100px;
    height: 100px;
  }
  .container .box3 {
    width: 300px;
  }
  .container .box4 {
    background-color: green;
    width: 150px;
    height: 400px;
  }
  .container .box4.deneme {
    background-color: yellow;
  }