@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  width: 100%;
}

.header {
  position: relative;
  background-color: #f9f2ff;
  height: 100vh;
  z-index: 1;
}
.header .hero {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  margin-top: 4rem;
}
.header .hero .hero-left h2 {
  font-size: 2.8rem;
}
.header .hero .hero-left p {
  margin-top: 2rem;
}
.header .hero .hero-left button {
  margin-top: 2rem;
  padding: 1.2rem 2rem;
  background: linear-gradient(to right, #ff5195, #ffb84b);
  color: #fff;
  border: none;
  border-radius: 4px;
}
.header .hero .hero-right {
  position: relative;
}
.header .hero .hero-right .hero-main-img img {
  width: 100%;
}
.header .hero .hero-right .img-first img {
  position: absolute;
  top: 0;
  right: 0;
  animation: hero-animate 6s;
}
.header .hero .shape-1 {
  position: absolute;
  background-repeat: no-repeat;
  z-index: -1;
  right: 0;
  top: 0;
}
.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}
.header .navbar .check-btn {
  display: none;
}
.header .navbar #checkbox {
  display: none;
}
.header .navbar .logo img {
  width: 250px;
}
.header .navbar .navbar-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
}
.header .navbar .navbar-items .navbar-item {
  position: relative;
}
.header .navbar .navbar-items .navbar-item a {
  color: #000;
  margin-right: 0.3rem;
}
.header .navbar .navbar-items .navbar-item .dropdown {
  position: absolute;
  background: #fff;
  width: 12rem;
  right: -50px;
  border: 1px solid #fff;
  font-weight: 300;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  background: linear-gradient(to right, #ff5195, #ffb84b);
}
.header .navbar .navbar-items .navbar-item .dropdown .dropdown-item {
  background: linear-gradient(to right, #ff5195, #ffb84b);
  padding: 0.1rem 0.5rem;
  line-height: 2rem;
  border-bottom: 1px solid #ccc;
  transition: all 0.2s ease;
}
.header .navbar .navbar-items .navbar-item .dropdown .dropdown-item a {
  font-size: 0.8rem;
}
.header .navbar .navbar-items .navbar-item .dropdown .dropdown-item:hover {
  padding: 0 1rem;
  background: #fff;
}
.header .navbar .navbar-items .navbar-item .dropdown .dropdown-item:hover a {
  color: #fd4372;
}
.header .navbar .navbar-items .navbar-btn a {
  padding: 1.2rem 1rem;
  background: linear-gradient(to right, #ff5195, #ffb84b);
  color: #fff;
  border-radius: 4px;
  font-weight: 600;
}
.header .navbar .navbar-items #first-dropdown:hover .dropdown, .header .navbar .navbar-items #fourth-dropdown:hover .dropdown, .header .navbar .navbar-items #third-dropdown:hover .dropdown, .header .navbar .navbar-items #second-dropdown:hover .dropdown {
  padding: 0.5rem;
  visibility: visible;
  opacity: 1;
}
.header .navbar .navbar-items #first-dropdown:hover .dropdown .dropdown-item, .header .navbar .navbar-items #fourth-dropdown:hover .dropdown .dropdown-item, .header .navbar .navbar-items #third-dropdown:hover .dropdown .dropdown-item, .header .navbar .navbar-items #second-dropdown:hover .dropdown .dropdown-item {
  height: max-content;
}
.header .navbar .navbar-items #first-dropdown:hover .dropdown a, .header .navbar .navbar-items #fourth-dropdown:hover .dropdown a, .header .navbar .navbar-items #third-dropdown:hover .dropdown a, .header .navbar .navbar-items #second-dropdown:hover .dropdown a {
  display: block;
}
.header .navbar .navbar-items #second-dropdown #inline-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.header .navbar .navbar-items #second-dropdown #inline-dropdown .inline-dropdown-list {
  position: absolute;
  right: -100%;
  background: linear-gradient(to right, #ff5195, #ffb84b);
  width: 100%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  padding: 0.5rem;
}
.header .navbar .navbar-items #second-dropdown #inline-dropdown .inline-dropdown-list li:hover {
  background: #fff;
}
.header .navbar .navbar-items #second-dropdown #inline-dropdown .inline-dropdown-list li:hover a {
  color: #fd4372;
  padding: 0.4rem;
  transition: 0.2s ease-in-out;
}
.header .navbar .navbar-items #second-dropdown #inline-dropdown .inline-dropdown-list a {
  color: #fff;
}
.header .navbar .navbar-items #second-dropdown #inline-dropdown:hover .inline-dropdown-list {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
