@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
    font-family: "Chivo",sans-serif;
    line-height: 1.6;
    font-size: 1.6rem;
    color: #000;
}
a {
  color: #000;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
ul {
  list-style-type: none;
}
img {
  width: 100%;
  border-radius: 5px;
}
.container {
  width: 1260px;
  margin: 0 auto;
}
.display-none{
    display: none;
}
.display-block{
    display: block;
}
h1,h2,h3,h4,h5,h6,p{
  line-height: normal;
}

/* Flex */
.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-wrap{
    flex-wrap: wrap;
}
.column-gap {
  column-gap: 20px;
}
.align-items-start{
  align-items: flex-start;
}
.col-2{
    flex: 45%;
}
.col-3{
    flex: 30%;
}
.col-4{
    flex: 20%;
}
/* grid */
.grid{
    display: grid;
}
/* cards */
.card {
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
  margin: 20px;
  border-radius: 5px;
  transition: all 1s;
}
.card-body {
  padding: 40px 20px;
  transition: all 1s;
}
.card:hover {
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, 1);
}

/* buttons */
.btn {
  padding: 8px 25px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  font-size: 1.7rem;
  border: none;
  color: #fff;
  background: rgba(0 ,109, 119,1);
  font-family: inherit;
  border: 1px solid rgba(0 ,109, 119,1);
  transition: all 1s;
}
.btn-block{
  display: block;
  width: 100%;
}
.btn-outline-gray {
  background: gray;
  color: black;
}

.btn:hover {
    background: rgba(0,0,0,1);
    color: #fff;
}

.active {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.1);
}
.supTitle {
  font-size: 4rem;
  margin: 50px 0 50px 0;
}
.title {
  font-size: 3rem;
  margin-bottom: 15px;
}
.subTitle {
  font-size: 1.8rem;
  margin: 15px 0;
}
.paragraph {
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-bottom: 24px;
}
.box-shadow {
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.5);
}
.content {
  width: 65%;
  margin: 0 auto;
  padding: 50px;
}
.p-100 {
  padding: 100px 0;
}
.p-50 {
  padding: 50px;
}
.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}
.icon {
    background: rgba(0 ,0, 0,.1);
    font-size: 20px;
    padding: 16px;
    border-radius: 50%;
}
.price {
  font-weight: bold;
  font-size: 20px;
}
.title-font {
  font-size: 36px;
  font-weight: 700;
}
.badge{
  background-color: rgba(0 ,109, 119,1);
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 1rem;
  margin: 20px 0;
}