@import '../../app/globals.sass'

$primary: #00000099 // alt yazı için
$secondary: #F2F0F1
$danger: #000000
$light: #fff
$warning: #cbc8c9

.footerArea
    font-family: "satoshi"
    margin-top: 170px
    height: 499px
    background-color: $secondary
    html.dark & 
        background-color: $danger
        color: $light
    a
        text-decoration: none

.footerContain
    position: relative

.footerBrand
    font-family: "Integral CF Bold"
    font-size: 33.45px
    font-weight: 700
    line-height: 40.15px
    text-align: left

.footerDescription
    color: $primary
    font-family: Satoshi
    font-size: 14px
    font-weight: 400
    line-height: 22px
    text-align: left
    padding-right: 55px

.footerTitle
    font-family: "Integral CF Bold"
    color: $light
    html.dark & 
        color: $danger

.subscribeArea
    position: absolute
    left: 50%
    transform: translateX(-50%)
    top: -140px
    border-radius: 20px
    width: 1240px
    height: 180px
    background-color: $danger
    html.dark & 
        background-color: $danger
        color: $light

.gridArea
    padding-top: 80px
    border-bottom: 1px solid $warning
    h5 
        font-family: Satoshi
        font-size: 16px
        font-weight: 500
        line-height: 18px
        letter-spacing: 3px
        text-align: left


.liStyleFooter
    font-family: Satoshi
    font-size: 16px
    font-weight: 400
    a
        color: $primary

.subscribeBtn
    background-color: #fff
    color: $danger
    html.dark & 
        background-color: $danger
        color: $light


@media (max-width: 480px)
    .subscribeArea 
        width: 358px
        height: 293px
    .gridArea
        padding-top: 200px
    .footerArea
        height: auto