.blog {
  display: grid;
  grid-template-areas:
    "card1 card2"
    "card1 card3"
    "card1 card4";
}
.button {
  padding: 8px 26px;
  border: none;
  border-radius: 42px;
}
.button:hover {
  background-color: #202020;
  color: #ffb91f;
}
.card1 {
  grid-area: card1;
  border: 1px solid rgba(235, 235, 235, 1);
  width: 615px;
  border-radius: 10px;
}
.card2 {
  grid-area: card2;
  border-bottom: 1px solid rgba(235, 235, 235, 1);
  width: 500px;
}
.card3 {
  grid-area: card3;
  border-bottom: 1px solid rgba(235, 235, 235, 1);
  width: 500px;
}
.card4 {
  grid-area: card4;
  width: 500px;
}
.card-image {
  width: 615px;
  height: 355px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-content {
  padding: 20px;
}
#support {
  background-image: url("./images/home-about.jpg");
  height: 600px;
}
.icon {
  width: 70px;
  height: 70px;
}
.icon-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.brand-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.newsletter-btn {
  background-color: #202020;
  color: white;
  border-radius: 50px;
  padding: 10px;
}
.newsletter-btn:hover {
  background-color: #ffb91f;
  color: #202020;
}
.input {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
}
.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(24, 24, 24, 1);
  width: 500px;
  height: 50px;
  padding: 15px 5px 15px 15px;
  border-radius: 50px;
}
#newsletter {
  height: 150px;
  display: flex;
  align-items: center;
}
.newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#copyright {
  background-color: #000;
  height: 70px;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(24, 24, 24, 1);
}
.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer {
  background-color: #000;
  color: #fff;
  padding: 80px 0;
}
.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
ul {
  list-style-type: none;
}
li {
  margin-bottom: 20px;
}
li:hover {
  color: #ffb91f;
}
.footer-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
