$max-width:1240px;
$color-blue: #2F89FC;
$color-darkBlue: #006eff;
$color-black: black;
$color-lowBlack: rgba(0,0,0,.1);
$color-danger: crimson;
$color-light: rgba(255,255,255,.8);
$color-lowLight: rgba(255,255,255,.2);
$color-white: white;
$color-orange: #f89d13;
$font-size: 10px;