
*{ margin: 0; padding: 0; box-sizing: border-box; } 

.box{ height: 50px; width: 250px; margin: 10px; background-color: aquamarine; } 

.header{ width: 250px; } 

.footer{ width:250px;}

.nav{ height: 200px; width: 100px; float: left; } 

.main{ float: left; height: 200px; } 

.clear{ clear: both; }