* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* home */

#home {
    width: 100%;
    height: 130vh;
    background: linear-gradient(to bottom, #4A00E0, #8E2DE2);
}

#home .top {
    height: 80px;
    border-bottom: 1px solid rgb(128, 128, 128);
    position: relative;
    font-weight: bold;
}

#home .top .logo {
    position: absolute;
    left: 15%;
    top: 32%;
}

#home .top .logo img {
    width: 115px;
    height: 32px;
}

#home .top .logo:hover {
    cursor: pointer;
    border-bottom: 1px solid rgb(170, 170, 170);
}

#home .top .nav-items {
    position: absolute;
    right: 5%;
    top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 60%;
    font-size: 24px;
    color: white;
}

#home .top .nav-items .select svg {
    padding-top: 8px;
}

#home .top .nav-items .login button {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    padding: 5px 50px;
    color: white;
    background-color: #032055;
    border: none;
    font-size: 20px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

#home .top .nav-items>div:hover {
    cursor: pointer;
    color: rgb(189, 197, 203);
}

#home .top .nav-items button:hover {
    cursor: pointer;
    background-color: #8E2DE2;
}

#home .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    gap: 6.5rem;

    color: white;
    width: 70%;
    margin-left: 15%;
}

#home .bottom .left h1 {
    font-size: 55px;
    margin-bottom: 15px;
}

#home .bottom .left p {
    margin-bottom: 5px;
    font-size: 18px;
    white-space: nowrap;
}

#home .bottom .left .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    position: relative;
}

#home .bottom .left .flex input {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    padding: 15px 30px;
    border: none;
    outline: none;
    color: white;
    background-color: #032055;
}

#home .bottom .left .flex input::placeholder {
    color: rgb(228, 228, 228);
    font-size: 16px;
}

#home .bottom .left .flex button {
    width: 32%;
    height: 45px;
    border-radius: 50px;
    padding: 15px 25px;
    border: none;
    background-color: #8E2DE2;
    color: white;
    font-size: 16px;
    position: absolute;
    right: 3px;
    top: 0.5px;
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .bottom .left .flex button:hover {
    cursor: pointer;
    background-color: #7418c6;
}

#home .bottom .left .flex div {
    width: 10.5%;
    height: 55px;
    border-radius: 50px;
    padding: 15px;
    border: none;
    background-color: #032055;
    color: white;
    font-size: 16px;
    position: absolute;
    right: -70px;
    top: -4px;
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .bottom .left .flex div svg {
    width: 23px;
    height: 23px;
}

#home .bottom .left .flex div:hover {
    cursor: pointer;
    background-color: rgb(3, 41, 110);
}

#home .bottom .right img {
    width: 500px;
    height: 450px;
}

/* divs-in-the-middle */

#divs-in-the-middle {
    width: 70%;
    margin-left: 15%;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

    position: absolute;
    top: 640px;
    color: white;
}

#divs-in-the-middle>div {
    width: 35%;
    height: 380px;
    background-color: #032055;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 15px 35px 15px;
}

#divs-in-the-middle>div:hover {
    margin-bottom: 15px;
    transition: 0.4s ease-in;
}

#divs-in-the-middle>div img {
    width: 120px;
    height: 110px;
    margin-bottom: 8px;
}

#divs-in-the-middle>div h2 {
    font-size: 40px;
    margin-bottom: 8px;
}

#divs-in-the-middle>div h3 {
    font-size: 24px;
    margin-bottom: 8px;
}

#divs-in-the-middle>div p {
    color: rgb(228, 228, 228);
}

/* about */

#about {
    width: 100%;
    height: 170vh;
    background-color: #001232;
}

#about .top {
    width: 70%;
    margin-left: 15%;
    position: absolute;
    top: 1250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#about .top h2 {
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
}

#about .top p {
    font-size: 16px;
    color: rgb(228, 228, 228);
}

#about .bottom {
    height: 100%;
    width: 70%;
    margin-left: 15%;
    position: absolute;
    top: 1400px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

#about .bottom .left {
    width: 40%;
    height: 80%;
}

#about .bottom .left img {
    width: 480px;
    height: 450px;
}

#about .bottom .right {
    width: 100%;
    height: 80%;
}

#about .bottom .right .right-top {
    margin-left: 25px;
}

#about .bottom .right .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#about .bottom .right h3 {
    color: white;
    font-size: 24px;
    margin: 20px 0;
}

#about .bottom .right p {
    font-size: 16px;
    color: rgb(228, 228, 228);
    margin-bottom: 15px;
}

#about .bottom .right img {
    width: 90px;
    height: 90px;
}

#about .bottom .right h4 {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 15px;
}

/* why-choose-us */

#why-choose-us {
    width: 100%;
    height: 140vh;
    background-color: #032055;
}

#why-choose-us .top {
    width: 70%;
    margin-left: 15%;
    padding-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#why-choose-us .top h2 {
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
}

#why-choose-us .top p {
    font-size: 16px;
    color: rgb(228, 228, 228);
    margin-bottom: 70px;
}

#why-choose-us .middle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    color: white;
    font-weight: bold;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 30px;
}

#why-choose-us .middle img {
    width: 115px;
    height: 110px;
    margin-bottom: 5px;
}

#why-choose-us .middle img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s ease-in;
}

#why-choose-us .middle p {
    font-size: 18px;
}

#why-choose-us .middle p:hover {
    cursor: pointer;
}

#why-choose-us .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 70%;
    margin-left: 15%;

    border-radius: 10px;
    box-shadow: 0px 0px 10px #4e3b7b;
    padding: 30px 15px;
}

#why-choose-us .bottom .left img {
    width: 420px;
    height: 350px;
}

#why-choose-us .bottom .right {
    width: 100%;
}

#why-choose-us .bottom .right h3 {
    color: white;
    font-size: 34px;
    margin-bottom: 20px;
}

#why-choose-us .bottom .right p {
    font-size: 16px;
    color: rgb(228, 228, 228);
}

/* investment-plans */

#investment-plans {
    width: 100%;
    height: 115vh;
    background-color: #001232;
}

#investment-plans .top {
    width: 70%;
    margin-left: 15%;
    padding-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#investment-plans .top h2 {
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
}

#investment-plans .top p {
    font-size: 16px;
    color: rgb(228, 228, 228);
    margin-bottom: 40px;
}

#investment-plans .middle {
    width: 70%;
    margin-left: 15%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: white;
}

#investment-plans .middle div {
    width: 60px;
    height: 40px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px #4e3b7b;
    padding: 25px 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#investment-plans .middle div:nth-child(1) {
    /* daily */
    background-color: #7418c6;
}

#investment-plans .middle div:hover {
    cursor: pointer;
    background-color: #7418c6;
}

#investment-plans .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    width: 70%;
    margin-left: 15%;
    margin-top: 15px;
}

#investment-plans .bottom div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #032055;

    width: 350px;
    height: 100%;
}

#investment-plans .bottom div h3 {
    color: white;
    font-size: 20px;
    padding: 20px 0;
}

#investment-plans .bottom div img {
    width: 280px;
    height: 70px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#investment-plans .bottom div p {
    font-size: 16px;
    color: rgb(228, 228, 228);
    margin-bottom: 20px;
}

#investment-plans .bottom div button {
    width: 120px;
    height: 50px;
    background-color: #7418c6;
    color: white;
    border: none;
    border-radius: 50px;
    margin-bottom: 40px;
}

#investment-plans .bottom div button:hover {
    cursor: pointer;
    background-color: #4A00E0;
}

/* how-does-it-works */

#how-does-it-works {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #4A00E0, #8E2DE2);
}

#how-does-it-works .top {
    width: 70%;
    margin-left: 15%;
    padding-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#how-does-it-works .top h2 {
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
}

#how-does-it-works .top p {
    font-size: 16px;
    color: rgb(228, 228, 228);
    margin-bottom: 40px;
}

#how-does-it-works .bottom {
    width: 70%;
    margin-left: 15%;
    height: 350px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    color: white;
}

#how-does-it-works .bottom>div {
    width: 35%;
    height: 320px;
    background-color: #032055;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 15px 15px 15px;
}

#how-does-it-works .bottom>div:hover {
    margin-bottom: 15px;
    transition: 0.4s ease-in;
}

#how-does-it-works .bottom>div img {
    width: 120px;
    height: 110px;
    margin-bottom: 8px;
}

#how-does-it-works .bottom>div h3 {
    font-size: 24px;
    margin-bottom: 8px;
}

#how-does-it-works .bottom>div p {
    color: rgb(228, 228, 228);
}

/* start-investment */

#start-investment {
    width: 100%;
    height: 195vh;
    background-color: #032055;
}

#start-investment .top {
    width: 70%;
    margin-left: 15%;
    padding-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#start-investment .top h2 {
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
}

#start-investment .top p {
    font-size: 16px;
    color: rgb(228, 228, 228);
    margin-bottom: 40px;
}

#start-investment .middle {
    width: 70%;
    margin-left: 15%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: white;
    margin-bottom: 20px;
}

#start-investment .middle div {
    width: 180px;
    height: 40px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px #4e3b7b;
    padding: 25px 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#start-investment .middle div:nth-child(1) {
    /* all bets */
    background-color: #7418c6;
}

#start-investment .middle div:hover {
    cursor: pointer;
    background-color: #7418c6;
}

#start-investment .bottom {
    width: 70%;
    margin-left: 15%;
    background-color: #001232;
}

#start-investment .bottom .bottom-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
    padding: 30px;
    box-shadow: 0 2px 2px -2px rgb(200, 200, 200);
    position: relative;
}

#start-investment .bottom .bottom-top div {
    position: absolute;
}

#start-investment .bottom .bottom-top div:nth-child(1) {
    left: 58px;
}

#start-investment .bottom .bottom-top div:nth-child(2) {
    left: 332px;
}

#start-investment .bottom .bottom-top div:nth-child(3) {
    right: 386px;
}

#start-investment .bottom .bottom-top div:nth-child(4) {
    right: 170px;
}

#start-investment .bottom .bottom-bottom .flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10rem;
    color: white;
    font-weight: bold;
    height: 80px;
    padding: 0 50px;
    box-shadow: 0 2px 2px -2px rgb(200, 200, 200);
    margin-top: 1px;
}

#start-investment .bottom .bottom-bottom .flex:last-child {
    box-shadow: none;
}

#start-investment .bottom .bottom-bottom .flex:hover {
    background-color: rgb(2, 28, 77)
}

#start-investment .bottom .bottom-bottom .flex .div-with-image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#start-investment .bottom .bottom-bottom .flex .price {
    color: #045cf0;
}

#start-investment .bottom .bottom-bottom .flex .currency {
    color: #f0ad4e;
}

/* better-experiences */

#better-experiences {
    width: 100%;
    height: 35vh;
    background: linear-gradient(to bottom, #4A00E0, #8E2DE2);
}

#better-experiences .container {
    width: 70%;
    margin-left: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#better-experiences .container h2 {
    color: white;
    font-size: 32px;
    line-height: 40px;
}

#better-experiences .container button {
    background-color: white;
    color: #8E2DE2;
    width: 160px;
    height: 50px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
}

#better-experiences .container button:hover {
    cursor: pointer;
    background-color: #8E2DE2;
    color: white;
    border: 1px solid white;
    transition: 0.4s ease-out;
}

/* latest-transaction */

#latest-transaction {
    width: 100%;
    height: 190vh;
    background-color: #032055;
}