$secondary: #f0f0f0;
$info: #777;
$dark: black;
$border-radius-pill: 62rem;
$h1-font-size: 64px;
$h2-font-size: 48px;
$h3-font-size: 40px;
$h4-font-size: 32px;
$h5-font-size: 24px;
$h6-font-size: 20px;
$pagination-color: #777;
$pagination-bg: white;

$pagination-hover-color: #777;
$pagination-hover-bg: #e0e0e0;
$pagination-hover-border-color: #777;

$pagination-active-color: secondary;
$pagination-active-bg: #e6e6e6;
$pagination-active-border-color: secondary;
$accordion-button-active-bg: white;
$nav-tabs-link-active-border-color: white white black white;
$nav-pills-link-active-color: black;
$nav-link-color: #777;
