.container {
    display: grid;
    height: 600px;
    background-color: aquamarine;
    gap: 5px;
    grid-template-areas:
    "header header header"
    "sidebar section section"
    "sidebar . ."
    "footer footer footer"
    "box-1 box-1 box-1";
}
.header {
    grid-area: header;
    background-color: blue;
    padding:  20px;
}
.section {
    grid-area: section;
    background-color:blueviolet;
    padding:  20px;
}
.sidebar {
    grid-area: sidebar;
    background-color:burlywood;
    padding:  20px;
}
.footer {
    grid-area: footer;
    background-color:chocolate;
    padding:  20px;
}
.bax-1 {
    grid-area: box-1;
    background-color:darkcyan;
    padding:  20px;
}