.box-square{
    width: 100%;
    height: 455px;
    padding: 50px 40px 0;
    border-radius: 16px;
}
.box_image_inner{
    border-radius: 16px;
    padding: 23px 15px;
}
.box_image_inner img{
    width: 430px;
    height: 380px;
    object-fit: cover;
}
.built_box_item{
    border-bottom: 1.5px solid #e4e7ec;
}
.built_box_item span img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.medium_info h3{line-height: 64px;}
.medium_info span{border-radius: 50px;}
.icon-leaf{
    background: url("https://agon-nextjs-13.vercel.app/_next/static/media/icon-leaf.f2afd49a.svg") no-repeat 0 2px;
    padding: 0 0 0 28px;
}
.line_of_sight{border: 1px dashed #006d77;}
.inner_image{position: relative;}
.block_image_bottom{
    position: absolute;
    bottom: -80px;
    right: -100px;
    width: 313px;
}
.inner_image img{
    width: 450px;
    height: 550px;
    object-fit: cover;
    border-radius: 16px;
}
.block_image_bottom img{
    width: 250px;
    height: 270px;
    object-fit: cover;
}
.happy_section{border-radius: 58px;}
.card_item{
    padding: 53px 48px;
    background-color: white;
    border-radius: 16px;
    box-shadow: inset 0 40px 80px #fcfcfc;
}
.card_item p{line-height: 20px;}
.img_user img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
}