* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  color: black;
}
.container {
  width: 1140px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.f-direction-column {
  flex-direction: column;
}
.jc-center {
  justify-content: center;
}
.jc-sbetween {
  justify-content: space-between;
}
.ai-center {
  align-items: center;
}
.ai-start {
  align-items: flex-start;
}
.text-center {
  text-align: center;
}
.btn {
  color: white;
  background: linear-gradient(to right, #ff5195, #ffb84b);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1rem;
}
.btn1 {
  padding: 16px 25px;
}
.btn-view {
  margin-bottom: 6px;
  padding: 16px 46px;
}
.section-pos-bg{
  background: #fffcfa;
}
