body{
    display:flex;
    height:100 vh;
    background-color: rgb(247, 247, 247);
    align-items: center;
    justify-content: center;

}
.box{
    width: 100px;
    height: 100px;
    transition:background-color 1s,width .5s ease-in-out;
    background-color: blue;
}

.box:hover{
    background-color: aqua;
    width:200 px;
   
} 
@keyframes animasyon-deneme{
    0%   {
        transform:translatex(0px);
        background-color: brown;
    }
    90%
    {
        transform:translatex(0px);
        background-color: rgb(123, 204, 48);
    }
}