$main-color: #0c7f86;
$main-body-color: #084b4f;
$main-font: "Poppins", sans-serif;
$font-size: 16px;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
  color: $main-color;
  line-height: 30px;
}
a {
  text-decoration: none;
}
@mixin circle($width, $height, $border) {
  border-radius: 50%;
  border: $border solid;
  width: $width;
  height: $height;
}
.page {
  height: 100vh;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 100px;
    height: 100%;
    .container-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      gap: 50px;
      flex: 2;
      h1 {
        font-size: $font-size * 7.5;
        line-height: 120px;
      }
      .wave {
        background-image: url("../images/wavy-shape.png");
        height: 20px;
        width: 100%;
        background-size: 645px 20px;
        background-repeat: repeat-x;
        animation: wave-animation 15s linear infinite;
      }
      p {
        color: $main-color;
        font-size: $font-size * 2;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 30px;
      }
      form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        input {
          flex-grow: 1;
          padding: 25px 24px;
          border-radius: 10px;
          border: none;
          box-shadow: 0px 0px 30px 7px #0c7f8640;
          font-size: $font-size * 1.125;
          &:focus {
            outline: none;
            border: 1px solid #084b4f;
          }
        }
        button {
          padding: 25px 24px;
          border-radius: 10px;
          font-size: $font-size;
          font-weight: 600;
          line-height: 19px;
          letter-spacing: 4px;
          background-color: $main-color;
          color: #fff;
          border: none;
          cursor: pointer;
          &:hover {
            background-color: $main-body-color;
          }
        }
      }
    }
    .container-right {
      display: flex;
      flex-direction: column;
      flex: 1;
      height: 100%;
      justify-content: center;
      gap: 30px;
      * {
        color: $main-body-color;
      }
      .profile-photo {
        position: relative;
        width: 350px;
        .circle {
          @include circle(350px, 350px, 2px);
          border: 2px solid;
          z-index: 10;
          position: absolute;
          top: -15px;
          animation: animasyon-deneme 10s infinite ease-in-out;
        }
      }
      h4 {
        font-size: $font-size * 2;
        font-weight: 600;
        line-height: 30px;
      }
      span {
        font-size: $font-size;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 5px;
      }
      .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        a {
          font-size: $font-size * 0.75;
          font-weight: 800;
          line-height: 30px;
          letter-spacing: 5px;
          &:hover {
            color: $main-color;
          }
        }
      }
      .big-circle {
        @include circle(700px, 700px, 1px);
        position: absolute;
        z-index: -1;
        animation: animasyon-deneme2 10s infinite ease-in-out;
      }
    }
  }
}
.bg-shape1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 40%;
  background-color: #e5fff9;
  z-index: -2;
}
.bg-shape2 {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60%;
  background-color: #b8e4da;
  z-index: -2;
}

@keyframes wave-animation {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 645px;
  }
}
@keyframes animasyon-deneme {
  0% {
    transform: translateX(-15px);
    border-color: white;
  }
  50% {
    transform: translateX(15px);
    border-color: $main-body-color;
  }
  100% {
    transform: translateX(-15px);
    border-color: white;
  }
}
@keyframes animasyon-deneme2 {
  0% {
    transform: translateY(-100px);
    border-color: white;
  }
  50% {
    transform: translateY(100px);
    border-color: $main-color;
  }
  100% {
    transform: translateY(-100px);
    border-color: white;
  }
}
