.new-arrivals {
  text-align: center;
  padding: 2rem 2rem 5rem 2rem;
  border-bottom: 1px solid #0000001a;

  .new-arrivals-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-family: "Integral CF Bold", sans-serif;
    text-align: center;
  }

  .products-container {
    display: grid !important;
    max-width: 1240px;
    height: 430px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    @media screen and (max-width: 768px) {
      overflow-y: scroll;
    }
  }

  .view-all-button {
    margin-top: 4rem;
    height: 52px;
    padding: 16px 54px;
    border-radius: 62px;
    border: 1px solid #0000001a;
    background-color: #fff;
    color: #000;
    font-family: "Satoshi", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}
