$primary-color: var(--text-color);
$secondary-color: var(--background-color);
.form {
  margin: 0 auto;
  width: 100%;
  max-width: 414px;
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
}

.formTitle {
  text-align: center;
  margin: 20px 0;
  color: var(--text-color);
}

.formInput {
  max-width: 100%;
  padding: 11px 13px;
  background: #f9f9fa;
  color: $primary-color;
  margin-bottom: 0.9rem;
  border-radius: 4px;
  outline: 0;
  border: 1px solid rgba(245, 245, 245, 0.7);
  font-size: 14px;
  transition: all 0.3s ease-out;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);

  &:focus,
  &:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15), 0 1px 5px rgba(0, 0, 0, 0.1);
  }
}

.formButton {
  max-width: 100%;
  padding: 11px 13px;
  color: $secondary-color;
  font-weight: 600;
  text-transform: uppercase;
  background: $primary-color;
  border: none;
  border-radius: 3px;
  outline: 0;
  cursor: pointer;
  margin-top: 0.6rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;

  &:hover {
    background: $primary-color;
  }
}