.banner-container {
    min-height: 663px;
    background-color: #F2F0F1;
    display: flex;
    align-items: flex-end;
    color: #000000;

    h1 {
        padding-top: 70px;
        margin-bottom: 15px;
        font-family: "Integral CF", sans-serif;
        font-weight: 700;
        font-size: 64px;
        line-height: 64px;
    }

    .banner-paragraph {
        margin-bottom: 25px;
        font-family: 'Satoshi', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }

    button {
        margin-bottom: 40px;
        width: 210px;
        height: 52px;
        border-radius: 62px;
        padding: 16px, 54px, 16px, 54px;
        font-family: 'Satoshi', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 21.6px;
    }

    .numbers {
        gap: 32px;

        h3 {
            font-family: 'Satoshi', sans-serif;
            font-weight: 700;
            font-size: 40px;
            line-height: 54px;
        }

        .numbers-paragraph {
            font-family: 'Satoshi', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
        }
    }
}

@media (max-width: 768px) {
    .banner-container {
        h1 {
            font-size: 36px;
            line-height: 34px;
        }

        .banner-paragraph {
            font-size: 14px;
            line-height: 20px;
        }

        button {
            width: 100%;
        }

        h3 {
            font-size: 24px;
            line-height: 32.4px;
        }

        .numbers-paragraph {
            font-size: 12px;
        }
    }
}