@import "./global.scss";
@mixin backgroundMixin($background, $br, $width, $height) {
    background: $background;
    border-radius: $br;
    width: $width;
    height: $height;
}
.extend-section {
    background-color: #FFFCFA;
    .container {
        .extend {
            @include hizalamaMixin(flex, row, start, center);
            .extend-text {
                @include paddingMixin(5rem, 0, 5rem, 5rem);
                h1 {
                    font-size: 36px;
                }
                p {
                    max-width: 450px;
                    margin-top: 2rem;
                    font-weight: 100;
              
                }
                hr {
                    margin-top: 2rem;
                    width: 38rem;
                    font-weight: 100;
                }
                ul {
                    padding-top: 3rem;
                    display: flex;
                    flex-wrap: wrap;
                    color: #696969;
                    gap: 3rem;
                    line-height: 3rem;
                    font-size: 16px;
                }
                button {
                    margin-top: 3rem;
                    padding: 16px 46px;
                    background: linear-gradient(to right, #ff5195, #ffb84b);
                    color: #fff;
                    font-size: 16px;
                    font-weight: 600;
                    border-radius: 5px;
                    border-style: none;
                    cursor: pointer;
                    &:hover {
                        transition: all 0.3s ease;
                        background: linear-gradient(to right, blue, red);
                    }
                }
            }
            .extend-img {
                padding-left: 5rem;
                img {
                    width: 550px;
                    height: 280px;
                }
                }
            }
        }
    }
.perfect-section {
    .container {
        .perfect-software {
            @include hizalamaMixin(flex, column, center, center);
            .perfect-header {
                @include hizalamaMixin(flex, column, center, center);
                padding-top: 5rem;
                h1 {
                    font-size: 36px;
                }
                p {
                    padding-top: 2rem;
                    max-width: 600px;
                    text-align: center;
                    
                }
            }
            .perfect-cards {
                @include hizalamaMixin(flex, row, center, center);
                gap: 3rem;
                .card {
                    @include hizalamaMixin(flex, column, start, center);
                    text-align: center;
                    max-width: 450px;
                    max-height: 375px;
                    padding: 70px 40px;
                    gap: 2rem;
                    &:hover {
                        box-shadow: 0px 5px 0px 5px rgba(223, 222, 222, 0.1);
                    }
                    }
                    &::after {
                        position: absolute;
                        content: "";
                        width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    transition: transform 0.3s ease-in-out;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    background: linear-gradient(to left, #f9769d, #bb6df7);
                    }
                    
                   
                    .background-img-upload {
                        @include hizalamaMixin(flex, none, center, center);
                        @include backgroundMixin(linear-gradient(to top, #f9769d, #bb6df7), 50%, 80px, 80px);
                        
                        &::before {
                            content:"";
                            width: 90px;
                            height: 90px; 
                            opacity: 0.2;
                            border-radius: 50%;
                            left: 213px;
                            margin-top: 90px;
                            display: inline-block;
                            z-index: -1;
                            background-color: #bb6df7;
                            transform: translate(-50%, -50%);
                            position: absolute;

                        }
                        &::after {
                            width: 105px;
                            height: 105px;
                            opacity: 0.09;
                            display: inline-block;
                            
                            left: 213px;
                            margin-top: 106px;
                            transform: translate(-50%, -50%);
                            border-radius: 50%;
                            z-index: -1;
                            background-color: #bb6df7;
                            position: absolute;
                            content: "";
                        }
                        
                        
                    }
                    .background-img-customize {
                        @include hizalamaMixin(flex, none, center, center);
                        @include backgroundMixin(linear-gradient(to top, #fd77b4, #ffbae7), 50%, 80px, 80px); 
                    }
                    .background-img-connect {
                        @include hizalamaMixin(flex, none, center, center);
                        @include backgroundMixin(linear-gradient(to top, #d17fff, #9982ff), 50%, 80px, 80px); 
                    }
                    
                }
            }
        }
    }
    .powers-section {
        .container {
            .powers-pos {
                background-color: #FFFEF6;
                padding-bottom: 5rem;
                .powers-header {
                    @include hizalamaMixin(flex, column, start, center) ;
                    padding-top: 6rem;
                    h1 {
                        font-size: 36px;
                        margin-bottom: 2rem;
                    }
                    p {
                        max-width: 650px;
                        text-align: center;
                        
                    }
                    
                }
                .powers-cards {
                    @include hizalamaMixin(flex, row, center, start);
                    gap: 2rem;
                    margin-top: 5rem;
                    .power-card {
                    background-color: #fff;
                    width: 400px;
                    height: 360px;
                    padding: 30px 10px;
                    hr {
                        border: 1px solid #fff5f3
                    }
                    .power-card-header {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        margin-bottom: 3rem;
                        .profile-img {
                            img {
                            border-radius: 50%;
                            }
                        }
                    }
                    .power-card-text {
                        padding-top: 2rem;
                        padding-bottom: 2rem;
                    }
                    }
                    .quotes {
                        padding-left: 20rem;
                    }
            }
        }
    }
}
.logo-page {
    .container{
        .sponsor-logo {
            @include hizalamaMixin(flex, row, center, start);
            gap: 7rem;
            padding-top: 75px;
            padding-bottom: 95px;
            
        }
    }
}