@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
* {
  font-family: "Nanum Gothic", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$blueColor: #0974fb;

$lightBlueColor: #2f89fc;
$grayColor: #e9ecef;
$blackColor: #333333;
$whiteColor: #fff;
$darkgrayColor: rgba(0, 0, 0, 0.5);
$brad5: 5px;
.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url("../images/hero_2.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 650px;
  color: $whiteColor;
  padding-top: 1.5rem;
  .logo {
    font-weight: 900;
    font-size: 20px;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    .title {
      font-size: 32px;
    }
    .title-content {
      font-size: 19px;
      line-height: 30px;
    }
    .label-area {
      background: rgba(255, 255, 255, 0.8);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      border-radius: $brad5;
      margin-bottom: 20px;
      & input,
      select {
        min-width: 305px;
        height: 55px;
        border: none;
        border-radius: $brad5;
        font-size: 1rem;
        padding: 6px 12px;
        margin-bottom: 20px;
      }
      & button {
        background-color: $blueColor;
        color: $whiteColor;
        height: 45px;
        min-width: 305px;
        border: none;
        border-radius: $brad5;
        font-size: 1rem;
        padding: 6px 12px;
      }
    }
  }
  & button {
    padding: 5px 10px;
    border-radius: $brad5;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.2);
    color: $whiteColor;
    border: 1px solid $whiteColor;
    font-size: 0.8rem;
  }
}
#featured-ads {
  margin-top: 50px;
  min-height: 650px;
  h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .arrows {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    gap: 50px;
    .arrow {
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
    }
    .right {
      transform: rotate(-45deg);
    }
    .left {
      transform: rotate(135deg);
    }
  }
  .card {
    box-shadow: -3px 3px 24px -5px rgba(0, 0, 0, 0.57);
    border-radius: $brad5;
    img {
      width: 100%;
    }
    .card-content {
      padding: 20px;
      & button {
        background-color: $grayColor;
        border-radius: 50px;
        padding: 8px 20px;
        font-size: 11px;
        font-weight: 600;
        margin-bottom: 20px;
        border: none;
      }
      .own-new {
        color: $blueColor;
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: 500;
      }
      .adres {
        font-size: 13px;
      }
      .star-rating {
        margin-top: 20px;
        .rating {
          label {
            color: orange;
            font-size: 20px;
          }
          span {
            font-size: 13px;
          }
        }
      }
    }
  }
}
#popular-categories {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
    h2{
        font-size: 32px;
        color: $blueColor;
        margin-bottom: 15px;
    }
    p {
      font-size: 16px;
      color: $darkgrayColor;
    }
    .items {
      margin-top: 20px;
      .item{
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: $brad5;
        transition: .3s all ease-in-out;
        i {
          color: $lightBlueColor;
          margin-top: 25px;
          margin-bottom: 25px;
        }
        &:hover {
          background-color: $lightBlueColor;
          color: $whiteColor;
          transform: scale(1.09);
          i{
            color: $whiteColor;
          }
          .title {
            color: $whiteColor;
          }
          .number {
            background-color: $blueColor;
            color: $whiteColor;
          }
        }
        .title {
          font-size: 15px;
          color: #737373;
        }
        .number {
          background-color: $grayColor;
          border-radius: 50px;
          padding: 8px 20px;
          font-size: 11px;
          font-weight: 600;
          margin-bottom: 20px;
          border: none;
          margin-top: 10px;
        }
      }
    }
}
#trending-today {
  h2 {
    font-size: 32px;
    color: $blueColor;
    margin-bottom: 50px;
  }
  .cards {
    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      box-shadow: -3px 3px 24px -5px rgba(0, 0, 0, 0.57);
      border-radius: $brad5;
      margin-bottom: 30px;
      img {
        width: 100%;
      }
      .card-content {
        padding: 20px;
        & button {
          background-color: $grayColor;
          border-radius: 50px;
          padding: 8px 20px;
          font-size: 11px;
          font-weight: 600;
          margin-bottom: 20px;
          border: none;
        }
        .own-new {
          color: $blueColor;
          font-size: 16px;
          margin-bottom: 10px;
          font-weight: 500;
        }
        .adres {
          font-size: 13px;
        }
        .star-rating {
          margin-top: 20px;
          .rating {
            label {
              color: orange;
              font-size: 20px;
            }
            span {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
#testimonials {
  position: relative;
  h2 {
    font-size: 32px;
    color: $lightBlueColor;
    text-align: center;
    margin-top: 100px;
  }
  .testimonials {
    .testimonial {
      .resim {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        img {
          border-radius: 50%;
          width: 100px;
        }
        p {
          font-size: 16px;
        }
      }
      p {
        width: 100%;
        margin-block-start: 1em;
        margin-block-end: 1em;
        color: #737373;
        font-size: 1.5rem;
        font-style: italic;
        text-align: center;
        font-weight: 400;
      }
    }
  }
  .dots {
    display: flex;
    justify-content: center;
    label {
      cursor: pointer;
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #ccc;
      margin: 0 5px;
      #slide1 {
        background-color: $blueColor;
      }
    }
    input[type="radio"] {
      display: none;
    }
  }
}
#our-blog {
  margin-top: 100px;
  h2 {
    font-size: 32px;
    color: $blueColor;
    text-align: center;
    margin-bottom: 10px;
  }
  .alt-title {
    font-size: 16px;
    color: $darkgrayColor;
    text-align: center;
    margin-bottom: 30px;
  }
  .btn {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    button {
      font-size: 16px;
      padding: 12px 24px;
      border: none;
      background-color: $lightBlueColor;
      color: $whiteColor;
      border-radius: $brad5;
    }
  }
  .blog-cards {
    min-height: 700px;
    margin-bottom: 100px;
    .card {
      margin-bottom: 50px;
      img {
        width: 100%;
        border-radius: 0.25rem;
        margin-bottom: 20px;
      }
      h2 {
        font-size: 20px;
        text-align: left;
        color: $blackColor;
        font-weight: 400;
      }
      .subtitle {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 15px;
        color: $darkgrayColor;
        span {
          margin-right: 5px;
        }
      }
      p {
        font-size: 16px;
        line-height: 1.7;
      }
    }
  }
}
#newsletter {
  min-height: 200px;
  background-color: $lightBlueColor;
  color: $whiteColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
    line-height: 1.7;
  }
  form {
    .form-control {
      outline: none;
      background-color: transparent;
      border: none;
      padding: 6px 12px 6px 0;
      border-bottom: 1px solid #fff;
      font-size: 1rem;
      width: 60%;
      &::placeholder {
        color: $whiteColor;
        font-style: italic;
      }
    }
    .btn-white {
      border: none;
      padding: 10px 16px;
      font-size: 1rem;
    }
  }
}
#about {
  min-height: 600px;
  background-color: $blackColor;
  color: $whiteColor;
  font-size: 16px;
  padding-top: 40px;
  h2 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  p {
    color: #737373;
    line-height: 1.7;
    margin-bottom: 20px;
  }
  ul {
    color: #737373;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 25px;
  }
  .social-links {
    margin-bottom: 10px;
    i {
      margin-right: 30px;
    }
  }
  form {
    .search {
      background-color: transparent;
      outline: none;
      border: 1px solid #737373;
      font-size: 1rem;
      padding: 6px 12px;
      width: 250px;
    }
    .btn-blue {
      padding: 6px 12px;
      font-size: 16px;
      background-color: $lightBlueColor;
      color: $whiteColor;
      border: none;
    }
  }
}
footer {
  min-height: 200px;
  background-color: $blackColor;
  hr {
    background-color: #737373;
    border: none;
    height: 0.5px;
    margin-bottom: 50px;
  }
  p {
    color: #737373;
    text-align: center;
    font-size: 16px;
  }
}