*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    height: 700px;
    margin: 0  auto;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.box{
    width: 200px;
    height: 200px;
    background-color: brown;
}
.box1{
    order: 1;
}
.box2{
    order: 2;
}
.box3{
    order: 3;
}
@media screen and (max-width:768px) {
    .box1{
        order: 3;
    }
    .box2{
        order:1;
    }
    .box3{
        order: 2;
    }

}
