.box{
    height: 150px;
    width: 50%;

}
.topbot{
    width: 100%;
}

.red{
    background-color: red;

}
.blue{
    background-color: blue;

}
.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.clear{
    clear: both;
}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}