.box{
    height: 50px;
    width: 250px;
    margin: 10px;
}

.red{
    background-color: red;
    margin-left: 50px;
    padding-top: 20px;
}
.blue{
    background-color: blue;
    margin-bottom: 50px;
}
.green{
    background-color: green;
    margin: 100 10 50;
}

.clear{
    clear: both;
}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}