/* !Navbar Start */
.navbar {
  padding: 2rem 0.5rem;
}

.navbar-wrapper .navbar-links .navbar-link a {
  color: #000;
  font-size: 18px;
  font-family: "Chivo", sans-serif;
  font-weight: 400;
}

.checkbtn {
  color: #000;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* !------------Hero Start------------- */
main .hero {
  height: 100vh;
}
main .hero .hero-wrapper {
  grid-template-columns: repeat(auto-fill, minmax(48%, 50%));
}

.front-text {
  background-color: var(--color-green);
  display: inline-block;
  border-radius: 20px;
}

.back-text {
  color: var(--p-shadow);
}

main .hero .container .hero-left .hero-btn {
  background-color: var(--color-black);
}

main .hero .container .hero-left .hero-btn-how {
  margin-left: 30px;
}

main .hero .container .hero-left .hero-ref span:last-child {
  color: var(--p-shadow);
}

main .hero .container .hero-left .hero-btn-how span {
  color: var(--color-green);
}

main .hero .container .hero-right {
  padding-left: 70px;
  margin-top: 110px;
}

main .hero .container .hero-right .main-hero img {
  animation: hero-thumb 3.4s infinite ease-in-out;
}

@keyframes hero-thumb {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5%);
  }

  60% {
    transform: translateY(-5%);
  }

  100% {
    transform: translateY(0);
  }
}

main .hero .container .hero-right .hero-payment img {
  top: 50px;
  right: -80px;
  width: 150px;
  animation: hero-thumb 2s infinite ease-in-out;
}

main .hero .container .hero-right .hero-balance img {
  bottom: 0;
  left: -80px;
  width: 150px;
  animation: hero-balance 2s infinite ease-in-out;
  width: 200px;
}

@keyframes hero-balance {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20%);
  }

  60% {
    transform: translateX(-20%);
  }

  100% {
    transform: translateX(0);
  }
}

/* Companies */
.companies .compaines-wrapper .companies-img {
  flex-wrap: wrap;
}

.companies .compaines-wrapper .companies-img img {
  width: 200px;
  transition: 0.5s ease-in-out all;
}

.companies .compaines-wrapper .companies-img img:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

/* section-box */
.section-box {
  padding-top: 150px;
  grid-template-areas: "fresh section-text";
  grid-template-columns: repeat(1);
}
.section-text {
  grid-template-rows: auto;
  padding-left: 50px;
}
.fresh {
  display: flex;
  justify-content: center;
}
.fres-img img {
  height: 660px;
  border-radius: 20px;
}
.chart-img img {
  height: 200px;
  top: 550px;
  right: -40px;
  width: 270px;
  border-radius: 15px;
}
.we-do {
  height: 40px;
  width: 230px;
  border-radius: 20px;
  background-color: #bee1e6;
  padding-top: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-element {
  padding-top: 20px;
  grid-template-areas:
    "advance section-element-text"
    "design section-element-text"
    "work section-element-text";
  gap: 20px;
}
.section-element img {
  height: 50px;
}
.element-general {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.discover {
  text-align: center;
  justify-content: center;
  gap: 50px;
}
.features {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features h1 {
  font-size: 56px;
}
.features p {
  padding-top: 30px;
}
.discover-general {
  grid-template-columns: repeat(1, 50%);
  grid-template-areas: "discover-left discover-right";
  gap: 50px;
}
.discover-left {
  height: 455px;
  width: 630px;
  background-color: #fff3ea;
  border-radius: 20px;
  padding-top: 45px;
}
.discover-left img {
  height: 390px;
  width: 500px;
  padding-top: 30px;
}
.discover-right {
  height: 455px;
  width: 630px;
  background-color: #bee1e6;
  border-radius: 20px;
  padding-top: 45px;
}
.discover-right img {
  height: 390px;
  width: 500px;
  padding-top: 30px;
}

.built p {
  text-align: center;
  justify-content: center;
  padding-top: 20px;
  line-height: 25px;
}
.exclusively h2 {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  font-size: 56px;
}
.exclusively p {
  display: flex;
  justify-content: center;
}
.for-you {
  padding-left: 250px;
  gap: 40px;
  grid-template-columns: repeat(3, auto);
  margin-left: -180px;
}
.Acquisition {
  width: 400px;
  padding-top: 85px;
  gap: 10px;
  grid-template-areas: "acquis acquis-text";
}

.our-happy-customers-container {
  border-radius: 58px;
  padding: 6.8%;
  margin: 7%;
}

.our-happy-customers-item-container {
  max-width: 1320px;
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 24px;
}

.our-happy-customers-item {
  border-radius: 16px;
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
  padding: 53px 48px;
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.our-happy-customers-item:hover {
  transform: translateY(-3px);
}
.our-happy-customers-item .flex img {
  border-radius: 4px;
  width: 85px;
}
.our-happy-customers-item p {
  font-size: 16px;
  font-weight: 400;
}
.name-and-pic p,
h3 {
  padding-left: 15px;
  padding-top: 15px;
}
.our-happy-customers-h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
}

/* !------------For You---------------- */
.for-you .left-for-you .left-for-you-top {
  border-bottom: 2px dashed var(--color-green);
}
.for-you .left-for-you .left-for-you-bottom .for-you-items {
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 24px;
}

.right-for-you {
  margin-top: 150px;
}

.right-for-you .second-img {
  right: -50px;
  bottom: 20px;
}

.right-for-you .second-img img {
  width: 260px;
}

.for-you .for-you-wrapper .for-you-img img {
  width: 200px;
  transition: 0.5s ease-in-out all;
}

/* !----------Plans---------- */
.plans .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.plans .plans-card-wrapper .plans-card {
  border: 1px solid #ccc;
  background-color: #fafafa;
  border-radius: 15px;
  width: 300px;
  line-height: 30px;
  transition: 0.2s ease-in-out;
}

.plans .plans-card-wrapper .plans-card:hover {
  background-color: var(--color-green);
  color: #fff;
}

.plans .plans-card-wrapper .plans-card:hover p {
  color: #fff;
}

.plans .plans-card-wrapper .plans-card:hover i {
  color: sienna;
}

/* !------------Subscribe--------------- */
.subscribe {
  background-color: var(--ice-blue);
  height: 400px;
  width: 1000px;
}

.subscribe .subs-left .input input {
  border: 1px solid #ccc;
  width: 300px;
  height: 50px;
  padding-left: 8px;
  outline: none;
}

.subscribe .subs-left .input input::placeholder {
  color: #ccc;
  opacity: 0.8;
}

.subscribe .subs-left .input i {
  left: 250px;
  top: 5px;
  width: 40px;
  height: 40px;
  background-color: var(--color-green);
  font-size: 20px;
  color: #fff;
}
.subscribe .subs-right .subs-first-img img {
  height: 400px;
}

.subscribe .subscribe-wrapper .subs-right .second-img {
  bottom: 30%;
  left: -140px;
  animation: handler 5s ease-in-out infinite;
}

.subscribe .subs-right .second-img img {
  width: 250px;
}

@keyframes handler {
  0% {
    transform: translateX(-5%);
  }
  50% {
    transform: translateX(-20%);
  }
  60% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(-5%);
  }
}

/* ! -------------Footer------------- */
main footer {
  margin-top: 180px !important;
}

main footer .footer-top {
  border-bottom: 1px solid #ccc;
}

main footer .footer-top .right-btn .create {
  background-color: #000;
  color: #fff;
}

main footer .footer-bottom .links h4 {
  font-size: 20px;
}

main footer .footer-bottom .links ul li a {
  color: var(--p-shadow);
  line-height: 40px;
  transition: 0.2s ease-in;
}

main footer .footer-bottom .links ul li a:hover {
  color: var(--ice-blue);
  padding-left: 3px;
}
main footer .social {
  border-top: 1px solid #ccc;
  padding: 1rem;
}

main footer .social .footer-right i {
  background-color: var(--color-green);
  width: 40px;
  height: 40px;
  color: #fff;
  opacity: 0.7;
}
