/* !Navbar Start */
.navbar {
  padding: 2rem 0.5rem;
}

.navbar-wrapper .navbar-links .navbar-link a {
  color: #000;
  font-size: 18px;
  font-family: "Chivo", sans-serif;
  font-weight: 400;
}

.navbar-wrapper .sidebar-icon i {
  color: #000;
  font-size: 24px;
}

.checkbtn {
  font-size: 2em;
  color: #000;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* !------------Hero Start------------- */
main .hero {
  height: 100vh;
}
main .hero .hero-wrapper {
  grid-template-columns: repeat(auto-fill, minmax(48%, 50%));
}

main .hero .container .hero-left .front-text {
  background-color: var(--color-green);
  display: inline-block;
  border-radius: 20px;
}

main .hero .container .hero-left .back-text {
  color: var(--p-shadow);
}

main .hero .container .hero-left .hero-btn {
  background-color: var(--color-black);
  border-radius: 8px;
}

main .hero .container .hero-left .hero-btn-how {
  margin-left: 30px;
}

main .hero .container .hero-left .hero-ref {
  font-weight: bold;
}

main .hero .container .hero-left .hero-ref span:last-child {
  color: var(--p-shadow);
}

main .hero .container .hero-left .hero-btn-how span {
  color: var(--color-green);
}

main .hero .container .hero-right {
  padding-left: 70px;
  margin-top: 110px;
}

main .hero .container .hero-right img {
  width: 100%;
}

main .hero .container .hero-right .main-hero img {
  animation: hero-thumb 3.4s infinite ease-in-out;
}

@keyframes hero-thumb {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5%);
  }

  60% {
    transform: translateY(-5%);
  }

  100% {
    transform: translateY(0);
  }
}

main .hero .container .hero-right .hero-payment img {
  top: 50px;
  right: -80px;
  width: 150px;
  animation: hero-thumb 2s infinite ease-in-out;
  border-radius: 15px;
}

main .hero .container .hero-right .hero-balance img {
  bottom: 0;
  left: -80px;
  width: 150px;
  animation: hero-balance 2s infinite ease-in-out;
  border-radius: 15px;
  width: 200px;
}

@keyframes hero-balance {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20%);
  }

  60% {
    transform: translateX(-20%);
  }

  100% {
    transform: translateX(0);
  }
}

/* Companies */
.companies .compaines-wrapper .companies-img {
  flex-wrap: wrap;
}

.companies .compaines-wrapper .companies-img img {
  width: 200px;
  transition: 0.5s ease-in-out all;
}

.companies .compaines-wrapper .companies-img img:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  transform: translateY(-5px);
}
