@mixin button()
    padding: 2px 8px
    border: none
@mixin primaryBtn()
    @include button
    background-color: $primary
@mixin secondaryBtn()
    @include button()
    background-color: $secondary
    color: $dark
