.bg-image{
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20210707/pngtree-cartoon-flat-black-and-white-cosmic-linear-draft-astronaut-background-image_736757.jpg");
    width: 500px;
    height: 300px;
    background-position-y: center;
    background-position-x:  center;
    color: rgb(241, 1, 149);
}
.title{
    font-size: 30;
}
.paragraf{
    font-size: 24;
}
@media screen and (max-width:768px){
    .title{
        font-size: 24;
    }
    .paragraf{
        font-size: 18;
    }
    .bg-image{
        width: 300px;
        height: 150px;
        color: green;
    }
}