.link {

    color: crimson;

}
.link:active
{
    color:blueviolet;

}
.link:hover{
    color:aquamarine
}

.listItem 
{
    list-style-type: none ;
    font-size: 18 px;
    color: red;
}

.listItem:nth-child(-n+6) {
    color: blue;
}

.text::first-letter{
    font-size: 50 px;
}
.text::first-letter {
    font-size:50 px;
}
text::after {
    content:"Merhaba ben sona eklendim!";
}

text::before {
    content:"Merhaba ben öncesine eklendim!";
}