body {
  background-image: url(https://images.unsplash.com/photo-1561484930-998b6a7b22e8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.main-day {
  background-color: rgba(0, 0, 0, 0.4);
  color: #33c4f5;
}

.other-day {
  background-color: rgba(20, 94, 144, 0.4);
  color: #fff;
}
