* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
}

.about-section.section-header{
  max-width:100%;
 
}
.about-section.section-header h2 {
  color: #000000;
  margin-bottom: 20px;
}


.about-section .section-header p {
  color: #696969;
  margin-bottom: 50px;
} 
.section-header{
  text-align: center;
  margin-bottom: 30px;
  margin:auto;
  
}

.lab-item .lab-inner {
  margin: 15px 0;
  position: relative;
  box-shadow: 0 0 8px rgba(136, 136, 136, 0.08);
  padding: 20px;
  transition: all 0.3s ease;}


  .about-section .section-wrapper .lab-thumb {
    text-align: center;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 30px 2px;
    margin-bottom: 20px;

}
.about-section .section-wrapper .lab-item .lab-inner .lab-thumb{
  width: 92px;
  height: 92px;

}

.about-section.section-wrapper .lab-item .lab-inner .lab-content {
  text-align: center;
}

.lab-item .lab-inner .lab-content p {
  margin-bottom: 0;
}

.about-section.section-wrapper.lab-item.lab-inner.lab-thumb{
  border-radius: 100%;
  margin:auto;
  
}


.about-section.section-wrapper.lab-item.lab-inner.lab-content{
  text-align: center;
}

.lab-item.lab-inner.lab-content h4{
  margin-bottom: 5px;
  transition:all 0.3 ease;
}

@keyframes line-animation {
  0% {
    transform: scale(0.9);
    background-color: rgba(190, 109, 242, 0.7);
  }
  70% {
    transform: scale(1.5);
    background-color: rgba(190, 109, 242, 0);
  }
  100% {
    transform: scale(0.9);
    background-color: rgba(190, 109, 242, 0);
  }
}


  .sponsors .container {
    width: 70%;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  
/*footer*/
.footer {
  padding: 70px 0;
  background-image: url(../images/app-footer-bg.jpg);
}
.footer .container {
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .container .upper {
  gap: 20px;
}
.footer .container .upper p{
    color: white;
   
  }

.footer .container .upper h2 {
  color: white;
  font-size:24px;
}
.footer .container .upper.stores {
  width: 230px;
  height: 70px;
  background-color: white;
  gap: 15px;
}
.footer .container .upper .stores p {
  color: #696969;
}
.footer .container .upper.stores span {
  color: #c961fa;
  font-weight: 700;
}
.footer .container .footer-first {
  justify-content: space-between;
  padding-right: 140px;
  padding-bottom: 50px;
}
.footer .container .footer-first  h6 {
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
}
.footer .container .footer-first   li {
  list-style: none;
  color: white;
}
.footer .container .bottom .footer-second {
  margin-top: 100px;
}
.footer .container .bottom {
  justify-content: center;
}
.footer .container .bottom p {
  margin-top: 10px;
  color: white;
}



