* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
}


.about-section .section-wrapper .lab-item .lab-inner {
  margin: 15px 0;
  position: relative;
  box-shadow: 0 0 8px rgba(136, 136, 136, 0.08);
  padding: 20px;
}

.about-section .section-wrapper .lab-item .lab-inner img {
  display: block;
  margin: auto;
  padding: 20px;
}



.about-section.section-wrapper .lab-item .lab-inner .lab-content {
  text-align: center;
}

.lab-item .lab-inner .lab-content p {
  margin-bottom: 20px;
  margin-top: 20px;
}


.lab-item.lab-inner.lab-content h4{
  margin-bottom: 5px;
 
}

.smart-pos {
  
  background-color: #fffef6;
}

.smart-pos .container .smartpos-container {
  border: none;
}
.smart-pos .container .testimonial {
  margin:0 -15px;
}

.smart-pos .container .testimonial .cards{
  padding: 30px;
  background: #fff;
  width: 30%;
  border:3px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}
.photo {
  width: 60px;
  height: 60px;
}
.testi-thumb {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.smart-pos .container .testimonial .cards .card-header {
  justify-content: space-around;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 20px;
  margin-bottom: 20px;
  
}
.smart-pos .container .testimonial .cards .card-header .photo {
  border-radius: 50%;
}
.smart-pos .container .testimonial .cards .card-header .animation-elm{
  animation:testi_round 6s linear infinite;
  background: url(../../0504/images/round-3.png) no-repeat;
  width: 80px;
  height: 80px;
  position: absolute;
}

@keyframes testi_round {
  0% {
    transform: rotate(0deg);
  }
  50% {
     transform: rotate(180deg);
  }
  100% {
     transform: rotate(360deg);
  }
}




.smart-pos .container .testimonial .cards p {
  padding-top:30px;
 
  
}
.smart-pos .container.testimonial .cards h5{
  font-size:20px;
}

.smart-pos .container .testimonial .cards .card-header {
  justify-content: space-around;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 20px;
  margin-bottom: 20px;
  
}
.smart-pos .container .testimonial .cards .card-header .photo {
  border-radius: 50%;
}
.smart-pos .container .testimonial .cards p {
  padding-top:30px;
}


.smart-pos .container.testimonial .cards h5{
  font-size:20px;
}

.sponsors .container {
    width: 70%;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  
/*footer*/
.footer {
  padding: 70px 0;
  background-image: url(../images/app-footer-bg.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer .container {
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.footer .container .upper {
  gap: 20px;
  
}
.footer .container .upper p{
    color: white;
   
  }

.footer .container .upper h2 {
  color: white;
  font-size:24px;
}
.footer .container .upper.stores {
  width: 230px;
  height: 70px;
  background-color: white;
  gap: 15px;
  
  padding: 10px 20px;
  border-radius: 2px;

}
.footer .container .upper .stores p {
  color: #696969;
}
.footer .container .upper .stores span {
  color: #c961fa;
  font-weight: 700;
}
.footer .container .footer-first {
  justify-content: space-between;
  padding-right: 140px;
  padding-bottom: 50px;
}
.footer .container .footer-first  h6 {
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
}
.footer .container .footer-first li {
  list-style: none;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}
.footer .container .footer-second {
  margin-top: 100px;
}
.footer .container .bottom {
  justify-content: center;
}
.footer .container .bottom p {
  margin-top: 10px;
  color: white;
}

@media screen and (max-width: 768px) {

  .about-section .section-wrapper .lab-item{
    flex-direction:column;
  }
  .about-section .section-wrapper .lab-inner .lab-thumb img{
    justify-content:center;
    align-items: center;
  }
  .about-section .section-wrapper .lab-inner .lab-thumb {
    justify-content:center;
    align-items: center;
  }
  

  .smart-pos .container .testimonial .cards{
    width:50%;
  }

.sponsors.container img{
  align-items: center;
  }


  .footer .container .footer-first {
    justify-content: space-between;
    padding-right: 140px;
    
    flex-direction: column;
  }

  .sm-hidden {
    display: none;
  }
}

