* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Nanum Gothic", sans-serif;
}
.container {
  width: 70%;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.jc-center {
  justify-content: center;
}
.jc-sbetween {
  justify-content: space-between;
}
.ai-center {
  align-items: center;
}
.fs-15 {
  font-size: 15px;
}
@mixin blueButtonMixin($padding-y, $padding-x) {
  background-color: #2f89fc;
  border-radius: 0.25rem;
  padding: $padding-y $padding-x;
}
.blue-btn {
  @include blueButtonMixin(12px, 20px);
}