@import "./global.scss";

header {
  margin-top: 20px;
  * {
    color: white;
  }
  .header-logo {
    a {
      font-size: 20px;
    }
  }
  .header-nav {
    .nav-list-item {
      padding: 20px 10px;
      &.contact {
        margin-right: 48px;
      }
      .border-left {
        border-left: 1px solid #dee2e6;
        padding-left: 1.5rem;
      }
      .register-link {
        margin-left: 30px;
      }
    }
  }
}
.hero-section::before {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("../images/hero-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hero-section {
  * {
    position: relative;
  }
  min-height: 100vh;
}
.welcome-section {
  margin-top: 150px;
  color: white;
  h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    line-height: 1.2;
  }
  p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }
  .welcome-form {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 16px;
    .form-item {
      padding: 0 15px;
      width: 28%;
      input, select {
        padding: 6px 12px;
        outline: none;
        border: none;
        height: 43px;
        width: 100%;
        border-radius: 0.25rem;
        font-size: 1.1rem;
        color: #495057;
        &::placeholder {
          font-size: 1.1rem;
          color: #495057;
        }
      }
      select {
        & {
          font-size: 1.1rem;
          color: #495057;
        }
      }
      &.btn {
        width: 16%;
      }
      button {
        @include blueButtonMixin(10px, 30px);
        height: 43px;
        width: 100%;
        font-size: 1.1rem;
        &:hover {
          background-color: #0974fb;
        }
      }
    }
  }
  .trending-search {
    gap: 0.25rem;
    h2 {
      font-size: 1rem;
      font-weight: 500;
      margin-right: 10px;
    }
    a {
      font-size: 0.8rem;
      border: 1px solid white;
      padding: 2px 10px;
      color: white;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 4px;
      &:hover {
        color: #2f89fc;
        background-color: white;
      }
    }
  }
}
.ads {
  padding: 80px 0;
  .ads-title {
    font-size: 20px;
    margin-bottom: 24px;
    padding-right: 15px;
  }
  .ads-items {
    padding: 0 15px;
    .ads-item {
      background-color: white;
      border-radius: 7px;
      box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.1);
      img {
        height: 150px;
        border-top-right-radius: 7px;
      }
      .ads-item-body {
        padding: 20px;
        .ads-item-body-row1 {
          margin-bottom: 20px;
          span {
            font-size: 11px;
            padding: 5px 20px;
            background: #e9ecef;
            font-weight: bold;
            border-radius: 30px;
          }
          a {
            width: 30px;
            height: 30px;
            background: rgba(0, 0, 0, 0.03);
            border-radius: 50%;
            i {
              color: #2f89fc;
            }
            &:hover {
              background: #f23a2e;
              i {
                color: white;
              }
            }
          }
        }
        .ads-item-body-row2 {
          font-size: 1rem;
          color: #2f89fc;
          margin-bottom: 8px;
        }
        .ads-item-body-row3 {
          font-size: 13px;
          color: #4d4d4d;
          margin-bottom: 16px;
        }
        .ads-item-body-row4 {
          .emoji {
            font-size: 1.3rem;
            font-weight: bold;
            letter-spacing: 2px;
            &.emoji-fill {
              color: orange;
            }
            &.emoji-empty {
              color: gray;
            }
          }
          .row4-text {
            color: gray;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
  .ads-arrows {
    margin-top: 50px;
    font-size: 1.5rem;
    i {
      padding: 20px;
      &:hover {
        cursor: pointer;
        color: #2f89fc;
      }
    }
  }
}
.testimonials-section {
  .h2-container {
    border-bottom: 3px solid #2f89fc;
    width: max-content;
    margin: 70px 0 35px 0;
    h2 {
      font-size: 32px;
      font-weight: 700;
      color: #2f89fc;
    }
  }
  .person-container {
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: 10px 0;
    }
    .person-name {
      margin-bottom: 20px;
    }
    .lorem-container {
      .arrow {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #00000033;
        svg {
          width: 3rem;
          height: 2rem;
        }
        &:hover {
          cursor: pointer;
          background-color: black;
        }
      }
      .lorem {
        font-size: 24px;
        color: #4d4d4d;
        width: 800px;
        margin: 0 70px;
        font-style: italic;
      }
    }
  }
  .round-container {
    margin: 20px 0 70px 0;
    gap: 10px;
    .round {
      width: 10px;
      height: 10px;
      background-color: #dee2e6;
      border-radius: 50%;
      &.second {
        background-color: #2f89fc;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.our-blog-section {
  .h2-and-p-container {
    margin: 70px 0 35px 0;
    h2 {
      font-size: 32px;
      font-weight: 700;
      color: #2f89fc;
    }
    p {
      font-size: 16px;
      color: #00000080;
      border-bottom: 3px solid #2f89fc;
      width: max-content;
      margin-bottom: 15px;
    }
  }

  .flex-container {
    gap: 2rem;
    margin-bottom: 80px;
    div {
      img {
        width: 350px;
        height: 230px;
        margin-bottom: 30px;
      }
      a {
        font-size: 20px;
        color: black;
      }
      .spans {
        span {
          font-size: 14px;
          color: #b3b3b3;
        }
        .second {
          margin: 0 3px;
        }
        .last {
          color: #0974fb;
        }
      }
      .lorem {
        font-size: 16px;
        margin-top: 16px;
        color: #4d4d4d;
      }
    }
  }
  .blue-btn {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 80px;
  }
}