.container{
    display: grid;
    height: 600px;
    background-color: bisque;
    gap: 5px;
    grid-template-areas: 
    "header header header"
    "sidebar section section"
    "sidebar . ."
    "footer footer footer"
    "box-1 box-1 box-1";
}
.header{
    grid-area:  header;
    background-color: brown;
    padding: 20p;
}
.section{
    grid-area: section;
    background-color: greenyellow;
    padding: 20p;
}
.sidebar{
    grid-area: sidebar;
    background-color: blue;
    padding: 20p;
}
