$mainColor: #2F89FC;
$secondColor: #F8F9FA;
$greyColor: #E9ECEF;
$footerColor:#333333;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nanum Gothic", sans-serif;
}

.hero {
    height: 100vh;
    background: url('../images/hero_2.jpg');
    .nav{
        padding-top: 20px;
        .nav-right{
            column-gap:60px;
            :nth-of-type(5){
                margin-right: 30px;
            }
        }
    }
    .overlay{
        background-color: rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 100%;

    }

}

a {
    text-decoration: none;
    color: white;
}

