
h1{
    font-size: 3rem;    
}
h2{
    font-size: 2rem;
}
.col{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
.justify-between{
    justify-content: space-between;
}
.container{
    width: 60%;
    margin: 0 auto;
}     
input{
    height: 43px;
    border: none;
    padding-left: 10px;  
    &:focus{
        outline: none;
    }        

}  


