.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
}

li.active{
    background-color: crimson !important;
    border-color: crimson !important;
    color: #fff;
}

li:hover{
    cursor: pointer;
}