.header-top {
    color: var(--white);
    display: grid;
    grid-template-columns: 307px auto 307px;
    padding-top: 9px;
    padding-bottom: 9px;
    line-height: 18px;
}

#header-top {
    background-color: var(--secondary);
}

#header-middle {
    background-color: var(--white);
}

#header-bottom {
    background-color: var(--white);
}

.header-top strong {
    color: var(--primary);
}

.header-middle {
    align-items: center;
}

.menu-top-header-menu {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    margin: 0 33px;
}

.menu-top-header-menu li {
    font-size: 93%;
}

.header-middle {
    display: grid;
    grid-template-columns: 284px 580px 207px 156px;
}

#header-middle .container {
    padding-top: 26px;
    padding-bottom: 26px;
}

.header-search form {
    color: rgba(32, 32, 32, 1);
    background-color: rgba(248, 248, 248, 1);
    max-width: 100%;
    display: flex;
    border-radius: 60px;
}

.search-field {
    display: grid;
    grid-template-columns: 300px 40px;
}

.logo-wrapper {
    max-height: 70px;
    padding: 0 134px 0 0;
}

.logo-wrapper img {
    width: 150px;
}

.select-category {
    width: 190px;
    border-width: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 30px;
    padding-right: 18px;
    margin-right: 7px;
    text-transform: capitalize;
    background-color: transparent;
}

select option {
    padding: 5px 8px;
}

.language-currency {
    display: grid;
    grid-template-columns: 63px 63px;
    margin-left: 80px;
}

.header-right {
    margin-left: 22px;
    display: grid;
    grid-template-columns: 44px 44px 44px;
}

.header-bottom {
    display: grid;
    grid-template-columns: 950px 280px;
}

.ts-menu ul {
    display: grid;
    grid-template-columns: repeat(6, auto);
    width: 772px;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.ts-menu i {
    color: var(--span-text);
}

.ts-menu li:hover i {
    color: var(--primary);
}

.ts-menu ul li:first-child {
    color: var(--primary);
}

.ts-menu ul li {
    margin-right: 35px;
}

.header-contact-info {
    background-color: var(--primary);
    padding: 12px 40px;
    font-size: 22px;
    display: grid;
    grid-template-columns: auto auto;
}

.call_us {
    display: grid;
    grid-template-rows: auto auto;
    font-weight: 700;
}

.call_us>span {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
}

.menu-wrapper {
    display: grid;
    align-items: center;
}

.categories ul {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(4, auto);

}

.categories ul li {
    width: 230px;
    padding: 0 10px 20px;
}

.categories ul li h4 {
    width: 100%;
    border: 1.250px solid #cbcbcb;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    padding: 14px 5px;
    font-weight: 400;
}

.categories ul li h4:hover {
    background-color: var(--primary);
    color: var(--text);
}

.popular-parts h2 {
    font-size: 36px;
    letter-spacing: 0.9px;
    line-height: 1;
    margin-bottom: 55px;
}

.why-choose-us {
    background-image: url(https://demothemesky-be87.kxcdn.com/druco/wp-content/uploads/2022/08/home-about.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 78px;
    padding: 112px 0px 103px 0px
}