@import url('https://db.onlinewebfonts.com/c/b52804ac57ef6e90d2826a6b0f111133?family=Integral+CF+Bold');
@import url('https://fonts.cdnfonts.com/css/satoshi');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Integral CF Bold';
    font-size: 16px;
}