@import "./variables.scss";
* {
  font-family: "Nunito", sans-serif;
}

header {
  .dot {
    color: #007bff;
  }
}
.hero-btn {
  border-radius: 30px !important;
}
.hero-title {
  font-size: 3.5rem !important;
}
