@import "./variables.scss";
* {
  font-family: "Nunito", sans-serif;
}
h2 {
  @include title(2.5rem, 700, #000);
}

header {
  .dot {
    color: #007bff;
  }
}
.hero-btn {
  border-radius: 30px !important;
}
.hero-title {
  font-size: 3.5rem !important;
}
/* .features-section-title {
  @include title(2.5rem, 700, #000);
} */
.features-section-lead {
  @include title(1.25rem, 300, rgb(128, 128, 128));
}

.card-link {
  text-decoration: none;
}
.features-card-body {
  padding: 30px;
  background: #f1f1f1;
  border-radius: 5px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  position: relative;
  top: 0;
  margin-bottom: 4em;
  text-align: center;
  padding-top: 50px;
  h3 {
    @include title(1.5rem, 500, #000);
  }
  p {
    @include title(1rem, 300, rgb(128, 128, 128));
  }
  div {
    p {
      a {
        text-decoration: none;
      }
    }
  }
  &:hover {
    top: -10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  .features-card-icon {
    .icon-wrap {
      width: 80px;
      height: 80px;
      top: -40px;
      left: 40%;
      position: absolute;
      border-radius: 50%;
      display: inline-block;
      background-color: #4285f4;
      display: flex;
      justify-content: center;
      align-items: center;
      .bi-arrow-repeat::before {
        transform: rotate(90deg);
      }
    }
  }
}
.contactUs-section {
  &-img {
    background-image: url(https://preview.colorlib.com/theme/imagine/images/hero_1.jpg.webp);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: -1;
    &::before {
      content: "";
      position: absolute;
      background: linear-gradient(to right, #4286f4 0%, #42e2f4 100%);
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0.7;
      z-index: -1;
    }
  }
}
.communicate {
  /* .title {
    @include title(2.5rem, 700, #000);
  } */
  .lead {
    @include title(1rem, 300, rgb(128, 128, 128));
  }
  .card {
    padding: 15px;
    img {
      width: 50px;
      border-radius: 50%;
    }
    h5 {
      @include title(1rem, 500, #000);
    }
    h6 {
      @include title(1rem, 500, #000);
    }
  }
}
.about-us {
  background-color: #f6f6f6;
}
