html{
    font-size: 10px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
}

h1,h2,h3,h4,h5,h6{
    line-height: 1.6;
}

a{
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

ul{
    list-style-type: none;
}

img{
    border-radius: 5px;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}

.row{
    display: flex;
    margin: 50px 0;
    gap: 40px;
}
.flex-wrap{
    flex-wrap: wrap;
}
.col-2{
    flex: 50%;
}
.col-3{
    flex: 30%;
}
.col-4{
    flex: 20%;
}

/* buttons */
.btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: 2.5rem;
    border-radius: 5px;
    border: none;
}
.btn:hover{
    opacity: .7;
}
.btn-block{
    display: block;
}
.btn-secondary{
    background-color: #ff5714;
    color: #fff;
}
.btn-underline-secondary{
    background-color: #fff;
    padding-left: 0;
    font-size: 1.6rem;
    border-bottom: 2px solid transparent;
    border-radius: 0;
}
.btn-underline-secondary:hover{
    color: #ff5714;
    border-bottom: 2px solid #ff5714;
}

/* cards */
.card{
    border-radius: 10px;
    box-shadow: 0 0 15px 20px rgba(0, 0, 0, .1);
}
.card:hover{
    box-shadow: 0 0 15px 20px rgba(0, 0, 0, .2);
}
.card-body{
    padding: 20px;
}


.content{
    padding: 50px 0 30px;
}
.active{
    opacity: 1!important;
}
.paragraph{
    opacity: .7;
    margin: 2rem 0;
    line-height: 1.8;
}
.title{
    color: #ff5714;
    font-size: 1.3rem;
}
/* .subTitle{
    
} */