.weatherCard {
  width: 22rem;
  min-width: 22rem;
  height: 30rem;
  background: rgba(225, 225, 225, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(225, 225, 225, 0.18);
  padding: 1rem;
}

.weatherInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.temperature {
  font-size: 2rem;
<<<<<<< Updated upstream
=======
  font-weight: normal;
>>>>>>> Stashed changes
}

.location {
  font-size: 1.25rem;
<<<<<<< Updated upstream
=======
  font-weight: normal;
>>>>>>> Stashed changes
  text-align: center;
}

.dateTime {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
<<<<<<< Updated upstream
=======
  font-weight: normal;
>>>>>>> Stashed changes
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}

.date,
.time {
  flex: 1;
  text-align: center;
  padding: 0.5rem;
}

.nightHumidity {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 1rem;
<<<<<<< Updated upstream
=======
  font-weight: normal;
>>>>>>> Stashed changes
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

.night,
.humidity {
  flex: 1;
  text-align: center;
  padding: 0.5rem;
<<<<<<< Updated upstream
  display: flex;
  flex-direction: column;
  row-gap: 3px;
=======
>>>>>>> Stashed changes
}

.night span,
.humidity span {
<<<<<<< Updated upstream
  color: rgb(255, 255, 255);
}
.night i,
.humidity i {
  margin-right: 5px;
}

=======
  font-weight: semibold;
  color: rgb(255, 255, 255);
}
>>>>>>> Stashed changes
.minMax {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  font-size: 1.25rem;
  gap: 1rem;
<<<<<<< Updated upstream
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}
.min i,
.max i{
  margin-right: 5px;
}
.description {
  text-align: center;
  font-size: 1.5rem;
=======
  font-weight: normal;
  color: rgb(255, 255, 255);
}

.description {
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
>>>>>>> Stashed changes
  padding: 1rem 0;
}

.iconImage {
  width: 4rem;
  height: 4rem;
}
.weatherCard i {
  font-size: 1.5rem;
  color: #fdd020;
}
<<<<<<< Updated upstream
@media screen and (max-width: 600px) {
  .weatherCard {
    background: rgba(0, 0, 0, 0.371);
    border: 1px solid rgba(66, 59, 59, 0.18);  }
  }
=======
>>>>>>> Stashed changes
