*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{
  height: 100vh;
}
.app.light{
  background-color: antiquewhite;
  color: aquamarine;
}
.app.dark{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}