@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
.flower {
  img {
    margin-left: -4rem;
  }
}
.flower-content {
  img {
    height: 52vh;
  }
}
.about {
  height: 600px;
  background-image: url(../assets/img/14.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product-grid .product-image .pic-1 {
  transition: all 0.3s ease 0s;
}
.product-grid .product-image:hover .pic-1 {
  transform: translateX(100%);
}
.product-grid .product-image .pic-2 {
  width: 100%;
  height: 100%;
  transform: translateX(-101%);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease 0s;
}
.product-grid .product-image:hover .pic-2 {
  transform: translateX(0);
}
.product-grid .product-sale-label {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 2px 8px;
  top: 15px;
  left: 15px;
}
.product-grid .product-like-icon {
  color: #696969;
  font-size: 22px;
  line-height: 20px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.product-grid .product-like-icon:hover {
  color: var(--bs-hover);
}
.product-grid .product-like-icon:before,
.product-grid .product-like-icon:after {
  content: attr(data-tip);
  color: #fff;
  background-color: #000;
  font-size: 12px;
  line-height: 18px;
  padding: 7px 7px 5px;
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 15px;
  transition: all 0.3s ease 0s;
}
.product-grid .product-like-icon:after {
  content: "";
  height: 15px;
  width: 15px;
  padding: 0;
  transform: translateX(-50%) rotate(45deg);
  right: auto;
  left: 50%;
  top: 15px;
  z-index: -1;
}
.product-grid .product-like-icon:hover:before,
.product-grid .product-like-icon:hover:after {
  visibility: visible;
  top: 30px;
}
.product-grid .product-links {
  width: 170px;
  transform: translateX(-50%);
  bottom: -50px;
  left: 50%;
  transition: all 0.3s ease 0s;
}
.product-grid:hover .product-links {
  bottom: 40px;
}
.product-grid .product-links li {
  display: inline-block;
  margin: 0 2px;
}
.product-grid .product-links li a {
  font-size: 16px;
  line-height: 48px;
  width: 48px;
  height: 48px;
  transition: all 0.3s ease 0s;
}
.product-grid:hover .product-links li a:hover {
  background: #333;
}
.product-grid .product-content {
  text-align: left;
  padding: 15px 0 0;
}
.product-grid .title {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0 0 8px;
}
.product-grid .title a {
  color: #333;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}
.product-grid .title a:hover {
  color: var(--bs-hover);
}
.product-grid .price {
  color: var(--bs-hover);
  font-size: 16px;
  font-weight: 500;
}
.product-grid .price span {
  color: #555;
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
  margin: 0 5px 0 0;
}
@media screen and (max-width: 990px) {
  .product-grid {
    margin: 0 0 30px;
  }
}
.footer-logo {
  background: rgba(228, 72, 205, 0.1);
  &:hover {
    transition: all 0.3s linear;
    background: $primary;
  }
}
