@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$btnGradient: linear-gradient(to right, #ff5195, #ffb84b);
$colorGray: #696969;
$colorBg: #f9f2ff;
$colorPink: #c961fa;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}

body {
  color: $colorGray;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 12px;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

@mixin flexible($justify, $align, $direction, $gap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
}

@mixin button($padding, $borderRad, $color, $bgColor) {
  padding: $padding;
  border-radius: $borderRad;
  color: $color;
  background: $bgColor;
}

.main-btn {
  cursor: pointer;
  @include button(16px 25px, 4px, #fff, $btnGradient);
}

.col-6 {
  width: 50%;
}
.col-3 {
  width: 25%;
}
