@import url("https://db.onlinewebfonts.com/c/b52804ac57ef6e90d2826a6b0f111133?family=Integral+CF+Bold");
@import url("https://fonts.cdnfonts.com/css/satoshi");

$font-size-base: 1rem;

// $h6-font-size: $font-size-base * 2;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  3_5: $spacer * 1.25,
  4: $spacer * 1.5,
  4_5: $spacer * 2,
  4_75: $spacer * 2.25,
  4_8: $spacer * 2.5,
  5: $spacer * 3,
  5_5: $spacer * 3.5,
  6: $spacer * 4,
  6_5: $spacer * 4.5,
  7: $spacer * 5,
);

$list-group-bg: transparent;
$pagination-color: inherit;
// $list-group-color: inherit;

// $container-max-width: (
//   // sm: 540px,
//   // md: 720px,
//   // lg: 960px,
//   // xl: 1140px,
//   xxl: 1440px
// );

//  3_5: $spacer * 1.25, => 20px
//  4_5: $spacer * 2, => 32px
//  4_75: $spacer * 2.25, => 36px
//  4_8: $spacer * 2.5, => 40px
//  5_5: $spacer * 3.5, => 56px
//  6: $spacer * 4, => 64px
//  6_5: $spacer * 4.5, => 72px
//  7: $spacer * 5, => 80px
