body {
    margin: 0;
}

.container{
    height: 600px;
    background-color: rgb(182, 176, 171);
    padding: 20px;
    display: grid;
    gap: 10px;
    /* grid-template-columns: 150px 150px 150px 150px 150px 150px; ne kadar uzunlukla kaç tane olacak?*/
    /* grid-template-columns: auto auto auto auto auto auto;  */
    /* grid-template-columns: 150px auto auto auto auto 150px; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr; */
    /* grid-template-columns: repeat(6, 1fr); */
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 2fr); */
    /* grid-template-columns: repeat(3, 300px); */
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
}

.item{
    background-color: chocolate;
    padding: 20px;
}