@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://db.onlinewebfonts.com/c/b52804ac57ef6e90d2826a6b0f111133?family=Integral+CF+Bold");

:root {
  --max-width: 1440px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Satoshi", sans-serif;
}

.container {
  width: 1240px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

nav {
  .offer {
    height: 38px;
    font-size: 14px;
    line-height: 18.9px;
  }
  .container {
    gap: 3px;
    .search-form {
      width: 577px;
      height: 48px;
      input {
        border-radius: 62px;
        padding: 12px 16px;
      }
    }
    .nav-icons {
      display: flex;
      gap: 1px;
    }
  }
}
footer {
  padding-top: 55px;
  .subscribe-box {
    border-radius: 20px;
    padding: 36px 64px;
    h1 {
      font-family: "Integral CF Bold";
      font-size: 40px;
      line-height: 45px;
    }
    .subscribe-form {
      gap: 14px;
      input {
        max-width: 349px;
        max-height: 48px;
        border-radius: 62px;
        padding: 12px 16px;
      }
      button {
        max-width: 349px;
        max-height: 48px;
        border-radius: 62px;
        padding: 12px 16px;
      }
    }
  }
  .footer-box {
    padding: 71px 0px;
    .box1 {
      gap: 25px;
      p {
        font-size: 14px;
        line-height: 22px;
      }
    }
    .nav {
      .heading {
        line-height: 18px;
        letter-spacing: 3px;
      }
      .nav-link {
        line-height: 19px;
        color: #00000099;
      }
    }
  }
  .all-rights {
    p {
      font-size: 14px;
      line-height: 18.9px;
      color: #00000099;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    ul {
      li {
        display: none;
      }
    }
    .search-form {
      display: none;
    }
  }
}
