.powerful-features-cards{
 flex-wrap: wrap;
 gap: 2rem;
 margin-top: 4rem;
 min-height: 80vh;
 margin-top: 70px;
 flex-direction: column;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center ;
}
.title{
text-align: center;
}
.down-title{
    margin-top: 50px;
    text-align: center;
}
.cross-platform{
    height: 400px;
    width: 600px;
    background-color: white;
    position: relative;
    border-radius: 20px;
    padding: 30px;
    transition: all .5s;
}
.cross-platform:hover {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  .cross-platform h2{
    font-size: 35px;
    text-align: center;
  }
.cross-platform > p {
    font-size: 14px;
    color: #667085;
  }
.cross-platform div{
    position: relative;
    border-radius: 30px;  
}
.cross-platform > div > img {
    position: absolute;
    top: 50px;
    width: 90%;
    border-radius: 30px;
  }
    
