$primary-color: #F28123;
$dark-bg-color: #051922;
$light-bg-color: #fff;
$text-color: #555;
$hover-color: #F28123;
html {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    height: 100%;
  }

.round img {
    border-radius: 100%;
}

.label-info {
    background-color: #1976d2;
}

.label-success {
    background-color: green;
}

.label-danger {
    background-color: #ef5350;
}

.action-icons a {
    padding-left: 7px;
    vertical-align: middle;
    color: #99abb4;
}

.action-icons a:hover {
    color: #1976d2;
}

.mt-100 {
    margin-top: 100px
}

.mb-100 {
    margin-bottom: 100px
}

.orange-text {
    color: $primary-color;
 }
 
 .blue-bg {
   background-color: #162133;
 }
 
 a.boxed-btn {
   font-family: 'Poppins', sans-serif;
   display: inline-block;
   background-color: #F28123;
   color: #fff;
   padding: 10px 20px;
 }
 
 a.bordered-btn {
   font-family: 'Poppins', sans-serif;
   display: inline-block;
   color: #fff;
   border: 2px solid #F28123;
   padding: 7px 20px;
 }
 
 a.boxed-btn, a.bordered-btn, a.cart-btn {
   border-radius: 50px;
 }