@mixin gradient-directional(
  $start-color: $primary-700,
  $end-color: $secondary-800,
  $hover-start-color: $gray-700,
  $hover-end-color: $gray-800,
  $deg: 45deg,
  $start-percent: 0%,
  $end-percent: 100%
) {
  background-image: linear-gradient($deg, $start-color, $end-color);
  &:hover {
    background-image: linear-gradient(
      $deg,
      $hover-start-color,
      $hover-end-color
    );
  }
}
@mixin background-hover(
  $bg-color,
  $text-color,
  $button-color: $primary,
  $button-text-color: $white
) {
  &:hover {
    background-color: $bg-color;
    * {
      color: $text-color !important;
    }
    button {
      background-color: $button-color !important;
      color: $button-text-color !important;
    }
  }
}
