$color_1: var(--main-color);
$color_2: #fff;
$color_3: #D875C7;
$color_4: #444;
$font-family_1: var(--main-font);
$background-color_1: #fff;
$background-color_2: var(--main-color);
$border-color_1: var(--main-color);


@keyframes animate-img-circle {
	0% {
		top: -20px;
		left: -20px;
	}
	50% {
		top: -20px;
		left: 20px;
		border-color: var(--main-color);
	}
	100% {
		top: -20px;
		left: -20px;
	}
}
@keyframes animate-img-circle-2 {
	from {
		top: -70px;
	}
	to {
		top: 10px;
		border-color: var(--main-color);
	}
}
&:root {
	--main-color: #8576FF;
	--main-font: 'Poppins', sans-serif;
}
h1 {
	font-size: 120px;
	font-weight: 700;
	line-height: 120px;
	letter-spacing: -4px;
	text-align: left;
	vertical-align: top;
	color: $color_1;
}
h2 {
	font-style: 48px;
	font-weight: 800;
	line-height: 94.5px;
	color: $color_1;
}
h3 {
	font-size: 42px;
	font-weight: 700;
	line-height: 54.6px;
	color: $color_1;
}
h4 {
	font-size: 32px;
	font-weight: 600;
	line-height: 30px;
	color: $color_1;
}
.caption {
	font-size: 12px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 5px;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	overflow-x: hidden;
}
body {
	background: url('/img/background.png');
	background-size: cover;
	color: $color_1;
	font-family: $font-family_1;
	position: relative;
	padding: 0;
	margin: 0;
	font-size: 16px;
	min-height: 100vh;
	width: 100%;
	overflow: hidden;
}
.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 24px;
	margin: 0 auto;
	padding-top: 80px;
}
.holder {
	display: flex;
	justify-content: space-between;
}
.text {
	width: calc(60%);
	overflow: hidden;
	h1 {
		padding-top: 100px;
		padding-bottom: 20px;
	}
	.subtitle {
		color: $color_1;
		font-size: 32px;
		font-weight: 700;
		line-height: 35px;
		letter-spacing: 30px;
		text-transform: uppercase;
		padding-top: 15px;
	}
}
.form {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 60px;
	img.arrow {
		width: 34px;
		height: 50px;
	}
	input {
		font-family: $font-family_1;
		font-size: 18px;
		padding: 20px 24px;
		flex-grow: 1;
		margin: 0 16px;
		border: none;
		outline: none;
		border: 1px solid #fff;
		border-radius: 10px;
		background-color: $background-color_1;
		box-shadow: 0px 0px 10px 1px #912BBC;
		transition: 0.5s ease;
		&::placeholder {
			font-family: $font-family_1;
			color: $color_1;
			font-size: 18px;
		}
		&:focus {
			border-color: $border-color_1;
			box-shadow: unset;
		}
	}
}
.btn-filled {
	font-family: $font-family_1;
	padding: 25px 24px;
	border-radius: 10px;
	color: $color_2;
	background-color: $background-color_2;
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;
	letter-spacing: 4px;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	transition: 0.5s ease;
	&:hover {
		background-color: $background-color_2;
	}
}
.image {
	width: calc(30%);
	display: flex;
	flex-direction: column;
	align-items: center;
	h4 {
		color: $color_1;
	}
	.text-section {
		padding-top: 15px;
	}
	.image-box {
		position: relative;
		margin-bottom: 32px;
		&::before {
			content: '';
			position: absolute;
			top: -45px;
			left: -30px;
			width: 350px;
			height: 350px;
			border-radius: 50%;
			border: 3px solid #fafafa;
			z-index: 2;
			pointer-events: none;
			user-select: none;
			animation: animate-img-circle 8s linear infinite;
		}
		&::after {
			content: '';
			position: absolute;
			right: -420px;
			top: 0;
			width: 800px;
			height: 800px;
			border: 1px solid #fff;
			border-radius: 50%;
			pointer-events: none;
			user-select: none;
			z-index: 0;
			animation: animate-img-circle-2 3s linear infinite alternate;
		}
	}
	img {
		position: relative;
		max-width: 100%;
		border-radius: 50%;
		z-index: 1;
	}
	.subtitle {
		font-size: 16px;
		font-weight: 400;
		line-height: 30px;
		letter-spacing: 5px;
		margin-bottom: 24px;
	}
	.body {
		line-height: 30px;
		margin-bottom: 24px;
	}
}
.links {
	padding-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	a {
		color: $color_1;
		padding: 8px 15px 0px 0px;
		text-decoration: none;
		font-size: large;
		text-transform: uppercase;
		transition: color 0.5s ease;
		&:hover {
			color: $color_3;
		}
	}
}
.card-holder {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 50px;
}
.card {
	display: grid;
	width: 300px;
	height: 250px;
	margin-bottom: 30px;
	background: #fff;
	border-radius: 10px;
	background: rgba(133, 118, 255, 0.2);
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(15px);
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}
.img-bx {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	transform: translateY(30px) scale(0.5);
	transform-origin: top;
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.content {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 15px;
	.detail {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
	}
}
.sci {
	position: relative;
	display: flex;
	margin-top: 5px;
	li {
		list-style: none;
		margin: 4px;
		padding: 0px 15px;
		a {
			width: 60px;
			height: 60px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			background: rgba(255, 255, 255, 0.3);
			font-size: 1em;
			color: $color_4;
			text-decoration: none;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
			transition: 0.5s;
			&:hover {
				background: #D875C7;
				color: $color_2;
			}
		}
	}
}
@media (max-width: 1200px) {
	h1 {
		font-size: 90px;
		line-height: 110px;
	}
	.text {
		.subtitle {
			font-size: 28px;
			letter-spacing: 25px;
		}
	}
}
@media (max-width: 900px) {
	.container {
		padding: 0 25px;
	}
	.text {
		h1 {
			padding-top: 30px;
		}
		padding-bottom: 40px;
	}
	.holder {
		flex-direction: column;
		>div {
			width: 100%;
		}
	}
}
@media (max-width: 600px) {
	header {
		padding-top: 30px;
	}
	.container {
		padding-bottom: 30px;
	}
	h1 {
		font-size: 60px;
		line-height: 70px;
	}
	.text {
		.subtitle {
			font-size: 22px;
			letter-spacing: 10px;
		}
	}
	.form {
		flex-direction: column;
		>* {
			width: 100%;
			margin: 16px;
		}
		img.arrow {
			display: none;
		}
		input {
			box-shadow: none;
		}
	}
	.card-holder {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		padding-left: 40px;
		margin-top: 50px;
	}
}
