header{
    .navbar{
        .navbar-right{
            ul{
                li{
                    padding: 15px 20px;
                    a{
                        color: rgb(0, 0, 0);
                    }
                    .active{
                        color: #4285f4;
                    }
                }
            }
        }
    }
}