$primary-color:#2F89FC;
$gray-content:#4d4d4d;
$card-subtitle:#b3b3b3;
$white:#fff;
$black:#000;
$footer:#737373;
$footer-list:#999999;
$fs-16:1rem;
$fs-14:0.875rem;
$fs-13:0.813rem;
$fs-20:1.25rem;
$fs-19:1.2rem;
$fs-18:1.125rem;
$fs-48:3rem;
$fs-15:0.938rem;
$fs-32:2rem;
$font-weights:(
    "regular": 400,
    "medium": 500,
    "bold":900,
)
