.padding-top-225px{
    padding-top : 225px;
}
.padding-top-70px{
    padding-top : 70px;
}
.margin-bottom-30px{
    margin-bottom: 30px;
}
.margin-bottom-80px{
    margin-bottom: 80px;
}
.row-r{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60%;
    margin-left: 20%;
}
.row-r .p-24{
    margin-top: 15px;
    margin-bottom: 55px;
}
.box-with-img{
    width: 636px;
    height: 455px;
    border-radius: 15px;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 50px;
    display: flex;   
    text-align: center;
    flex-direction: column;
    transition: transform 0.3s ease;
    position: relative;
}
.blue-box{
    background-color: #bee1ea;    
}
.krem{
    background-color: #fff3ea;
}
.img-row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.box-with-img:hover {
    transform: translateY(-5px); 
    transition: transform 0.3s ease; 
}
.img-box{
    width: 80%;
    height: 442px;
    position: absolute;
    bottom:-140px;
    border-radius: 20px
}
.img-box-color1{
    background-color: #ebecf4;
}
.img-box-color2{
    background-color: #cbd1e5;
}
.img-box img{
    width: 80%;
    height: 80%;
    margin: 50px;
}
.stikers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 50px;
}
.card-stiker{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ccc;
}
.exp{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 30px;
}
.exp h4{
    margin-bottom: 15px;
}
.img-container-R{
    width: 80px;
    height: 80px;
    margin-right: 20px;
}
.section-7{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
} 
.section-7-content{
    width: 48%;
    height: 1000px; 
    position: relative;
} 
.img-box-7{
    background-image:url('img/sec-7.png');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: relative;
    padding: 20px;
    display: flex;  
}
.header-span{
    background-color: #bee1e6;
    width: 210px;
    height: 42px;
    display: inline-block;
    padding: 15px 10px; 
    border-radius: 25px; 
    text-align: center;
}
.sec-7-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 2px dotted #006d77; width: 85%; 
    padding-top: 15px; 
}
.leaf-content{
    width: 100%;
    margin: 15px;
    padding-bottom: 15px;
}
.img-box-7 .img-box{
   width: 60%;
   max-height: 80%;
   position: absolute;
   bottom: -20px;
   right: -20px; 
   padding: 10px; 
  
}
/* deneme-V */
#section-a-right{
    background: url("img/sec-7.png") no-repeat center center/contain;
    height: 620px;
}
#section-a-right img{
    width: 200px;
    margin: 480px 0 0 400px;
}
#section-a .column-gap{
    gap: 5px;
}
#section-a .row{
    justify-content: flex-start;
}
#section-a i{
    color: rgba(0 ,109, 119,1);
}
#section-a .paragraph{
    padding-bottom: 40px;
    border-bottom: 3px dotted rgba(0 ,109, 119,1);
}
/* deneme */

.sec-8{
    background-color: #f2f4f7;
    border-radius: 50px;
    padding: 70px;
}
.sec-8-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 20px;
}
.sec-8-card{
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    border-radius: 20px;
    padding: 40px; 
    transition: transform 0.3s ease;
    width: 90%;
    margin: auto;  
}
.sec-8-card:hover {
    transform: translateY(-5px); 
    transition: transform 0.3s ease; 
}
.sec-8-card p{
    line-height: 2;
    padding-bottom: 30px ;
}
.sec-8-card-usr{
    display: flex;
    align-items: center;
    gap: 10px; 
}
.sec-8-card-usr img{
    height: 80px;
    width: 80px;
    border-radius: 5px;
}
.user span{
    font-weight: bold   ;
}
@media screen and (max-width: 990px) {
    .stikers {
        grid-template-columns: 1fr;
    }   
    .sec-7-grid{
        grid-template-columns: 1fr;
        width: 100%; 
    }
    .section-7{
        flex-direction: column;        
    }
    .img-row {
        flex-direction: column;
    }
    .box-with-img{
        margin-bottom: 200px;
    }
    .last-leaf{
        margin-bottom: 350px !important;
    }
    .section-7-content {
        width: 100%; /* Tam genişlik alması için */
        display: block;
        margin-bottom: 50px !important;
    }  

}
@media screen and (max-width: 1148px) {
    .section-7-content{
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 1301px) {
    .sec-8{
        margin-top: 180px !important;
    }
}

@media screen and (max-width: 768px) {
    .sec-8-content{
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));}
    
}


