.col-wrapper .text-center{
    max-width: 55%;
    padding: 0 12px;
    margin-top: 40px;
}

.row-wrapper{
    margin-top: 90px;
    padding: 0 12px;
}

.card {
    width: 636px;
    height: 455px;
    padding: 55px 50px 0;
    margin-right: 20px;
}

.card > .card-img {
    width: 536px;
    height: 440px;
    padding: 23px 19px;
}

.card > p {
    margin-bottom: 20px;
}

.card > .card-img > img {
    width: 100%;
}

.item-list{
    padding: 0 12px;
    margin-top: 50px;
}

.item-list > .item-icon{
    position: relative;
    padding: 0 0 40px 80px;
    margin-bottom: 40px;
    border-bottom: 2px solid #e4e7ec;
}

.item-list > .item-icon > .icon-left{
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
}

.btn {
    border-radius:50px ;
    padding: 14px 28px;
}

.line{
    border: 1px dashed;
    margin-top: 50px;
}

.icon-leaf{
    background: url(assets/icon-leaf.f2afd49a.svg) no-repeat;
    padding: 0 0 0 28px;
}

.inner-img{
    position: relative;
}

.img-bottom{
    position: absolute;
    bottom: -80px;
    right: -80px;
}

@media screen and (max-width: 990px){
    .row-wrapper{
        flex-direction: column;
    }
    .card {
        width: 100%;
    }
    .card > .card-img {
        width: 100%;
    }
}