@media (max-width: 768px) {
  .hero-section {
    height: 100vh;

    .navbar {
      .logo {
        display: none;
      }
    }
    .hero-wrapper {
      flex-direction: column;

      .hero-right {
        .img {
          img {
            width: 100%;
          }
        }
      }
    }
  }

  .my-project {
    .project-card-wrapper {
      grid-template-columns: 100%;

      .my-project-card {
        width: 90%;
        margin: 0 auto;
      }
    }
  }
}
