@media (max-width: 768px) {
  .hero-section {
    height: 100vh;

    .hero {
    }

    .navbar {
      .logo {
        display: none;
      }
    }
    .hero-wrapper {
      flex-direction: column;

      @keyframes border-solid {
        0% {
          transform: translateY(-50px);
        }

        50% {
          transform: translateY(0px);
          border-color: #222831;
        }

        100% {
          transform: translateY(-50px);
        }
      }
    }
  }
}
