.image{
    width: 180px;
    height: 240px;
}

.card{
    width: 200px;
    height: 420px;
    box-shadow: 1px 4px 3px lightgray;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: all .5s;
}

.card:hover{
    box-shadow: 1px 4px 3px rgba(169,169,169);
}

.detail-button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(67, 67, 67);
    cursor: pointer;
    transition: all .5s;
}

.detail-button:hover{ 
    background-color: rgb(212, 164, 101);
}