.navbar{
    display: flex;
}

.logo{
    background-color: brown;
    width: 10%;
    height: 150px;
}

.menu{
    background-color: rgb(139, 108, 108);
    width: 90%;
    justify-content: center;
    align-items: center;
}

box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;