@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  line-height: 1.7;
}
.color-gray {
  color: gray;
}
.flex {
  display: flex;
}
.text-align-left {
  text-align: left;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.header-h2 {
  color: #000;
  font-size: 40px;
  font-weight: 900;
  margin-top: 0;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
.p2 {
  text-align: left;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 300;
}
.p1 {
  margin-top: 0;
  margin-bottom: 3rem;
  color: #6c757d;
  font-size: 1rem;
  font-weight: 300;
}
.bg-gray {
  background-color: #f1f1f1;
}
.mt-30 {
  margin-top: 60px;
}
.mb-30 {
  margin-bottom: 30px;
}
.pdg-30 {
  padding: 30px;
}
.fsize-40 {
  font-size: 40px;
}
.fw-900 {
  font-weight: 900;
}
.mb-4 {
  margin-bottom: 1.5rem;
}
// .row{
//     display: flex;
//     flex-wrap: wrap;
//     margin-right: -15px;
//     margin-left: -15px;
// }
