$primary: #f60606;
/* $secondary: #344bc5;
$danger: #04091e; */
$h2-font-size: 2.25rem; /* 36px */
$h4-font-size: 1.25rem; /* 20px */
$h5-font-size: 0.875rem; /* 14px */
$h6-font-size: 0.75rem; /* 12px */
