:root{
    --title-text: #101828;
    --p-text:#475467;
    --primary:#101828;
    --secondary:#006D77;
    --third:#BEE1E6;
    --fourth:#FFF3EA;
}
@media screen and (max-width:768px ){
    .menu-item{
        display: none;
    }
    .container{
        width: 100%;
        padding: 10px;
        margin: 0px;
    }
    #slider-image-section{
        display: none;
    }
    .blok3{
        position: absolute;
        /* bottom: -1700px;
        right: -40px; */
        margin-top: 540px;
        margin-left: 440px;
        width: 200px;
        height: 150px;
    }
    #aboutus {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .witdh50 {
        width: 100%;
    }
    .companies-wwd {
        margin-top: 90px;
    }

    #Features-right img{
        width: 300px;
        height: 300px;
    }
    .box4{
        display: none;
    }
    #Discover img{
        width: 300px;
        height: 300px;
    }
}