#root {
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.app {
  text-align: center;
  height: 100vh;
}

.app.dark {
  background-color: #222;
  color: #fff;
}

.app.light {
  background-color: #fff;
  color: #222;
}
