* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
}

.mt-30 {
  margin-top: 2rem;
}

.mb-30 {
  margin-bottom: 2rem;
}

.mt-10 {
  margin-top: 10px;
}
.pt-30 {
  padding-top: 2rem;
}

.pb-30 {
  padding-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.bg-orange {
  background-color: #feb91f;
}

.p-1 {
  padding: 1rem;
}
