@import "./base.scss", "./variables.scss";
.header {
  position: relative;
  background-color: $heroColor;
  height: 100vh;
  z-index: 1;
  .hero {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin-top: 4rem;

    .hero-left{
      h2{
        font-size: 2.8rem;
      }
      p{
        margin-top: 2rem;
      }

      button{
        margin-top: 2rem;
        @include btn(1.2rem 2rem, $graident, $textWhite);
        border: none;
        border-radius: 4px;
      }
    }

    .hero-right{
      position: relative;
      .hero-main-img{
        img{
          width: 100%;
        }

        
        }
        .img-first{
          img{
            position: absolute;
            top: 0;
            right: 0;
            animation: hero-animate 6s;
          }
      }
    }
    .shape-1 {
      position: absolute;
      background-repeat: no-repeat;
      z-index: -1;
      right: 0;
      top: 0;
    }


  }
  .navbar {
    @include flexible(flex, space-between, center, 1rem);
    .check-btn {
      display: none;
    }
    #checkbox {
      display: none;
    }
    padding: 1rem 0;
    .logo {
      img {
        width: 250px;
      }
    }

    .navbar-items {
      @include flexible(flex, space-around, center, 3rem);

      .navbar-item {
        position: relative;
        a {
          color: $textBlack;
          margin-right: 0.3rem;
        }

        .dropdown {
          position: absolute;
          background: #fff;
          width: 12rem;
          right: -50px;
          border: 1px solid $textWhite;
          font-weight: 300;
          visibility: hidden;
          transition: all 0.5s ease-in-out;
          opacity: 0;
          background: $graident;

          .dropdown-item {
            background: $graident;
            padding: 0.1rem 0.5rem;
            line-height: 2rem;
            border-bottom: 1px solid #ccc;
            transition: all 0.2s ease;

            a {
              font-size: $fontSizeSmall;
            }

            &:hover {
              padding: 0 1rem;
              background: $textWhite;

              a {
                color: $iconColor;
              }
            }
          }
        }
      }

      .navbar-btn {
        a {
          @include btn(1.2rem 1rem, $graident, $textWhite);
          border-radius: 4px;
          font-weight: 600;
        }
      }

      #first-dropdown {
        &:hover {
          .dropdown {
            padding: 0.5rem;
            visibility: visible;
            opacity: 1;

            .dropdown-item {
              height: max-content;
            }

            a {
              display: block;
            }
          }
        }
      }
      #second-dropdown {
        @extend #first-dropdown;

        #inline-dropdown {
          @include flexible(flex, space-between, center, 1rem);

          .inline-dropdown-list {
            position: absolute;
            right: -100%;
            background: $graident;
            width: 100%;
            opacity: 0;
            transition: all 0.2s ease-in-out;
            padding: 0.5rem;
            li {
              &:hover {
                background: #fff;

                a {
                  color: $iconColor;
                  padding: 0.4rem;
                  transition: 0.2s ease-in-out;
                }
              }
            }

            a {
              color: #fff;
            }
          }
        }

        #inline-dropdown {
          &:hover .inline-dropdown-list {
            opacity: 1;
          }
        }
      }

      #third-dropdown {
        @extend #first-dropdown;
      }

      #fourth-dropdown {
        @extend #first-dropdown;
      }
    }
  }
}
