$x100: 100px;
$x80: 80px;
$x60: 60px;
$x30: 30px;
$x20: 30px;
// colors
$graident: linear-gradient(to right, #ff5195, #ffb84b);
$hoverGraident : linear-gradient(to right, #ffb84b, #ff5195, );
$iconColor: #fd4372;
$heroColor: #f9f2ff;
$textBlack: #000;
$textWhite: #fff;
$colorStar: #e9ba17;
$textColor: #696969;

//Font Size
$fontExtraSmall: 0.7rem;
$fontSizeSmall: 0.8rem;
$defaultSize: 1rem;
$fontSizeMedium: 1.2rem;
$fontSizeLarge: 1.5rem;
$fontSizeExtraLarge: 2rem;
$fontSizeExtraExtraLarge: 3rem;
