@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body {
  color: #084b4f;
  font-family: "Poppins", sans-serif;
  position: relative;
  font-size: 16px;
  min-height: 100vh;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.col-9 {
  width: 60%;
}

.col-3 {
  width: 30%;
}

.pt-60 {
  padding-top: 60px;
}

h1 {
  font-size: 120px;
  font-weight: 700;
  line-height: 120px;
  letter-spacing: -4px;
  color: #0c7f86;
}

h4 {
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  color: #0c7f86;
}

.space-between {
  justify-content: space-between;
}

.caption {
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.headerLogo {
  display: block;
  width: 100px;
  height: 60px;
}

.leftArea {
  overflow: hidden;
}

.leftArea h1 {
  padding-top: 100px;
  padding-bottom: 20px;
}

.waveImage {
  height: 20px;
  width: 100%;
  background-size: 645px 20px;
  background-repeat: repeat-x;
  margin: 25px 0px;
}

.leftArea .subtitle {
  color: #0c7f86;
  font-size: 32px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 30px;
  padding-top: 15px;
}

.aboutForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

.arrow {
  width: 34px;
  height: 50px;
}

.aboutForm input {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding: 20px 24px;
  flex-grow: 1;
  margin: 0px 16px;
  outline: none;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(12, 127, 134, 0.25) 0px 0px 30px 7px;
  transition: all 0.5s ease 0s;
}

.btn-filled {
  font-family: "Poppins", sans-serif;
  padding: 25px 24px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: #0c7f86;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 4px;
  text-transform: uppercase;
  border: none;
  transition: all 0.5s ease 0s;
}

.img-box {
  position: relative;
  margin-bottom: 32px;
}

.img-box img {
  position: relative;
  max-width: 100%;
  border-radius: 50%;
  z-index: 1;
}

.bg1 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 40%;
  background-color: rgb(229, 255, 249);
  z-index: -1;
}

.bg2 {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 60%;
  background-color: rgb(184, 228, 218);
  z-index: -1;
}

.aboutMe h4 {
  color: #084b4f;
  letter-spacing: 2px;
}

.aboutMe .subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  margin-bottom: 24px;
  padding-top: 0px;
}

.aboutMe .body {
  line-height: 30px;
  margin-bottom: 24px;
}

.socialMedia {
  padding-bottom: 20px;
  justify-content: space-around;
}

.socialMedia a {
  color: #084b4f;
  padding: 8px 8px 0px 0px;
  transition: color 0.5s ease 0s;
}

/*# sourceMappingURL=style.css.map */
