$width:1240px;
$color-blue: #2F89FC;
$color-black: black;
$color-white: white;
$font-size: 10px;
$color-danger: crimson;
$color-lowBlack:rgba(0, 0, 0, .1);
$color-light: rgba(255, 255, 255, .8);
$color-orange: #f89d13;
$color-darkBlue: #006eff;