* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nanum Gothic", sans-serif;
}

.primary-bg-color {
    background-color: #2f89fc;
}

.primary-text-color {
    color: #2f89fc;
}

//margin mixin i
@mixin marginMixin($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

//padding mixi i
@mixin paddingMixin($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

@mixin fontMixin($size, $color) {
    font-size: $size;
    color: $color;
}

//hizalama mixin i
@mixin hizalamaMixin($display, $direction, $justify, $align) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

.container {
    width: 90%;
    margin: auto;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
    cursor: pointer;
}

.colorw {
    color: white;
}

.gap-30 {
    gap: 30px;
}

.mt-20 {
    margin-top: 20px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.column-gap {
    column-gap: 20px;
}

//grid
.grid {
    display: grid;
}

// cards

.card {
    border-radius: 10px;
    background-color: $color-white;

    img {
        width: 100%;
    }

    &-body {
        padding: 20px;

        .meta {
            display: flex;
            justify-content: space-between;
            padding: .8rem 0;

            i {
                padding: 10px;
                border-radius: 50%;
                color: $color-blue;
                background-color: $color-lowBlack;
            }
        }

        h2 {
            font-size: 2rem;
            font-weight: 400;
            color: $color-blue;
        }

        address {
            margin: 1rem 0;

        }

        i {
            color: $color-orange;
        }
    }

    &-icon {
        padding: 2rem;
        border-radius: 5px;
        transition: all .5s;
        width: 100%;

        h3 {
            margin: 1rem 0;
            font-weight: 400;
            font-size: 1.6rem;
        }

        i {
            font-size: 3.5rem;
            padding: 1rem;
            color: $color-blue;
        }

        &:hover {
            background-color: $color-blue;
            transform: scale(1.09);

            h3,
            i {
                color: $color-white;
            }

            .badge {
                background-color: $color-darkBlue;
                color: $color-white;
            }
        }

    }

}

.badge {
    padding: 10px 20px;
    font-size: 11px;
    background-color: #E9ECEF;
    border-radius: 30px;
    display: inline-block;
}

.content {
    width: 90%;
    margin: 0 auto;

    h2 {
        font-size: 3rem;
        color: $color-blue;
    }

    .border-bottom {
        margin-top: 1rem;
        height: 3px;
        width: 9rem;
        background-color: $color-blue;
        display: inline-block;
    }
}