.container {
    width: 80%;
}
.navbar {
    .navbar-collapse {
        .navbar-nav {
            .nav-link {
                color: #183b56;
                font-size: 13px;
                background-color: rgba(0, 0, 0, 0);
                padding: 28px 25px;
                text-transform: uppercase;
                transition: all .3s ease;
                position: relative;
                font-weight: 700;
            }
            a:hover {
                color: #46a5bd;
            }
        }
        .nav-login {
            .btn {
                background: linear-gradient(80deg, #46a5bd 0%, #116a8d 100%);
                border: none !important;
                color: #fff !important;
                padding: 12px 30px;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: .5px;
            }
        }
    }
}
.home-2 {
    background-color: #0076a3 !important;
    .row {
        .text-center {
            h1 {
                animation: changeText 5s infinite;
                font-weight: 500 !important;
            }
            @keyframes changeText {
                0%, 100% {
                    content: "Başlık Burada";
                  }
                  25% {
                    content: "Değişen Başlık";
                  }
                  50% {
                    content: "Yeniden Başlık";
                  }
                  75% {
                    content: "Başlık Değişiyor";
                  }
              }
        }
    }
    .phone-mockup {
        height: 450px;
        margin-bottom: 300px;
    }
}
.home2-service {
    top: 300px;
    padding-bottom: 100px;
    .row {
        .title {
            h6 {
                color: #0076a3 !important;
            }
            h2 {
                font-weight: 700;
                font-size: 40px;
                color: #183b56;
            }
        }
    }
    .cards {
        .service-box {
            padding: 20px;
            border-radius: 20px;
            transition: all .3s;
            .service-icon {
                height: 100px;
                width: 100px;
                background-image: url("../img/icons8-bomb-90.png");
                background-repeat: no-repeat;
                align-self: center;
                img {
                    align-self: center;
                }
            }
            .service-content {
                a {
                    font-size: 20px;
                    font-weight: 700;
                    text-decoration: none;
                    color: #183b56;
                    transition: all .3s;
                }
            }
        }
        .service-box:hover {
            box-shadow: 0 5px 13px rgba(60,72,88,.2);
            transition: all .3s;
            a {
                color: #0076a3;
            }
        }
    }
}
.features {
    padding-top: 100px;
    .titles {
        .title {
            h6 {
                color: #0076a3 !important;
                font-size: 16px;
                font-weight: 700;
            }
            h2 {
                font-size: 40px;
                font-weight: 700;
                color: #183b56;
            }
        }
    }
    .row {
        .nav {
            .nav-item {
                .nav-link {
                    margin: 0 10px;
                    padding: 10px 30px;
                }
                .top-f {
                    border: 1px solid #0076a3;
                    background: linear-gradient(rgb(46, 141, 165) 0%, rgb(17, 77, 100) 100%);
                    color: #fff;
                }
                .smart-f {
                    margin: 0 10px;
                    border: 1px solid rgba(24, 59, 86, .5);
                    padding: 10px 30px;
                    color: #183b56 !important;
                }
            }
        }
        .tab-content {
            .tab-pane {
                .parts {
                    .features-item {
                        .circle {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            background-color: #e5f1f6;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        .content {
                            h5 {
                                font-size: 20px;
                                font-weight: 700;
                                color: #183b56;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .home-2 {
      height: 2000px !important;
    }
  }