.bgImage{
    background-image: url(https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?w=1380&t=st=1710775459~exp=1710776059~hmac=136aa3d41f150e01d6251fd4e51c95afbc597a094a7092d10bbab1642393ac53);
    width: 100%;
    height: 100%;

}