@import '../../app/globals.sass'

.writeReviewBtn
    background-color: $danger
    color: $light
    html.dark & 
        background-color: $light
        color: $danger

.nav-link
    color: $danger
    html.dark & 
        color: $light
