@import '../../app/globals.sass'

.writeReviewBtn
    background-color: $danger
    color: $light
    html.dark & 
        background-color: $light
        color: $danger

.nav-link
    color: $danger
    html.dark & 
        color: $light

.rvwRAnge
    margin-left: 5px
    color: $primary
    html.dark & 
        color: $light

.reviewBox
    width: 47%

@media ( max-width: 480px )
    .reviewBox
        width: 100%