.flex {
  display: flex;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito";
}
.container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.header-h2 {
  color: #000;
  font-size: 40px;
  font-weight: 900;
  margin-top: 0;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
.p2 {
  text-align: center !important;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 300;
}
.p1 {
  margin-top: 0;
  margin-bottom: 3rem;
  color: #6c757d;
  font-size: 1rem;
  font-weight: 300;
}
.bg-gray{
  background-color: #f1f1f1;
}
.mt-30{
  margin-top: 60px;
}
.pdg-30{
  padding: 30px;
}
