*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    color: #dbe2fb;
    /* background: #001232; */
}
.container{
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.flex{
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.box{
    width: 370px;
    height: 320px;
    background-color: #032055;
    padding: 30px;
    margin: 1%;
    line-height: 30px;
}
.section-info{
    text-align: center;
}
.section-title{
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}
.section-desc{
    margin-bottom: 16px;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    z-index: 999;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.navbar-container{
    justify-content: space-between;
}
.hero-area{
    width: 100%;
    background: linear-gradient(to bottom, #4A00E0, #8E2DE2);
    padding: 165px 0px 249px;
}

/* rümeysa */
.content1{
    text-align: center;
}
.section-info{
    padding-top:  50px;
    padding-bottom: 50px;
          
}
.topcounter-box, .howitworks-box{
    text-align: center;
    flex-direction: column;
}
.topcounter-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.feature-content{
    text-align: 10px;
}
.icontopcounter{
    border-radius: 50%;
    background-color:  #8E2DE2;
    width: 70px;
    height: 70px;  
    justify-content: center; 
    margin-bottom: 25px;
}
.icontopcounter i{
    font-size: 40px;
    color: white;
}
.baslik-topcounter{
    font-size: 50px;
    margin-bottom: 15px;
}
.subtitle1-topcounter{
    font-size: 24px;
    font-weight: 600px;
}

/* About us */

.aboutus{
    background-color: #001232;
}
.container-aboutus{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}
/*.aboutustitle{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 600px;
    margin-bottom: 15px; 
    
       
} */
.imageaboutus img{
    height: 448px;
    width: 450px;
    margin: 0 50px;
}

.container2-aboutus{
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 40px;  
    margin-bottom: 60px;
}
.topheadinganabaslik{
    max-width: 600px;
}
.topheadingtitle{
    font-size: 24px;
    
}
.titleaboutus{
    font-size: 22px;
}
.aboutus-list-icon{
    margin-top: 20px;
}
.feature-content p{
    hyphens: auto;
}

.iconaboutus{
    height: 60px;
    width: 60px;
    background-color: #8E2DE2;
    border-radius: 50%;
    justify-content: center;
    margin-right: 24px;
}
.iconaboutus i{
    color: white;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;

}


/* ınvestment plan */

.investmentplan{
    background-color:#8E2DE2;
}
.container-investmentplan{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.investmentplantable{
    display: flex;
    flex-direction: row;

}


/* How it works */
.howitworkspart{
    background-color: #4A00E0;
}
.container-card-howitworks{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding-bottom: 60px;

}

.iconhowitworks{
    border-radius: 50%;
    background-color:  #8E2DE2;
    width: 70px;
    height: 70px;  
    
    
    
}
.iconhowitworks i{
    font-size: 40px;
    color: white;
}
.section-desc{
    margin-top: 27px;
}




/* What Users Says */

.whatuserssays{
    background-color: #8E2DE2;
}
.container-whatuserssays{
    padding-bottom: 50px ;
    
}
.topbox-whatuserssays{
    display: flex;
    flex-direction: row;
    justify-content: center;    
}
.containerusers{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
}
i{
    color: yellow;
    font-size: 12px;
}
.content1-whatuserssays{
    margin: 5% 0;     
}
.usersname{
    margin: 0 6%;
}
