@import '../../app/globals.sass'

.viewBtn
    margin: 25px
    padding: 16px 54px
    border-radius: 62px
    border: 1px solid $danger
    html.dark & 
        background-color: $light
        color: $danger