@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.mt-30 {
  margin-top: 2rem;
}

.mb-30 {
  margin-bottom: 2rem;
}

.p-1 {
  padding: 1rem;
}

.m-auto {
  margin: 0 auto;
}

.w-100 {
  width: 100%;
}

.center {
  text-align: center;
}

.flex-col {
  flex-direction: column;
}

/* !---------------- Header Start -------------------- */
.header {
  background: rgb(142, 45, 226);
  background: linear-gradient(
    0deg,
    rgba(142, 45, 226, 1) 0%,
    rgba(74, 0, 224, 1) 100%
  );
  height: 100vh;
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  font-family: "Poppins", sans-serif;
  z-index: 99;
}

.header .navbar .logo {
  padding-left: 50px;
}

.header .navbar .navbar-items {
  padding-right: 50px;
}

.header .navbar .navbar-items {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.header .navbar .navbar-items .navbar-item a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.header .navbar .navbar-items .navbar-item i {
  font-size: 15px;
}

.header .navbar .navbar-items .navbar-item {
  position: relative;
}

.header .navbar .navbar-items .navbar-item .effect {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  display: block;
  top: -23px;
  left: -5px;
  width: 120%;
  height: 296%;
  z-index: 99;
}

.header .navbar .navbar-items .navbar-item .dropdown {
  position: absolute;
  background-color: #fff;
  width: 150px;
  top: 25px;
  left: -20px;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
}
.header .navbar #dropdown-link:hover .dropdown {
  visibility: visible;
  opacity: 1;
}

.header .navbar .navbar-items .navbar-item .dropdown .dropdown-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.header .navbar .navbar-items .navbar-item .dropdown .dropdown-item a {
  color: #000;
  text-align: center;
}

.header .navbar .navbar-items .navbar-item .dropdown .dropdown-item:hover {
  background: rgb(74, 0, 224);
  background: linear-gradient(
    0deg,
    rgba(74, 0, 224, 1) 0%,
    rgba(142, 45, 226, 1) 100%
  );
  transition: 0.2s ease;
}

.header .navbar .navbar-items .navbar-item .dropdown .dropdown-item:hover a {
  color: #fff;
}

.header .navbar .login-btn a {
  padding: 7px 20px;
  color: #fff;
  background-color: #032055;
  border-radius: 10px;
}

.header .navbar .login-btn a:hover {
  background: rgb(74, 0, 224);
  background: linear-gradient(
    0deg,
    rgba(74, 0, 224, 1) 0%,
    rgba(142, 45, 226, 1) 100%
  );
  transition: 0.2s ease;
}

/* ?Hero Start */

.header .hero {
  position: relative;
  top: 2%;
  font-family: "Open Sans", sans-serif;
}

.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.hero-wrapper .hero-content h2 {
  font-size: 50px;
  color: #fff;
  line-height: 60px;
  margin-bottom: 19px;
  font-weight: bold;
}

.hero-wrapper .hero-content p {
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 47px;
}

.hero-wrapper .hero-input {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.hero-wrapper .hero-input input {
  width: 90%;
  padding: 1.1rem;
  border-radius: 50px;
  border: none;
  background-color: #032055;
  outline: none;
  color: #fff;
  font-size: 15px;
}

.hero-wrapper .hero-input button {
  padding: 1rem 2rem;
  border-radius: 50px;
  border: none;
  background-color: #bb00ff;
  color: #fff;
  font-weight: bold;
  position: absolute;
  right: 70px;
  top: 2px;
}

.hero-wrapper .hero-input button:hover {
  background-color: #6e00ff;
  transition: 0.8s ease;
}

.hero-wrapper .play-btn {
  background-color: #032055;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 1600ms ease-out infinite;
  margin-left: 20px;
}

.hero-wrapper .play-btn a {
  color: #fff;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.hero-wrapper .right-hero img {
  width: 500px;
}

/* !---------------- Header End -------------------- */

/* !----------------About Us Start------------------ */
.about-us {
  background-color: #001232;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 30px;
}
.about-card {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: #032055;
  padding: 20px;
  font-family: "open-sans", sans-serif;
  margin-top: -180px;
}

.about-card:hover {
  transform: translateY(-10px);
  transition: 1s ease all;
}

.about-card .about-card-top {
  width: 100px;
  height: 100px;
  background: rgb(74, 0, 224);
  background: linear-gradient(
    0deg,
    rgba(74, 0, 224, 1) 0%,
    rgba(142, 45, 226, 1) 100%
  );
  border-radius: 50%;
  text-align: center;
  color: #fff;
}

.about-card .about-card-top i {
  font-size: 30px;
  margin-top: 30px;
}

.about-card .about-card-content h3 {
  font-size: 40px;
  color: #fff;
}

.about-card .about-card-content h4 {
  font-size: 24px;
  color: #fff;
}

.about-card .about-card-content .subtitle {
  margin-top: 10px;
}

.about-card .about-card-content-p {
  margin-top: 30px;
  font-size: 18px;
  color: #fff;
}

/* ? about us content */
.about-us-content h3 {
  color: #fff;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
}

.about-us-content .about-us-text {
  color: #dbe2fb;
  font-size: 16px;
}
.about-us .about-us-content .left-about-us-img img {
  max-width: 100%;
}

.about-us .about-us-content .right-about-us h4 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 34px;
}

.about-us .about-us-content .right-about-us .about-us-right-text {
  color: #dbe2fb;
  margin-top: 24px;
  font-size: 17px;
}

.about-us
  .about-us-content
  .right-about-us
  .right-about-content
  .right-about-content-items {
  color: #dbe2fb;
}

.about-us
  .about-us-content
  .right-about-us
  .right-about-content
  .right-about-content-item {
  margin-top: 30px;
}

.right-about-content .right-about-content-items .right-about-content-item h5 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 34px;
}

.right-about-content .right-about-content-items .right-about-content-item i {
  width: 100px;
  height: 75px;
  font-size: 40px;
  background: rgb(142, 45, 226);
  background: linear-gradient(
    0deg,
    rgba(142, 45, 226, 1) 57%,
    rgba(74, 0, 224, 1) 97%
  );
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* !----------------About Us End------------------ */

/* !----------------Why Choose Us Start------------------ */
.why-choose-us {
  background-color: #032055;
  font-family: "Open Sans", sans-serif;
  padding: 30px 0;
}

.why-choose-us-content h3 {
  color: #fff;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
}
.why-choose-us-content .why-choose-us-text {
  color: #dbe2fb;
  font-size: 17px;
}

.why-choose-us .why-choose-us-card {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 30px;
}

.why-choose-us .why-choose-us-card .why-choose-us-item .why-icon {
  width: 80px;
  height: 80px;
  background: rgb(142, 45, 226);
  background: linear-gradient(
    0deg,
    rgba(142, 45, 226, 1) 57%,
    rgba(74, 0, 224, 1) 97%
  );

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #fff;
}

.why-choose-us .why-choose-us-card .why-choose-us-item {
  text-align: center;
  color: #fff;
  padding-top: 10px;
  max-width: 1100px !important;
  cursor: pointer;
}
.why-choose-us .why-choose-us-card .why-choose-us-item p {
  font-weight: bold;
  margin-top: 5px;
  font-size: 18px;
}

.why-choose-us .big-card {
  height: 400px;
  box-shadow: 0px 0px 10px #d4d4d4;
  margin: 0 auto;
  width: 100%;
  margin-top: 50px;
  border-radius: 20px;
  gap: 2rem;
}

.why-choose-us .big-card img {
  width: 300px;
}

.why-choose-us .big-card h3 {
  font-size: 30px;
  color: #fff;
  padding: 0px 15px;
}

.why-choose-us .big-card p {
  font-size: 16px;
  padding: 15px;
  color: #dbe2fb;
}

/* !----------------Why Choose Us End------------------ */

/* !----------------How does it work Start------------------ */
.how-it-works {
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
  padding: 116px 0px 130px;
  font-family: "Open Sans", sans-serif;
}
.text-white {
  color: #fff;
}
.how-it-works-title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  margin-bottom: 12px;
}
.how-it-works-text {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 25px;
}
.how-it-works-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.how-it-works-card-item {
  width: 450px;
  height: 300px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 0px 10px #d4d4d4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 30px;
}
.how-it-works-card-item h4 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 3px;
}
.how-it-works-card-item:hover {
  transform: translateY(-10px);
  transition: 0.5s ease all;
}
.how-it-works-card-item .bi-person-circle {
  font-size: 100px;
}
.how-it-works-card-item .bi-calendar-week {
  font-size: 100px;
}
.how-it-works-card-item .bi-megaphone {
  font-size: 100px;
}

.how-it-works-card-item-bg {
  background: #032055;
}
.how-it-works-card-item p {
  color: #dbe2fb;
  font-size: 16px;
  line-height: 1.625;
}
/* !----------------How does it work END------------------ */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* !----------------Start Investment START------------------ */
.start-investment {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  text-align: center;
  font-family: "Poppins", sans-serif;
  background: #032055;
  color: #fff;
  height: 150vh;
  padding-top: 100px;
}
.start-investment-head h2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  margin-bottom: 12px;
}
.start-investment-bets {
  box-shadow: 0px 0px 1px #4e3b7b;
  line-height: 50px;
  padding: 0px 50px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background: #001232;
  margin: 25px 5px;
  border: 0;
}
.active {
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
}
.start-investment-table {
  font-size: 16px;
  font-weight: 600;
  background: #001232;
  width: 1000px;
}
.start-investment-table-body {
  width: 100%;
  border-collapse: collapse;
}
tr {
  border-bottom: 0.5px solid #fff;
  text-align: left;
}
tr td {
  padding: 10px;
}
tr:hover {
  background: #032055;
}

.start-investment-table-head {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  border-top: 0px;
  border-bottom: 0px;
  padding: 25px 10px;
}
table tr td:nth-child(3) {
  color: #045cf0;
}
table tr td:nth-child(4) {
  color: #f0ad4e;
}
/* !----------------Start Investment END------------------ */
