@mixin wrapimage {
  background-size: cover;
  max-width: 100%;
  height: 300px;
}

$sizes: 11, 12.8, 13, 14, 15, 16, 19.2, 20, 24, 30, 32, 48;
@each $size in $sizes {
  $class-size: $size;
  @if $size == 19.2 {
    $class-size: 19_2;
  } @else if $size ==12.8 {
    $class-size: 12_8;
  }
  .fs-#{$class-size} {
    font-size: $size * 1px;
  }
}
