@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  scrollbar-width: thin;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #084b4f;
  font-family: "Poppins", sans-serif;
  position: relative;
  font-size: 16px;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.col-9 {
  width: 60%;
}

.col-3 {
  width: 30%;
}

.pt-60 {
  padding-top: 60px;
}

.text-center {
  text-align: center;
}

h1 {
  font-size: 120px;
  font-weight: 700;
  line-height: 120px;
  letter-spacing: -4px;
  color: #0c7f86;
}

h4 {
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  color: #0c7f86;
}

.space-between {
  justify-content: space-between;
}

.caption {
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.headerLogo {
  width: 100px;
  height: 60px;
  display: block;
  animation: animation-headerLogo 3s infinite;
}

.leftArea h1 {
  padding-top: 100px;
  padding-bottom: 20px;
}

.waveImage {
  width: 100%;
  height: 20px;
  background-size: 645px 20px;
  background-repeat: repeat-x;
  margin: 25px 0px;
  background-image: url("https://demo.cocobasic.com/seppo-html/demo-5/images/wavy-shape.png");
  animation: animation-dalga 15s linear infinite;
}

.leftArea .subtitle {
  color: #0c7f86;
  font-size: 32px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 30px;
  padding-top: 15px;
}

.aboutForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 60px;
}

.arrow {
  width: 34px;
  height: 50px;
  transition: all 1.5s ease;
  background-size: cover;
  background-image: url("https://demo.cocobasic.com/seppo-html/demo-5/images/arrow.png");
  animation: animation-arrow ease-in-out 2s infinite;
}

.aboutForm input {
  padding: 20px 24px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  flex-grow: 1;
  margin: 0px 16px;
  outline: none;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(12, 127, 134, 0.25) 0px 0px 30px 7px;
  transition: all 0.5s ease 0s;
}
.aboutForm input:hover {
  border-color: #0c7f86;
  box-shadow: none;
}

.btn-filled {
  padding: 25px 24px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 4px;
  font-family: "Poppins", sans-serif;
  background-color: #0c7f86;
  text-transform: uppercase;
  border: none;
  transition: all 0.5s ease 0s;
  cursor: pointer;
}
.btn-filled:hover {
  background-color: #084b4f;
}

.img-box {
  position: relative;
  margin-bottom: 32px;
}
.img-box::before {
  content: "";
  width: 350px;
  height: 350px;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: 3px solid rgb(255, 255, 255);
  top: -45px;
  left: -30px;
  z-index: 2;
  animation: animation-circle 8s linear infinite;
}
.img-box::after {
  content: "";
  width: 700px;
  height: 700px;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: 1px solid rgb(255, 255, 255);
  top: 0;
  right: -350px;
  z-index: 0;
  animation: animation-circle-2 3s linear infinite alternate;
}
.img-box img {
  border-radius: 50%;
  max-width: 100%;
  z-index: 1;
}

.bg1 {
  width: 43%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  background-color: rgb(229, 255, 249);
}

.bg2 {
  width: 57%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  right: 0;
  background-color: rgb(184, 228, 218);
}

.aboutMe {
  padding: 10px;
}
.aboutMe h4 {
  color: #084b4f;
  letter-spacing: 2px;
}

.aboutMe .subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  margin-bottom: 24px;
  padding-top: 0px;
}
.aboutMe .body {
  line-height: 30px;
  margin-bottom: 24px;
}

.socialMedia {
  padding-bottom: 20px;
  justify-content: space-around;
}

.socialMedia a {
  color: #084b4f;
  padding: 8px 8px 0px 0px;
  transition: color 0.5s ease 0s;
}
.socialMedia a:hover {
  color: #0c7f86;
}

.card {
  margin: 20px 15px;
}
.card h3 {
  margin-top: 15px;
}
.card img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  opacity: 0.85;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.card img:hover {
  transition: all 1s ease;
  opacity: 1;
}

.myProject {
  padding: 150px 0 50px;
}

@keyframes animation-headerLogo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animation-dalga {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 645px;
  }
}
@keyframes animation-circle {
  0% {
    top: -20px;
    left: -20px;
  }
  50% {
    top: -20px;
    left: 20px;
    border-color: #0c7f86;
  }
  100% {
    top: -20px;
    left: -20px;
  }
}
@keyframes animation-circle-2 {
  0% {
    top: -70px;
  }
  100% {
    top: 10px;
    border-color: #0c7f86;
  }
}
@keyframes animation-arrow {
  0%, 100% {
    transform: scale(1.1);
    filter: brightness(0.8);
  }
  50% {
    transform: scale(1.2);
    filter: brightness(1.2);
  }
}
@media screen and (max-width: 768px) {
  .col-9 {
    width: 100%;
  }
  .col-9 h1 {
    font-size: 90px;
    line-height: 110px;
    padding-top: 30px;
  }
  .col-3 {
    margin-top: 30px;
    width: 100%;
  }
  .col-3 .img-box {
    display: flex;
    justify-content: center;
  }
  .col-3 img {
    max-width: 70%;
  }
  .col-3 .img-box::after {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */