.container {
  padding: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: 90%;
}

.search {
  display: flex;
  margin-bottom: 30px;
}

.search input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}

.search button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.weather {
  display: flex;
  justify-content: first baseline;
  flex-direction: row;
  align-items: start;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  box-sizing: border-box;
}

.cardList .cardToday {
  width: calc(30% - 50px);
}

.cardList .cardToday img {
  width: 35%;
}

.cardList .cardToday p {
  font-size: 8px;
}

.cardToday {
  width: 500px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.cardToday img {
  max-width: 60%;
  height: auto;
}

.cardToday p {
  margin: 5px 0;
  font-size: 10px;
}

.card-left, .card-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.degree {
  font-size: 24px;
}

.flex {
  display: flex;
  justify-content: center;
  width: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.status {
  font-weight: bold;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sunny {
  background-image: url('./assets/sunny.gif');
  background-size: cover;
}

.rainy {
  background-image: url('./assets/rain.gif');
  background-size: cover;
}

.cloudy {
  background-image: url('./assets/cloud.gif');
  background-size: cover;
}

.snowy {
  background-image: url('./assets/snow.gif');
  background-size: cover;
}