/* .container {
  height: 100vh;
  background-color: #ccc;
  padding: 1.3rem;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
}

.container .item {
  background-color: #001232;
  color: #dbe2fb;
  padding: 120px 0px 119px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
} */

.container {
  display: grid;
  height: 600px;
  background-color: #ccc;
  gap: 5px;
  grid-template-areas:
    "header header header"
    "sidebar section section"
    "sidebar . ."
    "box-1 box-1 box-1";
}

.header {
  grid-area: header;
  background-color: orangered;
}

.section {
  grid-area: section;
}

.sidebar {
  grid-area: sidebar;
}

.box-1 {
  grid-area: box-1;
}
