// #region Colors
$main-color: #c41010;
$accordion-primary-color: #fff;
// #endregion
// #region Font
$main-font-size: 1.25rem;
// #endregion
// #region Accordion
$main-accordion-bg: #111111;
// #endregion
// #region Card
$hero-card-height: 36rem;
// #endregion
