@import '../Home.scss';

header {
  @include typography('Satoshi', 14px, normal);
  background: #f2f0f1;

  .hero-wrapper {
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: center;

    @media (max-width: 900px) {
      grid-template-columns: 1fr;
    }

    .hero-left {
      .hero-left-content {
        h1 {
          @include typography('Integral CF Regular', 64px, 700, uppercase, 3px);
        }

        p {
          @include typography('Satoshi', 16px, lowercase, 22px);
          opacity: 0.5;
          margin: 10px 0;
        }

        a {
          display: inline-block;
          margin-top: 10px;
          background-color: #000;
          color: #fff;
          padding: 16px 54px 16px 54px;
          border-radius: 54px;
        }

        @media (max-width: 900px) {
          padding: 10px 20px;
          h1 {
            @include typography('Integral CF Regular', 36px, 700, uppercase, 3px);
          }
          p {
            @include typography('Satoshi', 14px, lowercase, 22px);
          }

          a {
            display: block;
            text-align: center;
          }
        }
      }

      .statistics {
        margin-top: 20px;
        @include flexible(flex, space-between, center);

        .staticks-content {
          h4 {
            @include typography('Satoshi', 40px, 600, uppercase, 1px);
            text-align: center;
          }
        }

        @media (max-width: 900px) {
          flex-wrap: wrap;
          text-align: center;
          .staticks-content {
            &:last-child {
              margin: 0 auto;
            }
          }
        }
      }
    }

    .hero-right {
      img {
        width: 100%;
      }
    }
  }
}

.brands {
  background-color: #000;
  .brands-wrapper {
    @include flexible(flex, space-between, center);
    @include padding(40px 0px);
  }

  @media (max-width: 900px) {
    .brands-wrapper {
      flex-wrap: wrap;
      gap: 20px;

      .brands {
        &:last-child {
          margin: 0 auto;
        }
      }
    }
  }
}
