@import "./global.scss";

.retail-pos-section, .retail-stores-section{
    padding-top: 6rem;
    padding-bottom: 6rem;

    .retail-pos-content {
        @include hizalamaMixin(flex, row, space-evenly, center);
        gap: 20px;
        .retail-pos-info {
            width: 50%;

            .info-header {
                margin-bottom: 3rem;
                max-width: 100%;
                margin-left: 0;
                text-align: left;
                padding-bottom: 3rem;
                border-bottom: 1px solid #ecf0f3;

                h2 {
                    margin-bottom: 1rem;
                }
                p{
                    line-height: 1.5;
                }
            }

            .info-wrapper {

                .wrapper-list {
                    display: flex;
                    margin: 0 0 3rem;

                    li {
                        padding: 10px 0;
                        margin-right: 2rem;
                        i {
                            color: #fd4372;
                            margin-right: 10px;
                        }
                    }
                }

                a {
                    padding: 16px 46px;
                    margin-bottom: 6px;
                    background: linear-gradient(to right, #ff5195, #ffb84b);
                    border-radius: 4px;
                    transition: all 0.3s ease;

                    span {
                        @include fontMixin(16px, #fff);
                        font-weight: 700;
                    }
                }
            }
        }

        .retail-pos-image {
            .image-box {
                text-align: center;

                img {
                    width: 546px;
                    height: 426px;
                    object-fit: cover;
                    margin: 0 auto;
                }
            }
        }
    }
}
.service-section{
    background: #fffef9;
    padding: 6rem 0 8rem 0;
    .section-header{
        text-align: center;
        p{
            margin-top: 1rem;
            line-height: 1.5;
        }
    }
    .section-wrapper{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 200px);
        text-align: center;
        align-items: center;
        gap: 30px;
        margin-top: 5rem;
        .wrapper-item{
            &:hover{
                transform: translateY(-6px);
                transition: all .3s ease-in-out;
                box-shadow:  4px 4px 4px rgba(58, 58, 58, 0.1);;
            }
            line-height: 1.5;
            .wrapper-item-inner{
                padding: 50px 30px;
                box-shadow: 0 4px 4px rgba(58, 58, 58, 0.1);
                border-radius: 4px;
                .inner-subtitle{
                    h6{
                        font-size: 18px;
                    }
                    margin-top: 1rem;
                }
            }
        }
    }
}