@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}

.fs-s {
  font-size: 12px;
}

.fs-m {
  font-size: 14px;
}
.hero-p {
  padding: 225px 0px;
}

.opacity-6 {
  opacity: 0.6;
}

.mt-10 {
  margin-top: 10%;
}

.container-1200 {
  max-width: 1200px;
}
