body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
}

.clear {
    clear: both;
}

.main-div {
    width: 1000px;
    height: 600px;
}

.box {
    text-align: center;
}

.header-box {
    background-color: blue;
    height: 50px;
    padding-top: 30px;
}

.nav-box {
    background-color: green;
    width: 200px;
    height: 200px;
    float: left;
    padding-top: 200px;
}

.main-box {
    background-color: yellow;
    width: 800px;
    height: 200px;
    float: right;
    padding-top: 200px;
}

.footer-box {
    background-color: pink;
    height: 100px;
    padding-top: 100px;
}