* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
}

.bg_primary {
    background-color: #001232 !important
}

.bg_secondary {
    background-color: #032055 !important
}

p {
    color: #dbe2fb;
    font-size: 16px;
    line-height: 1.625;
    hyphens: auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: white;
}

label {
    color: #fff;
    font-weight: 600;
    margin-bottom: .5rem;
    display: inline-block;
}

::placeholder {
    color: white;
}

:focus {
    outline: none;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.align-self {
    align-self: center;
}

.justify-content-center {
    justify-content: center;
}

.d-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ölçü birimleri */

.mt-20 {
    margin-top: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.extra-padding {
    margin-bottom: 25px !important;
}

.col {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-lg-4 {
    flex: 0 0 33.3%;
    max-width: 33.3%;
}

.col-lg-5 {
    flex: 0 0 41.6%;
}

.col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-lg-7 {
    flex: 0 0 58.3%;
    max-width: 58.3%;
}

.col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.py0-px15 {
    padding: 0 15px;
}

.sectionPadding {
    padding: 125px 0px;
}

.transition_05_ease_in {
    transition: all 0.5s ease-in !important;
}

/* footer start */
.footer {
    padding-top: 100px;
    background: linear-gradient(to bottom, #4A00E0, #8E2DE2);
}

.footer .copy-bg {
    margin-top: 87px;
    padding: 24px 0px 25px;
    background: linear-gradient(to bottom, #4A00E0, #8E2DE2);
}

.footer .copy-bg .social-links li {
    display: inline-block;
    margin-right: 10px;
}

.footer .copy-bg .social-links li a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}

.subscribe-form .submit-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
    color: #fff;
    border: 0px;
    border-radius: 50px;
    background: linear-gradient(to bottom, #4A00E0, #8E2DE2);
    cursor: pointer;
}

.submit-btn:hover .far.fa-paper-plane {
    transform: scale(1.2);
}

.subscribe-form {
    position: relative;
}

.subscribe-form input {
    width: 100%;
    height: 50px;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 0px 60px 0px 20px;
    color: #fff;
}

.footer .info-link-widget ul li a {
    transition: all 0.3s ease-in;
    font-size: 16px;
    line-height: 35px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
}

.footer .info-link-widget ul li a:hover {
    color: white;
    padding-left: 7px;
}

.footer .info-link-widget ul li {
    list-style: none;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.25);
}

.footer .info-link-widget ul li:last-child {
    border-bottom: 0px;
}

/* BLOG AREA */
.section-heading .title {
    color: #fff;
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    margin-bottom: 12px;
}

.section-heading {
    text-align: center;
    margin-bottom: 57px;
}

.blogCards {
    width: 350px;
    margin-left: 10px;
    margin-right: 10px;
}

.blogCards img {
    width: 340px;
}

.blogCards img:hover {
    opacity: 0.7;
}

/* Frequently Asked Qestions */
.base-btn1 {
    margin-top: 40px;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 30px;
    display: inline-block;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    border: 0px;
    background: linear-gradient(to bottom, #4A00E0, #8E2DE2);
}

.base-btn1:hover {
    background: linear-gradient(to top, #4A00E0, #8E2DE2);
}

.faq-area .section-heading {
    text-align: left;
    margin-bottom: 36px;
}

.accordion-header {
    background: linear-gradient(to bottom, #4A00E0, #8E2DE2);
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 15px 20px;
}

.single-accordion {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.04);
    margin-bottom: 30px;
    cursor: pointer;
}

.accordion-content {
    font-size: 16px;
    line-height: 26px;
    padding: 15px 25px;
    color: #dbe2fb;
}

.accordion-header i {
    padding-right: 10px;
}

/* Tax Calculator */
.calculate-title {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    background: linear-gradient(to bottom, #4A00E0, #8E2DE2);
    padding: 12px 30px 11px;
    color: #fff;
}

.calculate-wrapper {
    padding: 10px 30px 16px;
}

.input-field {
    width: 100%;
    height: 40px;
    padding: 0 20px;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* What users says  */
.what_users_says {
    background: linear-gradient(to bottom, #4A00E0, #8E2DE2);
}

.single-review .stars i {
    font-size: 14px;
    color: #ffcc00;
    padding-bottom: 19px;
}

.single-review {
    padding: 26px 30px 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-in;
    width: 340px;
    height: 298px;
    border-radius: 7px;
    margin: 15px;
}

.img img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
}

.single-review .content .name {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    margin-bottom: 0px;
}

.single-review:hover {
    transform: translateY(-5px);
}

.bottomtotop i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: fixed;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    transform: rotate(-90deg);
    bottom: 15px;
    right: 15px;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
    background: -webkit-moz-gradient(to bottom, #4A00E0, #8E2DE2);
    background: linear-gradient(to bottom, #4A00E0, #8E2DE2);
}

/* BIRLESTİRME  */
/*CHOOSE SECTION START*/ 
.chooseSection {
    background-color: #032055;
    padding: 110px 0 100px;
}

.chooseNav {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 30px;
}

.chooseNavItem a {
    display: block;
    text-align: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    margin: 0 10px 0 10px;
}

.chooseNavItem a h4 {
    font-size: 18px;
    line-height: 28px;
}

.chooseIcon {
    line-height: 90px;
    width: 90px;
    height: 90px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 15px;
    color: #021a47;
    text-align: center;
    transition: all 0.3s ease-in;
    box-shadow: 0px 0px 15px 2px rgb(202, 202, 202);
    cursor: pointer;
    background: linear-gradient(to bottom, #4A00E0, #8E2DE2);
}

.chooseTable {
    padding: 60px;
}

.table-content {
    display: flex;
    justify-content: center;
    border: 1px solid #4e3b7b;
    box-shadow: 0px 0px 10px #4e3b7b;
    border-radius: 10px;
    padding: 20px 30px;
}

.chooseTable img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin: 0 auto;
    padding: 20px 0 20px 0;
}

.table-content-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.table-content-info h4 {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 30px;
    margin-top: 10px;
}

/*CHOOSE SECTION END*/
/*PLANS SECTION START*/

.buttons a {
    text-decoration: none;
    padding: 12px 30px;
    background: linear-gradient(to bottom, #4A00E0, #8E2DE2);
    border-radius: 50px;
    margin: 10px;
    box-shadow: 0px 0px 10px 3px #4e3b7b;
    color: #fff;
}

.plansRow2 {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 70px;
}

.planBox {
    background-color: #032055;
    text-align: center;
    padding: 22px 30px 30px;
    transition: all 0.3s ease-in;
    line-height: 1.5;
}

.planBox h3 {
    font-size: 20px;
    line-height: 30px;
}

.price-rate {
    width: 100%;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    padding: 16px 20px 16px;
    margin: 22px 0px 17px;
    background: linear-gradient(to bottom, #4A00E0, #8E2DE2);
    transition: all 0.3s ease-in;
    position: relative;
}

.price-rate p {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 0px;
    font-weight: 700;
    color: #fff;
    padding: 0 85px 0;
}

.price-rate i {
    position: absolute;
    left: 20px;
    bottom: 0px;
    font-size: 65px;
    opacity: 0.2;
    transform: rotate(20deg);
}

.service-feature-list {
    list-style: none;
}

.service-feature-list li {
    font-size: 16px;
    line-height: 38px;
    color: white;
}

.deposit {
    margin: 40px 0 30px;
    text-decoration: none;
}

.deposit a {
    font-size: 16px;
    font-weight: 400;
    padding: 12px 30px;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    background: linear-gradient(to bottom, #4A00E0, #8E2DE2);
    text-decoration: none;
}

/*PLANS SECTION END*/
/*HOW IT WORKS SECTION START*/
.howItWorkSection {
    padding: 110px 0px 100px;
    background: -webkit-moz-gradient(to bottom, #4A00E0, #8E2DE2);
    background: linear-gradient(to bottom, #4A00E0, #8E2DE2);
}

.work-row-2 {
    display: flex;
    text-align: center;
    margin: 0 60px;
    gap: 10px;
}

.work-cards {
    background-color: #032055;
    text-align: center;
    padding: 30px 30px 26px;
    transition: all 0.3s ease-in;
}

.work-icon {
    font-size: 50px;
    line-height: 100px;
    width: 100px;
    height: 100px;
    background: -webkit-moz-gradient(to bottom, #4A00E0, #8E2DE2);
    background: linear-gradient(to bottom, #4A00E0, #8E2DE2);
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 19px;
    color: #fff;
    transition: all 0.3s ease-in;
}

.work-content h4 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 3px;
}

.work-content p {
    line-height: 1.625;
}

/*HOW IT WORKS SECTION END*/
/*INVESTMENT SECTION START*/

.investment-row-1 {
    margin-bottom: 60px;
    flex-direction: column;
    text-align: center;
}

table {
    background-color: #001232;
    color: white;
    margin: 0 auto;
    /*sagdan soldan ortalar*/
    text-align: start;
    border-collapse: separate;
    /*seperate:ayrı*/
    border-spacing: 10px;
    padding: 10px;
}

table tr,
table td,
table th {
    padding: 30px;
    margin: 0 60px 0;
}

table tr:hover {
    background-color: #032055;
    transition: all 0.3s ease-in;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: center;
}

.second-td h4 {
    color: #045cf0;
}

.fifth-td h4 {
    color: #f0ad4e;
}

/*INVESTMENT SECTION END*/
/*GETSTART SECTION START */
.getStartedRow {
    padding: 95px 0px 82px;
    background: linear-gradient(to bottom, #4A00E0, #8E2DE2);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    color: #dbe2fb;
}

.getStartedBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 35px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    background: #fff;
    border: 1px solid #fff;
    text-decoration: none;
    outline: none;
    text-align: center;
}

.getStartedBtn {
    color: #5e00d9;
    text-decoration: none;
}

/* GETSTART SECTION END */
/* ADVANTAGE SECTION START */
.advantageRow {
    /* padding: 120px 0px 130px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -15px;
    margin-left: -15px;
    box-sizing: border-box;
    text-align: center;
}

.advantageRowTop {
    display: flex;
    font-size: 1.5em;
    line-height: 50px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 23px;
    text-align: center;
}

.advantageRowTop p {
    line-height: 30px;
}

.advantageRowBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.advantageRow1 {
    font-size: 24px;
    align-self: center !important;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    text-align: left;
    margin-bottom: 23px;
    margin-right: 23px;
}

.advantageRow2 {
    margin: 30px;
    width: 400px;
    height: 400px;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* ADVANCED SECTION END */
/* INVENTORS SECTION START */
.inventorsSection {
    background: #03173b;
}

.inventorsTop {
    font-size: 24px;
    display: flex;
    justify-content: center !important;
    flex-direction: column;
    text-align: center;
}

.inventorsBottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.team {
    background: #032055;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    border-radius: 7px;
    transition: all 0.3s ease-in;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 60px 15px 25px;
    border-radius: 10px;
}

.team img {
    width: 207px;
    height: 207px;
}

.socialLinks {
    display: flex;
    flex-direction: row;
}

.inventorsFooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* SON KISIM  */
.homeSection {
    background: -webkit-moz-gradient(to bottom, #4A00E0, #8E2DE2);
    background: linear-gradient(to bottom, #4A00E0, #8E2DE2) !important;
    margin-bottom: 75px;
}

.navbarElements {
    display: flex;
    justify-content: space-between;
    padding: 25px 25px;
    border-bottom: 1px solid white;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.navbarList {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    gap: 30px;
}

.navbarItem {
    text-decoration: none;
    color: #fff;
    line-height: 26px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.homeSection .content {
    display: flex;
    justify-content: space-around;
    padding: 80px 0px 100px;
}

.contentBox1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.contentBox1 h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 19px;
}

.contentBox1 p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 47px;
}

.startTrial {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.button {
    background-color: #6e00ff;
    color: white;
    padding: 1px;
    border-radius: 10px;
    cursor: pointer;
}

.homeSection .content img {
    width: 450px;
    height: auto;
}

.cardBox {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 0px 92px;
    margin-top: -150px;
}

.cardBoxItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #032055;
    border: 1px solid white;
    padding: 30px 30px 27px;
    margin-bottom: 30px;
    transition: all 0.3s ease-in;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.08);
    font-weight: 400;
    line-height: 1.5;
}

.cardBox h4 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 15px;
    text-align: center;
}

.cardBox h6 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    text-align: center;
}

.cardBox p {
    color: #dbe2fb;
    font-size: 16px;
    line-height: 1.625;
    hyphens: auto;
    text-align: center;
}

.aboutSection {
    padding-bottom: 130px;
}

.topContent {
    text-align: center;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 60px;
}

.topContent h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    margin-bottom: 12px;
}

.topContent p {
    font-size: 16px;
    line-height: 26px;
}

.bottomContent {
    display: flex;
    justify-content: center;
    margin-right: -15px;
    margin-left: -15px;
}

.bottomContent .image {
    width: 450px;
    height: auto;
}

.rightBottomContent .heading {
    text-align: left;
    margin-bottom: 26px;
}

.rightBottomContent .heading h4 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 22px;
}

.rightBottomContent .list {
    list-style-type: none;
}

.feature {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 9px;
}

.feature img {
    object-fit: contain;
}

.feature1 {
    margin-bottom: 10px;
}

.feature1 h4 {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
}

.contentBox1 .subscribe-area {
    width: 540px;
    display: flex;
}

.contentBox1 .subscribe-form {
    width: 465px;
}

.submit-btn2 {
    position: absolute;
    right: 2px;
    height: 51px;
    line-height: 51px;
    padding: 0px 30px;
    background: linear-gradient(50deg, #6e00ff 0, #bb00ff 100%);
    background-size: 100% 200%;
    color: #fff;
    border: 0px;
    border-radius: 50px;
    transition: all 0.3s ease-in;
}

.video-play-btn {
    margin-left: 45px;
    margin-top: 27px;
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 18px;
    text-align: center;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    color: #fff;
    animation: pulse-border 1600ms ease-out infinite;
}

@keyframes pulse-border {
    0% {
        transform: translate(-50%, -50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) translateZ(0) scale(1.3);
        opacity: 0;
    }
}

.cardSection {
    margin-top: 100px;
}