@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nanum Gothic", sans-serif;
}

.primary-bg-color {
  background-color: #2f89fc;
}

.primary-text-color {
  color: #2f89fc;
}

.container {
  width: 90%;
  margin-top: 50px;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
  cursor: pointer;
}

.colorw {
  color: white;
}

.gap-30 {
  gap: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.grey-smalltext {
  font-size: 16px;
  color: #696969;
}

.c-margin {
  margin-top: 80px;
  margin-right: 0;
  margin-bottom: 80px;
  margin-left: 0;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.beagebg {
  background: #fffcfa;
}

.navbar-media {
  display: none;
}

.navbar {
  z-index: 500;
  padding: 40px 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
}
.navbar .navbar-btn a:link, .navbar .navbar-btn a:visited {
  padding-top: 16px;
  padding-right: 48px;
  padding-bottom: 16px;
  padding-left: 48px;
  background: linear-gradient(to right, #ff5195, #ffb84b);
  display: inline-block;
  color: white;
}

.navbar-menu {
  margin-left: 100px;
  margin-right: -100px;
}
.navbar-menu .navbar-item li {
  display: inline-block;
  position: relative;
  margin-top: 20px;
}
.navbar-menu .navbar-item li a {
  font-size: 20px;
  color: black;
  font-weight: bolder;
  padding: 40px 40px;
  text-align: center;
}
.navbar-menu .navbar-item li:hover {
  background-color: #fd4372;
}
.navbar-menu .navbar-item li:hover .dropdown {
  display: block;
  background: linear-gradient(to right, #ff5195, #ffb84b);
  color: white;
}
.navbar-menu .navbar-item .dropdown {
  width: auto;
  position: absolute;
  display: none;
  z-index: 999;
}
.navbar-menu .navbar-item .dropdown li {
  display: block;
}
.navbar-menu .navbar-item .dropdown li a {
  padding-right: 100px;
  text-align: left;
}

/* GROW PART */
.grow-part {
  position: relative;
  height: 100vh;
}
.grow-part .banner-bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  z-index: -1;
}
.grow-part .banner-bg-right {
  width: 100%;
}
.grow-part .banner-bg-right img {
  width: 100%;
  height: 90%;
}
.grow-part .banner-bg-left {
  width: 100%;
}
.grow-part .banner-bg-left img {
  width: 100%;
  height: 90%;
}
.grow-part .banner-area {
  height: 100%;
}
.grow-part .banner-area .container {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.grow-part .banner-area .container .banner-text {
  margin-left: 260px;
}
.grow-part .banner-area .container .banner-text h2 {
  font-size: 60px;
  color: black;
  font-weight: bolder;
}
.grow-part .banner-area .container .banner-text a:link, .grow-part .banner-area .container .banner-text a:visited {
  padding-top: 16px;
  padding-right: 48px;
  padding-bottom: 16px;
  padding-left: 48px;
  background: linear-gradient(to right, #ff5195, #ffb84b);
  display: inline-block;
  color: white;
}
.grow-part .banner-area .container .banner-img {
  position: relative;
}
.grow-part .banner-area .container .banner-img .img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.grow-part .banner-area .container .banner-img .banner-ani-1 {
  top: 100px;
  right: 200px;
  animation: yankayankart 15s linear infinite;
  position: absolute;
}
.grow-part .banner-area .container .banner-img .banner-ani-img2 {
  top: 10px;
  right: 20px;
  position: absolute;
  animation: videocard 5s linear infinite;
}
.grow-part .banner-area .container .banner-img .banner-ani-img3 {
  top: 50px;
  left: 220px;
  animation: kadınresmi 5s linear infinite;
  position: absolute;
}

@keyframes yankayankart {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateX(-40px);
  }
  50% {
    transform: translateY(-40px);
  }
  75% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes kadınresmi {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(40px);
  }
  50% {
    transform: translateY(100px);
  }
  75% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes videocard {
  0% {
    transform: translateY(-20px) translateX(0px);
  }
  50% {
    transform: translateY(0px) translateX(-20px);
  }
  100% {
    transform: translateY(-20px) translateX(0px);
  }
}
/* OMNİCHANEL - ALLİNONE PART */
.omnichannel {
  display: flex;
  justify-content: center;
}
.omnichannel .omnic-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 60px;
}
.omnichannel .omnic-body .omnic-text .omnic-header {
  border-bottom: 1px solid #ecf0f3;
}
.omnichannel .omnic-body .omnic-text .omnic-header h2 {
  font-size: 36px;
  color: black;
}
.omnichannel .omnic-body .omnic-text .omnic-header p {
  line-height: 1.5;
}
.omnichannel .omnic-body .omnic-text .omnic-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
  line-height: 2.5;
}
.omnichannel .omnic-body .omnic-text .omnic-list .omnic-list-1 ul li i {
  color: #fd4372;
  margin-right: 15px;
}
.omnichannel .omnic-body .omnic-text a:link, .omnichannel .omnic-body .omnic-text a:visited {
  padding-top: 16px;
  padding-right: 48px;
  padding-bottom: 16px;
  padding-left: 48px;
  background: linear-gradient(to right, #ff5195, #ffb84b);
  display: inline-block;
  color: white;
}
.omnichannel .omnic-body .omnic-img img {
  height: auto;
  vertical-align: middle;
}

@media (max-width: 992px) {
  .navbar-media {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-media .logo {
    margin-left: 10px;
    margin-top: 5px;
  }
  .navbar-media .navbar-media-menu i {
    font-size: 30px;
    margin-right: 10px;
  }
  .navbar {
    display: none;
  }
  .grow-part {
    background: #f9f2ff;
  }
  .grow-part .banner-bg {
    display: none;
  }
  .grow-part .banner-area .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .grow-part .banner-area .container .banner-text {
    margin-left: 40px;
    margin-right: 40px;
    padding: 0;
  }
  .grow-part .banner-area .banner-img .banner-ani-1 {
    display: none;
  }
  .grow-part .banner-area .banner-img .banner-ani-img2 {
    display: none;
  }
  .grow-part .banner-area .banner-img .banner-ani-img3 {
    display: none;
  }
  .omnichannel .omnic-body {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media (max-width: 575px) {
  .grow-part .banner-area .banner-img img {
    width: 90%;
  }
  .omnichannel .omnic-body .omnic-img img {
    width: 90%;
  }
  .omnichannel .omnic-body .omnic-text .omnic-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
