*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Satoshi";
    src: url("/fonts/Satoshi-Variable.ttf") format("truetype");
}

@font-face {
    font-family: "Integral CF";
    src: url("/fonts/integralcf.otf") format("opentype");
}

body{
    font-family: "Satoshi", sans-serif;
}

.bold{
    font-family: "Integral CF", sans-serif;
  
}

h1{
    font-size: 2rem;
    line-height: 34px;
    max-width:300px;
}
h2{
    font-size: 24px;
}

.text{
    font-size: 14px;
}

.icon{
    width: 24px;
    height: 24px;
}

.images{
    background-image: url("../public/images/hero-banner.jpg");
    background-position: top 0px center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 185px 0;
    position: relative;
}

.big-star{
    width: 76px;
    height: 76px;
    position: absolute;
    right: 20px;
    top: 60px;
}
.little-star{
    width: 44px;
    height: 44px;
    position: absolute;
    left: 20px;
    top: 150px;
}

.brands{
    img{
        max-width: 110px;
    }
    .zara{
        width: 70px;
    }
}

.product-img{
    width: 100%;
    border-radius: 20px;
}

.btn-view{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid gray;
    background-color: white;
}

.subtitle{
    letter-spacing: 3px;
}


.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li{
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;
        a{
            text-decoration: none;
            color: black;
            display: block;
        }
    }
  }

.title{
    list-style: none;
    a{
        text-decoration: none;
        color: black;
    }
}