@import "bt_overrides.sass"
@import "../node_modules/bootstrap/scss/bootstrap"
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css"

#home-page
    padding-top: 0.5rem
    background-image: url(https://r.resimlink.com/kbRmNp6cJ.png)
    background-repeat: no-repeat
    background-size: cover
    min-height: 100vh
.navbar
    background: rgba(255, 255, 255, 0.2)
    border-radius: 16px
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
    backdrop-filter: blur(5px)
    -webkit-backdrop-filter: blur(5px)

#choose-movie
    margin: 0 auto
    justify-content: center
    .card
        background: rgba(255, 255, 255, 0.2)
        border-radius: 16px
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
        backdrop-filter: blur(5px)
        -webkit-backdrop-filter: blur(5px)
        height: 21rem

        img
            width: 10rem
            height: 14rem

#chooseChairSection
    align-content: center
    background-image: url(https://r.resimlink.com/kbRmNp6cJ.png)
    background-repeat: no-repeat
    background-size: cover
    min-height: 100vh
    #choosechair
        background: rgba(255, 255, 255, 0.2)
        border-radius: 16px
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
        backdrop-filter: blur(5px)
        -webkit-backdrop-filter: blur(5px)
        border: 1px solid
        width: 90%
        padding: 15px
        margin: 0 auto

        .chair-wrapper
            .chair
                display: inline-block
                grid-template-rows: auto
                height: 50px
                width: 50px
                border: 1px solid white
                &:hover
                    background-color: #f7de05
                    color: #fff
                    transition: 0.3s ease
                    cursor: pointer
                &.reserved
                    background-color: #ffffff
                    color: #000000
                &.selected
                    background-color: #f7de05
                    color: #fff

    .full
        display: inline-block
        background-color: #ffffff
        height: 50px
        width: 50px
    .empty
        display: inline-block
        border: 1px solid white
        color: #fff
        height: 50px
        width: 50px
    .sec
        @extend .empty
        background-color: #f7de05

@media screen and (max-width: 768px)
    #choose-movie
        margin: 0 auto
        justify-content: center
        .card
            width: 10rem
            height: 14rem
            .card-header
                h4
                    font-size: 1rem
            .card-body
                h2
                    font-size: 10px
                button
                    font-size: 0.6rem
            img
                width: 5rem
                height: 7rem
