.listItem {
  list-style-type: none;
  font-size: 18px;
  color: crimson;
}

.listItem:nth-child(odd) {
  background-color: #f2f2f2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

text::first-letter {
  font-size: 50px;
}
