body{
    display: flex;
    height: 100vh;
    background-color: rgb(170, 171, 172);
    align-items: center;
    margin: 0;
    padding: 0;

}
.box{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 77, 0);
    animation: animasyon-deneme 2s infinite ease-in-out;
}
.box:hover {
    background-color: rgb(44, 255, 108);
    width: 100px;
}
@keyframes animasyon-deneme {
    0%{
        transform: translateX(0px);
        background-color: rgb(255, 77, 0);
    }
    50% {
        transform: translateX(100px);
        background-color: rgb(44, 255, 108);
    }
    100% {
        transform: translateX(0px);
        background-color: rgb(255, 77, 0);
    }
}