* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  height: 1000px;
  background: linear-gradient(to right, #93e4ff 40%, #76d9fa 40%, #76d9fa 60%);
}
.hero .navbar {
  padding-top: 60px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 184px;
}
.hero .navbar img {
  height: 56px;
  width: 98px;
  background-color: none;
}
.hero .main-content {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  gap: 100px;
  width: 990px;
  height: 670px;
}
.hero .main-content .coming-text {
  padding-top: 40px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 187px;
}
.hero .main-content .coming-text h1 {
  font-size: 120px;
  color: #0c7f86;
  font-family: "Poppins", sans-serif;
  line-height: 120px;
  font-weight: 700;
}
.hero .main-content .coming-text .wavy {
  height: 20px;
  width: 690px;
  background-color: none;
  margin-top: 30px;
}
.hero .main-content .coming-text h2 {
  font-size: 32px;
  color: #0c7f86;
  letter-spacing: 30px;
  padding-top: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.hero .main-content .coming-text .coming-form {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 12px;
  padding-top: 70px;
}
.hero .main-content .coming-text .coming-form img {
  height: 50px;
  width: 34px;
  background-color: none;
}
.hero .main-content .coming-text .coming-form input {
  height: 70px;
  width: 455px;
  background-color: none;
  border-radius: 10px;
  border-style: none;
  box-shadow: 3px 0px 33px 7px rgba(0, 101, 106, 0.251);
  font-size: 20px;
  padding-left: 15px;
}
.hero .main-content .coming-text .coming-form button {
  height: 70px;
  width: 180px;
  background-color: none;
  border-radius: 10px;
  background-color: #0c7f86;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 4px;
  font-weight: 900;
  color: white;
  border-style: none;
}
.hero .main-content .coming-text .coming-form button:hover {
  cursor: pointer;
  background-color: #076165;
  transition: 0.8s ease;
}
.hero .main-content .coming-image {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.hero .main-content .coming-image img {
  width: 100%;
  border-radius: 50%;
}
.hero .main-content .coming-image h1 {
  font-size: 32px;
  color: #0c7f86;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 30px;
}
.hero .main-content .coming-image .caption {
  line-height: 30px;
}
.hero .main-content .coming-image p {
  line-height: 25px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  line-height: 30px;
}
.hero .main-content .coming-image .coming-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
}
.hero .main-content .coming-image .coming-links a {
  font-size: 12px;
  color: #0c7f86;
  text-decoration: none;
  letter-spacing: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.hero .circle {
  position: absolute;
  border: solid;
  border-radius: 50%;
  width: 345px;
  height: 345px;
  margin-left: 975px;
  transition: all 0.9s ease-in-out;
  animation: animasyon-bir 8s infinite ease-in-out;
}
@keyframes animasyon-bir {
  0% {
    transform: translateX(0px);
    color: white;
  }
  50% {
    transform: translateX(20px);
    color: #0c7f86;
  }
  100% {
    transform: translateX(0px);
    color: #0c7f86;
  }
}
.hero .homework {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  padding-top: 45rem;
  gap: 50px;
}
.hero .homework img {
  height: 150px;
  width: 250px;
  background-color: none;
}

/*# sourceMappingURL=main.css.map */
