:root {
    --main-color: #0c7f86;
    --main-body-color: #084b4f;
    --main-font: 'Poppins', sans-serif;
}

h1 {
    font-size: 120px;
    font-weight: 700;
    line-height: 120px;
    letter-spacing: -4px;
    text-align: left;
    vertical-align: top;
    color: var(--main-color);
}
h2 {
    font-style: 48px;
    font-weight: 800;
    line-height: 94.5px;
    color: var(--main-color);
}
h3 {
    font-size: 42px;
    font-weight: 700;
    line-height: 54.6px;
    color: var(--main-color);
}
h4 {
    font-size: 32px;
    font-weight: 600;
    line-height: 30px;
    color: var(--main-color);
}
.caption {
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 5px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    overflow-x: hidden;
}
body {
    color: var(--main-body-color);
    font-family: var(--main-font);
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 16px;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
.doc-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: #fff;
}
.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    margin: 0 auto;
}

header {
    padding-top: 60px;
}
.header-logo img {
    display: block;
    width: 98px;
    height: 56px;
}
.coming-holder {
    display: flex;
    justify-content: space-between;
}
.coming-text {
    width: calc(60%);
    overflow: hidden;
}
.coming-text h1 {
    padding-top: 100px;
    padding-bottom: 20px;
}
.coming-text .wave-image {
    background-image: url('../images/wavy-shape.png');
    width: 100%;
    height: 20px;
    background-size: 645px 20px;
    background-repeat: repeat-x;
    animation: wavy-motion 15s linear infinite;
    margin: 25px 0;
}
@keyframes wavy-motion {
    from {
        background-position-x: 0%;
    }
    to {
        background-position-x: 645px;
    }
}
.coming-text .subtitle {
    color: var(--main-color);
    font-size: 32px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 30px;
    text-transform: uppercase;
    padding-top: 15px;
}
.coming-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}
.coming-form img.arrow {
    width: 34px;
    height: 50px;
}
.coming-form input {
    font-family: var(--main-font);
    font-size: 18px;
    padding: 20px 24px;
    flex-grow: 1;
    margin: 0 16px;
    border: none;
    outline: none;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 30px 7px #0c7f8640;
    transition: 0.5s ease;
}
.coming-form input::placeholder {
    font-family: var(--main-font);
    color: var(--main-color);
    font-size: 18px;
}
.coming-form input:focus {
    border-color: var(--main-color);
    box-shadow: unset;
}
.btn-filled {
    font-family: var(--main-font);
    padding: 25px 24px;
    border-radius: 10px;
    color: #fff;
    background-color: var(--main-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 4px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: 0.5s ease;
}
.btn-filled:hover {
    background-color: var(--main-body-color);
}
.coming-image {
    width: calc(30%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.coming-image h4 {
    color: var(--main-body-color);
}
.coming-image .img-box {
    position: relative;
    margin-bottom: 32px;
}
.coming-image .img-box::before {
    content: '';
    position: absolute;
    top: -45px;
    left: -30px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 3px solid #fafafa;
    z-index: 2;
    pointer-events: none;
    user-select: none;
    animation: animate-img-circle 8s linear infinite;
}
@keyframes animate-img-circle {
    0% {
        top: -20px;
        left: -20px;
    }

    50% {
        top: -20px;
        left: 20px;
        border-color: var(--main-color);
    }

    100% {
        top: -20px;
        left: -20px;
    }
}
.coming-image .img-box::after {
    content: '';
    position: absolute;
    right: -420px;
    top: 0;
    width: 800px;
    height: 800px;
    border: 1px solid #fff;
    border-radius: 50%;
    pointer-events: none;
    user-select: none;
    z-index: 0;
    animation: animate-img-circle-2 3s linear infinite alternate;
}
@keyframes animate-img-circle-2 {
    from {
        top: -70px;
    }
    to {
        top: 10px;
        border-color: var(--main-color);
    }
}
.coming-image img {
    position: relative;
    max-width: 100%;
    border-radius: 50%;
    z-index: 1;
}
.coming-image .subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 5px;
    margin-bottom: 24px;
}
.coming-image .body {
    line-height: 30px;
    margin-bottom: 24px;
}
.coming-links {
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.coming-links a {
    color: var(--main-body-color);
    padding: 8px 8px 0px 0px;
    text-decoration: none;
    transition: color 0.5s ease;
}
.coming-links a:hover {
    color: var(--main-color);
}

.bg-shape-1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 40%;
    background-color: #e5fff9;
    z-index: -1;
}
.bg-shape-2 {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 60%;
    background-color: #b8e4da;
    z-index: -1;
}

@media (max-width: 1200px) {
    h1 {
        font-size: 90px;
        line-height: 110px;
    }
    .coming-text .subtitle {
        font-size: 28px;
        letter-spacing: 25px;
    }
}

@media (max-width: 900px) {
    .container {
        padding: 0 25px;
    }
    .coming-text h1 {
        padding-top: 30px;
    }
    .coming-holder {
        flex-direction: column;
    }
    .coming-holder > div {
        width: 100%;
    }
    .coming-text {
        padding-bottom: 40px;
    }
}

@media (max-width: 600px) {
    header {
        padding-top: 30px;
    }
    .container {
        padding-bottom: 30px;
    }
    h1 {
        font-size: 60px;
        line-height: 70px;
    }
    .coming-text .subtitle {
        font-size: 22px;
        letter-spacing: 10px;
    }
    .coming-form {
        flex-direction: column;
    }
    .coming-form > * {
        width: 100%;
        margin: 16px;
    }
    .coming-form img.arrow {
        display: none;
    }
    .coming-form input {
        box-shadow: none;
    }
    .bg-shape-1 {
        width: 100%;
    }
    .bg-shape-2 {
        display: none;
    }
    
}