@import '../../app/globals.sass'

.topBarBg
  background-color: #000
  color: #ffffff
  font-size: 14px
  font-weight: 400

  html.dark & 
    background-color: #ffffff
    color: #000000
  
.signUpTop
  color: #ffffff
  html.dark & 
    background-color: #ffffff
    color: #000000

.topBar
  height: 38px

@media  (max-width: 480px)
  .topBarBg
    font-size: 12px
