::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-track {
    background: #000000;
}
::-webkit-scrollbar-thumb {
    background: #777777;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffca2c;
}
