.categoriesCardHorizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100%;
  min-height: 300px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.categoriesCardVertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.pink {
  background-color: #fac8f4;
}
.blue {
  background-color: #c8e3f9;
}
.green {
  background-color: #d6fac8;
}
.yellow {
  background-color: #fae6c8;
}
