*{
    margin: 0;
    padding: 0;
}
body{
    font-family:"Outfit";
}
ul {
    list-style: none;
}
:root {
    --primary: #FFB91F;
    --secondary: #233F92;
    --text: #202020;
    --button-text: #202020;
    --span-text: #AFAFAF;
    --date-time: #848484;
    --discount: rgba(212,56,17,1);
}
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}