@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}

body {
  color: #696969;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 12px;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.main-btn {
  cursor: pointer;
  padding: 16px 25px;
  border-radius: 4px;
  color: #fff;
  background: linear-gradient(to right, #ff5195, #ffb84b);
}

.col-6 {
  width: 50%;
}

.col-3 {
  width: 25%;
}

.header-section {
  margin-top: 20px;
  z-index: 999;
  position: relative;
}
.header-section .header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-section .menu-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 50px;
}
.header-section .main-area {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 25px 20px;
  color: black;
}

.banner-section {
  background-color: rgb(42, 131, 131);
  padding: 265px 0 190px;
}
.banner-section .pos-banner {
  max-width: 100%;
}
.banner-section .pos-banner .resim-2 {
  right: 0;
  top: 0;
  position: absolute;
}
.banner-section .pos-banner .resim-1 {
  left: 0;
  top: 0;
  position: absolute;
}

h2 {
  font-size: 36px;
  line-height: 48px;
}

h6 {
  font-size: 18px;
  line-height: 30px;
}

h5 {
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.testimonial-section {
  padding-top: 110px;
  padding-bottom: 95px;
  background-color: #fffef6;
}
.testimonial-section .testi-item {
  padding: 15px;
}
.testimonial-section .testi-inner {
  background: #fff;
  box-shadow: 0 0 10px rgba(136, 136, 136, 0.1);
}
.testimonial-section .testi-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.testimonial-section .testi-body {
  padding: 30px;
  position: relative;
}
.testimonial-section .rating {
  color: #e9ba17;
  margin-top: 15px;
}
.testimonial-section .testi-img img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.testimonial-section .sponsor-thumb {
  width: 90px;
  height: 70px;
}
.testimonial-section .sponsor-thumb img {
  max-width: 100%;
  vertical-align: middle;
}

.sponsor-section {
  padding-bottom: 95px;
  padding-top: 0px;
}
.sponsor-section .sponsor-wrapper {
  padding-top: 70px;
}
.sponsor-section .slider {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.sponsor-section .sponsor-image {
  margin-right: 10px;
  padding: 30px;
}
.sponsor-section img:hover {
  filter: grayscale(1);
  transition: all 0.5s ease-in-out;
}

.app-footer {
  background-image: url("../images/app-footer-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 110px;
}
.app-footer .tryfree {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.app-footer .col-6,
.app-footer .col-3 {
  color: #fff;
}
.app-footer .download-btn {
  width: 230px;
  height: 70px;
  padding: 10px 20px;
  border-radius: 2px;
  background: #fff;
  margin-right: 15px;
}
.app-footer .download-btn p {
  color: #696969;
}
.app-footer .download-btn span {
  color: #c961fa;
}
.app-footer .download-btn img {
  margin-right: 10px;
}
.app-footer .app-btn-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 60px;
}
.app-footer .title {
  margin-bottom: 30px;
}
.app-footer .content ul li {
  align-items: center;
  padding: 10px 0;
}
.app-footer i {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
.app-footer .footer-top {
  padding-top: 110px;
  padding-bottom: 95px;
}
.app-footer .footer-bottom {
  padding: 35px 0;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/*# sourceMappingURL=style.css.map */
