*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-size: 24px;
    color: whitesmoke;
}
p{
    font-size: 24px;
}

.container {
    background-color: gainsboro;
    width: 70%;
    height: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 20px;
}

.box{
    width: 200px;
    height: 200px;
    background-color: gray;
    border-radius: 10px;
    padding: 10px;
}

.box1 {
    order: 1
}

.box2 {
    order: 2
}

.box3{
    order: 3
}

@media screen and (max-width: 768px){
    .box1{
        order:3
    }
    .box2{
        order: 1;
        margin-bottom: 10px;
    }
    .box{
        order: 2;
        margin-bottom: 10px;
    }
}