body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}
#container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.button-wrapper {
  margin-top: 10px;
}
#product-wrapper {
  margin-top: 20px;
}
.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #9fa2ac;
}
.product-name {
  flex-grow: 1;
  margin-right: 10px;
}
