$warning: #f77f00;
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 4;
$accordion-button-active-bg: #eae2b7;
$accordion-button-active-color: #003049;
$accordion-button-focus-border-color: #003049;
$accordion-button-focus-box-shadow: #003049;
$form-check-input-checked-bg-color: $accordion-button-active-bg;
$form-check-input-focus-border: $accordion-button-active-bg;
$input-focus-border-color: tint-color($warning, 50%);
