@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "../scss/bt_overrides";
* {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  &:hover {
    color: $warning;
  }
}
.btn:hover {
  color: #ff6600;
  border-color: #ff6600;
}
