

@import url(https://db.onlinewebfonts.com/c/b52804ac57ef6e90d2826a6b0f111133?family=Integral+CF+Bold);

body {
  font-family: "Integral CF Bold";
  margin: 0;
  padding: 0;
  background-color: $backgroundColor; 
  color: $textColor;


}