
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden !important;
    font-size: 15px;
    color: #24272c;
  }
li{
    margin:15px;
}
.turuncu{
    color:#FF7F24;
    padding: 2px;    
}
.gri{color:grey;
    opacity: .8;
}
.aciklamaGenislik{
    width: 700px;
}
    
.container{
    display: flex;
    justify-content: space-evenly;
   /* height: 800px;*/
}


.containerHeader {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px;
    flex-direction: column;
    text-align: center;

}

.containerResim {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.kucukResim {
    width: 25%; 
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;

}

.kucukResim img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.second1 {                   
    background-image:url('img/cta1.png')  ;
    width: 100%;
    height: 400px;
    font-family: Roboto Slab, serif;
    color: white;
    background-size: cover;
    background-position: center; 
    font-size: x-large  ;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
    margin: 30px;
}

.btn {
    background-color: darkorange;
    color: white;
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 6px;
    width: 150px;
    height: 50px;
    margin-top: 50px;
}
.btn:hover {
    background-color: orangered;
}

.btnTeklif {
    background-color:rgb(253, 242, 233);
    color: darkorange;
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 6px;
    width: 150px;
    height: 50px;
    margin-top: 50px;
    border-color: #FF7F24;
    border: 2px;
}
.btnTeklif:hover {
    background-color: orangered;
    color: white;
}

.teklif{
    padding: 25px;
}
.teklifP{
    font-size: larger;
}

.dikeyListe{
    width: 45%;
    height: 300px;
}

.containerD{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sutun{
    width:40%;
    height: 800px;
   /* background-color: aqua;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sutun1{
    width: 2%;
    height: 800px;
    /*background-color: #FF7F24;*/
}

.sEleman{
    height: 350px;
    width: 65%;
   /* background-color: chartreuse;*/
    margin: 50px;
}


.sutun1::before {
    content: ""; /* Pseudo-element içeriği */
    display: block; /* Blok element olarak görüntüle */
    width: 1px; /* Çizgi genişliği */
    height: 100%; /* Yükseklik */
    border-left: 1px dashed rgba(14, 12, 12, 0.61); /* Kesik çizgi */
    margin: 0 auto; /* Dikey hizalama */
}




.container {
    background-color: white;
    width: 100%;
    height: 70px;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-around;
}
.navbar-brand {
    justify-content: center;
    margin-left: 200px;
}
.parts {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 200px;
    font-size: 12px;
    font-family: Roboto Slab, serif;
}
.link {
    text-decoration: none;
    color:black
}
.link:active {
    color: orange;
}
.link:hover {
    color: orangered;
}
.s-media {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 200px;
}

.second {
    background-image: url("https://shreethemes.in/upstart/layouts/images/bg/1.jpg");
    width: 100%;
    height: 800px;
    position:absolute;
    background-size: cover;
    background-attachment:local;
    font-family: Roboto Slab, serif;
}
.second-h1 {
    color: white;
    margin-left: 200px;
    margin-top: 200px;
}
.second-p {
    color: gray;
    font-size: 17px;
    margin-left: 200px;
    margin-top: 50px;
    max-width: 600px;
}
.btn {
    background-color: darkorange;
    color: white;
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 6px;
    width: 150px;
    height: 50px;
    margin-top: 50px;
}
.second-btn {
    margin-left: 200px;
}
.btn:hover {
    background-color: orangered;
}

.third {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 900px;
    font-family: Roboto Slab, serif;
}
.floatLeft {
    float: left;
    margin-left: 200px;
}
.third-left {
    background-image: url("https://shreethemes.in/upstart/layouts/images/about.jpg");
    background-size: cover;
    border-radius: 6px;
    width: 450px;
    height: 525px;
}
.floatRight {
    float: right;
    margin-right: 200px;
    max-width: 600px;
}
.clear {
    clear: both;
}
.third-h6 {
    color: orange;
    font-size: 15px;
}
.third-h4 {
    font-size: 24px;
}
.third-p {
    color: gray;
}

.fourth {
    margin-top: 200px;
    font-family: Roboto Slab, serif;
}
.fourth-h6 {
    color: orange;
    font-size: 15px;
}
.fourth-h4 {
    font-size: 28px;
    max-width: 400px;
}
.fourth-p {
    color: gray;
    margin-top: 100px;
}   
.arrangement {
    margin-left: 200px;
    margin-right: 200px;
}
.container4 {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 100px;
    align-items: center;
}
.fourth-img {
    border-radius: 6px;
    width: 85px;
    height: 85px;
}
.box {
    box-sizing: border-box;
    margin-bottom: 100px;
}
.link4 {
    font-size: 18px;
}
.fourth-card-p {
    max-width: 300px;
    color: gray;
    font-size: 15px;
}

.ucEleman{
    display: flex;
    max-width: 80%;
    align-items: center;
}

