div{
    background-color: aqua;
    margin:20px;}

.header{
    background-color: blue;
    width: 95%;
    height:75px;


}
.nav{
    background-color: blueviolet;
    width: 20%; 
    height: 150px;
    margin-left: 20px;
    float: left;

}
.clear{
    clear: both;
}
.main{
    background-color: bisque;
    width: 72%;
     height: 150px;
     float: inline-end;

}
.footer{
    background-color: darkgreen;
    width: 95%; 
    height: 60px;

}