@import "animation.scss";
@mixin background-image($image) {
  background-image: url($image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.btn_primary {
  background-color: $primary;
  &:hover {
    background-color: $secondary;
  }
}
#hero {
  @include background-image(
    "https://themebeyond.com/html/evernet/img/slider/slider_bg.jpg"
  );
  .plus-icon {
    left: 30%;
    top: 30%;
    animation: animationFramesOne 10s infinite linear;
  }
  .plus-icon-2 {
    left: 10%;
    bottom: 30%;
    animation: animationFramesOne 15s infinite linear;
  }
  .plus-icon-3 {
    left: 40%;
    bottom: 50%;
    animation: animationFramesOne 12s infinite linear;
  }
  .circle-icon {
    left: 10%;
    top: 40%;
    animation: animationFramesOne 30s infinite linear;
  }
  .circle-icon-2 {
    left: 50%;
    top: 30%;
    animation: animationFramesOne 30s infinite linear;
  }
  .circle-icon-3 {
    left: 40%;
    bottom: 10%;
    animation: animationFramesOne 30s infinite linear;
  }
  min-height: 100vh;
  .slider-overflow {
    padding-top: 200px;
    overflow: hidden;
    .left-side {
      h1 {
        animation: slideInLeft 1s;
      }
      p {
        animation: slideInLeft 1s;
        // animation-delay: 0.3s;
      }
      button {
        animation: slideInLeft 1s;
        // animation-delay: 0.6s;
      }
    }
    .right-side {
      .hero-board {
        animation: slideInRight 1s;
        // animation-delay: 0.6s;
      }
      .hero-man {
        left: 100px;
        animation: slideInLeft-Small 1s;
        //   animation-delay: 1s;
      }
      .cog-img1-container {
        top: 70px;
        left: 130px;
        animation: slideInLeft-Small 1s;
        // animation-delay: 1.4s;
      }
      .cog-img2-container {
        top: 150px;
        right: 50px;
        animation: slideInRight 1s;
        // animation-delay: 1.8s;
      }
      .cog-img3 {
        top: 270px;
        left: 40px;
        animation: slideInLeft-Small 1s;
        // animation-delay: 2.2s;
      }
      .cog-img4 {
        top: 420px;
        right: 210px;
        animation: fadeInUp 1s;
        // animation-delay: 2.6s;
      }
    }
  }
}
a {
  text-decoration: none;
}
a,
button {
  cursor: pointer;
}
.line-height-1 {
  line-height: 30px;
}
.navbar {
  box-shadow: 0px 19px 55px 0px rgba(98, 81, 146, 0.08);
}
.rotate {
  animation: round-animation 30s infinite linear;
}
#brands {
  .row {
    margin-top: -30px;

    img {
      cursor: pointer;
      opacity: 75%;
      &:hover {
        opacity: 100%;
      }
    }
  }
}

#exclusive-feature {
  .polygon {
    @include background-image(
      "https://themebeyond.com/html/evernet/img/shape/Polygon.png"
    );
  }
  .card {
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    .exlusive-card-icon {
      color: $secondary;
    }
    &:hover {
      background-color: white;
      box-shadow: 0px 0px 43px 0px rgba(89, 75, 128, 0.11);
      .exlusive-card-icon {
        color: $primary;
      }
    }
  }
}
#download-apps {
  @include background-image(
    "https://themebeyond.com/html/evernet/img/bg/download_bg.jpg"
  );
}
#powerful-service {
  @include background-image(
    "https://themebeyond.com/html/evernet/img/bg/services_shape.png"
  );
  .card {
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: translateY(-10px);
    }
  }
  a {
    &:hover {
      color: $primary !important;
    }
  }
}
#most-powerful-software {
  .bg-round {
    width: 200px;
    height: 200px;
    top: -60px;
    right: 30px;
    background-color: #f1f0f6;
    animation: scaleUpDown 5s infinite ease-in-out;
  }
  .bg-round-sm {
    width: 100px;
    height: 100px;
    bottom: -40px;
    left: -30px;
    background-color: #f1f0f6;
    animation: scaleUpDown 5s infinite ease-in-out;
  }
  .software-img-sm {
    animation: vertical-move 5s infinite ease-in-out;
  }
}
#plans {
  .card {
    &:hover {
      transform: translateY(-10px);
      transition: all 0.3s ease-in-out;
      a {
        background-color: white !important;
        color: $primary !important;
        border: $primary 1px solid;
      }
    }
  }
}
#our-blog {
  .card {
    .blog-card-header {
      &:hover {
        color: $primary !important;
      }
    }
    &:hover {
      .blog-card-icon-span {
        background-color: $primary;
        .blog-card-icon {
          color: white !important;
        }
      }
    }
  }
}
#footer-top {
  @include background-image(
    "https://themebeyond.com/html/evernet/img/bg/footer_bg.jpg"
  );
  .newsletter {
    .newsletter-icon {
      &::after {
        content: "";
        position: absolute;
        left: -62px;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 56px 50px;
        border-color: transparent transparent #1a191c transparent;
      }
    }
  }
  .social-icon {
    width: 40px;
    height: 40px;
  }
  .border-dashed {
    border-bottom: 1px dashed #838383;
  }
  .useful-link {
    color: #969696;
    &:hover {
      color: $primary;
    }
  }
}
@media (max-width: 991px) {
  #hero {
    min-height: auto;
    margin-bottom: 50px;
    .slider-overflow {
      padding-top: 50px;
    }
  }
}
