$font-family-base: "Poppins", sans-serif;
$primary: #ff4800;
$secondary: #58468c;
$navbar-light-color: $secondary;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3.375;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base * 0.85;
