$font-family-base: "Poppins", sans-serif;
$primary: #ff4800;
$secondary: #58468c;
$info: #f6f6f7;
$dark: #161517;
$dark-bg-subtle: #0f0e0f;
$navbar-light-color: $secondary;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3.375; //54px
$h2-font-size: $font-size-base * 2.25; //36px
$h3-font-size: $font-size-base * 2.875; //46px
$h4-font-size: $font-size-base * 1.35; //20px
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base * 0.85; //13.6px

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6.25,
  7: $spacer * 12,
);
$enable-negative-margins: true;
