* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 14px;
}

.container {
    width: 70%;
    height: 700px;
    margin: 0 auto;
    background-color: darkgrey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box {
    width: 200px;
    height: 200px;
    background-color: crimson;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    color: gainsboro;
}

.box1 {
    order: 1
}

.box2 {
    order: 2
}

.box3 {
    order: 3
}

@media screen and (max-width: 768px) {
    .box1 {
        order: 2
    }

    .box2 {
        order: 3
    }

    .box3 {
        order: 1
    }
}