/* Psuedo Class */

.link {
  color: crimson;
}

.link:active {
  color: rgb(238, 0, 255);
}

.link:visited {
  color: rgb(255, 136, 0);
}

.link:hover {
  color: rgb(0, 255, 0);
}

.listItem{
    
    list-style-type: none;
    font-size: 18px;
    color: crimson;
}

.listItem:nth-child(-n+6) {
    color: blue;
}

/* Psuedo Element */

.text::first-letter{
font-size: 50px;
}

.text::first-line{
    color: blue;
}

.text::after{
    content: " Merhaba Ben Sona Eklendim!";
}