.container {
  max-width: 1200px;
  padding: 0 1.4rem;
  margin: auto;
}

.btn-dark, .btn-light, .btn-primary {
  display: inline-block;
  padding: 0.7rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn-primary {
  color: #333;
  background-color: #EF6D6D;
}
.btn-light {
  color: #333;
  background-color: #f4f4f4;
}
.btn-dark {
  color: #fff;
  background-color: #333;
}

button[class^=btn-]:hover,
a[class^=btn-]:hover,
input[class^=btn-]:hover {
  background-color: #EF6D6D;
}

.bg-dark {
  background-color: #333;
}
.bg-primary {
  background-color: #EF6D6D;
}
.bg-light {
  background-color: #f4f4f4;
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}

.text-center {
  text-align: center;
}

.section-title {
  font-size: 2rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
}

.border-bottom {
  height: 3px;
  width: 3rem;
  background-color: #EF6D6D;
  margin: 0 auto 1rem auto;
}

.lead {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  word-spacing: 2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Prompt", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
.main-nav__logo {
  width: 70px;
  height: 70px;
}
.main-nav__items {
  display: flex;
}
.main-nav__items li {
  padding: 1rem 1.5rem;
}
.main-nav__items li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s;
}
.main-nav__items li a.active {
  border-color: #EF6D6D;
}
.main-nav__items li a:hover {
  border-color: #ccc;
}

#header__home {
  background: url("../img/bg.jpeg") no-repeat center right/cover;
  height: 100vh;
  color: #fff;
}
#header__home .header-content {
  text-align: center;
  padding-top: 30%;
}
#header__home h1 {
  font-size: 4rem;
  line-height: 1.2;
}
#header__home .typewrite {
  display: block;
}
#header__inner {
  background: url("../img/bg.jpeg") no-repeat 40% 20%/cover;
  height: 5.5rem;
  border-bottom: 3px solid #EF6D6D;
}

#home__a .skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
#home__a .skills i {
  color: #EF6D6D;
}
#home__b .profile {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#home__b .profile li.title {
  font-size: 1.5rem;
}
#home__b .profile li.number {
  font-size: 2rem;
  font-weight: bold;
}
#home__b .profile div {
  padding: 3rem 0;
}
#home__b .profile div:nth-child(odd) {
  background-color: #f4f4f4;
}
#home__b .profile div:nth-child(even) {
  background-color: #ccc;
}
#home__c .process {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#home__c .process__step {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  line-height: 15px;
  padding: 1rem;
  transition: all 1s;
  background-color: #EF6D6D;
  border-radius: 50%;
  font-size: 25px;
}
#home__c .process__icon {
  position: relative;
  width: 125px;
  height: 125px;
  padding: 2rem;
  border-radius: 50%;
  background-color: #333;
  color: #f4f4f4;
  text-align: center;
}
#home__c .process__icon:hover {
  background: #EF6D6D;
}
#home__c .process__icon:hover .process__step {
  background-color: #333;
}

#about__a .info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.2rem;
}
#about__a .info__image {
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid #f4f4f4;
}
#about__a .info__bio {
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid #f4f4f4;
}
#about__b {
  background-color: #333;
  color: #f4f4f4;
}
#about__b .progress_bars .progress {
  background-color: #f4f4f4;
  height: 20px;
  border-radius: 2px;
  margin-bottom: 1rem;
}
#about__b .progress_bars .progress div {
  height: 100%;
  background-color: #EF6D6D;
}
#about__c .about-logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  gap: 2rem;
}
#about__c .about-logos img {
  width: 50%;
}
#about__d .references ul {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
#about__d .references p {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
}
#about__d .references img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-right: 0.5rem;
}

#projects .items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  box-shadow: rgba(149, 154, 145, 0.2) 0px 8px 24px;
}
#projects .items .item {
  position: relative;
  background-color: #f4f4f4;
  overflow: hidden;
}
#projects .items .item::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #EF6D6D;
  z-index: 3;
  opacity: 0.6;
  transform: translate(-100%, 0%) rotate(45deg);
  transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}
#projects .items .item:hover::after {
  transform: translate(-83%, 0%) rotate(45deg) scale(1.2);
}

#contact-a .form-fields {
  display: grid;
  gap: 1rem;
  margin-bottom: 1rem;
  grid-template-areas: "name email" "subject phone" "message message" "button button";
}
#contact-a .form-fields .name {
  grid-area: name;
}
#contact-a .form-fields .email {
  grid-area: email;
}
#contact-a .form-fields .subject {
  grid-area: subject;
}
#contact-a .form-fields .phone {
  grid-area: phone;
}
#contact-a .form-fields .message {
  grid-area: message;
  height: 180px;
}
#contact-a .form-fields .btn-dark {
  grid-area: button;
}
#contact-a .form-fields .input {
  padding: 0.5rem 1rem;
}
#contact-b .contact-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  color: #fff;
}

#main-footer {
  background-color: #333;
  color: #f4f4f4;
  height: 5rem;
}
#main-footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}
#main-footer .footer-content .social .fab {
  border: 2px solid #f4f4f4;
  margin-right: 1rem;
  border-radius: 50%;
  padding: 0.6rem;
  text-align: center;
  transition: all 0.5s;
}
#main-footer .footer-content .social .fab:hover {
  background-color: #EF6D6D;
}

@media (max-width: 768px) {
  #header__home {
    height: 30rem;
  }
  #header__home .header-content {
    padding-top: 7rem;
  }
  #header__home .header-content h1 {
    font-size: 2.6rem;
  }
  #home__a .skills,
  #home__b .profile,
  #home__c .process,
  #projects .items,
  #about__c .about-logos {
    grid-template-columns: repeat(2, 1fr);
  }
  #about__a .info {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 576px) {
  #home__a .skills div {
    border-bottom: 1px #ccc solid;
    padding-bottom: 1rem;
  }
  #home__a .skills div:last-child {
    border: none;
    padding-bottom: 0;
  }
  .lead {
    font-size: 1rem;
    margin-bottom: 1.2rem;
    word-spacing: 1px;
  }
  #header__home {
    height: 10rem;
    border-radius: 2px solid #EF6D6D;
    background-position: 20% 30%;
  }
  #header__home .header-content {
    display: none;
  }
  #header__inner {
    height: 10rem;
  }
  .main-nav {
    flex-direction: column;
    align-items: center;
  }
  .main-nav li {
    padding: 1rem;
  }
  #home__a .skills,
  #home__b .profile,
  #home__c .process,
  #projects .items,
  #contact-b .contact-info,
  #about__c .about-logos {
    grid-template-columns: 1fr;
  }
  #main-footer {
    height: 7rem;
  }
  #main-footer .footer-content {
    flex-direction: column;
    padding: 1rem;
    height: 5rem;
  }
  #main-footer .footer-content .social {
    padding-top: 1rem;
  }
  #about-a .info {
    grid-template-columns: 1fr;
  }
  #about-c {
    display: none;
  }
  #contact-a .form-fields {
    grid-template-areas: "name" "email" "subject" "phone" "message" "button";
  }
  #contact-b div {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed #fff;
  }
  #contact-b div:last-child {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=main.css.map */
