$primary: #fd77ab;
$secondary: #a38fcc;
$success: #b5ccab;
$danger: #d89bca;
$info: #93c7da;
$bg-danger-subtle: #eacbc6;
$border-success: $primary;
$font-family-sans-serif: "Inter", sans-serif;
$h1-font-size: 5rem;
$font-size-6: 1.5rem;
