* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#home {
  background: url(https://r.resimlink.com/bh60Hs.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.container {
  width: 1180px;
  margin: 0 auto;
}
.content {
  width: 500px;
  height: auto;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 200px;
}
.boxes {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  border-radius: 10px;
  padding-bottom: 20px;
  gap: 10px;
}
.box {
  border: 2px solid white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 10px 25px;
  background-color:deeppink;
  color: white;
  font-weight: 600;
  width: 40%;
}
#player {
  color: deeppink;
  padding-bottom: 20px;
}
