@import '../Home/Home.scss';

$x30: 30px;

.product-detail-page {
  margin-top: 3rem;

  .product-detail-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;

    .product-detail-images {
      .product-images {
        @include flexible(flex);
        gap: 2rem;
        @media (max-width: 800px) {
          flex-direction: column-reverse;
          order: 1;
        }

        .images-left {
          @include flexible(flex);
          flex-direction: column;
          gap: 1rem;

          @media (max-width: 800px) {
            flex-direction: row;
          }

          img {
            width: 152px;
            height: 167px;
            border-radius: 20px;

            &:active {
              border: 1px solid #ccc;
            }
          }
        }

        .main-img {
          width: 100%;
          img {
            width: 100%;
            height: 700px;
            object-fit: cover;
            border-radius: 20px;
          }
        }
      }
    }

    .products-content {
      margin-top: $x30;

      .product-name {
        @include typography('Integral CF Regular', 40px, 700, uppercase, 2px);
      }

      .stars {
        margin-top: $x30;
        color: gold;
      }

      .price {
        @include flexible(flex);
        gap: 10px;

        .price {
          @include typography('Satoshi', 32px, 700);
        }

        .old-price {
          @extend .price;
          text-decoration: line-through;
          color: #999;
        }

        .discount {
          @include typography('Satoshi', 16px, 500, 22px);
          border-radius: 62px;
          color: #ff3333;
          background-color: rgba(255, 51, 51, 0.1);
          margin: 3px 0px;
          @include padding(6px 14px);
        }
      }

      .desc {
        @include typography('Satoshi', 16px, 400, 22px);
        opacity: 0.7;
        margin-top: 10px;
        margin-top: $x30;
        margin-bottom: $x30;
      }

      .product-variants {
        margin: $x30 0;

        .product-colors {
          p {
            @include typography('Satoshi', 16px, 400, 22px);
            opacity: 0.7;
            margin-top: 10px;
          }

          .color-variants {
            margin-bottom: 20px;
            .variant-btn {
              margin-top: 10px;
              border-radius: 62px;
              color: #ff3333;
              background-color: rgba(255, 51, 51, 0.1);
              width: 37px;
              height: 37px;
              border: none;
              position: relative;

              i {
                color: #fff;
                font-size: 29px;
                padding: 0;
                position: absolute;
                top: 3px;
                left: 4px;
              }

              &:nth-child(1) {
                background-color: rgb(255, 0, 0);
              }

              &:nth-child(2) {
                background-color: rgb(0, 255, 0);
                margin-left: 6px;
              }

              &:nth-child(3) {
                background-color: rgb(0, 0, 255);
                margin-left: 6px;
              }
              &:nth-child(4) {
                background-color: rgb(211, 211, 219);
                margin-left: 6px;
              }

              &:nth-child(5) {
                background-color: rgb(0, 0, 0);
                margin-left: 6px;
              }
            }
          }
        }

        .product-size {
          margin: $x30 0;

          p {
            @include typography('Satoshi', 16px, 400, 22px);
            opacity: 0.7;
            margin-top: 10px;
          }

          .size-variants {
            @include flexible(flex);
            gap: 5px;

            .variant-btn {
              @include typography('Satoshi', 16px, 400, 22px);
              @include padding(10px 20px);
              background-color: #f0f0f0;
              color: #000;
              margin-top: 10px;
              border: none;
              position: relative;
              border-radius: 20px;

              &.selected {
                border: 2px solid #000;
              }

              &.active {
                background-color: #000;
                color: #fff;
              }
            }
          }
        }

        .product-quantity {
          @include flexible(flex);
          margin: $x30 0;
          gap: 10px;

          input {
            width: 130px;
            @include padding(10px 0px);
            background-color: #f0f0f0;
            border: none;
            text-align: center;
            border-radius: 62px;
          }

          .quantity-input {
            position: relative;
          }

          .decrement {
            position: absolute;
            left: 7%;
            top: 0px;
            border: none;
            background-color: transparent;
            font-size: 30px;
          }

          .increment {
            position: absolute;
            right: 7%;
            top: 0px;
            border: none;
            background-color: transparent;
            font-size: 30px;
          }

          .add-to-cart-btn {
            display: block;
            width: 100%;
            background-color: #000;
            color: #fff;
            border: none;
            border-radius: 62px;
          }

          .alert {
            @include typography('Satoshi', 16px, 400, 22px);
            margin-top: 5px;
          }
        }
      }
    }
  }

  .reviews-wrap {
    .load-more-reviews {
      @include typography('Satoshi', 14px, 500, 3px);
      border: 1px solid #ccc;
      background-color: transparent;
      padding: 15px 20px;
      border-radius: 62px;
    }
    .sort-btn {
      margin-top: 10px;
      @include flexible(flex, flex-end);

      select {
        @include typography('Satoshi', 14px, 500, 3px);
        @include padding(8px 14px);
        background-color: #f0f0f0;
        border-radius: 62px;
        border: none;
        margin-right: 8px;
      }

      button {
        @include typography('Satoshi', 14px, 500, 3px);
        @include padding(8px 14px);
        background-color: #000;
        border-radius: 62px;
        border: none;
        margin-left: 8px;
        color: #fff;
      }
    }

    .reviews-wrapper {
      margin-top: $x30;
      position: relative;

      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #ccc;
        margin-top: $x30;
      }

      .product-detail-nav {
        @include typography('Satoshi', 20px, 700, 3px);
        @include flexible(flex, space-between, center);
        @include padding(10px 40px);
        margin-bottom: 15px;

        .nav-link {
          cursor: pointer;

          &:nth-child(2) {
            text-align: center;

            &::after {
              content: '';
              display: block;
              width: 50vh;
              height: 1px;
              background-color: #000;
              position: absolute;
              bottom: 0;
              left: 37%;
            }
          }
        }
      }
    }

    .reviews {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      margin-top: $x30;

      .comment-card {
        border: 1px solid #ccc;
        border-radius: 20px;
        @include padding(1rem 1rem);

        .stars {
          color: gold;
        }

        .comments-content {
          .comments-username {
            @include typography('Satoshi', 20px, 700, 22px);
            margin-top: 10px;
            margin-bottom: 10px;
          }

          .comments-text {
            @include typography('Satoshi', 16px, 400, 22px);
            opacity: 0.7;
            margin-top: 20px;
          }

          .comments-date {
            @include typography('Satoshi', 16px, 400, 22px);
            opacity: 0.7;
            margin-top: 10px;
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .product-detail-wrapper {
      grid-template-columns: 100%;
    }
  }

  @media (max-width: 768px) {
    .product-detail-wrapper {
      grid-template-columns: 100%;
    }

    .product-detail-images .product-images {
      flex-direction: column;
    }

    .product-detail-images .images-left {
      flex-direction: row;
      overflow-x: scroll;

      img {
        width: auto;
        height: auto;
      }
    }
  }

  @media (max-width: 576px) {
    .product-detail-wrapper {
      grid-template-columns: 100%;
      gap: 20px;
    }

    .products-content {
      margin-top: $x30;

      .product-name {
        font-size: 28px;
      }

      .price .price {
        font-size: 24px;
      }

      .desc {
        font-size: 14px;
      }

      .product-variants .variant-btn {
        i {
          font-size: 22px;
        }
      }

      .product-size .variant-btn {
        padding: 10px 12px;
      }

      .product-quantity input {
        padding: 6px 8px;
      }
    }

    .reviews {
      grid-template-columns: 100%;
    }

    .reviews-wrapper .product-detail-nav {
      padding: 8px 20px;

      .nav-link {
        font-size: 16px;

        &:nth-child(2)::after {
          width: 10vh !important;
        }
      }
    }
  }
}
