* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/* NEWSLETTER */
#newsletter {
  height: 150px;
  display: flex;
  align-items: center;
}

.newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg-newsletter {
  background-color: #ffb91f;
}

.newsletter-fontsize {
  font-size: 36px;
}

.newsletter-p {
  font-size: 15px;
}

.newsletter-button {
  background-color: #202020;
  color: white;
  border-radius: 50px;
  padding: 10px;
}

.input {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
}
.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(24, 24, 24, 1);
  width: 500px;
  height: 50px;
  padding: 15px 5px 15px 15px;
  border-radius: 50px;
}

/* FOOTER */

footer {
  background-color: #000;
  color: #fff;
  padding: 80px 0;
}
.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.fontsize-footer {
  font-size: 20px;
}
.fontsize-ul {
  font-size: 15px;
}
.color-p {
  color: #848484;
}
.color-p2 {
  color: white;
}

/* COPYRIGHT */

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#copyright {
  background-color: #000;
  height: 70px;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(24, 24, 24, 1);
}

.copyright-color {
  color: #ffb91f;
}
