@import "main";
body {
  font-family: "Nunito", sans-serif;
}
.container {
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
main {
  padding-left: 30px !important;
}
.features-section {
  .card {
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: translateY(-10px) !important;
    }
    &-body {
      background-color: #f1f1f1 !important;
      &:hover {
        background-color: #0d6efd !important;
        * {
          color: white !important;
        }
        .feature-icon {
          background-color: white !important;
          i {
            color: #0d6efd !important;
          }
        }
      }
    }
  }
}
.custom-list li:before {
  content: "✓";
  color: #28a745;
  margin-right: 5px;
}
