.header-container {
    padding: 1.5rem 20rem;
    justify-content: space-between;
}

.header-left {
    gap: 10rem;
}

.header-logo a img {
    width: 8rem;
}

nav ul {
    gap: 4rem;
}

nav ul li a {
    gap: 0.5rem;
}

.header-right-container {
    padding: 1.5rem 2rem;
    border-radius: 5rem;
    background-color: #F2F4F7;
    gap: 1rem;
}

.home {
    background-color: #BEE1E6;
}

.home-container {
    padding: 3rem 18rem;
}

.home-left .digital-marketing {
    color: white;
    background-color: #006d77;
    border-radius: 3.125rem;
    padding: 1rem 2rem;
}

.home-left h1 {
    margin-top: 2rem;
}

.home-left .paragraph {
    margin: 2.5rem 0;
}

.home-buttons-container {
    margin-bottom: 2rem;
}

.home-left .get-started-button {
    color: white;
    background-color: #101828;
    padding: 1.5rem 2rem;
}

.home-left .get-started-button i {
    color: white;
    padding-left: 1rem;
}

.home-left .how-it-works-button {
    padding: 1.5rem 2rem;
}

.home-left .how-it-works-button i {
    color: #006D77;
    font-size: 3rem;
    padding-right: 0.75rem;
}

.home-left .items {
    gap: 5rem;
}

.home-left .item-p {
    margin-top: 1rem;
    color: gray;
}

.home-right {
    position: relative;
}

.home-right .main-image {
    width: 35rem;
    animation: main-animation 2s linear infinite alternate;
    border-radius: 1rem;
}

@keyframes main-animation {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-1rem);
    }
}

.home-right .little-image {
    position: absolute;
}

.home-right .balance-image {
    width: 15rem;
    animation: sub-animation-balance 3s linear infinite alternate;
    bottom: 0;
    left: -4rem;
    border-radius: 1rem;
}

@keyframes sub-animation-balance {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-1rem);
    }
}

.home-right .payment-image {
    width: 10rem;
    animation: sub-animation-payment 3s linear infinite alternate;
    right: -5rem;
    top: 5rem;
    border-radius: 1rem;
}

@keyframes sub-animation-payment {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-1rem);
    }
}

.home-right .border {
    position: absolute;
    border: 2px solid #006D77;
    left: -1.5rem;
    top: 1.5rem;
    padding: 20rem 17rem;
    border-radius: 1rem;
    animation: main-animation 2s linear infinite alternate;
}

.partners-container {
    padding: 5rem 22rem;
}

.parners-title {
    margin-bottom: 4rem;
}

.list-partners {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    border-bottom: 1px solid #d0d5dd;
    padding-bottom: 5.5rem;
}

.list-partners img {
    width: 12rem;
}

.ideas-container {
    padding: 5rem 20rem;
    gap: 5rem;
}

.what-we-do-button {
    color: #558d96;
    background-color: #BEE1E6;
    border-radius: 3.125rem;
    padding: 1rem 2rem;
}

.ideas-title,
.ideas-p {
    margin: 2.5rem 0;
}

.ideas-image {
    width: 35rem;
    border-radius: 1rem;
}

.chart-image {
    width: 18rem;
    border-radius: 1rem;
    bottom: 2rem;
    right: -2rem;
    box-shadow: 0 47px 65px rgba(21, 28, 38, .1);
}

.list-icons {
    margin-top: 4rem;
    gap: 3rem;
}

.item-icon {
    gap: 2rem;
}

.item-icon p {
    margin-top: 1rem;
    color: gray;
}