.header-container {
    padding: 1.5rem 20rem;
    justify-content: space-between;
}

.header-left {
    gap: 10rem;
}

.header-logo a img {
    width: 8rem;
}

nav ul {
    gap: 4rem;
}

nav ul li a {
    gap: 0.5rem;
}

.header-right-container {
    padding: 1.5rem 2rem;
    border-radius: 5rem;
    background-color: #F2F4F7;
    gap: 1rem;
}

.home {
    background-color: #BEE1E6;
}

.home-container {
    padding: 3rem 20rem;
}

.home-left .digital-marketing {
    color: white;
    background-color: #006d77;
    border-radius: 3.125rem;
    padding: 1rem 2rem;
}

.home-left h1 {
    margin-top: 2rem;
}

.home-left .paragraph {
    margin: 2.5rem 0;
    padding-right: 2.5rem;
    color: gray;
    font-size: 1.5rem;
}

.home-buttons-container {
    margin-bottom: 2rem;
}

.home-left .get-started-button {
    color: white;
    background-color: #101828;
    padding: 1.5rem 2rem;
}

.home-left .get-started-button i {
    color: white;
    padding-left: 1rem;
}

.home-left .how-it-works-button {
    padding: 1.5rem 2rem;
}

.home-left .how-it-works-button i {
    color: #006D77;
    font-size: 3rem;
    padding-right: 0.75rem;
}

.home-right img {
    width: 35rem;
}

.happy-clients {
    margin-top: 1rem;
    color: gray;
}