
.trusted-companies-list img{
    width: 233px;
    height: 81px;
    max-width: 100%; 
    padding: 15px;
    line-height: 40px;

}
.trusted-companies-list li{
    width: 200px;
    margin: 40px 0 0 0;
}

/* FRESH START */
.freshideas-right .supTitle{
    margin: 10px 0;
}
.freshideas-left{
    background-image: url("https://agon-nextjs-13.vercel.app/assets/imgs/page/homepage2/img-2.png");
    background-size: 700px;
    margin-right: 50px;
}
.freshideas-left img{
    width: 250px;
    margin:  540px 0 0 400px;
}
.freshideas-column-icon img{
    width: 64px;
    height: 64px;
    margin-right: 15px;
}
.freshideas-column{
    margin: 30px 0;
    width: 100%;
} 

/* DİSCOVER */

.discover-img img{
    height: 398px;
    width: 498px;
    margin-top: 30px;
    position: relative;
    margin-bottom: -150px;
}
.discover-left{
    background-color: #fff3ea ;
    margin-left: 35px; 
    border-radius: 16px;
}
.discover-right{
    background-color: #bee1e6 ;
   margin-left: 35px;
    border-radius: 16px;
}
.card-discover h3,p{
    margin-top: 20px;
}
.card-discover:hover{
    margin-top: -20px;
    transition: all .7s ease 0s;
}

@media (max-width:992px){
    .container {
        width: 930px;
    }
    .freshideas, .discover-table{
        display: flex;
        flex-wrap: wrap;
    }
    .freshideas-left img{
        margin: 100px 0 0 100px;
    } 
    .discover-left{
        margin-bottom: 200px;
    }
    .trusted-companies-list li{
        display: flex;
        flex-wrap: wrap;
        width: 150px;
        margin: 30px 0 0 0;
    } 
}

@media (max-width:576px){
    .container {
        width: 540px;
    }
    .trusted-companies-list li{
        display: flex;
        flex-wrap: wrap;
        width: 80px;
        margin: 0;
    }
    .col-2{
        flex: 100%;
    }
    .freshideas-left img{
       max-width: 100%;
    }
    .freshideas{
        flex-direction: column;
    }
    .card-discover{
        padding: 10px 40px;
        flex: 100%;
        margin-bottom: 20px;
    }
    .discover-img img{
        height: 348px;
        width: 416px;
        margin-bottom: -10px;

    }
}

/* /*animasyon deneme */
 .advanced{
    background-color: #bee1e6;
    margin-top: 200px;
}
.advanced-numbers1{
    margin-right: 70px;
    text-align: left;
}
.advanced-right{
    background-image: url("banner.png");
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation:advanced-y 2s forwards infinite alternate;
}

.advanced-right #payment{
    margin-left: 470px;
    width: 120px;
    display: block;
    animation: advanced-y 2s forwards 3s infinite alternate;
}

.advanced-right #balance{
    margin-top: 150px;
    width: 150px;
    animation: advanced-xy 2s forwards 3s infinite alternate;

} 
@keyframes advanced-xy{
    0%{
        transform:translate(0,0);
    }
    100%{
        transform: translate(30px,30px);
    }
}
@keyframes advanced-y{
    0%{
        transform:translate(0,0);
    }
    100%{
        transform: translate(0,30px);
    }
}