body {
  display: flex;
  height: 100vh;
  background-color: burlywood;
  align-items: center;
  justify-content: center;
}

.box {
  width: 100px;
  height: 100px;
  background-color: orangered;
  /* transition-property: background-color, width, height;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out; */
  /* transition: background-color 1s, width 0.5s ease-in-out; */
  /* transition: all 0.5s ease-in-out; */

  /* animation-name: animasyon-deneme;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-direction: alternate-reverse; */

  animation: animasyon-deneme 2s infinite ease-in-out;
}

.box:hover {
  background-color: green;
  width: 100px;
  /*  height: 300px;
  border-radius: 50%;
  transform: scale(2);
  transform: rotate(180deg);
  transform: translateX(180px); */
  /* transform: translate(100px, 100px) rotate(180deg) scale(0.5) ; */
}

@keyframes animasyon-deneme {
  0% {
    transform: translateX(0px);
    background-color: blueviolet;
  }

  50% {
    transform: translateX(100px);
    background-color: green;
  }

  100% {
    transform: translateX(0px);
    background-color: blueviolet;
  }
}
