.container {
  display: grid;
  height: 600px;
  background-color: rgb(188, 188, 188);
  gap: 5px;
  grid-template-areas:
    "header header header"
    "sidebar section section"
    "sidebar . ."
    "footer footer footer"
    "box-1 box-1 box-1";
}
.header {
  grid-area: header;
  background-color: orangered;
  padding: 20px;
}
.section {
  grid-area: section;
  background-color: green;
  padding: 20px;
}
.sidebar {
  grid-area: sidebar;
  background-color: blue;
  padding: 20px;
}
.footer {
  grid-area: footer;
  background-color: palevioletred;
  padding: 20px;
}
.box-1 {
  grid-area: box-1;
  background-color: red;
  padding: 20px;
}
