* {
    font-family: Chivo, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Flex */
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Position */
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* Text */
.text-center {
    text-align: center;
}

.wrap {
    flex-wrap: wrap;
}

.bold {
    font-weight: bold;
}

.text-heading-1 {
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -1%;
    color: #101828;
}

.text-heading-2 {
    font-size: 42px;
    line-height: 44px;
}

.text-heading-3 {
    font-size: 35px;
    line-height: 38px;
}

.text-heading-4 {
    font-size: 28px;
    line-height: 32px;
}

.text-heading-5 {
    font-size: 22px;
    line-height: 24px;
}

.text-heading-6 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0;
}

.text-heading-4,
.text-heading-5 {
    font-weight: 700;
    letter-spacing: 0;
}

.text-heading-2,
.text-heading-3 {
    font-weight: 700;
    letter-spacing: 0;
}

.text-display-3 {
    font-size: 64px;
    line-height: 72px;
    letter-spacing: 0;
}

.text-display-2,
.text-display-3 {
    font-weight: 700;
}

.text-display-4,
.text-heading-1 {
    font-size: 56px;
}

/* Border */
.circle-border {
    border-radius: 50%;
}

.border-none {
    border: none;
}

/* Cursor */
.pointer {
    cursor: pointer;
}

/* Margin */
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}
.mt-70
{
    margin-top: 70px;
}


.mt-50
{
    margin-top: 50px;
}

.mt-20{
    margin-top: 20px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}

.ml-20
{
    margin-left: 20px;
}
.mr-20{
    margin-right:20;
}
.grid {
    display: grid;
    
  }
