header {
  background-color: #4c01e0;
  display: flex;
  height: 80px;
  justify-content: space-around;
  align-items: center;
}
header ul {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  font-weight: 600;
}
.hero {
  width: 100%;
  height: 800px;
}
.hero img {
  width: 450px;
}
.subscribe-form input {
  width: 473px;
  height: 55px;
  background-color: #032055;
  border: none;
  border-radius: 25px;
  padding-left: 25px;
}
input:focus {
  outline: none;
}
::placeholder {
  color: #d4e2fb;
}
.submitbtn {
  position: absolute;
  top: 572px;
  padding: 15px 30px;
  left: 600px;
}
#about-us {
  background-color: #001232;
  width: 100%;
  height: 1000px;
  padding-top: 200px;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#why-choose-us {
  width: 100%;
  background-color: #032055;
  height: 1000px;
  padding-top: 100px;
}
.whychoose {
  width: 500px;
  cursor: pointer;
}
.options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.options-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-top: 10px;
  gap: 45px;
}
.options-paragraph {
  font-size: 18px;
  font-weight: 700;
}
.profit {
  width: 1100px;
  box-shadow: 0px 0px 10px #4e3b7b;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 230px;
  padding: 15px;
}
.fast-profit {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fast-profit img {
  width: 450px;
}
.profit-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}
.profit-paragraph {
  max-width: 600px;
  color: #d4e2fb;
}
#investment {
  padding-top: 100px;
  width: 100%;
  height: 800px;
  background-color: #001232;
}
.investment-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.investment-btn button {
  padding: 15px 25px;
  font-weight: 700;
}
.investment-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}
.investment-card {
  background-color: #032055;
  width: 350px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.investment-card img {
  width: 300px;
}
.investment-title {
  font-size: 24px;
  font-weight: 700;
}
#how-does-it-works {
  padding-top: 100px;
  width: 100%;
  height: 700px;
}
.how-does-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#start-investment {
  width: 100%;
  height: 1600px;
  background-color: #032055;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mybets {
  box-shadow: 0px 0px 10px #4e3b7b;
}
.bets-div {
  width: 1100px;
  height: 800px;
  background-color: #001232;
  margin-top: 50px;
  padding-left: 15px;
  padding-top: 10px;
}
.left {
  text-align: left;
}
.profile-div {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 20px 0px;
}
.top {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 20px;
}
td {
  border-top: 1px solid rgba(255, 255, 255, 0.09);
}
.date {
  font-weight: 700;
}
.price {
  color: #045cf0;
  font-weight: 700;
}
.bitcoin {
  color: #f0ad4e;
  font-weight: 700;
}
.better-div {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 120px;
}
.better-div p {
  font-size: 30px;
  font-weight: 700;
}
.better-div button {
  background-color: white;
  color: #8628e1;
  padding: 15px 30px;
}
.better-div button:hover {
  border: 1px solid white;
  background-color: #6d17e1;
  color: white;
}
#latest-transaction {
  width: 100%;
  height: 2100px;
  background-color: #032055;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.our-bosluk {
  margin-top: 200px;
}
.advantage {
  display: flex;
  align-items: center;
}
.advantage img {
  width: 600px;
}
.advantage-p {
  max-width: 600px;
}
#our-top {
  width: 100%;
  height: 800px;
  background-color: #001232;
  padding-top: 100px;
}
.slider-team {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.single-team {
  background: #032055;
  margin-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
}
.single-team .image {
  position: relative;
  top: -60px;
}
.single-team .image img {
  width: 200px;
  border-radius: 7px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.slider-name {
  font-weight: 700;
  font-size: 16px;
}
#what-users-say {
  width: 100%;
  height: 600px;
  padding-top: 100px;
}
.star {
  width: 20px;
}
.users-card {
  width: 320px;
  height: 270px;
  background-color: #032055;
  border-radius: 8px;
  padding: 20px;
}
.users-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.row-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  gap: 10px;
}
.col-div {
  display: flex;
  flex-direction: column;
}
#tax-profit {
  width: 100%;
  height: 800px;
  background-color: #001232;
  padding-top: 100px;
}
.tax-calc {
  width: 500px;
  height: 300px;
  background-color: #032055;
}
.profit-calc {
  width: 500px;
  height: 300px;
  background-color: #032055;
}
.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.form-area {
  background-color: #032055;
  display: block;
  margin-right: 50px;
  margin-left: 20px;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
select {
  background: #032055;
}
.calculator input {
  background: #032055;
}
.padding {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#business {
  width: 150px;
  display: block;
}
#country {
  width: 150px;
  display: block;
}
#employee {
  width: 150px;
  display: block;
}
#income {
  width: 150px;
  display: block;
}
#total {
  width: 300px;
  display: block;
}
.total-pay {
  margin-left: 20px;
}
.whole-wrap {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 10px;
}
