@import url("https://fonts.cdnfonts.com/css/satoshi");
@font-face {
  font-family: "Integral CF Regular";
  src: url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.eot");
  src: url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.woff") format("woff"), url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/f1fcc5aed1e20fc0cdb9f8a7573625bd.svg#Integral CF Regular") format("svg");
}
body {
  font-family: "Satoshi", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.font-integral {
  font-family: "Integral CF Regular", sans-serif;
}

.font-satoshi {
  font-family: "Satoshi", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Integral CF Regular", sans-serif;
}

* {
  font-style: normal;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  color: rgba(0, 0, 0, 0.6);
}

.limited-width {
  max-width: 92%;
  word-wrap: break-word;
}

.btn-round {
  padding: 16px 54px 16px 54px;
  border-radius: 62px;
  border: 1px 0px 0px 0px;
}

.navBarMessage {
  font-size: 14px;
}

.navbar {
  max-height: 96px;
}
.navbar .navbar-brand {
  margin-bottom: 5px;
}
.navbar .collapse form {
  flex-grow: 0.9;
}
.navbar .collapse form input {
  padding-left: 45px;
}
.navbar .collapse form input::placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
}
.navbar .collapse form input svg {
  padding: 12px 16px 12px 16px;
}
.navbar .collapse svg {
  width: 25px;
  height: 25px;
  fill: black;
}
.navbar .collapse .basketIcon {
  margin-left: 20px;
  margin-right: 10px;
}

.hero {
  background-image: url("../../../public/assets/img/header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}
.hero .hero-counter {
  border: none;
}
.hero .hero-counter p {
  font-size: 12;
}
.hero .btn {
  color: white;
  padding: 16px 54px 16px 54px;
}

.dress-style .container {
  border-radius: 40px;
}
.dress-style .container .row .style-card {
  height: 290px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}
.dress-style .container .row .style-card.casual {
  background-image: url("../../../public/assets/img/casual.svg");
}
.dress-style .container .row .style-card.formal {
  background-image: url("../../../public/assets/img/formal.svg");
}
.dress-style .container .row .style-card.party {
  background-image: url("../../../public/assets/img/party.svg");
}
.dress-style .container .row .style-card.gym {
  background-image: url("../../../public/assets/img/gym.svg");
}

.happy-customers .card-slider {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  padding: 20px 0;
  position: relative;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-left: 50px;
  padding-right: 50px;
}
.happy-customers .card-slider .card-slider::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.happy-customers .card-slider .customer-card {
  flex: 0 0 400px;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  background: #fff;
  padding: 20px;
  scroll-snap-align: start;
}
.happy-customers .card-slider .customer-card .info-container {
  padding: 10px 0;
}
.happy-customers .card-slider .customer-card .info-container .info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}
.happy-customers .card-slider .customer-card .info-container .info-row .rating {
  display: flex;
  align-items: center;
}
.happy-customers .card-slider .customer-card .info-container .info-row .rating-star {
  margin-right: 5px;
}
.happy-customers .card-slider .customer-card .info-container .info-row .rating-star .bi-star-fill {
  color: #ffcc00;
}
.happy-customers .card-slider .customer-card.blur {
  filter: blur(3px);
  flex: 0 0 300px;
}
.happy-customers .card-slider .customer-card.blur .info-container {
  padding: 10px 0;
}
.happy-customers .card-slider .customer-card.blur .info-container .info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}
.happy-customers .card-slider .customer-card.blur .info-container .info-row .rating {
  display: flex;
  align-items: center;
}
.happy-customers .label-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.happy-customers .label-container h2 {
  margin-right: auto;
  font-weight: 600;
}
.happy-customers .label-container .bi {
  font-size: 18px;
}
.happy-customers .label-container button {
  border-radius: 20px;
  background: transparent;
  cursor: pointer;
  padding: 10px;
  width: fit-content;
  margin-left: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.happy-customers .label-container button:disabled {
  background-color: whitesmoke;
  cursor: not-allowed;
}

.bd-footer .subscribe-text {
  width: 90%;
}
.bd-footer .subscribe {
  transform: translateY(-30%);
}
.bd-footer .social-media li {
  padding: 4px 12px 8px 12px;
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}
.bd-footer .social-media a {
  display: inline-block;
}
.bd-footer .payload li {
  box-shadow: 0px 0.45px 4.48px 0px rgba(183, 183, 183, 0.08);
  box-shadow: 0px 4.48px 8.96px 0px rgba(183, 183, 183, 0.08);
}
.bd-footer .payload li img {
  padding: 7px 10px;
}
.bd-footer .footer-text {
  margin-bottom: 16px;
}
.bd-footer .footer-text .copyright {
  font-size: 14px;
}

.cartItem .details {
  flex: 1.5;
}
.cartItem .details p {
  margin: 0.5rem 0;
  color: #777;
}
.cartItem .actions {
  background-color: #f9f9f9;
}

/*# sourceMappingURL=style.css.map */
