@media screen and (max-width: 768px) {
  .header {
    .nav-menu-middle,
    .nav-menu-right {
      display: none;
    }
    .container-wrap {
      .form-search {
       
        input,
        select,
        button {
          width: 100% !important;
        }
        .location-input {
          width: 100% !important;
        }
      }
    }
  }
  .featured-card:first-child,
  .featured-card:nth-child(2) {
    display: none; 
}

.trending-today{
    .cards{
      grid-template-columns: 1fr ;
    }
  }

}