* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-weight: 500;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Flex */
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Grid */
.grid {
    display: grid;
}


/* Text */
.text-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.white {
    color: white;
}


/* Cursor */
.pointer {
    cursor: pointer;
}