* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-weight: 500;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}


/* Flex */
.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}


/* Grid */
.grid {
    display: grid;
}


/* Text */
.text-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.white {
    color: white;
}

.main-text-color {
    color: rgba(255, 185, 31, 1);
}

.main-background-color {
    background-color: rgba(255, 185, 31, 1);
}


/* Cursor */
.pointer {
    cursor: pointer;
}