// Colors
$main-text-color: #696969;
$main-icon-color: #fd4372;
$main-button-color: linear-gradient(to right, #ff5195, #ffb84b);

// Fonts
$main-font: "Roboto", sans-serif;
$main-font-size: 1rem;
$main-line-height: 1.5;
$main-font-weight: 700;
