:root{
    --title-text: #101828;
    --p-text:#475467;
    --primary:#101828;
    --secondary:#006D77;
    --third:#BEE1E6;
    --fourth:#FFF3EA;
}

@media screen and (max-width:430px ){
    body {
        font-size: 14px;
    }
    .container{
        width: 100%;
        padding: 10px;
        margin: 0px;
    }
        .menu-item{
        display: none;
    }
    .header-btn{
        display: none;
    }
    .slider{
        display: flex;
        flex-direction: column;
    }
    #slider-image-section{
        display: none;
    }
    .count-item{
        margin-right: 30px;
    }
    .blok3{
        position: absolute;
        /* bottom: -1700px;
        right: -40px; */
        margin-top: 370px;
        margin-left: 140px;
        width: 200px;
        height: 150px;
    }
    #aboutus {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .companies-img{
        width: 350px;
        height: 450px;
    }
    .witdh50 {
        width: 100%;
    }
    #Built .row {
        flex-direction: column;
    }
    #Discover .row {
        flex-direction: column;
    }
    .discover-left {
        margin-bottom: 170px;
    }
}