:root{
    --title-text: #101828;
    --p-text:#475467;
    --primary:#101828;
    --secondary:#006D77;
    --third:#BEE1E6;
    --fourth:#FFF3EA;
}
.fa-arrow-right{
    margin-left: 10px;
}
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.nav-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header-btn{
    background-color: #F2F4F7;
    margin: 0px;
    border-radius: 50px;
    font-size: 18px;
    border: none;
    font-weight: 800;
    padding: 22px 56px 22px 32px;
}
.header-btn:hover{
    background-color: var(--title-text);
    color: #F2F4F7;
}
.hamburger-menu{
    width: 24px;
    height: 20px;
    font-size: 26px;
}
.menu-item:hover{
    font-weight: 600;
    color: var(--secondary);
}
/* Hamburger Menu */

/* SLİDER */
#slider{
    background-color: var(--third);
    padding-bottom: 70px;
}
#slider p {
    color: #667085;
}
.slider{
    padding: 60px 0px 0px 20px;
}
.dma-btn{
    background-color: var(--secondary);
    color: var(--fourth);
    border: none;
    border-radius: 50px;
    width: 275px;
    padding: 14px 28px;
}
.get-started-btn{
    background-color: var(--title-text);
    color: var(--fourth);
    margin: 0px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    font-weight: 700;
    padding: 22px 56px 22px 32px;
}
.get-started-btn:hover {
    background-color: var(--fourth);
    color: var(--title-text);
    margin: 0px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    font-weight: 700;
    padding: 22px 56px 22px 32px;
}
.h-i-w-btn{
    border: none;
    background-color: var(--third);
    margin-left: 30px;
}
.count-item-group{
    display: flex;
    flex-wrap: wrap;
}
.count-item{
    margin-right: 120px;
    padding-bottom: 20px;
}
.slider-img{
    width: 526px;
    height: 644px;
    margin-left: 20%;
}
.blok1{
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 2;
    margin-top: 500px;
    margin-left: 150px;
}
.blok2{
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 2;
    margin-top: 50px;
    margin-left: 650px;
}
.animation-x{
    animation: yatay-hareket 2s linear infinite alternate;
}
.animation-y{
    animation: dikey-hareket 2s linear infinite alternate;
}
.animation-y2{
    animation: dikey-hareket2 2s linear infinite alternate;
}
@keyframes dikey-hareket{
    0%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes dikey-hareket2{
    0%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes yatay-hareket {
    0%{
        transform: translateX(70px);
    }
    100%{
        transform: translateX(0px);
    }
    
}
.companies-wwd{
    background-color: var(--third);
    padding: 14px 28px;
    border-radius: 50px;
    width: 240px;
}
.companies-item-group{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 1rem;
}
.companies-item{
    width: 200px;
    height: 50px;
}
.companies-img{
    padding: 0px 12px 0px 30px;
    border-radius: 20px;
    width: 618px;
    height: 616px;
}
.img-list-wwd{
    margin-right: 20px;
}
.blok3{
    position: absolute;
    margin-top: 550px;
    margin-left: 450px;
    width: 250px;
    height: 200px;
}
.blok3 img{
    border-radius: 30px;
}