.container {
  margin: 20%;
  padding: 10%;
}
.dflex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.dflexcol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.left {
  width: 15rem;
  height: 15rem;
}
.right {
  width: 15rem;
  height: 15rem;
}
.cityName {
  width: 25rem;
  height: 5rem;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: auto;
}
.image {
  width: 10rem;
  height: 10rem;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 40rem;
  height: 3rem;
  margin-bottom: 4rem;
}
.InputArea {
  padding-left: 1rem;
  border-color: transparent;
  height: 60%;
  border-radius: 1rem;
}
.btn {
  height: 80%;
  border-radius: 0.7rem;
}

.label {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.select {
  padding: 10px 15px;
  font-size: 1em;

  color: #333;
  outline: none;
  transition: all 0.3s ease;
}

.select:focus {
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.select option {
  padding: 10px;
}

.selectedCity {
  margin-top: 20px;
  font-size: 1.2em;
}
.desc {
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.up {
  height: 10rem;
  display: flex;
  align-items: center;
  font-size: 4rem;
}
.down {
  height: 5rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.bgclear {
  background-image: url("https://st3.depositphotos.com/1003525/17602/i/450/depositphotos_176027626-stock-photo-sun-blue-sky-white-clouds.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  color: black;
}

.bgother {
  background-image: url("https://www.evrensel.net/upload/dosya/192762.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: black;
}
.bgrain {
  background-image: url("https://www.flaskocaeli.com/foto/20190509104418yeni-manset.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
}
