@import url('https://db.onlinewebfonts.com/c/b52804ac57ef6e90d2826a6b0f111133?family=Integral+CF+Bold');
@import url('https://fonts.cdnfonts.com/css/satoshi');
@import '@smastrom/react-rating/style.css';

$headings-font-family: "Integral CF Bold";
$font-family-base: 'Satoshi';

$secondary: #F0F0F0;
$light: #F0EEED;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1240px,
);

$font-size-base: 1rem;

$h1-font-size: $font-size-base * 4; // 64px
$h2-font-size: $font-size-base * 3; // 48px
$h3-font-size: $font-size-base * 2.5; // 40px
$h4-font-size: $font-size-base * 2; // 32px
$h5-font-size: $font-size-base * 1.5;
$h6-font-size: $font-size-base * 1.25;