body {
    font-family: $font-family-base;
}
  
h1, h2, h3, h4, h5, h6 {
   font-family: $headings-font-family;
}

@mixin btn($padding, $color, $bgColor, $border, $radius){
    padding: $padding;
    color: $color;
    background-color: $bgColor;
    border: $border;
    border-radius: $radius;
}

.size-badge{
    @include btn(12px 24px, #00000099, $secondary, none, 62px)
}

.amount-btn{
    @include btn(14px 20px, black, $secondary, none, 62px);
    width: 30%;
}

.anouncement-bar{
    height: 38px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.navbar{
    height: 90px;
}

.search-input{
    border: none;
    padding: 12px 1rem;
    background-color: $secondary;
    border-radius: 62px;
    padding-left: 3rem;
    outline: none;
}

.search-button {
    top: 11px;
    left: 13px;
}

.ticket-icon{
    top: 11px;
    left: 13px;
}

.header-container{
    background-color: #f2f0f1;
}

.transparent-6{
    color: rgba(0, 0, 0, 0.6)
}

.shop-now-btn{
    @include btn(1rem 54px, #fff, rgba(0, 0, 0, 1), none, 62px);
    width: 40%;
}

.view-all-btn{
    @include btn(1rem 54px, rgba(0, 0, 0, 1), #fff, 1px solid rgba(0, 0, 0, 1), 62px);
    max-width: 218px;
}

.discount-badge{
    @include btn(6px 14px, rgba(255, 51, 51, 1), rgba(255, 51, 51, 0.1), none, 62px);
    font-size: 12px;
}

.brand-section{
    height: 122px;
}

.fs-20{
    font-size: 20px;
}

.fs-24{
    font-size: 24px;
}

.discount-color{
    color: rgba(0, 0, 0, 0.4);
}

.product-card {
    width: 295px;
    height: 298px;
    border-radius: 20px;
    background-color: $light;
    overflow: hidden;
    .product-img{
        position: relative;
        width: 100%;
        height: 100%;
        img{
            object-fit: cover;
            object-position: center;
        }
    }
}

.product-detail-card{
    width: 444px;
    height: 530px;
    border-radius: 20px;
    overflow: hidden;
    .product-img{
        position: relative;
        width: 100%;
        height: 100%;
        img{
            object-fit: cover;
            object-position: center;
        }
    }
}

.basket-list-img{
    width: 124px;
    height: 124px;
    border-radius: 8px;
    overflow: hidden;
    .basket-img{
        position: relative;
        width: 100%;
        height: 100%;
        img{
            object-fit: cover;
            object-position: center;
        }
    }
}

.product-detail-card-sm{
    width: 152px;
    height: 167px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 2rem;
    .product-img{
        position: relative;
        width: 100%;
        height: 100%;
        img{
            object-fit: cover;
            object-position: center;
        }
    }
}

.dress-style{
    width: 100%;
    background-color: $secondary;
    border-radius: 40px;
    padding: 2rem 1rem;
    .title{
        padding: 3rem;
    }
    .casual{
        background-color: #fff;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        object-fit: contain;
        object-position: right center;
    }
    .formal{
        background-color: #fff;
        width: 100%;
        border-radius: 20px;
    }
    .sm-product-card{
        width: 100%;
    }
    .lg-product-card{
        width: 100%;
    }
}

.newsletter{
    background-color: black;
    padding: 36px 64px;
    border-radius: 20px;
    margin-bottom: -80px;
    z-index: 1;
    .input{
        @include btn(12px 16px, black, #fff, none, 62px);
        outline: none;
    }
    .message {
        top: 11px;
        left: 1rem;
    }
}

.footer-section{
    height: 50vh;
    padding: 7rem 2rem 0 2rem;
    .f-lighter{
        color: #00000099;
    }
    .col-9 ul {
        li {
            margin-bottom: 1.5rem;
        }
    }
    .col-lg-3 {
        padding-left: 4rem;
        .links{
            display: flex;
            flex-direction: column;
            a{
                margin-bottom: 1.5rem;
                text-decoration: none;
            }
        }
    }   
}

.form-group {
    margin-bottom: 15px;
}
  
.form-control {
   border: 1px solid #000;
}

.register-wrapper{
    width: 50%;
    background-color: $secondary;
    border-radius: 40px;
    padding: 2rem 2rem;
}

.color-circle{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $secondary;
}

.products-color {
    margin-bottom: 20px;
  }
  
  .color-container {
    display: flex;
    gap: 10px;
  }

  .color-circle .checkmark {
    color: white;
    font-size: 18px;
    left: 5px;
  }

.order-summary {
    border: 1px solid #0000001A;
    border-radius: 20px;
    padding: 20px 24px;
}

.basket-list{
    border: 1px solid #0000001A;
    border-radius: 20px;
    padding: 20px 24px;
}

.filters{
    border: 1px solid #0000001A;
    padding: 20px 14px;
    border-radius: 20px;
}

.products-size {
    margin-bottom: 20px;
  }
  
  .size-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .size-box {
    padding: 10px;
    border: 1px solid #f0f0f0;
    cursor: pointer;
    text-align: center;
  }
  
  .size-box.selected {
    background-color: #000;
    color: white;
  }