@import url("https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://db.onlinewebfonts.com/c/3416b4cfa5dbaadadef21fdc73d347cb?family=AvenirLTPro-Light");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "AvenirLTPro-Light";
}

.container {
  max-width: 1600px;
  margin: auto;
  width: 100%;
}

body {
  overflow-x: hidden;
}

.middle .projects .title .line {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 3px;
  background: #2f89fc;
}

.header {
  height: 100vh;
}
.header .header-nav {
  width: 100%;
}
.header .header-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  position: fixed;
  width: 100%;
  padding: 20px;
}
.header .header-nav .container .nav-menu-logo {
  font-size: 14px;
  font-weight: 600;
  color: black;
  letter-spacing: 0.1em;
}
.header .header-nav .container .nav-menu-right {
  color: #7099c2;
  font-size: 14px;
  line-height: 30px;
  padding: 0 10px;
  font-weight: 300;
}
.header .header-nav .container .nav-menu-right:active {
  color: #7099c2;
}
.header .header-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
}
.header .header-wrapper .social-media {
  text-align: center;
  margin-top: 20px;
}
.header .header-wrapper .social-media i {
  color: #7099c2;
  font-size: 20px;
  margin: 20px 10px;
  font-weight: 2rem;
  top: 30px;
}
.header .header-wrapper .container-wrap-left {
  height: 100vh;
  width: 100%;
  background: url("../images/background-photo.webp");
  background-size: cover;
  padding-top: 6rem;
}
.header .header-wrapper .container-wrap-left .wave-img {
  background: url("../images/wavy-shape6.png");
  width: 100%;
  height: 20px;
  background-size: 645px 20px;
  background-repeat: repeat-x;
  animation: wave-img 15s linear infinite;
  margin: 70px 0;
}
@keyframes wave-img {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 600px;
  }
}
.header .header-wrapper .container-wrap-left .container-img {
  width: max-content;
}
.header .header-wrapper .container-wrap-left .container-img img {
  margin-left: 50%;
  border-radius: 50%;
}
.header .header-wrapper .container-wrap-right {
  text-align: center;
  height: 100vh;
  background-color: #fad9d9;
}
.header .header-wrapper .container-wrap-right .content-wrapper {
  position: relative;
  top: 15%;
  padding: 3rem;
}
.header .header-wrapper .container-wrap-right .content-wrapper .top-content h1 {
  font-size: 50px;
  font-weight: 600;
  color: black;
  margin-bottom: 60px;
  font-family: "Caudex", serif;
}
.header .header-wrapper .container-wrap-right .content-wrapper .top-content p {
  font-size: 24px;
  color: black;
  font-weight: 400;
  margin-bottom: 60px;
}
.header .header-wrapper .container-wrap-right .content-wrapper .container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}
.header .header-wrapper .container-wrap-right .content-wrapper .container-button a {
  color: black;
  background: #fedcd9;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  width: 80%;
  padding: 0.8rem;
}
.header .header-wrapper .container-wrap-right .content-wrapper .bottom-content {
  margin-top: 4rem;
  font-style: italic;
}
.header .container-img::before {
  content: "";
  position: absolute;
  top: 125px;
  left: 200px;
  width: 370px;
  height: 370px;
  border-radius: 50%;
  border: 3px solid #cbb2fe;
  z-index: 999;
  pointer-events: none;
  user-select: none;
  animation: animate-img-circle 3s linear infinite alternate;
}
@keyframes animate-img-circle {
  0% {
    top: 125px;
    left: 170px;
  }
  50% {
    top: 125px;
    left: 200px;
    border-color: #b4bdff;
  }
  100% {
    top: 125px;
    left: 230px;
  }
}
.header .container-img::after {
  content: "";
  position: absolute;
  right: -420px;
  top: 0;
  width: 800px;
  height: 800px;
  border: 1px solid #fff;
  border-radius: 50%;
  pointer-events: none;
  user-select: none;
  z-index: 0;
  animation: animate-img-circle-2 3s linear infinite alternate;
}
@keyframes animate-img-circle-2 {
  0% {
    top: -70px;
  }
  100% {
    top: 10px;
    border-color: #fff;
  }
}

.middle .projects {
  background-color: #edede9;
  padding: 4rem;
}
.middle .projects .title {
  line-height: 3;
  margin-bottom: 60px;
  position: relative;
}
.middle .projects .title h2 {
  opacity: 0.8;
  font-size: 30px;
}
.middle .projects .title .line {
  left: 4.5%;
}
.middle .projects .cards {
  display: grid;
  justify-items: start;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin-top: 2rem;
}
.middle .projects .cards .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
  border-radius: 10px;
  box-shadow: -1px 3px 23px 4px rgb(230, 164, 180);
  background-color: white;
}
.middle .projects .cards .card .img-card {
  flex: 2;
  height: 100%;
}
.middle .projects .cards .card .img-card:hover {
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.4);
}
.middle .projects .cards .card .img-card:hover img {
  border-radius: 7px;
}
.middle .projects .cards .card img {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.middle .projects .cards .content {
  flex: 2;
  padding: 20px 40px;
  line-height: 2;
  width: 100%;
  height: 100%;
}
.middle .projects .cards .content .team {
  font-style: italic;
  font-size: 15px;
  font-weight: 400px;
  color: #2f2b23;
}
.middle .projects .cards .content .tag-icon {
  margin-bottom: 20px;
  color: #eca77f;
}
.middle .projects .cards .content .website {
  color: #7fa3c7;
  font-weight: 500px;
  font-size: 20px;
  text-align: center;
}
.middle .projects .cards .content .lang {
  padding: 9px 20px;
  border-radius: 30px;
  background-color: none;
  color: none;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

.footer .subscribe {
  text-align: center;
  background-color: #fec5bb;
}
.footer .subscribe .form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0rem;
  padding: 20px 0 20px 0;
}
.footer .subscribe .form i {
  color: #f38375;
  font-size: 35px;
  margin-left: 30px;
  padding: 10px;
}
.footer .subscribe .form input {
  padding: 20px 24px;
  width: 30%;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 5px #e6a4b4;
  margin: 0 16px;
  transition: 0.5s ease;
  border-color: #e6a4b4;
}
.footer .subscribe .form input::placeholder {
  color: #e6a4b4;
}
.footer .subscribe .form .subs-btn {
  padding: 20px 24px;
  border-radius: 10px;
  background-color: none;
  color: none;
  border: none;
  transition: background-color 0.3s, color 0.3s;
  letter-spacing: 4px;
  background-color: #f38375;
  color: white;
}
.footer .subscribe .form .subs-btn:hover {
  background-color: #e9bac6;
}

/*# sourceMappingURL=style.css.map */
