.input {
  background: rgba(235, 237, 239, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11.5px);
  border-radius: 10px;
  border: none;
  padding: 10px 15px;
  color: white;
  &:focus {
    outline-color: rgb(70, 95, 180);
  }
}
