@import "./common/global", "./common/mixins", "./common/variables", "./common/animations";

.navbar {
    .container {
        div {
            .navbar-collapse {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            color: black;
                            &:hover {
                                color: #5a8ff4;
                            }
                        }
                    }
                }
            }
        }
    }
}

.row {
    .container {
        margin: 0 381.5px;
    }
}
