@import "./common/global", "./common/variables", "./common/extends", "./common/animations", "./common/mixins";
.perfect-pos {
    .perfect-pos-container {
        padding: 5rem 0.75rem;
        margin: 0 18.219rem;
        gap: 0;
        .header-container {
            border: none;
            p {
                max-width: 70%;
            }
        }
        .bottom {
            .card {
                box-shadow: 0 4px 4px rgba(58, 58, 58, 0.1);
                padding: 3rem 2.813rem;
                margin: 0.938rem;
                border-radius: 0.25rem;
                img {
                    margin-bottom: 1.875rem;
                }
                h6 {
                    margin-bottom: 0.5rem;
                    text-transform: uppercase;
                    font-size: 1rem;
                    line-height: 1.875rem;
                    color: #000;
                    width: 200px;
                }
            }
            .card-2 {
                box-shadow: 0 0 8px rgba(136, 136, 136, 0.08);
                padding: 4.375rem 2.5rem;
                margin: 0.938rem;
                div {
                    width: 80px;
                    height: 80px;
                    background: linear-gradient(to top, #f9769d, #bb6df7);
                    box-shadow: 0 0 10px 2px #fcd5e1;
                    border-radius: 100%;
                    margin-bottom: 1.875rem;
                    transition: all 0.3s ease;
                }
                h6 {
                    font-size: 1rem;
                    line-height: 1.5rem;
                }
                h4 {
                    font-size: 1.5rem;
                    color: #000;
                    margin-bottom: 1.25rem;
                }
            }
        }
    }
}
.smart-pos {
    padding: 0.625rem 0 5.938rem 0;
    background-color: #fffef6;
    .smart-pos-container {
        margin: 0 18.219rem;
        padding: 0 0.75rem;
        .header-container {
            border: none;
        }
        .bottom {
            gap: 3rem;
            .card-3 {
                padding: 2rem;
                background: #fff;
                width: 30%;
                .card-header {
                    justify-content: space-around;
                    border-bottom: 1px solid #f0f0f0;
                    padding-bottom: 1.5rem;
                    margin-bottom: 2rem;
                    .pp {
                        border-radius: 50%;
                    }
                }
                p {
                    line-height: 1.5rem;
                }
            }
        }
    }
}
@media (max-width: 1500px) {
    .smart-pos {
        .smart-pos-container {
            margin: 0 3rem;
            .bottom {
                gap: 1rem;
            }
        }
    }
    .perfect-pos {
        .perfect-pos-container {
            margin: 0;
        }
    }
}
@media (max-width: 1050px) {
    .smart-pos {
        .smart-pos-container {
            .bottom {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .card-3 {
                    width: 100%;
                }
            }
        }
    }
}
