.top_menu{
    background: #ec9d5f;
}
.pur_btn{
    background: #6247ea;
    font-family: "Roboto", sans-serif;
    line-height: 40px;
    display: block;
    font-weight: 500;
}
header{
    .main_menu{
        .navbar{
            ul{
                li{
                    margin-right: 28px;
                }
            }
        }
    }
}