.frameIcon,
.stayUptoDate {
  position: relative;
  flex-shrink: 0;
}
.stayUptoDate {
  margin: 0;
  height: 94px;
  width: 551px;
  font-size: inherit;
  line-height: 45px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.frameIcon {
  height: 24px;
  width: 24px;
  overflow: hidden;
  min-height: 24px;
}
.enterYourEmail {
  flex: 1;
  position: relative;
}
.frameGroup {
  align-self: stretch;
  border-radius: var(--br-43xl);
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-105xl) var(--padding-xs)
    var(--padding-base);
  gap: var(--gap-xs);
  white-space: nowrap;
}
.subscribeToNewsletter {
  width: 172px;
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.subscribeToNewsletterWrapper {
  align-self: stretch;
  border-radius: var(--br-43xl);
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-xl);
  white-space: nowrap;
  color: var(--color-black);
}
.frameParent {
  width: 349px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  max-width: 100%;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-satoshi);
}
.newsletterContainer,
.newsletterContent {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.newsletterContent {
  width: 1240px;
  border-radius: var(--br-xl);
  background-color: var(--color-black);
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-17xl) var(--padding-45xl);
  gap: var(--gap-xl);
  z-index: 1;
}
.newsletterContainer {
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--white);
  font-family: var(--font-integral-cf);
}
@media screen and (max-width: 1025px) {
  .newsletterContent {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .frameGroup {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
