.topSellingProductPlaceholdeChild {
  width: 295px;
  height: 298px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.ourage,
.raphic,
.shirt {
  text-transform: lowercase;
}
.courageGraphicTShirtContainer {
  position: relative;
}
.frameChild,
.frameInner,
.frameItem,
.starIcon {
  height: 18.5px;
  width: 18.5px;
  position: relative;
  min-height: 19px;
}
.starParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs-3);
  flex-shrink: 0;
}
.span {
  color: var(--color-gray-300);
}
.div {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  font-size: var(--font-size-sm);
}
.b {
  position: relative;
  font-size: var(--font-size-5xl);
  display: inline-block;
  min-width: 54px;
  white-space: nowrap;
}
.courageGraphicTShirtParent,
.topSellingProductPlaceholde {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.topSellingProductPlaceholde {
  gap: var(--gap-base);
}
.topSellingProductPlaceholdeItem {
  width: 295px;
  height: 298px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.ermuda,
.horts,
.it,
.oose {
  text-transform: lowercase;
}
.looseFitBermudaContainer {
  height: 27px;
  position: relative;
  display: flex;
  align-items: center;
}
.frameChild1,
.frameChild2,
.frameChild3 {
  height: 18.5px;
  width: 18.5px;
  position: relative;
  min-height: 19px;
}
.starGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs-3);
}
.span1 {
  color: var(--color-gray-300);
}
.div1 {
  position: relative;
  display: inline-block;
  min-width: 34px;
}
.frameGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  font-size: var(--font-size-sm);
}
.b1 {
  width: 47px;
  position: relative;
  font-size: var(--font-size-5xl);
  display: inline-block;
  white-space: nowrap;
}
.looseFitBermudaShortsParent,
.topSellingProductPlaceholde1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.topSellingProductPlaceholde1 {
  gap: var(--gap-base);
}
.image10Icon {
  position: absolute;
  top: -40px;
  left: 22px;
  width: 252px;
  height: 378px;
  object-fit: cover;
}
.image10Wrapper {
  align-self: stretch;
  height: 298px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-200);
  overflow: hidden;
  flex-shrink: 0;
}
.aded,
.eans,
.kinny {
  text-transform: lowercase;
}
.fadedSkinnyJeansContainer {
  position: relative;
}
.frameChild4,
.frameChild5,
.frameChild6,
.frameChild7 {
  height: 18.5px;
  width: 18.5px;
  position: relative;
  min-height: 19px;
}
.frameChild8 {
  height: 16.7px;
  width: 8.8px;
  position: relative;
}
.starContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs-3);
}
.span2 {
  color: var(--color-gray-300);
}
.div2 {
  position: relative;
  display: inline-block;
  min-width: 33px;
}
.frameContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  font-size: var(--font-size-sm);
}
.b2 {
  position: relative;
  font-size: var(--font-size-5xl);
  display: inline-block;
  min-width: 55px;
  white-space: nowrap;
}
.fadedSkinnyJeansParent,
.topSellingProductPlaceholde2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.topSellingProductPlaceholde2 {
  gap: var(--gap-base);
}
.topSellingProducts {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  grid-template-columns: repeat(4, minmax(221px, 1fr));
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-satoshi);
}
@media screen and (max-width: 1050px) {
  .topSellingProducts {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(221px, 383px));
  }
}
@media screen and (max-width: 450px) {
  .courageGraphicTShirtContainer {
    font-size: var(--font-size-base);
  }
  .b {
    font-size: var(--font-size-lgi);
  }
  .looseFitBermudaContainer {
    font-size: var(--font-size-base);
  }
  .b1 {
    font-size: var(--font-size-lgi);
  }
  .fadedSkinnyJeansContainer {
    font-size: var(--font-size-base);
  }
  .b2 {
    font-size: var(--font-size-lgi);
  }
  .topSellingProducts {
    grid-template-columns: minmax(221px, 1fr);
  }
}
