/* EGEMEN KAPLAN */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.button1{
    padding: 8px 20px;
    background-color: #ff5714;
    border: 1px solid #ff5714;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    letter-spacing: 0.5px;
}
.button1:hover{
    background-color: #e04000;
}
.section-title{
    color: #ff5714;
    font-family: "Roboto Slab", serif;
    font-size: 16px;
    margin-bottom: 16px;
}
.section-subtitle{
    font-family: "Roboto Slab", serif;
    font-size: 28px;
    margin-bottom: 16px;
}
.section-desc{
    color: #8492a6;
    max-width: 600px;
    margin: 0 auto;
}
nav {
    z-index: 99;
    display: flex;
    /* align-items: center; */
    width: 100%;
    /* background-color: black; */
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
}
.container{
    width: 1140px;
    /* display: flex; */
    margin: 0 auto;
    padding: 0 12px;
    /* align-items: center; */

}
.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
.navbar-collapse {
    display: flex;
    align-items: center;
    height: 70px;
}
.navbar-collapse ul{
    margin-left: 30px;
}
.navbar-nav, .list-inline{
    display: flex;
    list-style: none;
}
.nav-item a{
    font-family: "Roboto Slab", serif;
    font-size: 12px;
    font-weight: 600;
    margin: 0 6px;
    padding: 12px 8px;
}
.nav-item a:hover{
    color: #ff5714;
    transition: all 0.3s ease;
}
.list-inline{
    display: flex;
}
.navbar-nav li a, .list-inline li a, .section1-content a{
    /* padding-left: 3px; */
    text-decoration: none;
    color: white;
}
.list-inline-item{
    font-size: 24px;
    margin-left: 10px;
}
.list-inline-item i:hover{
    color: #e04000;
    transition: all 0.3s ease;

}

.section1{
    background: url("./section1-img.jpg") center center no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    padding: 260px 0;
}
.section1-filter{
    background-color: rgba(22, 28, 45, 0.75);
    opacity: 0.9;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.section1-container{
    display: flex;
    align-items: center;
}
.section1-content{
    /* position: relative; */
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: rgb(255, 255, 255);
    /* height: 1154px; */
}
.section1-content h1{
    font-size: 42px;
    margin-bottom:24px;
    letter-spacing: 0.2px;
    font-family: "Roboto Slab", serif;
}
.section1-content p{
    font-size: 17px;
    color: rgb(255, 255, 255, 0.5);
    max-width: 600px;
    margin-bottom: 24px;
}
.section1-content-button{
    margin-top: 20px;
}
/* FOOTER */

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    margin: 0 auto;
    background-color: #202942;
    color: white;
}
.footer{
    width: 1140px;
    display: flex;
    align-items: center;
}
.footer-sideItem{
    width: 25%;
}
.footer-item{
    width: 50%;
}
.footer-social{
    display: flex;
    justify-content: flex-end;
}

/* section9 */
.section9{
    padding: 100px 0;
    width: 100%;
}
.sectionBlog1, .section-upperSide{
    text-align: center;
    margin-bottom: 24px;
    padding-bottom: 8px;
}
.sectionBlog2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sectionBlog2-card{
    width: 30%;
    box-shadow: 0 0 3px rgba(36,39,44,0.15);
    border-radius: 5px;
    margin-top: 24px;
}
.sectionBlog2-card-img{
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.sectionBlog2-card-desc{
    padding: 24px;
}
.sectionBlog2-card-desc-title{
    font-family: "Roboto Slab", serif;
    color: #24272c;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 600;
}
.sectionBlog2-card-desc-title:hover{
    color: #ff5714;
}
.sectionBlog2-card-desc-text{
    color: #8492a6 ;
    margin-top: 8px;
}
.sectionBlog2-card-desc-link {
    margin-top: 16px;
}
.sectionBlog2-card-desc-link a{
    color: black;
}
.sectionBlog2-card-desc-link a:hover{
    color: #ff5714;
}
/* section9 */

/* section10 */
.section10{
    padding: 100px 0;
    width: 100%;
    background-color: #f8f9fc;
}
.section10-contact{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.section10-contact-form{
    padding: 24px;
    box-shadow: 0 0 3px rgba(36,39,44,0.15);
    width: 66%;
    background-color: white;
    border-radius: 6px;
}
/* .section10 form{
    display: flex;
    flex-wrap: wrap;
} */
.section10-inputs{
    display: flex;
    flex-wrap: wrap;
}
.section10 .input{
    padding: 0 12px;
    margin-bottom: 12px;
}
.section10 input, .section10 textarea{
    padding: 6px 12px;
    line-height: 26px;
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}
.section10 input:focus, .section10 textarea:focus{
    border: 1px solid #e04000;
}
.input-name, .input-mail{
    width: 50%;
}
.input-subject{
    width: 100%;
}
.textarea{
    width: 100%;
}
textarea{
    min-height: 41px;
    height: 150px;
    resize: vertical;
}
.section10-button{
    padding: 0 12px;
}
.section10-button button{
    font-size: 16px;
    color: white;
    letter-spacing: 0.5px;
    cursor: pointer;
    padding: 8px 20px;
    border: none;
    border-radius: 6px;
    background-color: #FF5714;

}
.section10-contact-infos{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}
.section10-contact-info{
    display: flex;
    align-items: center;
}
.section10-contact-info i{
    font-size: 1.5rem;
}
.info-mail{
    margin-top: 24px;
}
.info-location{
    margin-top: 24px;
}
.info-details{
    margin-left: 12px;
}
.info-title{
    font-size: 18px;
    font-family: "Roboto Slab", serif;
    line-height: 1.5;
    font-weight: 600;
}
.info-detail{
    color: #8492a6
}
/* section10 */


/* EGEMEN KAPLAN */

/* RUMEYSANUR GULTEKIN */
.container28{
    padding: 100px 0;
    margin: 0 auto;
    background-color: rgb(244, 239, 239);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio-genelbaslik {
        text-align: center;
        margin-top: 40px;

}

.portfolio-gorseller{
        width: 1140px;
        display:flex;
        margin: 40px 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        
}

.portfolio-gorseller img{
        width: 216px;
        height: 162px;
        margin-top: 20px;
        border-radius: 10px;

}
.portfolio-gorseller div{
    margin: 0 5px;

}

.section6{
    background-image: url("https://shreethemes.in/upstart/layouts/images/bg/cta.png")  ;
    background-size: cover;  
    background-position: center;
    padding: 100px 0 ;
    position: relative;
}
.container17{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.container17-content{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.get-started-text{
color: white;
font-family: "Roboto Slab", sans-serif;
font-size: 2rem;
;
}
.get-started-text2{
color:grey;
max-width: 600px;
text-align: center;
}
.container17-item{
    margin-bottom: 20px;
}
.section2{
    padding: 100px 0;
    background-color: whitesmoke;
}
.container20{
    width: 1140px;
    padding: 0 12px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
}
.imgwhoweare img{
    width: 376px;
    height: 439px;
    border-radius: 10px;
}

.whowearetext{
    margin-left: 50px;
}
.section2 .p1{
    /* color:grey; */
    margin-bottom: 20px;
}
/* .button2{
    
} */

/* Section7 */
.section7{
    background-color: rgb(255, 255, 255);
   
}
.container-section7-text{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-self: center;
}
.section7-text-title{
    padding-top: 30px;
    color: orangered;
    text-align: center;
}
.section7-text-title2{
    color: black   ;
    text-align: center;
}
.section7-text-paragraf{
    color: grey;
    max-width: 700px;
    margin: 0 30%;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;

}
.container-section7-pricingplans{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    
}
.section7-pricingplanss-basic{
    border: 25px;
    border-color: black;
    margin: 10px 10px;
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 350px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(36,39,44,0.15);
}
.section7-pricingplanss-basic a{
    width: 400px;
}
.section7-pricingplanss-basic:hover{
    box-shadow: white;
    margin-top: 0;
    transition: all 0.6s ease;
    box-shadow: 0 0 15px rgba(36,39,44,0.15);
}
.section7-pricingplans-price{
    margin: 12px 0;
}
.section7dolar{
    font-weight: bold;
}
.section7price{
    font-weight: bold;
    font-size: 35px;
    font-family: "Roboto Slab", serif;
}
.section7month{
    font-weight: bold;
}
.section7-pricingplans-price-list{
    /* list-style-type: circle ; */
    /* text-align: left; */
    /* padding-inline-start: 10px ; */
    list-style: none;
    line-height:2em;
    margin: 12px 0 36px 0;
    
}
/* section7 */

/* RUMEYSANUR GULTEKIN */
/* MUHAMMED SAKA */
/* Section 3 */
  

.container3 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  

.section3-h3 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: "Roboto,serif";
  }
  
  .section3-h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }

.section3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    justify-content: space-between;
  }
  
  .section3-p {
    color: #8492a6;
    font-family: "Roboto", serif;
  }
  
  .section3-read:hover {
    color: #e04000;
    border-bottom: 1px solid #e04000;
  }
  
  .section3-content1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .box-icon {
    width: 80px;
    height: 80px;
    border-radius: 10%;
    background-color: #ffeee7;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon {
    color: #e04000;
    font-size: 30px;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    padding: 20px;
  }
  
  .box-active {
    background-color: white;
    box-shadow: 0 25px 25px rgba(36, 39, 44, 0.05);
  }
  
  .box:hover {
    box-shadow: 0 25px 25px rgba(36, 39, 44, 0.05);
  }
  
  .section3-content2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .box-h4 {
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
  }
  
  .box-p {
    color: #8492a6;
    font-size: 14px;
    margin-top: 10px;
  }
  
  h3 {
    color: #e04000;
  }
  
  /* Section 4 WORK PROCESS */
  
  .section4 {
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .section4-heading {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .section4-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .section4-image {
    width: 200px;
    height: 200px;
  }
  
  .strategy,
  .development,
  .launch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .l-img {
    width: 48%;
    display: flex;
    align-items: end;
    justify-content: end;
  }
  
  .l-content {
    width: 48%;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
  }
  
  .content-p {
    color: #8492a6;
  }
  
  .r-img {
    width: 48%;
  }
  
  .r-content {
    width: 48%;
  }
  
  .timeline {
    border: 1px solid #dadbdb;
    margin-left: 10px;
    margin-right: 10px;
    border-style: dashed;
    height: 200px;
    border-width: 0 0 0 2px;
  }
/* Section 8 */
.section8{
    background-color: #f8f9fc;

}
.container8 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

.section8-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .section8-heading-h2 {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  
  .section8-heading-p {
    color: #8492a6;
    font-size: 16px;
    text-align: center;
  }
  
  .section8-team {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .team-image {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .section8-content {
    position: relative;
  }
  
  .section8-content-text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    width: 230px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .section8-content:hover .section8-content-text {
    visibility: visible;
    opacity: 1;
    background: white;
  }
  
  .section8-content-text-p {
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .section8-values {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  
  .section8-values-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .company-image {
    width: 75px;
    height: 25px;
  }
  
  .section8-companies {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .section8-values-content p {
    color: #8492a6;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .section8 {
    height: 650px;
  }
/* MUHAMMED SAKA */