@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

/* Base Css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Roboto Slab", serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* Base Css End */


/* Header */

.header {
    background: url(assets/bg.jpeg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: relative;
}


/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem;
    position: relative;
    z-index: 2;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.nav-links .nav-link a {
    color: #fafafa;
    font-weight: bold;
}

.nav-links .nav-link a:after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background-color: #fff;
    transform: translateX(-100px);
    visibility: visible;
    opacity: 0;
}

.nav-links .nav-link:hover a:after {
    transform: translateX(0);
    opacity: 1;
    transition: 0.2s ease;
}

.navbar .icon-wrapper .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.navbar .icon-wrapper .icons li {
    width: 30px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
}

.navbar .icon-wrapper .icons li:hover {
    opacity: 0.8;
    transition: 0.2s ease;
}

.navbar .icon-wrapper .icons li a {
    color: #000;
}


/* Navbar End */


/* overlay */

.overlay {
    background-color: rgba(22, 28, 45, 0.75);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


/* header text start */

.header .text-wrapper {
    position: relative;
    z-index: 3;
    top: 20%;
}

.header .text-wrapper .title-heading {
    color: #ffff;
    font-size: 42px;
}

.header .text-wrapper .title-text {
    font-size: 17px;
    color: #fff;
}

.header .text-wrapper .button-wrapper {
    margin-top: 20px;
}

.header .text-wrapper .btn-header {
    padding: 0.8rem 1.3rem;
    background-color: #ff5714;
    color: #fff;
    border-radius: 4px;
}

.header .text-wrapper .btn-header:hover {
    opacity: 0.9;
    transition: 0.2s ease;
}


/* Header Text End */


/* About Start */

.section {
    padding: 100px 0px;
    background-color: #f8f9fc;
    position: relative;
}

.section .container .about-wrapper {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.video-img {
    border-radius: 10px;
    height: 451px;
}

.section .container .container-text {
    padding-left: 5%;
}

.container-text h6 {
    color: #ff5714;
    font-weight: 600px;
    font-size: 15px;
    margin: 0 0 8px;
}

.container-text h4 {
    font-size: 28px;
    margin: 0 0 24px;
}

.paragraph {
    color: #8492a6;
    margin: 0 0 16px;
}

.btn-buy-now {
    background-color: #ff5714;
    padding: 8px 20px;
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
}


/* About End */


/* Section Services Content Start*/

.services {
    background-color: #ffffff;
    padding: 100px 0;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 2rem;
}

.content-right {
    color: #8492a6;
    max-width: 600px;
}

.content-right p {
    line-height: 1.6;
    font-size: 15px;
}

.content-left {
    max-width: 600px;
}

.content-left h6 {
    color: #ff5714;
    font-size: 15px;
    margin-bottom: 0.6rem;
}

.content-left h4 {
    letter-spacing: 0.5px;
    font-size: 28px;
}


/* Section Services Content End*/


/* Section Services Cards Start*/

.cards {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}

.cards .card {
    width: 369px;
    height: 300px;
    border-radius: 30px;
    background-color: #ffffff;
    padding: 1rem;
    text-align: start;
    transition: all 0.5s ease;
    margin: 0;
}

.cards .card:nth-child(even) {
    box-shadow: 0 25px 25px rgba(36, 39, 44, 0.05);
}

.cards .card .card-content {
    margin-top: 1.5rem;
    padding-top: 0.5rem;
}

.cards .card-content p {
    color: #8492a6;
    margin-bottom: 1rem;
    margin-top: 1rem;
    line-height: 1.6;
    font-size: 15px;
}

.cards .card .card-content a {
    color: #24272c;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.5s ease;
}

.cards .card:hover {
    box-shadow: 0 25px 25px rgba(36, 39, 44, 0.05);
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.cards .card-icon {
    background-color: #ffede3;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    margin-bottom: 20px;
    height: 85px;
    width: 85px;
    align-items: center;
    justify-content: center;
}

.cards .card .card-content .card-link {
    padding-top: 0.5rem;
    margin-top: 1.5rem;
}

.cards .card .card-content .card-link a {
    color: #24272c;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-decoration: none;
}

.cards .card .card-content .card-link a:hover {
    transition: all 0.5s ease;
    color: #ff5714;
}

.cards .card .card-content .card-link a svg {
    margin-left: 6px;
    height: 18px;
    width: 18px;
}


/* Section Services Cards End*/


/* !--------- Work Process Start------- */

.work-process {
    margin-top: 30px;
}

.work-process .work-process-content .work-process-title {
    font-size: 15px;
    color: #ff5714;
    text-align: center;
}

.work-process .work-process-content .work-process-title-1 {
    font-size: 28px;
    color: #24272c;
    text-align: center;
}

.work-process .work-process-content .work-process-text {
    color: #8492a6;
    text-align: center;
}

.work-process .work-process-wrapper {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.work-process .work-process-wrapper img {
    width: 250px;
    height: 250px;
}

.work-process .work-process-wrapper::after {
    width: 1px;
    position: absolute;
    left: 50%;
    top: 0;
    content: "";
    height: 100%;
    border-right: 1px dashed #dee2e6;
    display: block;
    margin-top: 10px;
}

.work-process .work-process-wrapper .item {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.work-process .work-process-wrapper .item .item-content {
    width: 300px;
}

.work-process .work-process-wrapper .item .item-content .item-title {
    font-size: 18px;
    color: #24272c;
    text-align: start;
    margin: 0 0 4px;
    position: relative;
}

.work-process .work-process-wrapper .item .item-content .item-title::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 2px dashed #dee2e6;
    border-radius: 50%;
    padding: 0.3rem;
    display: block;
    margin-right: 10px;
    position: absolute;
    right: 105%;
    z-index: 1;
}

.work-process .work-process-wrapper .item .item-content .item-title::after {
    content: "";
    width: 3px;
    height: 3px;
    background-color: #ff5714;
    border-radius: 50%;
    padding: 0.3rem;
    display: block;
    margin-right: 10px;
    position: absolute;
    z-index: 2;
    right: 106.8%;
    top: 5px;
}

.work-process .work-process-wrapper .item .item-content .item-content {
    text-align: start;
    color: #8492a6;
    margin-top: 1rem;
}

.work-process .work-process-wrapper .item-2 .item-img {
    display: flex;
    justify-content: end;
}

.work-process .work-process-wrapper .item-2 .item-title-2 {
    text-align: end !important;
    font-size: 18px;
    position: relative;
}

.work-process .work-process-wrapper .item-2 .item-title-2::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 2px dashed #dee2e6;
    border-radius: 50%;
    padding: 0.3rem;
    display: block;
    margin-right: 10px;
    position: absolute;
    left: 109%;
    z-index: 1;
}

.work-process .work-process-wrapper .item-2 .item-title-2::after {
    content: "";
    width: 3px;
    height: 3px;
    background-color: #ff5714;
    border-radius: 50%;
    padding: 0.3rem;
    display: block;
    margin-right: 10px;
    position: absolute;
    z-index: 2;
    right: -18.3%;
    top: 5px;
}


/* !--------- Work Process End------- */


/* PORTFOLIO SECTION */

.portfolioContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.portfolio {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fc;
}

.portfolioTitle {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #ff5714;
    font-size: 15px;
}

.portfolioSectionTitle {
    letter-spacing: 0.5px;
    font-size: 28px;
    font-weight: 600;
}

.portfolioDescription {
    color: #8492a6;
    margin-bottom: 50px;
}

.images {
    max-width: 300px;
}

.imagesContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.imageWrapper {
    position: relative;
    /* Ensures proper positioning for overlay */
}

.imageWrapper .images {
    max-width: 300px;
    transition: filter 0.3s ease;
    /* Add transition for smooth effect */
}

.imageWrapper:hover .images {
    filter: brightness(70%);
    transition: filter 0.3s ease;
    transform: rotate(5deg);
    transition: transform 0.3s ease;
}

.imageWrapper:hover {
    cursor: pointer;
}

.cameraIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
}

.imageWrapper:hover .cameraIcon {
    opacity: 0.7;
}

.cameraIcon img {
    max-width: 50px;
    position: relative;
    left: 80%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 74, 116, 0.459);
    opacity: 0;
    transition: opacity 0.3s ease;
    /* Add transition for smooth effect */
}

.imageWrapper:hover .overlay {
    opacity: 0.7;
}

.overlayText {
    opacity: 1;
    color: white;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* PORTFOLIO SECTION END*/


/* ? Plans Start */

.plans {
    padding: 100px 0px;
    background-color: #fff;
}

.plans .content {
    flex-direction: column;
}

.col {
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 0 0 24px;
}

.col h6 {
    color: #ff5714;
    font-size: 15px;
    margin: 0 0 18px;
    font-weight: 600px;
    line-height: 1.5;
}

.col h4 {
    font-size: 28px;
    margin: 0 0 16px;
}

.col p {
    color: #8492a6;
    width: 55%;
    margin: 0 258px;
    font-size: 15px;
    font-family: sans-serif;
}


/* * Plans Card Start */

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 12px;
}

.row .card {
    height: 400px;
    padding: 48px 24px;
    padding: 3rem 1.5rem;
    box-shadow: 0 0 3px rgba(36, 39, 44, 0.15);
    border: 1px solid black;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin: 15px;
}

.row .card:hover {
    box-shadow: 0 5px 13px rgba(36, 39, 44, 0.2) !important;
    transform: translateY(-10px);
    transition: all 0.5s ease 0s;
}

.row .card h5 {
    font-size: 18px;
    margin: 0 0 8px;
}

.row .card .price {
    display: flex;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

.row .card .price .money {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.row .card .price .number {
    font-size: 42px;
    font-family: "Roboto Slab", serif;
    margin-bottom: 0;
}

.row .card .price .mo {
    font-size: 18px;
    font-family: "Roboto Slab", serif;
    margin-bottom: 0.25rem;
    align-self: flex-end;
}

.card .features li {
    color: #8492a6;
    margin-bottom: 0.7rem;
    font-family: sans-serif;
    line-height: 1.5;
}

.card .features span {
    margin-right: 0.5rem;
}

.card .get-started {
    background-color: rgba(255, 87, 20, 0.1);
    border: 1px solid rgba(255, 87, 20, 0.1);
    color: #ff5714;
    box-shadow: 0 3px 5px 0 rgba(255, 87, 20, 0.1);
    padding: 8px 20px;
    border-radius: 6px;
    letter-spacing: 0.5px;
    width: 100%;
    display: block;
    align-self: flex-end;
    text-align: center;
    margin: 24px 0px 0px;
}

.card .get-started:hover {
    background: #ff5714;
    color: #fff;
    transition: 0.5s ease;
}


/* * Plans Card End */


/* ? Plans End */


/* ! -------------- Our Team Start ------------- */

.our-team {
    background-color: #f8f9fc;
    padding: 3rem 0rem;
}

.our-team .our-team-wrapper .our-team-content .section-title {
    color: #ff5714;
    text-align: center;
}

.our-team .our-team-wrapper .our-team-content .our-title {
    text-align: center;
    font-size: 32px;
}

.our-team .our-team-wrapper .our-team-content .our-content {
    text-align: center;
    margin-top: 10px;
    opacity: 0.7;
    color: #8492a6;
}

.our-team .our-team-image-card {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.our-team .our-team-image-card .card {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.our-team .our-team-image-card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    transform-origin: center center;
}

.our-team .our-team-image-card img:hover {
    transform: scale(1.03);
    border-radius: 10px;
    position: relative;
}

.our-team .our-team-image-card .social-media-icons {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(50px);
    opacity: 0;
    background-color: transparent;
    z-index: 3;
}

.our-team .our-team-image-card .social-media-icons a {
    background-color: #ff5714;
    width: 30px;
    height: 32px;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
}

.our-team .our-team-image-card .person-info {
    background-color: #fff;
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 13%;
    margin-bottom: 10px;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    transform: translateY(80px);
    visibility: visible;
    opacity: 0;
    z-index: 3;
    -webkit-box-shadow: -5px -37px 51px 17px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: -5px -37px 51px 17px rgba(0, 0, 0, 0.44);
    box-shadow: -5px -37px 51px 17px rgba(0, 0, 0, 0.44);
}

.our-team .our-team-image-card .person-info h4:hover {
    color: #ff5714;
    cursor: pointer;
    transition: 0.2s ease;
}

.our-team .our-team-image-card .person-info p {
    color: #8492a6;
}

.our-team .our-team-image-card .card:hover .social-media-icons {
    transform: translateX(0);
    opacity: 1;
    transition: 0.5s ease;
}

.our-team .our-team-image-card .card:hover .person-info {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s ease;
}


/* ?Overlay Card */

.our-team .our-team-image-card .overlay {
    opacity: 0;
}

.our-team .our-team-image-card .card:hover .overlay {
    opacity: 0.4;
    transition: 1s ease;
}


/* ?Portfolyo */

.our-team .portfolio-our-team {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.our-team .portfolio-our-team h4 {
    font-size: 32px;
}

.our-team .portfolio-our-team p {
    color: #8492a6;
}


/* ? Brands */

.brands {
    display: flex;
    margin: 3rem 0;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.brands img {
    width: 80px;
}

.brands img:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .our-team .our-team-image-card {
        flex-direction: column;
        gap: 1rem;
    }
}


/* ! Latest News Start */

.latest-news {
    padding: 1rem 4rem;
}

.latest-news-content .section-title {
    color: #ff5714;
    text-align: center;
    margin-top: 3rem;
    font-size: 20px;
}

.latest-news-content .news-title {
    text-align: center;
    font-size: 32px;
}

.latest-news-content .news-content {
    text-align: center;
    margin-top: 10px;
    opacity: 0.7;
    color: #8492a6;
}


/* ? News Card */

.latest-news .blogs-card-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    gap: 1rem;
}

.latest-news .blogs-card-wrapper .news-card {
    width: 400px;
    height: 480px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.latest-news .blogs-card-wrapper .news-card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.latest-news .blogs-card-wrapper .news-card .news-card-content {
    padding: 1rem;
}

.latest-news .blogs-card-wrapper .news-card .news-card-content h4 a {
    color: #000;
    font-size: 20px;
}

.latest-news .blogs-card-wrapper .news-card .news-card-content p {
    padding: 1rem 0;
    color: #8492a6;
}

.latest-news .blogs-card-wrapper .news-card .news-card-content h4 a:hover {
    color: #ff5714;
    transition: 0.2s ease;
}

.latest-news .blogs-card-wrapper .news-card .btn-news {
    padding: 1rem;
    margin-bottom: 10px;
    color: #000;
}


/* ?Responsive */

@media (max-width: 768px) {
    .latest-news .blogs-card-wrapper {
        flex-direction: column;
        gap: 1rem;
    }
}


/* ! Latest News End*/


/* Section Contact Us Start */

.contact {
    background-color: #f8f9fc;
    padding: 100px 0;
    text-align: center;
}

.contact .container h6 {
    color: #ff5714;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 0.6rem;
}

.contact .container h4 {
    letter-spacing: 0.5px;
    font-size: 28px;
}

.contact .container p {
    color: #8492a6;
    margin-bottom: 1rem;
    margin-top: 1rem;
    line-height: 1.6;
    font-size: 15px;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
}

.contact-form {
    background-color: white;
    box-shadow: 0 0 3px rgba(36, 39, 44, 0.15);
    width: 736px;
    height: 360px;
    border-radius: 5px;
    padding: 24px 12px 12pc 12px;
}

.contact-top {
    display: flex;
    justify-content: space-between;
}

.contact-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.contact-form input {
    border: 1px solid #ced1d8;
    padding: 10px;
    margin: 0 12px 24px 12px;
    border-radius: 5px;
    width: 100%;
}

.contact-form input:focus {
    outline: none;
    border-color: #ff5714;
    transition: border-color 0.3s;
}

.contact-form textarea {
    border: 1px solid #ced1d8;
    padding: 10px;
    margin: 0 12px 24px 12px;
    border-radius: 5px;
    height: 118px;
}

.contact-form textarea:focus {
    outline: none;
    border-color: #ff5714;
    transition: border-color 0.3s;
}

.contact-form .btn-contact {
    padding: 0.6rem 1.3rem;
    background-color: #ff5714;
    color: #fff;
    border-radius: 4px;
    margin: 0 0 12px 12px;
    border: 1px solid #ff5714;
    float: left;
    box-shadow: 0 3px 5px 0 rgba(255, 87, 20, 0.1);
    font-size: 16px;
}

.contact-form .btn-contact:hover {
    background-color: #e04e1b;
}

.contact-info-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    max-width: 400px;
    margin-left: 2.5rem;
    padding-top: 1rem;
}

.contact-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    text-align: start;
}

.contact-item i {
    font-size: 24px;
    margin-right: 20px;
    line-height: 1.5;
}

.contact-item svg {
    font-size: 24px;
    margin-right: 20px;
}

.contact-text h3 {
    margin: 0;
    font-size: 18px;
}

.contact-text p {
    margin: 0;
    font-size: 16px;
}

.footer {
    background-color: #202942;
    color: #fff;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #adb5bd;
    min-height: 92px;
}

.footer .heart {
    color: red;
}

.footer-logo img {
    width: 100px;
}

.footer-social .footer-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.footer-social .footer-icons li {
    width: 30px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #adb5bd;
    border-radius: 4px;
}

.footer-social .footer-icons i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #9a9ea2;
    font-size: 16;
    text-decoration: none;
}

.footer-social .footer-icons li:hover {
    width: 30px;
    height: 32px;
    border-radius: 4px;
    transition: 0.2s ease;
    border: 1px solid #adb5bd;
    background-color: #ff5714;
    color: white;
}

.footer-social .footer-icons i:hover {
    color: white;
}


/*  Footer Us End */