@import "./bs_overrides", "../node_modules/bootstrap/scss/bootstrap.scss", "./custom";

* {
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

.home {
    padding: 225px 0px;
}
