@import url("https://fonts.googleapis.com/css2?family=Satoshi:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Integral+CF:wght@700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-satoshi: Satoshi;
  --font-integral-cf: "Integral CF";

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-14xl-5: 33.5px;
  --font-size-xl: 20px;
  --font-size-8xl: 27px;
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-lgi: 19px;
  --font-size-xs: 12px;
  --font-size-45xl: 64px;
  --font-size-32xl: 51px;
  --font-size-7xl: 26px;

  /* Colors */
  --color-white: #fff;
  --color-whitesmoke-100: #f0f0f0;
  --color-whitesmoke-200: #f0eeed;
  --color-gray-100: rgba(0, 0, 0, 0.4);
  --color-gray-200: rgba(0, 0, 0, 0.1);
  --color-gray-300: rgba(0, 0, 0, 0.6);
  --color-black: #000;
  --color-tomato-100: #ff3333;
  --color-tomato-200: rgba(255, 51, 51, 0.1);

  /* Gaps */
  --gap-5xl: 24px;
  --gap-31xl: 50px;
  --gap-6xl: 25px;
  --gap-lgi: 19px;
  --gap-xl: 20px;
  --gap-xs: 12px;
  --gap-7xl: 26px;
  --gap-16xl: 35px;
  --gap-sm: 14px;
  --gap-152xl: 171px;
  --gap-mini: 15px;
  --gap-9xs: 4px;
  --gap-6xs-5: 6.5px;
  --gap-base: 16px;
  --gap-17xl: 36px;
  --gap-lg: 18px;
  --gap-45xl: 64px;
  --gap-13xl: 32px;
  --gap-5xs: 8px;
  --gap-smi: 13px;
  --gap-7xs-3: 5.3px;
  --gap-2xs: 11px;
  --gap-3xs: 10px;
  --gap-87xl: 106px;
  --gap-34xl: 53px;
  --gap-91xl: 110px;
  --gap-8xl: 27px;
  --gap-36xl: 55px;
  --gap-2xl: 21px;
  --gap-35xl: 54px;
  --gap-29xl: 48px;
  --gap-12xl-5: 31.5px;
  --gap-21xl: 40px;

  /* Paddings */
  --padding-121xl: 140px;
  --padding-xl: 20px;
  --padding-63xl: 82px;
  --padding-3xl: 22px;
  --padding-34xl: 53px;
  --padding-8xs: 5px;
  --padding-2xl: 21px;
  --padding-17xl: 36px;
  --padding-45xl: 64px;
  --padding-13xl: 32px;
  --padding-xs: 12px;
  --padding-105xl: 124px;
  --padding-base: 16px;
  --padding-7xl: 26px;
  --padding-12xl: 31px;
  --padding-9xl: 28px;
  --padding-26xl: 45px;
  --padding-10xl: 29px;
  --padding-51xl: 70px;
  --padding-57xl: 76px;
  --padding-30xl: 49px;
  --padding-6xl: 25px;
  --padding-smi: 13px;
  --padding-59xl: 78px;
  --padding-60xl: 79px;
  --padding-11xs: 2px;
  --padding-7xs: 6px;
  --padding-lgi: 19px;
  --padding-20xl: 39px;
  --padding-29xl: 48px;
  --padding-23xl: 42px;
  --padding-10xs: 3px;
  --padding-12xs: 1px;
  --padding-73xl: 92px;
  --padding-41xl: 60px;
  --padding-mid: 17px;
  --padding-2xs: 11px;
  --padding-mini: 15px;
  --padding-48xl: 67px;
  --padding-355xl: 374px;
  --padding-168xl: 187px;
  --padding-4xs: 9px;

  /* Border radiuses */
  --br-7xs-4: 5.4px;
  --br-xl: 20px;
  --br-43xl: 62px;
  --br-21xl: 40px;
}
