.homepageChild {
  width: 100%;
  height: 663px;
  position: absolute;
  margin: 0 !important;
  top: 134px;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.signUpNow {
  text-decoration: underline;
  font-weight: 500;
}
.signUpAndContainer {
  width: 351px;
  position: relative;
  display: inline-block;
  max-width: calc(100% - 40px);
}
.frameIcon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.signUp {
  align-self: stretch;
  background-color: var(--color-black);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-4xs) 100px var(--padding-4xs) 544px;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.topSelling1,
.topSellingHeader {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.topSelling1 {
  margin: 0;
  width: 346px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  align-items: center;
}
.topSellingHeader {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-3xl) var(--padding-lgi) var(--padding-xl);
  box-sizing: border-box;
}
.viewAll {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 59px;
}
.topSellingViewAllContainer,
.viewAllTopSelling {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.topSellingViewAllContainer {
  border-radius: var(--br-43xl);
  border: 1px solid var(--color-gray-200);
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-59xl) var(--padding-smi)
    var(--padding-60xl);
  white-space: nowrap;
}
.viewAllTopSelling {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 44px;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-satoshi);
}
.topSelling,
.topSellingContent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.topSellingContent {
  width: 1240px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-17xl);
}
.topSelling {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 69.8px;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-integral-cf);
}
.ourHappyCustomers {
  margin: 0;
  align-self: stretch;
  height: 43px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.customerReviewTitle {
  width: 654px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 1.3px;
  box-sizing: border-box;
  max-width: 100%;
}
.arrowDownBold1Icon,
.arrowDownBold2Icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  min-height: 24px;
}
.customerReviewHeader,
.reviewNavigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.customerReviewHeader {
  width: 1240px;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.customerReview,
.customerReviewCarousel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.customerReview {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-base);
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-integral-cf);
}
.customerReviewCarousel {
  width: 1440px;
  overflow-x: auto;
  justify-content: flex-start;
  padding: 0 0 56px;
  gap: var(--gap-xl);
}
.homepage,
.offerSubscription {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.offerSubscription {
  align-self: stretch;
  max-width: 100%;
}
.homepage {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  gap: var(--gap-5xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-satoshi);
}
@media screen and (max-width: 1200px) {
  .topSelling {
    padding-bottom: var(--padding-26xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .topSelling1 {
    font-size: var(--font-size-19xl);
  }
  .topSelling {
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }
  .ourHappyCustomers {
    font-size: var(--font-size-19xl);
  }
  .customerReviewHeader {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 750px) {
  .signUp {
    padding-left: 272px;
    padding-right: 50px;
    box-sizing: border-box;
  }
  .topSellingContent {
    gap: var(--gap-lg);
  }
}
@media screen and (max-width: 450px) {
  .signUp {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .topSelling1 {
    font-size: var(--font-size-10xl);
  }
  .topSelling {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .ourHappyCustomers {
    font-size: var(--font-size-10xl);
  }
}
