/* responsive  */
@media screen and (max-width: 992px) {
    .list-partners li {
        width: 28%;
    }
}

@media screen and (max-width: 768px) {
    .list-partners li {
        width: 24%;
    }
}

@media screen and (max-width: 576px) {
    .list-partners li {
        width: 32%;
        padding: 15px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
    .header-right {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .d-block {
        display: block !important;
    }
}

@media screen and (max-width: 1200px) {
    .main-header {
        justify-content: space-between;
    }
}