/* grow business start */
.banner-hero {
  padding: 60px 0 20px;
}
.block-1 {
  position: absolute;
  bottom: 20px;
  left: -55px;
  z-index: 3;
  width: 220px;
  height: 260px;
}
.block-2 {
  z-index: 3;
  position: absolute;
  top: 15%;
  right: -45px;
  height: 169px;
  width: 155px;
}
.box {
  max-width: 100%;
}
.banner-imgs {
  padding: 20px 0 0;
  position: relative;
  width: 100%;
  float: right;
}
/* leading-companies */
.list-partners {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
  width: 100%;
  border-bottom: 1px solid #d0d5dd;
}
.list-partners li {
  width: 18%;
  margin-bottom: 30px;
}
.item-logo {
  display: inline-block;
  width: 100%;
  padding: 15px;
}
.item-logo:hover {
  box-shadow: 14px 14px 36px rgba(49, 48, 48, 0.2);
  transform: translateY(-5px);
  transition: all 0.5s ease;
}
.header {
  padding: 10px 0;
}
.main-header {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nav-main-menu {
  width: 100%;
}
.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.header-nav li {
  font-family: Chivo, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #101828;
  display: block;
  padding: 30px 22px;
}
.header-logo {
  margin-right: 50px;
}
.hamburger-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 60px;
  z-index: 1002;
}
.header-right {
  position: relative;
  max-width: 225px;
  width: 100%;
  right: 15px;
}
.header-left {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn {
  font-family: "Chivo", sans-serif;
  padding: 22px 32px;
  font-size: 18px;
  line-height: 22px;
  transition: 0.2s;
  letter-spacing: 0.45px;
  border-radius: 50px;
}
.btn-default {
  color: #101828;
  background-color: #f2f4f7;
  border-radius: 50px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  padding: 22px 32px;
}
.btn-black {
  color: #fff;
  background-color: #101828;
  border-radius: 50px;
  font-size: 18px;
  line-height: 22px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
}
.btn.btn-link {
  font-family: "Chivo", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
  color: #101828;
  text-decoration: none;
}
.fa-arrow-right {
  padding-left: 20px;
}
.fa-play {
  color: #006d77;
}
.btn.btn-default:hover {
  background-color: #101828;
  background-image: url(/_next/static/media/arrow-small-right-w.2fff1760.svg);
  background-repeat: no-repeat;
  color: #fff !important;
  transform: translateY(-2px);
  transition: 0.2s;
}
.list-icons .item-icon.none-bd {
  border-bottom: 0;
  padding: 0 0 20px 80px;
}
.list-icons .item-icon {
  position: relative;
}
.list-icons .item-icon .icon-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
}
.inner-img {
  position: relative;
}
.block-img-we-do .block-chart img {
  box-shadow: 0 47px 65px rgba(21, 28, 38, 0.1);
  border-radius: 16px;
  max-width: 100%;
}
.block-img-we-do .block-chart {
  position: absolute;
  bottom: -100px;
  right: -60px;
  width: 270px;
}
.d-none {
  display: none !important;
}
/* EZGİ START */
.box-square {
  width: 100%;
  height: 455px;
  padding: 50px 40px 0;
  border-radius: 16px;
}
.box_image_inner {
  border-radius: 16px;
  padding: 23px 15px;
}
.box_image_inner img {
  max-width: 100%;
}
.built_box_item {
  border-bottom: 1.5px solid #e4e7ec;
}
.built_box_item span img {
  width: 50px;
  height: 50px;
}
.medium_info h3 {
  line-height: 64px;
}
.medium_info span {
  border-radius: 50px;
}
.icon-leaf {
  background: url("https://agon-nextjs-13.vercel.app/_next/static/media/icon-leaf.f2afd49a.svg")
    no-repeat 0 2px;
  padding: 0 0 0 28px;
}
.line_of_sight {
  border: 1px dashed #006d77;
}
.inner_image {
  position: relative;
}
.block_image_bottom {
  position: absolute;
  bottom: -80px;
  right: -100px;
  width: 313px;
}
.inner_image img {
  max-width: 100%;
  border-radius: 16px;
}
.block_image_bottom img {
  width: 250px;
  height: 270px;
}
.happy_section {
  border-radius: 58px;
}
.card_item {
  padding: 53px 48px;
  background-color: white;
  border-radius: 16px;
  box-shadow: inset 0 40px 80px #fcfcfc;
}
.card_item p {
  line-height: 20px;
}
.img_user img {
  width: 60px;
  height: 60px;
  border-radius: 4px;
}
/* choose-plan */
.row-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#choose-plan .card-body b {
  font-size: 30px;
  margin: 0 5px 10px 10px;
}
#choose-plan .card-body h3 {
  margin: 15px 0;
}
#choose-plan .card-body p:nth-child(3) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 35px;
}
#choose-plan .card-body ul {
  margin: 30px 0;
}
#choose-plan .card-body ul li {
  margin: 5px 0;
}
#choose-plan .card-body ul li i {
  color: rgba(0, 109, 119, 1);
  margin: 0 5px;
}
#choose-plan .card-body.row {
  align-items: flex-start;
  flex-direction: column;
  height: 452px;
}
#choose-plan .card-body button {
  margin-top: auto;
}
#choose-plan .card-body:hover {
  background: rgba(0, 109, 119, 1);
  color: #fff;
}
#choose-plan .card-body:hover i {
  color: #000;
}
#choose-plan .card-body:hover button {
  background: #000;
  border: 1px solid rgba(0, 109, 119, 1);
}
#choose-plan .card-body:hover button:hover {
  background: rgba(0, 109, 119, 1);
  border: 1px solid #000;
}
/* cards */
.card {
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
  margin: 20px;
  border-radius: 5px;
  line-height: 20px !important;
}
.card-body {
  padding: 40px 20px;
}
.card:hover {
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.1);
  color: #fff;
}
.card-body-text:hover {
  color: white !important;
}
/* buttons */
.btn-green {
  padding: 8px 25px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  font-size: 1.2rem;
  border: none;
  color: #fff;
  background: rgba(0, 109, 119, 1);
  font-family: inherit;
}
.btn-sub-green {
  padding: 7px;
  text-align: center;
  cursor: pointer;
  border-radius: 100%;
  display: inline-block;
  font-size: 1.2rem;
  border: none;
  color: #fff;
  background: rgba(0, 109, 119, 1);
  font-family: inherit;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-outline-gray {
  background: gray;
  color: black;
}

.btn-green:hover {
  background: rgba(0, 0, 0, 1);
  color: #fff;
}
.active {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.1);
}
.supTitle {
  font-size: 4rem;
  margin: 50px 0 50px 0;
}
.title {
  font-size: 40px;
  margin-bottom: 15px;
}
.subTitle {
  font-size: 1.8rem;
  margin: 15px 0;
}
.paragraph {
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-bottom: 24px;
}
.box-shadow {
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.5);
}
.content {
  width: 65%;
  margin: 0 auto;
  padding: 50px;
}
.p-100 {
  padding: 100px 0;
}
.p-50 {
  padding: 50px;
}
.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}
.icon {
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  padding: 16px;
  border-radius: 50%;
}
.price {
  font-weight: bold;
  font-size: 20px;
}
.title-font {
  font-size: 36px;
  font-weight: 700;
}
.badge {
  background-color: rgba(0, 109, 119, 1);
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 1rem;
  margin: 20px 0;
}
/* subscribe */
#subscribe {
  background-color: rgba(190, 225, 230, 1);
  border-radius: 10px;
  height: 340px;
  padding: 10px 80px;
}
#subscribe .row {
  background-color: #fff;
  border-radius: 50px;
  margin: 20px 0;
}
#subscribe .row input {
  padding: 20px;
  width: 100%;
  border-radius: 50px;
  margin-right: 5px;
  border: none;
}
#subscribe .row button {
  border-radius: 50%;
  padding: 15px 18px;
  margin-right: 5px;
}
#subscribe .col-4 {
  background: url("https://agon-nextjs-13.vercel.app/assets/imgs/template/img-newsletter.png")
    no-repeat center center/contain;
  height: 400px;
}
#subscribe .col-4 img {
  width: 200px;
  animation: advanced-y 1s forwards infinite alternate-reverse;
}
/* footer */
#footer {
  padding: 150px 50px 50px;
}
#footer img {
  width: auto;
}
#footer b {
  margin-right: 20px;
}
#footer .grid {
  margin: 70px 0;
  grid-template-columns: repeat(5, 1fr);
}
#footer .grid ul li {
  margin: 10px 0;
}
#footer .grid ul li:hover a {
  color: rgba(0, 109, 119, 1);
}
#footer > *:last-child {
  justify-content: space-between;
}
#footer > *:last-child i {
  font-size: 24px;
  margin: 0 10px;
}
#footer > *:last-child i:hover {
  color: rgba(0, 109, 119, 1);
}
/* responsive  */
@media screen and (max-width: 992px) {
  .list-partners li {
    width: 28%;
  }
  .hamburger-menu {
    position: absolute;
    right: 0px;
    margin-left: 15px;
  }
  .text-display-3 {
    font-size: 45px;
  }
  .block-img-we-do {
    margin-bottom: 60px;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
    align-items: center;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .container {
    max-width: 960px;
  }
  .box-square {
    height: auto;
    margin-bottom: 30px;
  }
  .custom-container {
    max-width: 720px;
  }
  .mt-15rem {
    margin-top: 5rem !important;
  }
  .col-3,
  .col-4 {
    flex: 45%;
  }
  #header {
    justify-content: space-between;
    padding: 30px;
  }
  #header img {
    width: auto;
  }
  #advanced {
    height: 1000px;
  }
  #advanced-left {
    padding: 25px;
  }
  #advanced-right #payment {
    margin-left: 615px;
  }
  #advanced-right #balance {
    margin: 150px 0 0px 200px;
  }
  #fresh,
  #section-a {
    flex-wrap: wrap;
  }
  #fresh-left img,
  #section-a-right img {
    margin: 500px 0 0 550px;
  }
  #our-happy-customers {
    margin: 100px 0;
  }
  #footer .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  .list-partners li {
    width: 24%;
  }
}
@media (max-width: 768px) {
  .banner-hero .container {
    max-width: 720px;
  }
  .banner-hero .row {
    text-align: center;
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .list-partners li {
    width: 32%;
    padding: 15px;
  }
  .col-2,
  .col-3,
  .col-4 {
    flex: 100%;
  }
  #header {
    justify-content: center;
    row-gap: 20px;
    padding: 30px;
  }
  #header img {
    width: auto;
  }
  #advanced,
  #section-a {
    padding: 50px 0;
    height: 1250px;
  }
  #advanced-right #payment {
    margin-left: 400px;
  }
  #advanced-right #balance {
    margin: 150px 0 0px 10px;
  }
  #fresh-left img,
  #section-a-right img {
    margin: 540px 0 0 303px;
  }
  #discover .row,
  #built > .row {
    flex-wrap: wrap;
  }
  #section-a {
    height: 1450px;
  }
  #section-a #section-a-left > .row .col-2 {
    flex: 50%;
    padding: 20px 5px;
  }
  #subscribe {
    height: 480px;
  }
  #footer .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  #footer > *:last-child {
    flex-wrap: wrap;
    text-align: center;
    row-gap: 15px;
  }
  #footer > *:last-child .column-gap {
    column-gap: 15px;
  }
  #footer > *:last-child > *:last-child {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .header-right {
    display: none;
  }
}
@media (min-width: 1200px) {
  .d-xl-block {
    display: block !important;
  }
  .container {
    max-width: 1140px;
  }
}
@media screen and (max-width: 1200px) {
  .main-header {
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25% !important;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33%;
  }
  .d-lg-block {
    display: block !important;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}
@media (min-width: 576px) {
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
}
