/* Hasan css start */
.flex {
  display: flex;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.visibility-hidden {
  visibility: hidden;
}
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1;
}
#navbar .container {
  justify-content: space-between;
  height: 15vh;
}
#navbar .container .logo:hover {
  cursor: pointer;
}
#navbar .container .selects {
  gap: 2.5rem;
}
#navbar .container .selects a:hover {
  color: #006D77;
}
#navbar .container .btn {
  gap: 1rem;
  width: 180px;
  height: 8vh;
  background-color: #F2F4F7;
  border-radius: 50px;
  font-weight: 700;
}
#navbar .container .btn:hover {
  background-color: #BEE1E6;
  cursor: pointer;
}
#navbar .container .hamburger {
  position: absolute;
  top: 5.5vh;
  right: 0;
  cursor: pointer;
}
#home {
  height: 150vh;
  background-color: #bee1e6;
}
#home .container {
  padding-top: 170px;
  gap: 10rem;
}
#home .container .left .btn {
  color: white;
  background-color: #006d77;
  width: 210px;
  height: 40px;
  border-radius: 50px;
  margin-bottom: 30px;
}
#home .container .left h1 {
  margin-bottom: 30px;
}
#home .container .left h4 {
  margin-bottom: 10px;
}
#home .container .left p {
  margin-bottom: 30px;
}
#home .container .left .btn2-link-container {
  gap: 2rem;
  margin-bottom: 40px;
}
#home .container .left .btn2 {
  background-color: #101828;
  width: 150px;
  height: 60px;
  gap: 1rem;
  border-radius: 4px;
}
#home .container .left .btn2:hover {
  cursor: pointer;
  background-color: #006D77;
}
#home .container .left .btn2 a {
  color: white;
}
#home .container .left .numbers {
  width: 500px;
  justify-content: space-between;
}
#home .container .right {
  position: relative;
}
#home .container .right img {
  border-radius: 10px;
}
#home .container .right .middle-image {
  animation: middle-image-animation 8s infinite linear;
}

@keyframes middle-image-animation {
  0% {
      transform: translateY(0px);
  }

  50% {
      transform: translateY(-30px);
  }

  100% {
      transform: translateY(0px);
  }
}
#home .container .right .top-image {
  position: absolute;
  top: 45px;
  right: -80px;
}

@keyframes top-image-animation {
  0% {
      transform: translateX(0px);
  }

  50% {
      transform: translateX(20px);
  }

  100% {
      transform: translateX(0px);
  }
}
#home .container .right .top-image,
.bottom-image {
  animation: top-image-animation 5s infinite linear;
}
#home .container .right .bottom-image {
  position: absolute;
  bottom: 10px;
  left: -80px;
}
#companies {
  height: 55vh;
}
#companies .container {
  border-bottom: 1px solid #d0d5dd;
}
#companies .top {
  text-align: center;
  margin: 10vh 0 5vh 0;
}
#companies .bottom {
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 1rem;
  margin-bottom: 4rem;
}
#companies .bottom .company:hover {
  cursor: pointer;
  box-shadow: 0 10px 10px -5px rgb(236, 235, 235);
  transition: 0.3s ease;
  transform: scale(1.05);
}
#what-you-get {
  height: 100vh;
  padding-top: 100px;
}
#what-you-get .container {
  justify-content: space-between;
  gap: 6rem;
  padding-top: 50px;
}
#what-you-get .left {
  position: relative;
}
#what-you-get .left .img-top {
  width: 30rem;
  height: 30rem;
  border-radius: 16px;
}
#what-you-get .left .img-bottom {
  border-radius: 16px;
  position: absolute;
  bottom: 180px;
  right: -60px;
}
#what-you-get .right .btn {
  color: #006D77;
  background-color: #BEE1E6;
  border-radius: 50px;
  width: 230px;
  height: 40px;
}
#what-you-get .right h2 {
  margin: 20px 0;
}
#what-you-get .right .p-top {
  margin-bottom: 50px;
}
#what-you-get .right .three-div {
  gap: 1rem;
  margin-bottom: 50px;
}
#what-you-get .right .three-div h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

@media (max-width: 1500px) {
  #what-you-get .left .img-bottom {
      display: none;
  }
}

@media (max-width: 1450px) {
  #home .container .right img {
      display: none;
  }
}

@media (max-width: 1200px) {
  #navbar .container .logo {
      margin-right: 150px;
  }

  #navbar .container .btn {
      visibility: hidden;
  }

  #navbar .container .selects {
      margin-top: 17px;
  }

  #navbar .container .selects svg {
      visibility: hidden;
  }

  #what-you-get .container {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
  }
}

@media (max-width: 992px) {
  #navbar .container .selects {
      visibility: hidden;
  }

  #home h1 {
      font-size: 44px;
  }

  #home p {
      font-size: 16px;
  }

  #home h4,
  a {
      font-size: 16px;
  }

  #companies .container .company img {
      width: 100px;
      height: 100px;
  }

  #what-you-get .left .img-top {
      margin-top: 50px;
      width: 24rem;
      height: 27rem;
  }

  #what-you-get h2 {
      font-size: 40px;
  }

  #what-you-get p {
      font-size: 16px;
  }
}

@media (max-width: 768px) {
  #companies .container .company img {
      width: 85px;
      height: 85px;
  }

  #home h1 {
      font-size: 42px;
  }

  #home p {
      font-size: 16px;
  }

  #home h4,
  a {
      font-size: 16px;
  }

  #home .numbers {
      flex-direction: column;
      align-items: flex-start;
  }
}
/* Hasan css end */
/* Ramazan css start */
.padding-top-225px{
  padding-top : 225px;
}
.padding-top-70px{
  padding-top : 70px;
}
.margin-bottom-30px{
  margin-bottom: 30px;
}
.margin-bottom-80px{
  margin-bottom: 80px;
}
.row-r{
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 60%;
  margin-left: 20%;
}
.row-r .p-24{
  margin-top: 15px;
  margin-bottom: 55px;
}
.box-with-img{
  width: 636px;
  height: 455px;
  border-radius: 15px;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 50px;
  display: flex;   
  text-align: center;
  flex-direction: column;
  transition: transform 0.3s ease;
  position: relative;
}
.blue-box{
  background-color: #bee1ea;    
}
.krem{
  background-color: #fff3ea;
}
.img-row{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.box-with-img:hover {
  transform: translateY(-5px); 
  transition: transform 0.3s ease; 
}
.img-box{
  width: 80%;
  height: 442px;
  position: absolute;
  bottom:-140px;
  border-radius: 20px
}
.img-box-color1{
  background-color: #ebecf4;
}
.img-box-color2{
  background-color: #cbd1e5;
}
.img-box img{
  width: 80%;
  height: 80%;
  margin: 50px;
}
.stikers{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 50px;
}
.card-stiker{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ccc;
}
.exp{
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 30px;
}
.exp h4{
  margin-bottom: 15px;
}
.img-container-R{
  width: 80px;
  height: 80px;
  margin-right: 20px;
}
.section-7{
  display: flex;
  justify-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
} 
.section-7-content{
  width: 48%;
  height: 1000px; 
  position: relative;
} 
.img-box-7{
  background-image:url('img/sec-7.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px;
  position: relative;
  padding: 20px;
  display: flex;  
}
.header-span{
  background-color: #bee1e6;
  width: 210px;
  height: 42px;
  display: inline-block;
  padding: 15px 10px; 
  border-radius: 25px; 
  text-align: center;
}
.sec-7-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 2px dotted #006d77; width: 85%; 
  padding-top: 15px; 
}
.leaf-content{
  width: 100%;
  margin: 15px;
  padding-bottom: 15px;
}
.img-box-7 .img-box{
 width: 60%;
 max-height: 80%;
 position: absolute;
 bottom: -20px;
 right: -20px; 
 padding: 10px; 
}
/* deneme-V */
#section-a-right{
  background: url("img/sec-7.png") no-repeat center center/contain;
  height: 620px;
}
#section-a-right img{
  width: 200px;
  margin: 480px 0 0 400px;
}
#section-a .column-gap{
  gap: 5px;
}
#section-a .row{
  justify-content: flex-start;
}
#section-a i{
  color: rgba(0 ,109, 119,1);
}
#section-a .paragraph{
  padding-bottom: 40px;
  border-bottom: 3px dotted rgba(0 ,109, 119,1);
}
/* deneme */
.sec-8{
  background-color: #f2f4f7;
  border-radius: 50px;
  padding: 70px;
}
.sec-8-content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px;
}
.sec-8-card{
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  border-radius: 20px;
  padding: 40px; 
  transition: transform 0.3s ease;
  width: 90%;
  margin: auto;  
}
.sec-8-card:hover {
  transform: translateY(-5px); 
  transition: transform 0.3s ease; 
}
.sec-8-card p{
  line-height: 2;
  padding-bottom: 30px ;
}
.sec-8-card-usr{
  display: flex;
  align-items: center;
  gap: 10px; 
}
.sec-8-card-usr img{
  height: 80px;
  width: 80px;
  border-radius: 5px;
}
.user span{
  font-weight: bold   ;
}
@media screen and (max-width: 990px) {
  .stikers {
      grid-template-columns: 1fr;
  }   
  .sec-7-grid{
      grid-template-columns: 1fr;
      width: 100%; 
  }
  .section-7{
      flex-direction: column;        
  }
  .img-row {
      flex-direction: column;
  }
  .box-with-img{
      margin-bottom: 200px;
  }
  .last-leaf{
      margin-bottom: 350px !important;
  }
  .section-7-content {
      width: 100%; /* Tam genişlik alması için */
      display: block;
      margin-bottom: 50px !important;
  }  

}
@media screen and (max-width: 1148px) {
  .section-7-content{
      margin-bottom: 50px;
  }
}
@media screen and (max-width: 1301px) {
  .sec-8{
      margin-top: 180px !important;
  }
}
/* Ramazan css end */
/* Semih css start */
a {
  text-decoration: none;
}
.color-green {
  color: #006d77;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.card-rad {
  border-radius: 16px;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.text-center {
  text-align: center;
}
.color-white {
  color: #ffffff;
}
.transition {
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.section {
    padding: 5rem 0;
  }
  .plan-card {
    border: 1px solid #d0d5dd;
    padding: 1.5rem 2rem;
    max-width: 306px;
    height: 521px;
  }
  .plan-card-button2 {
    background-color: #006d77;
    border: 1px solid white;
  }
  .card-row {
    padding: 1rem 0;
  }
  .card-row:nth-child(2) {
    border-top: 1px solid #d0d5dd;
  }
  .plan-card-button {
    padding:  12px 22px;
    border-radius: 4px;
  }
  .plan-card:hover {
    background-color: #006d77;
    transform: translateY(-5px);
  }
  .plan-card:hover * {
    color: white;
  }
  .plan-card-button:hover {
    transform: translateY(-2px);
  }
  .plan-card:hover .plan-card-button {
    background-color: #006d77;
    border: 1px solid white;
  }
  .tick::before {
    content: "";
    background: url(./images/check-circle.8df4e653.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
  }
  .tick2::before {
    background: url(./images/check-circle-pink.4bdb8306.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .plan-card:hover .tick::before {
    background: url(./images/check-circle-pink.4bdb8306.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .li-text {
    margin-top: 4px;
  }
  .switch-div {
    padding: 20px 0 80px 0;
  }
  .switch {
    width: 64px;
    height: 30px;
    position: relative;
  }
  .slider {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 8px;
  }
  .switch:hover .slider {
    transform: translateX(36px);
  }
  .newsletter {
    width: 1080px;
    min-height: 398px;
    padding: 52px 73.6px;
    position: relative;
  }
  .newsletter-span {
    color: #667085;
    letter-spacing: 2px;
  }
  .newsletter-form {
    position: relative;
    margin-top: 16px;
  }
  .newsletter-form input {
    width: 100%;
    padding: 32px 32px;
    border-radius: 80px;
    border: none;
  }
  .newsletter-button {
    height: 3.4rem; 
    width: 3.4rem;
    padding: 16px;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 12px;
    right: 16px;
  }
  .newsletter-right {
    max-width: 332px;
    margin-bottom: -150px;
  }
  .block-chart {
    position: absolute;
    bottom: 50px;
    left: 450px;
    max-width: 256px;
    height: 194px;
    z-index: 2;
    animation: hero-thumb-animation 2s linear infinite alternate;
  }  
  .footer-button:hover {
    background-color: white;
    color: black;
  }
  .footer {
    max-width: 125rem;
  }
  .footer-row2 {
    margin: 2rem 0;
    padding-top: 2rem;
    border-top: 1px solid #d0d5dd;
    border-bottom: 1px solid #d0d5dd;
  }
  .footer-col {
    width: 20%;
    min-width: 12.5rem;
    padding-bottom: 2rem;
  }
  .footer-col a:hover {
    color: #006d77;
    transform: translateX(2px);
  }
  .socials a:hover {
    transform: translateY(-2px);
    opacity: 0.8;
  }
  @keyframes hero-thumb-animation {
    0% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @media screen and (max-width: 1400px) {
    .newsletter {
      width: 90%;
    }
    .newsletter-left {
      width: 18.75rem;
    }
    .block-chart {
      left: 23.75rem;
    }
  }
  @media screen and (max-width: 800px) {
    #plans h3 {
      font-size: 35px;
    }
    #newsletter h4 {
      font-size: 28px;
    }
    .newsletter {
      flex-direction: column;
      padding: 2rem;
      gap: 2rem;
    }
    .newsletter-left {
      width: 100%;
    }
    .newsletter-right {
      margin-bottom: 0px;
      width: 100%;
      max-width: 62.5rem;
    }
    .block-chart {
      left: 1.25rem;
      bottom: 1.25rem;
      width: 14rem;
      height: 10.5rem;
    }
    .footer-col {
      width: 100%;
      padding-left: 1rem;
      text-align: start;
    }
    .footer-logo {
      width: 100%;
      text-align: center;
      margin-bottom: 0.75rem;
    }
    .footer-ready button {
      margin-left: 0;
      margin-top: 1rem;
    }
  }
  /* Semih css end */