.productList {
  .product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .productCard {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    background-color: #fff;
    width: 295px;
    height: 408px;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 8px;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 1.2rem;
      margin: 0.5rem 0;
    }

    p {
      margin: 0.2rem 0;
    }
  }
}
