.bg-shape-1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 53em;
  width: 40%;
  background-color: #e5fff9;
  z-index: -1;
}

.bg-shape-2 {
  position: absolute;
  top: 0;
  right: 0;
  height: 53em;
  width: 60%;
  background-color: #b8e4da;
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 160px;
  width: 100%;
}
.container .header img {
  width: 98px;
  height: 56px;
}
.container .header {
  padding-top: 60px;
}
.container .coming-holder {
  display: flex;
  justify-content: space-between;
}
.container .coming-holder .coming-image {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .coming-holder .coming-image .img-box {
  margin-bottom: 32px;
  position: relative;
}
.container .coming-holder .coming-image .photo {
  position: relative;
  width: 280px;
  height: 300px;
  border-radius: 60%;
  z-index: 1;
}
.container .coming-holder .coming-image .name {
  font-family: Poppins, sans-serif;
  color: #084b4f;
  font-size: 32px;
  font-weight: 600;
  line-height: 30px;
}
.container .coming-holder .coming-image .subtitle {
  font-weight: 600;
  padding: 10px;
  text-align: center;
  color: #084b4f;
  font-size: 16px;
  font-family: Poppins, sans-serif;
}
.container .coming-holder .coming-image .spect {
  line-height: 30px;
  margin-bottom: 24px;
  font-family: Poppins, sans-serif;
  font-style: italic;
  color: #084b4f;
}
.container .coming-holder .coming-image .coming-links {
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container .coming-holder .coming-image .coming-links a {
  color: #084b4f;
  padding: 8px 8px 0px 0px;
  text-decoration: none;
}
.container .coming-holder .coming-image .caption {
  font-family: #084b4f;
  font-size: 12px;
  font-weight: 1000;
  line-height: 30px;
  letter-spacing: 5px;
}
.container .coming-holder .coming-text {
  width: 60%;
  overflow: hidden;
}
.container .coming-holder .coming-text .wave {
  width: 700px;
  padding-top: 30px;
}
.container .coming-holder .coming-text .arrow {
  width: 34px;
  height: 50px;
}
.container .coming-holder .coming-text .work {
  font-size: 115px;
  padding: 100px 0px 20px;
  line-height: 110px;
  font-family: Poppins, sans-serif;
  color: #084b4f;
  font-weight: 750;
}
.container .coming-holder .coming-text .coming-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.container .coming-holder .coming-text .coming {
  font-family: Poppins, sans-serif;
  color: #084b4f;
  font-size: 20px;
  letter-spacing: 25px;
  padding-top: 30px;
}
.container .coming-holder .coming-text .inpt-mail {
  padding: 20px 24px;
  font-size: 18px;
  margin: 0 16px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 30px 7px rgba(12, 127, 134, 0.2509803922);
  width: 100%;
}
.container .coming-holder .coming-text .green-btn {
  padding: 20px 24px;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: #084b4f;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 4px;
  transition: 0.5s ease;
}
.container .coming-holder .coming-text .green-btn:hover {
  background-color: #084b4f;
}

/*# sourceMappingURL=main.css.map */
