/* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */

:root {
    --primary: #FFB91F;
    --secondary: #233F92;
    --text: #202020;
    --button-text: #202020;
    --span-text: #AFAFAF;
    --date-time: #848484;
    --discount: rgba(212, 56, 17, 1);
    --border-color: #ebebeb;
    --white: #ffffff;
}

#header-top {
    background-color: var(--secondary);
}
#header-middle {
    background-color: var(--white);
    border-width: 0 0 1px;
    border-style: solid;
    border-color: var(--border-color);
}
#header-bottom {
    background-color: var(--white);
}
#header-bottom>.container {
    padding-top: 13px;
    padding-bottom: 13px;
}

.ts-menu li:first-child,
.menu-tabs li:first-child {
    color: var(--primary);
}

.header-top {
    color: var(--white);
    padding-top: 9px;
    padding-bottom: 9px;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-top-header-menu {
    display: flex;
    padding-right: 30px;
}

.header-top strong {
    color: var(--primary);
}

.menu-top-header-menu li {
    font-size: 93%;
    padding: 4px 0;
    font-family: "Outfit";
    font-style: normal;
    font-weight: normal;
}

.header-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-middle .container {
    padding-top: 26px;
    padding-bottom: 26px;
}

.header-search form {
    color: rgba(32, 32, 32, 1);
    background-color: rgba(235, 235, 235, 1);
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    border-radius: 60px;
    padding: 4px 18px 4px 30px;
}

.select-category {
    width: 190px;
    border-width: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 30px;
    padding-right: 18px;
    margin-right: 7px;
    text-transform: capitalize;
    background-color: transparent;
    position: relative;
}
.search-table{
    flex: 1;
    position: relative;
}

.search-field {
    display: flex;
    width: 100%;
}

.search-field input[type="text"] {
    padding: 12px 60px 12px 18px;
    border-width: 0;
    background: transparent;
    margin: 0;
    width: 100%;
    max-width: 100%;
    font-weight: 400;
    border-radius: 60px;
}

.search-field .search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 42px;
    width: 40px;
    height: 40px;
    right: -14px;
    position: absolute;
    background-color: var(--primary);
}

.logo-wrapper {
    max-height: 70px;
    padding: 0 134px 0 0;
}

.logo-wrapper img {
    width: 150px;
}

select option {
    padding: 5px 8px;
}

.language-currency {
    display: flex;
    gap: 25px;
    margin-left: 80px;
}

.header-right {
    margin-left: 22px;
    display: flex;
}

.header-right li {
    padding: 13px;
}

.menu-top-header-menu>li:not(:last-child) {
    margin-right: 13px !important;
}

.visible-none {
    display: none;
}

.header-bottom{
    display: flex;
    justify-content: space-between;
}

.menu-wrapper {
    display: flex;
    align-items: center;
}

.ts-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ts-menu>li:not(:last-child) {
    margin-right: 35px !important;
}

.header-contact-info {
    background-color: var(--primary);
    padding: 12px 40px;
    font-size: 22px;
    margin: -14px 0;
    display: flex;
}
.call_us {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.header-contact-info img{
    width: 34px;
    height: 34px;
}
.call_us>span {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
}

.header-top .call_us {
    display: none;
}

@media only screen and (max-width: 1279px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-item2 {
        order: -2;
        width: 100%;
        margin-bottom: 6px;
    }

    .header-item1 {
        order: -1;
    }

    .header-item3 {
        order: 1;
    }

    .header-top {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu-top-header-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 203px;
        justify-content: flex-start;
        gap: 0px;
    }

    .logo-wrapper {
        padding-right: 60px;
    }

    .header-top .language-currency {
        display: flex;
        order: 2;
        gap: 0 !important;
        flex-direction: column;
        margin-right: 50px;
    }

    .header-middle .language-currency {
        display: none;
    }

    .header-bottom .header-contact-info{
        display: none;
    }

    .header-top .call_us {
        font-weight: 700;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .header-top .call_us a{
        color: var(--white);
    }

    .header-top {
        display: flex;
        justify-content: space-between;;
    }

    .header-search{
        width: 825px;
    }

}