/* Error: The target selector was not found.
 * Use "@extend %btn !optional" to avoid this error.
 *    ,
 * 28 |           @extend %btn;
 *    |           ^^^^^^^^^^^^
 *    '
 *   scss/style.scss 28:11  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: The target selector was not found.\aUse "@extend %btn !optional" to avoid this error.\a    \2577 \a 28 \2502            @extend %btn;\a    \2502            ^^^^^^^^^^^^\a    \2575 \a   scss/style.scss 28:11  root stylesheet';
}
