@media screen and (min-width: 450px) {
  header {
    width: 100%;
    height: 50px;
  }
  header img {
    width: 110px;
    margin-left: 10px;
  }
  header ul li {
    display: none;
  }
  header button {
    display: none;
  }
  .hero {
    width: 100%;
    height: 650px;
    gap: 40px;
    padding-left: 10px;
  }
  .banner,
  .balance,
  .payment {
    display: none;
  }
  .pattern-6 {
    position: absolute;
    top: 500px;
    z-index: 0;
    width: 200px;
    left: 0;
  }
  .digital-btn {
    padding: 12px 25px;
    border: none;
    border-radius: 20px;
  }
  .how-it-works button {
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
  }
  .companies {
    height: 700px;
    padding-top: 40px;
  }
  .company-img {
    padding-top: 50px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
    align-items: center;
  }
  .company-img img {
    width: 100px;
  }
  .back-img {
    width: 430px;
    border-radius: 20px;
    z-index: 1;
    position: absolute;
  }
  .front-img {
    width: 250px;
    position: relative;
    z-index: 2;
    border-radius: 20px;
    left: 180px;
    top: 330px;
    box-shadow: 1px 6px 32px 1px rgba(0, 0, 0, 0.75);
  }
  .what-we-do-btn {
    margin-top: 340px;
    margin-bottom: 20px;
    padding: 14px 30px;
    border: none;
    border-radius: 20px;
  }
  .fresh-content {
    gap: 30px;
  }
  .work-smarter {
    gap: 15px;
  }
}

@media screen and (min-width: 768px) {
  header button {
    border: none;
    padding: 15px 25px;
    border-radius: 20px;
    display: initial;
  }
  header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header ul li {
    display: none;
  }
  .small-arrow {
    width: 15px;
  }
  .banner,
  .balance,
  .payment {
    display: none;
  }
  .hero {
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
  }
  .advanced-title {
    font-size: 45px !important;
    max-width: 700px;
  }
  .alt-title {
    font-size: 24px !important;
  }
  .how-it-works button {
    padding: 24px 35px;
    margin-right: 30px;
  }
  .how-it-works p {
    margin-left: 10px;
  }
  .hero-stats {
    width: 600px !important;
  }
  .pattern-6 {
    z-index: 0;
  }
  .companies p {
    font-size: 32px !important;
    font-weight: 700;
  }
  .company-img img {
    width: 160px;
  }
  .back-img {
    width: 680px;
    border-radius: 20px;
    z-index: 1;
    position: absolute;
  }
  .front-img {
    width: 250px;
    position: relative;
    z-index: 2;
    border-radius: 20px;
    left: 430px !important;
    top: 630px !important;
    box-shadow: 1px 6px 32px 1px rgba(0, 0, 0, 0.75);
  }
  .what-we-do-btn {
    margin-top: 630px;
    margin-bottom: 20px;
  }
  .fresh-title {
    font-size: 46px !important;
    font-weight: 700 !important;
  }
  .fresh-alt-title {
    font-size: 24px !important;
  }
  .bigger-subcontent {
    font-size: 28px !important;
  }
}
@media screen and (min-width: 1048px) {
  header {
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  header ul li {
    list-style: none;
    font-size: 18px;
    display: block;
  }
  header ul {
    gap: 40px;
  }
  header button {
    padding: 22px 32px !important;
    border-radius: 30px;
    font-size: 18px !important;
  }
  .logo {
    width: 130px;
  }
  .hero {
    padding-left: 130px;
  }

  .alt-title {
    max-width: 800px;
  }
  .banner {
    width: 500px;
    position: absolute;
    right: 110px;
    display: initial;
    animation: banner-animasyon 4s ease-in-out infinite alternate;
  }

  @keyframes banner-animasyon {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .balance {
    width: 210px;
    position: absolute;
    right: 450px;
    top: 490px;
    border-radius: 10px;
    display: initial;
    animation: balance-animasyon 4s ease-in-out infinite alternate;
  }
  @keyframes balance-animasyon {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(20px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  .payment {
    width: 150px;
    position: absolute;
    right: 30px;
    border-radius: 10px;
    top: 230px;
    display: initial;
    animation: payment-animasyon 3s ease-in-out infinite alternate;
  }
  @keyframes payment-animasyon {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(15px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  .advanced-title {
    font-size: 63px !important;
  }
  .company-img {
    padding-top: 50px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
  }
  .company-img img {
    width: 215px;
    padding: 20px;
  }
  .company-img img:hover {
    box-shadow: 0px 6px 32px 1px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in 0s;
    cursor: pointer;
    transform: translateY(-5px);
  }
  .container-left {
    width: 50%;
  }
  .container-right {
    width: 50%;
  }
  .fresh-ideas {
    display: flex;
    gap: 170px;
  }
  .fresh-img {
    width: 100%;
  }
  .what-we-do-btn {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
