@import "./custom.scss";

@media (max-width: 768px) {
  .navBarMessage {
    font-size: 12px;
    .xIcon {
      display: none;
    }
  }
  .navbar-brand {
    font-size: 25.2px;
    flex-grow: 1;
    text-align: center;
    margin: 0;
  }

  .navbarIcons {
    gap: 0rem;
    .searchIcon svg,
    .basketIcon,
    .searchIconMobile,
    .dropdown {
      width: 24px;
      height: 24px;
    }
  }
  .navbar-collapse {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: fixed;
    padding: 10px;
    top: 0;
    left: 0;
    width: 80%;
    height: 80vh;
    z-index: 999;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);

    &.show {
      transform: translateX(0);
    }
  }

  .hero {
    background-image: none;
    background: rgba(242, 240, 241, 1);
    .hero-left {
      .hero-content {
        .btn {
          width: 100%;
        }
        .hero-counter {
          justify-content: center;
          .counter {
            &.border-end {
              border-right: none !important;
            }
          }
        }
      }
    }

    .hero-right {
      background-image: url("../../../public/assets/img/heroHuman.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; /* Centers the background image */
      height: 100vh;
      bottom: 0;
    }
  }

  .brand {
    .container {
      .brand-list {
        justify-content: center !important;
        gap: 0.5rem !important;
        li {
          svg {
            width: 100px;
            height: 26px;
          }
        }
      }
    }
  }
  .dress-style {
    .container {
      .content {
        padding: 0 !important;
        .card {
          height: 200px !important;
        }
      }
    }
  }

  .footer-text {
    text-align: center;
  }
  .payload {
    justify-content: center !important;
  }
  .bd-footer {
    margin-top: 5rem !important;
  }

  .cartItem {
    .cartItem-image {
      width: 100px;
      height: 100px;
    }
    .details {
      font-size: 14px !important;

      p {
        &:first-child {
          font-size: 16px !important;
        }
      }
    }
    .actions {
      background-color: #f9f9f9;
    }
  }

  .product-card {
    .card-body {
      .price-info {
        span {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .hero {
    .hero-left {
      .hero-counter {
        .counter {
          &.border-end {
            border-right: none !important;
            border-left: none !important;
          }
        }
      }
    }
  }

  .new-arrivals {
    .view-all {
      .btn {
        width: 100%;
      }
    }
  }
}
