#about-us{
    video{
        box-shadow: 0 0 10px 10px lighten($green-vogue,30%);
        transition: all .5s;
        &:hover{
            box-shadow: 0 0 10px 10px $green-vogue;
        }
    }
}
@media (max-width:992px){
   iframe{
    height: 300px;
   }
} 