$grape-purple:rgb(88, 34, 89);
$light-fuchsia-pink:rgb(241, 141, 242);
$black-pearl:rgb(3, 22, 38);
$cerulean:rgb(4, 157, 217);
$bright-sky-blue:rgb(5, 199, 242);
$green-vogue:rgb(0, 34, 77);
$mulberry-wood:rgb(93, 14, 65);
$vivid-burgundy:rgb(160, 21, 62);
$awesome:rgb(255, 32, 78);
$soft-peach:rgb(238, 238, 238);
$moonstone-blue:rgb(118, 171, 174);
$tuna:rgb(49, 54, 63);
$dark:rgb(34, 40, 49);
$chrome-yellow:rgb(253, 164, 3);