@import "variables";
@import "utilities";

.main{
    &-nav{
        position: absolute;
        padding: 1rem;
        top: 0;
        z-index: 3;
        width: 100%;
        nav{
            display: flex;
            img{
                width: auto;
            }
            ul{
                display: flex;
                margin: 0 2rem 0 auto;
                a{
                    padding: 1rem;
                }
            }
        }
    }
    &-header{
        position: relative;
        height: 100vh;
        overflow: hidden;
        .page-bg{
            position: absolute;
            display: flex;
            width: 100%;
            height: 100%;
        }
        &-content{
            height: 100%;
            .container{
                height: 100%;
                display: flex;
                align-items: center;
                padding: 2rem;
                img{
                    width: auto;
                }
                &>* {
                    z-index: 2;
                    flex: 1;
                }
            }
            &-left {
                h1{
                    font-size: 4rem;
                }
                p{
                    margin: 2rem 0;
                }
            }
            &-right{
                position: relative;
                &>img:first-child {
                    width: 150%;
                }
                .woman{
                    position: absolute;
                    left: 220px;
                    top: 85px;
                    animation: move-y 5s infinite alternate;
                }
                .business-card {
                    position: absolute;
                    right: -180px;
                    top: 100px;
                    animation: move-45deg 10s infinite alternate;
                }
                &>img:last-child {
                    position: absolute;
                    right: -320px;
                    top: 0;
                    animation: move-y 5s infinite alternate;
                }
            }
        }
    }
}

@keyframes move-y{
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes move-45deg{
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateX(-110px);
    }
    50% {
        transform: translateY(-60px);
    }
    75% {
        transform: translateX(-110px);
    }
    100% {
        transform: translateY(0px);
    }
}
.pos-section{
    padding: 95px 2rem;
    &.background{
        background-color: #fffcfa;
    }
    &.row-reverse{
        .container{
            flex-direction: row-reverse;
        }
    }
    .container{
        display: flex;
        align-items: center;
        column-gap: 40px;
        & > *{
            flex: 1;
        }
        .section-left{
            .content{
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    li{
                        width: 50%; 
                        padding: 1rem 0;
                        i{
                            color: #fd4372;
                            margin-right: .5rem;
                        }
                    }
                }
            }
        }
    }
}

.service{
    &-section{
        padding: 95px 2rem;
        &.background{
            background-color: #fffcfa;
        }
        .content{
            width: 60%;
            margin: 0 auto 5rem;
        }
    }
    &-cards{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        .card{
            &:hover{
                transform: translateY(-10px);
            }
            img{
                width: auto;
                margin-bottom: 2rem;
            }
        }
    }
    
}

.about{
    &-section{
        padding: 95px 2rem;
    }
    &-cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        margin: 3rem 0;
        .card{
            &-body{
                padding: 70px 40px;
                position: relative;
                overflow: hidden;
                div:first-child{
                    background: linear-gradient(to top, #f9769d, #bb6df7);
                    border-radius: 50%;
                    width: 80px;
                    height: 80px;
                    line-height: 105px;
                    display: inline-block;
                    margin-bottom: 1rem;
                    img{
                        background: transparent;
                        width: auto;
                    }
                }
                h4{
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                }
                .slide-border{
                    position: absolute;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                    height: 5px;
                    background: linear-gradient(to top, #f9769d, #bb6df7);
                    display: none;
                }
                &:hover .slide-border{
                    display: block;
                    animation: slide-border 1s alternate forwards;
                }
                
            }
        }
    }
}

@keyframes slide-border {
    from{
        transform: translate(-100%);
    }
    to{
        transform: translateX(0);
    }
}

.testimonial{
    &-section{
        padding: 95px 2rem;
        &.background{
            background-color: #fffef6;
        }
    }
    &-cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        margin: 2rem 0;
        img{
            width: auto;
        }
        .card{
            &-body{
                padding: 30px;
                background-color: $white-color;
                .testi-header{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    div{
                        position: relative;
                        padding: 10px;
                        img:first-child{
                            border-radius: 50%;
                        }
                        img:last-child{
                            position: absolute;
                            left: 0;
                            top: 0;
                            animation: rotate 4s linear infinite;
                        }
                    }
                }
                .testi-main{
                    margin: 2rem 0;
                }
                .testi-footer{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    i{
                        color: orange;
                    }
                }
            }
        }
    }
}
@keyframes rotate {
    to{
        transform: rotate(360deg);
    }
}

.sponsor-section{
    padding: 95px 2rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.5rem;
    justify-items: center;
    img{
        width: auto;
    }
}
.main-footer{
    background: url("../img/app-footer-bg.jpg");
    background-size: cover;
    padding: 3rem 2rem 1.5rem;
    color: $white-color;
    &-top{
        display: flex;
        align-items: center;
        padding-top: 2.5rem;
        &>*{
            flex: 1;
        }
        img{
            width: auto;
            vertical-align: bottom;
        }
        &-right{
            text-align: end;
            &>div{
                color: $black-color;
                display: inline-block;
                margin-bottom: 1rem;
                background-color: $white-color;
                padding: 10px 20px;
                text-align: left;
                width: 245px;
                div{
                    display: inline-block;
                    
                }
            }
        }
    }
    &-middle{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 2rem 0;
        &>*{
            border-top: 1px solid $white-color;
            padding: 1.5rem 0;
        }
        ul{
            margin-top: 1rem;
            li{
                a{
                    margin-top: 1rem;
                    color: $white-color;
                }
                i{
                    margin-right: 10px;
                    width: 20px;
                }
            }
        }

    }
    &-bottom{
        border-top: 1px solid rgba(255, 255, 255, .8);
    }
}

@media (max-width:768px) {
    .main{
        &-nav{
            nav{
                flex-wrap: wrap;
                justify-content: center;
                row-gap: 1rem;
            }
        }
        &-header{
            padding: 17rem 0;
            .page-bg{
                display: none;
            }
            &-content{
                .container{
                    flex-wrap: wrap;
                    row-gap: 2rem;
                    &>*{
                        flex: 100%;
                    }
                }
                &-left{
                    h1{
                        font-size: 2.5rem;
                    }
                }
            }
        }
    }
    .pos-section{
        &.row-reverse{
            .container{
                flex-direction: column-reverse;
                row-gap: 2rem;
            }
        }
        .container{
            flex-direction: column-reverse;
            row-gap: 2rem;
            flex-wrap: wrap;
            &>*{
                flex: 100½;
            }
        }
    }
    .service{
        &-cards{
            grid-template-columns: repeat(2,1fr);
        }
    }
    .about{
        &-cards{
            grid-template-columns: repeat(2,1fr);
        }
    }
    .testimonial{
        &-cards{
            grid-template-columns: repeat(2,1fr);
        }
    }
    .sponsor-section{
        grid-template-columns: repeat(3,1fr);
        row-gap: 2rem;
    }
    .main-footer{
        &-middle{
            grid-template-columns: repeat(2,1fr);
            row-gap: 2rem;
        }
    }
}
@media (max-width:450px) {
    .pos-section{
        .container{
            .section-left{
                .content{
                    ul{
                        li{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .service{
        &-cards{
            grid-template-columns: repeat(1,1fr);
        }
    }
    .about{
        &-cards{
            grid-template-columns: repeat(1,1fr);
        }
    }
    .testimonial{
        &-cards{
            grid-template-columns: repeat(1,1fr);
        }
    }
    .sponsor-section{
        grid-template-columns: repeat(2,1fr);
        row-gap: 2rem;
    }
    .main-footer{
        &-top{
            flex-wrap: wrap;
            row-gap: 1rem;
            &-right{
                text-align: start;
            }
        }
        &-middle{
            grid-template-columns: repeat(1, 1fr);
        }
    }
}