body {
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    min-height: 100vh;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.textHeader {
    font-size: 48px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}

.allCenter {
    text-align: center
}