/* Navbar */

@media (max-width: 900px) {
  .checkbtn {
    display: block;
  }

  .navbar-wrapper .navbar-links {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 100px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 99;
    flex-direction: column;
  }

  .navbar-wrapper .navbar-links .navbar-link {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  .navbar-wrapper .navbar-links .navbar-link a {
    font-size: 1.2rem;
    color: #fff;
  }

  .navbar-wrapper .navbar-links .navbar-link a:hover,
  .navbar-wrapper .navbar-links .navbar-link a.active {
    background: none;
    color: #ec6707;
  }

  #check:checked ~ ul {
    left: 0;
  }

  /* Hero */

  main .hero {
    height: max-content;
  }

  main .hero .container .hero-left .hero-btn-how,
  main .hero .container .hero-left .hero-btn-how span {
    font-size: 15px;
  }

  main .hero .container .hero-right {
    padding: 0;
  }

  main .hero .container .hero-right .hero-payment img {
    width: 70px;
    right: -20px;
  }

  main .hero .container .hero-right .hero-balance img {
    width: 70px;
    left: -20px;
  }

  main .hero .hero-wrapper {
    grid-template-columns: 1fr;
    height: max-content;
  }
  /* Compaines */
  .companies .compaines-wrapper .companies-img {
    justify-content: center;
    align-items: center;
  }

  .companies .compaines-wrapper .companies-img img {
    width: 140px;
  }
}
